public/workflows/claudia-orchestrator-demo.json
{
  "name": "Claudia Code Orchestrator Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claudia-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, 300],
      "id": "webhook-trigger-001",
      "name": "Webhook Trigger",
      "webhookId": "claudia-orchestrator-webhook"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "paid_claude",
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.prompt }}",
                    "rightValue": "/paid_claude:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              }
            },
            {
              "outputKey": "paid_gpt",
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.prompt }}",
                    "rightValue": "/paid_gpt:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              }
            },
            {
              "outputKey": "paid_gemini",
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.prompt }}",
                    "rightValue": "/paid_gemini:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              }
            },
            {
              "outputKey": "primary_free",
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.prompt }}",
                    "rightValue": "/primary_free:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              }
            },
            {
              "outputKey": "orchestrator",
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.prompt }}",
                    "rightValue": "/orchestrate:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              }
            }
          ],
          "fallbackOutput": "default"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [100, 300],
      "id": "router-switch-001",
      "name": "Route by Command"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [400, 0],
      "id": "claude-paid-001",
      "name": "PAID Claude Sonnet",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API - Configure Me"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 4096,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [400, 200],
      "id": "gpt-paid-001",
      "name": "PAID GPT-4o",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API - Configure Me"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [400, 400],
      "id": "gemini-paid-001",
      "name": "PAID Gemini Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API - Configure Me"
        }
      }
    },
    {
      "parameters": {
        "baseURL": "http://localhost:1234/v1",
        "model": "local-model",
        "options": {
          "maxTokens": 4096,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [400, 600],
      "id": "lmstudio-free-001",
      "name": "FREE LM Studio Local",
      "credentials": {}
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 8192,
          "temperature": 0.3,
          "systemMessage": "You are an orchestrator AI. Your job is to break down complex tasks into sub-tasks and coordinate their execution. Think step by step and delegate work to specialized sub-agents."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [400, 800],
      "id": "orchestrator-001",
      "name": "Orchestrator Agent",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API - Configure Me"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt.replace(/^\\/paid_claude:\\s*/i, '') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [600, 0],
      "id": "chain-claude-001",
      "name": "Claude Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt.replace(/^\\/paid_gpt:\\s*/i, '') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [600, 200],
      "id": "chain-gpt-001",
      "name": "GPT Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt.replace(/^\\/paid_gemini:\\s*/i, '') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [600, 400],
      "id": "chain-gemini-001",
      "name": "Gemini Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt.replace(/^\\/primary_free:\\s*/i, '') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [600, 600],
      "id": "chain-local-001",
      "name": "Local LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt.replace(/^\\/orchestrate:\\s*/i, '') }}\n\nBreak this task into sub-tasks. For each sub-task, specify:\n1. The sub-agent type needed (researcher, coder, reviewer, etc.)\n2. The specific instruction for that sub-agent\n3. Dependencies on other sub-tasks\n\nThen synthesize the results into a coherent response."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [600, 800],
      "id": "chain-orchestrator-001",
      "name": "Orchestrator Chain"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "model_used": "={{ $node['Route by Command'].outputKey }}",
            "prompt": "={{ $json.body.prompt }}",
            "response": "={{ $json.text }}",
            "user_id": "={{ $json.body.user_id || 'anonymous' }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 300],
      "id": "log-conversation-001",
      "name": "Log to Data Table",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets API - Configure Me"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.text, model: $node['Route by Command'].outputKey, timestamp: $now.toISO() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 300],
      "id": "respond-001",
      "name": "Send Response"
    },
    {
      "parameters": {
        "content": "## Claudia Code Orchestrator Demo\n\nThis workflow demonstrates:\n- Multi-model routing via slash commands\n- Orchestrator pattern with sub-agents\n- Conversation logging to data tables\n- Integration with OpenWebUI\n\n### Available Commands:\n- `/paid_claude:` - Route to Claude Sonnet\n- `/paid_gpt:` - Route to GPT-4o\n- `/paid_gemini:` - Route to Gemini Flash\n- `/primary_free:` - Route to local LM Studio\n- `/orchestrate:` - Use orchestrator pattern\n- (no prefix) - Uses default model",
        "height": 400,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-400, 100],
      "id": "sticky-note-001",
      "name": "Workflow Documentation"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Route by Command", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Command": {
      "paid_claude": [
        [
          { "node": "Claude Chain", "type": "main", "index": 0 }
        ]
      ],
      "paid_gpt": [
        [
          { "node": "GPT Chain", "type": "main", "index": 0 }
        ]
      ],
      "paid_gemini": [
        [
          { "node": "Gemini Chain", "type": "main", "index": 0 }
        ]
      ],
      "primary_free": [
        [
          { "node": "Local LLM Chain", "type": "main", "index": 0 }
        ]
      ],
      "orchestrator": [
        [
          { "node": "Orchestrator Chain", "type": "main", "index": 0 }
        ]
      ],
      "default": [
        [
          { "node": "Local LLM Chain", "type": "main", "index": 0 }
        ]
      ]
    },
    "PAID Claude Sonnet": {
      "ai_languageModel": [
        [
          { "node": "Claude Chain", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "PAID GPT-4o": {
      "ai_languageModel": [
        [
          { "node": "GPT Chain", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "PAID Gemini Flash": {
      "ai_languageModel": [
        [
          { "node": "Gemini Chain", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "FREE LM Studio Local": {
      "ai_languageModel": [
        [
          { "node": "Local LLM Chain", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Orchestrator Agent": {
      "ai_languageModel": [
        [
          { "node": "Orchestrator Chain", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Claude Chain": {
      "main": [
        [
          { "node": "Log to Data Table", "type": "main", "index": 0 }
        ]
      ]
    },
    "GPT Chain": {
      "main": [
        [
          { "node": "Log to Data Table", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gemini Chain": {
      "main": [
        [
          { "node": "Log to Data Table", "type": "main", "index": 0 }
        ]
      ]
    },
    "Local LLM Chain": {
      "main": [
        [
          { "node": "Log to Data Table", "type": "main", "index": 0 }
        ]
      ]
    },
    "Orchestrator Chain": {
      "main": [
        [
          { "node": "Log to Data Table", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log to Data Table": {
      "main": [
        [
          { "node": "Send Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "claudia-orchestrator-demo-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "demo-instance"
  },
  "tags": [
    { "name": "claudia", "createdAt": "2025-01-14T00:00:00.000Z", "updatedAt": "2025-01-14T00:00:00.000Z" },
    { "name": "orchestrator", "createdAt": "2025-01-14T00:00:00.000Z", "updatedAt": "2025-01-14T00:00:00.000Z" },
    { "name": "demo", "createdAt": "2025-01-14T00:00:00.000Z", "updatedAt": "2025-01-14T00:00:00.000Z" }
  ]
}
