public/workflows/universal-issue-import.json
{
  "name": "Universal Issue Import to Claudia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "issue-import",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "issue-import"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  const body = $json.body;\n  const headers = $json.headers;\n  \n  // Detect source from headers or body\n  let source = body.source || 'unknown';\n  let issue = {};\n  let projectId = body.projectId;\n  let projectName = body.projectName;\n  \n  // GitHub webhook format\n  if (headers['x-github-event'] || body.action && body.issue) {\n    source = 'github';\n    const ghIssue = body.issue || {};\n    issue = {\n      title: ghIssue.title || '',\n      description: ghIssue.body || '',\n      labels: (ghIssue.labels || []).map(l => l.name || l),\n      priority: ghIssue.labels?.some(l => (l.name || l).toLowerCase().includes('critical')) ? 'critical' :\n                ghIssue.labels?.some(l => (l.name || l).toLowerCase().includes('high')) ? 'high' : 'medium',\n      status: ghIssue.state === 'closed' ? 'completed' : 'queued',\n      metadata: {\n        id: ghIssue.id,\n        number: ghIssue.number,\n        url: ghIssue.html_url,\n        author: ghIssue.user?.login,\n        repo: body.repository?.full_name\n      }\n    };\n    projectName = projectName || body.repository?.name;\n  }\n  \n  // Jira webhook format\n  else if (headers['x-atlassian-webhook-identifier'] || body.webhookEvent?.includes('jira')) {\n    source = 'jira';\n    const jiraIssue = body.issue || {};\n    const fields = jiraIssue.fields || {};\n    issue = {\n      title: `${jiraIssue.key}: ${fields.summary || ''}`,\n      description: fields.description || '',\n      labels: (fields.labels || []),\n      priority: fields.priority?.name || 'medium',\n      status: fields.status?.name || 'queued',\n      metadata: {\n        id: jiraIssue.id,\n        key: jiraIssue.key,\n        url: jiraIssue.self,\n        issueType: fields.issuetype?.name,\n        assignee: fields.assignee?.displayName,\n        project: fields.project?.key\n      }\n    };\n    projectName = projectName || fields.project?.name;\n  }\n  \n  // Notion webhook/API format\n  else if (body.object === 'page' || body.parent?.database_id) {\n    source = 'notion';\n    const props = body.properties || {};\n    const titleProp = Object.values(props).find(p => p.type === 'title');\n    issue = {\n      title: titleProp?.title?.[0]?.plain_text || 'Untitled',\n      description: body.description || '',\n      labels: props.Tags?.multi_select?.map(t => t.name) || [],\n      priority: props.Priority?.select?.name || 'medium',\n      status: props.Status?.status?.name || 'queued',\n      metadata: {\n        id: body.id,\n        url: body.url,\n        database: body.parent?.database_id\n      }\n    };\n  }\n  \n  // Linear webhook format\n  else if (body.type?.includes('Issue') || body.data?.team) {\n    source = 'linear';\n    const linearIssue = body.data || body;\n    issue = {\n      title: linearIssue.title || '',\n      description: linearIssue.description || '',\n      labels: (linearIssue.labels || []).map(l => l.name || l),\n      priority: ['urgent', 'high', 'medium', 'low'][linearIssue.priority - 1] || 'medium',\n      status: linearIssue.state?.name || 'queued',\n      metadata: {\n        id: linearIssue.id,\n        identifier: linearIssue.identifier,\n        url: linearIssue.url,\n        team: linearIssue.team?.key\n      }\n    };\n    projectName = projectName || linearIssue.project?.name;\n  }\n  \n  // Slack message format (for slash commands or message actions)\n  else if (body.token && (body.command || body.type === 'message_action')) {\n    source = 'slack';\n    const text = body.text || body.message?.text || '';\n    issue = {\n      title: text.substring(0, 100) + (text.length > 100 ? '...' : ''),\n      description: text,\n      labels: ['from-slack'],\n      priority: 'medium',\n      status: 'queued',\n      metadata: {\n        channel: body.channel_id || body.channel?.id,\n        user: body.user_id || body.user?.id,\n        team: body.team_id\n      }\n    };\n  }\n  \n  // Generic/Custom format - use body directly\n  else if (body.issue?.title) {\n    issue = body.issue;\n  }\n  \n  // Passthrough if already in Claudia format\n  else if (body.title) {\n    issue = {\n      title: body.title,\n      description: body.description || body.body || '',\n      labels: body.labels || body.tags || [],\n      priority: body.priority || 'medium',\n      status: body.status || 'queued',\n      metadata: body.metadata || {}\n    };\n  }\n  \n  return {\n    source: source,\n    issue: issue,\n    projectId: projectId,\n    projectName: projectName\n  };\n}}",
        "options": {}
      },
      "id": "transform",
      "name": "Transform to Claudia Format",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDIA_URL || 'http://localhost:3000' }}/api/webhook/import-issue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CLAUDIA_WEBHOOK_SECRET || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "claudia-import",
      "name": "Send to Claudia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Issue imported successfully\",\n  \"packetId\": $json.packet?.id,\n  \"projectId\": $json.project?.id,\n  \"source\": $('Transform to Claudia Format').item.json.source\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": $json.error || \"Import failed\",\n  \"message\": $json.message || \"Failed to import issue to Claudia\"\n} }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "content": "## Universal Issue Import Workflow\n\nThis workflow accepts issues from multiple sources and imports them into Claudia.\n\n### Supported Sources\n- **GitHub** - Issues webhooks (issues.opened, issues.edited)\n- **Jira** - Issue webhooks\n- **Notion** - Database item webhooks\n- **Linear** - Issue webhooks\n- **Slack** - Slash commands or message actions\n- **Custom** - Any JSON with title/description\n\n### Configuration\n1. Set `CLAUDIA_URL` environment variable (default: http://localhost:3000)\n2. Set `CLAUDIA_WEBHOOK_SECRET` if authentication is enabled\n3. Configure source systems to send webhooks to: `{n8n_url}/webhook/issue-import`\n\n### Example Payloads\n\n**GitHub:**\n```json\n{\n  \"action\": \"opened\",\n  \"issue\": { \"title\": \"...\", \"body\": \"...\" },\n  \"repository\": { \"name\": \"...\" }\n}\n```\n\n**Custom:**\n```json\n{\n  \"source\": \"custom\",\n  \"issue\": {\n    \"title\": \"My Issue\",\n    \"description\": \"Details...\",\n    \"priority\": \"high\"\n  },\n  \"projectName\": \"My Project\"\n}\n```",
        "height": 580,
        "width": 380
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-100, 140]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transform to Claudia Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Claudia Format": {
      "main": [
        [
          {
            "node": "Send to Claudia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Claudia": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "claudia",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "import",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "webhook",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-07T00:00:00.000Z",
  "versionId": "1"
}
