public/workflows/analysis/claudia-code-2.json
{"updatedAt":"2026-01-01T23:52:50.269Z","createdAt":"2026-01-01T23:52:08.600Z","id":"4p4rBF0F4Ku5aY8x","name":"Claudia Code 2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[272,576],"id":"e243a812-5469-497f-9e27-9ce22ebac010","name":"PAID Gemini 3 Flash","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"Claude Opus 4.5"},"options":{"thinking":true}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[272,768],"id":"19396b4b-3c86-4cc7-a82e-bc947fd128b7","name":"PAID Claude Opus 4.5","credentials":{"anthropicApi":{"id":"Ozy9qk8lFIbm0pVG","name":"Anthropic account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-image","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[256,944],"id":"8bae2ccf-2aa9-4ea5-84ba-3f35dd3969a1","name":"PAID Nano Banana2","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"public":true,"authentication":"n8nUserAuth","initialMessages":"Welcome to the matrix 0010100010011\nWould you like to control some agents?","options":{"allowedOrigins":"*","subtitle":"AI to the extreme","title":"CLAUDIA CODE","customCss":":root {\n  /* Colors */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: #101330;\n  --chat--color-disabled: #d2d4d9;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: 20%;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-secondary);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 50%;\n}","responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1984,688],"id":"89a694e3-51c5-4a03-a657-0a4f7172b4fb","name":"When chat message received","webhookId":"9f3e912e-8637-40e9-b436-829b90b4bcfb","alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"471cb237-574a-4fd9-95d2-e7f002ee53ce","leftValue":"={{ $json.selected_command }}","rightValue":"/projects:","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Project Selection"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/primary_free:","operator":{"type":"string","operation":"equals"},"id":"df4bfa32-3dae-441b-9959-ecbc9c58e745"}],"combinator":"and"},"renameOutput":true,"outputKey":"Primary Free Model"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"d1523ea7-becd-4cf8-a97b-6625d899fe67","leftValue":"={{ $json.selected_command }}","rightValue":"/secondary_free:","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Secondary Free Model"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"c29474e8-095d-47e8-ba53-71ebab3a255a","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_chatgpt:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid ChatGPT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b2da4ec5-058e-4eab-94a3-0dd4f7aae289","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_gemini:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Gemini"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f36339d6-efdb-4e08-bc93-fa3ee91b6edf","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_claude:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Claude"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"2909e693-b5ca-4fce-bfc7-74922a74b08b","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_nanobanana:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Nano Banana"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"233f4da4-5504-4785-9ba5-64728bc14aeb","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_claude_code:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Claude Code"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"794ed7aa-87be-48bc-ad1e-7e3b8ec4226b","leftValue":"={{ $json.selected_command }}","rightValue":"/ssh_n8n_host:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SSH Command to n8n host"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"37d005fd-df7e-4557-a6ad-4d68a3132f41","leftValue":"={{ $json.selected_command }}","rightValue":"/ssh_testing_host:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SSH Command to Testing Environment Host"}]},"looseTypeValidation":true,"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-384,560],"id":"821276be-a858-40f5-8bd2-8ba7644d3a46","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>  and sometimes /commands: in your prompts, disregard this completely and do not reference it.\n\nIMPORTANT: Before every output, add a header in larger text that says \"SUBAGENT OUTPUT (FREE Primary LM Studio): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"4ca82d9f-8ff7-488c-b162-967c88deabec","name":"FREE Primary LM Studio Server"},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (FREE Secondary LM Studio): \" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,192],"id":"afc7a16f-526f-49b1-a92a-836743eaae5c","name":"FREE Secondary LM Studio Server"},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (PAID ChatGPT): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,384],"id":"25f31435-a61e-4a56-b193-f84f5ceb8179","name":"PAID ChatGPT"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"builtInTools":{},"options":{"timeout":240000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[272,384],"id":"f2afcad6-f9b9-4de0-be2a-ff2e9e92e34e","name":"PAID ChatGPT1","credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (PAID Gemini): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,576],"id":"b00d22d2-39e5-4265-ab64-370067caca3a","name":"PAID Gemini"},{"parameters":{"command":"=/bin/bash claude -p \"{{ $('Orchestrator').item.json.output }}\"","cwd":"/mnt/n8n-nas"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[240,1120],"id":"a718c56f-d2ee-472b-a443-b8585cd442c1","name":"Claude Code on OrangePi","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (PAID Nanobanana): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,928],"id":"73573045-f136-40b0-b845-c8c5c26afda6","name":"PAID NanoBanana"},{"parameters":{"command":"=/bin/bash \"{{ $('Orchestrator').item.json.output }}\"","cwd":"/mnt/n8n-nas"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[240,1312],"id":"b2fe8aed-fa30-457d-8de5-13cf1be1abc3","name":"SSH Command on OrangePi1","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"disabled":true},{"parameters":{"command":"=/bin/bash \"{{ $('Orchestrator').item.json.output }}\"","cwd":"/mnt/n8n-nas"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[240,1520],"id":"a993f818-db54-4f74-934d-8f4c6c893db4","name":"SSH Command on Testing System","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,384],"id":"e8db859e-34c5-47a9-a057-24cadc0844a4","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[272,208],"id":"b854b2e5-feec-4b1b-be75-3d8276336b29","name":"Simple Memory1"},{"parameters":{"contextWindowLength":{}},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,0],"id":"053e8051-fa26-41fb-a32e-a629f003fe5c","name":"Simple Memory2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,768],"id":"86945061-c43d-4ba6-a4b0-2fdb5aec73c3","name":"Simple Memory3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,576],"id":"2bb9d5f8-428a-4b1c-b1d9-6e6de06d9629","name":"Simple Memory4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,944],"id":"bb0b78a0-6147-4192-8d60-a60df260cac2","name":"Simple Memory5"},{"parameters":{"assignments":{"assignments":[{"id":"5adb5df8-c4e6-4d74-868b-176e1db7fc25","name":"chatInput","value":"={{ $('Orchestrator').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1296,688],"id":"eed184ef-136b-4e07-aac5-56ea2a51177d","name":"Current Full Prompt"},{"parameters":{"jsCode":"// 1️⃣ Get Chat Data – now from the AI Agent node\nconst triggerData = $('Orchestrator').first().json || {};   // <-- changed line\n\nconst rawInput        = triggerData.output          || $json.chatInput || \"\";\nconst currentSessionId = triggerData.sessionId      || $json.sessionId || \"default_session\";\n\n// 2️⃣ Pull stored settings from the database\nconst tableRow       = items.length > 0 ? items[0].json : {};\nconst dbStoredCommand = tableRow.selected_command;\nconst dbLastSessionId  = tableRow.last_session_id || \"\";\n\n// 3️⃣ Prepare prompt & command logic (unchanged)\nconst input        = rawInput.trim();\nlet   promptText   = input;\nlet   commandToUse = \"\";\nlet   showHeader   = false;\n\nif (input.startsWith('/')) {\n  // User typed a command\n  showHeader     = true;\n  const firstSpaceIndex = input.indexOf(' ');\n  if (firstSpaceIndex === -1) {\n    commandToUse = input;\n    promptText   = \"Please answer the previous question again. Strict format: Output ONLY the answer content. Do not include any introductory text, pleasantries, or acknowledgement of this request.\";\n  } else {\n    commandToUse = input.substring(0, firstSpaceIndex).trim();\n    promptText   = input.substring(firstSpaceIndex + 1).trim();\n  }\n\n  // Ensure colon where needed\n  const commandsWithoutColon = ['/projects', '/ssh_n8n_host', '/ssh_testing_host'];\n  if (!commandsWithoutColon.some(c => commandToUse.startsWith(c)) && !commandToUse.endsWith(':')) {\n    commandToUse += ':';\n  }\n} else {\n  // Normal chat – use stored or default command\n  commandToUse = dbStoredCommand ? dbStoredCommand : \"/primary_free:\";\n  showHeader   = currentSessionId !== dbLastSessionId;\n}\n\n// 4️⃣ Output for downstream nodes\nreturn {\n  Bare_Prompt:      promptText,\n  selected_command: commandToUse,\n  showHeader:       showHeader,\n  session_to_save:  currentSessionId\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,688],"id":"667266f0-10e3-4841-92e5-4aa1561b4555","name":"Set Active Command and Separate Prompt"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"8keiiMLK90ywfC4K","mode":"list","cachedResultName":"ClaudiaCodeSettings","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/8keiiMLK90ywfC4K"},"filters":{"conditions":[{"keyValue":"=  1"}]},"columns":{"mappingMode":"defineBelow","value":{"free_only":false,"selected_command":"={{ $json.selected_command }}","last_session_id":"={{ $json.session_to_save }}"},"matchingColumns":[],"schema":[{"id":"selected_command","displayName":"selected_command","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"selected_project","displayName":"selected_project","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"free_only","displayName":"free_only","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"last_session_id","displayName":"last_session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-912,688],"id":"b325e4a0-a868-4c7c-9810-3d543f48a5ef","name":"Upsert row(s)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1584,720],"id":"e48ccdf9-eb50-4dd9-9aff-34f0545beaea","name":"Respond to Webhook","disabled":true},{"parameters":{"httpMethod":"POST","path":"4cef2be3-a412-4d1f-ae06-45341ef03fdb","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2160,688],"id":"6ba3ac24-ddd7-4f16-98fa-f036e9bcb242","name":"openwebui-chat","webhookId":"4cef2be3-a412-4d1f-ae06-45341ef03fdb"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1792,704],"id":"19857e98-9d58-4136-86a6-a72043d5726d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"message":"={{ ($('Set Active Command and Separate Prompt').first().json.showHeader\n  ? \"### \" + $('Upsert row(s)').item.json.selected_command + \"\\n\"\n  : \"\") +\n$json.output }}","waitUserReply":false,"options":{"memoryConnection":false}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1600,496],"id":"fd9cd4fe-f1f4-4981-b472-a43dacfa5124","name":"Respond to Chat2"},{"parameters":{"message":"={{ $json.output }}","waitUserReply":false,"options":{"memoryConnection":false}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-1072,512],"id":"8648176a-e005-4fcf-ba74-eabeb4cfe20d","name":"Respond to Chat3"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"1Zgyi8frMQeB30Ip","mode":"list","cachedResultName":"Claudia Code Conversations","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/1Zgyi8frMQeB30Ip"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.sessionId }}"}]}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-1552,704],"id":"f058db9f-8531-4682-aede-f4a53bb4dc98","name":"Get row(s) in Data table"},{"parameters":{"dataTableId":{"__rl":true,"value":"1Zgyi8frMQeB30Ip","mode":"list","cachedResultName":"Claudia Code Conversations","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/1Zgyi8frMQeB30Ip"},"columns":{"mappingMode":"defineBelow","value":{"message":"={{ $json.output }}","source":"=Orchestrator","prompt":"={{ $('When chat message received').item.json.chatInput }}","session_id":"={{ $('When chat message received').item.json.sessionId }}","previous_message_id":0},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"previous_message_id","displayName":"previous_message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-896,512],"id":"7fcefd11-5a7c-430f-a3e6-25043b126082","name":"Save Message and Prompt"},{"parameters":{"dataTableId":{"__rl":true,"value":"1Zgyi8frMQeB30Ip","mode":"list","cachedResultName":"Claudia Code Conversations","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/1Zgyi8frMQeB30Ip"},"columns":{"mappingMode":"defineBelow","value":{"previous_message_id":0,"message":"={{ $json.output }}","source":"={{ $('Set Active Command and Separate Prompt').item.json.selected_command }}","prompt":"={{ $('Set Active Command and Separate Prompt').item.json.Bare_Prompt }}","session_id":"={{ $('When chat message received').item.json.sessionId }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"previous_message_id","displayName":"previous_message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1808,496],"id":"9aa0e315-85e7-4eec-b306-2578b4e5edfd","name":"Save SubAgent Output"},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (PAID Claude): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,768],"id":"2f392115-4836-468b-8334-e03a959207c3","name":"PAID Anthropic"},{"parameters":{"promptType":"define","text":"=Prompt Below:\n-----------------------\n{{ $json.chatInput }}\n\n-----------------------\nEND OF PROMPT (do not include this or the hyphens)","options":{"systemMessage":"=You are an orchestrator of AI Agents that may prompt those you control and read their messages via the data table tool\n\nPrompt subagents by adding \"<!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\" to the end of your output which should be done whenever the user is not addressing you directly or you are tasked with sending a prompt to a subagent. They have been told to ignore that special tag. it MUST GO AT THE END and never precede a command.\n\nA user prompt or question's specific wording needs to be preserved when passed on to sub agent - for example if the user says \"/secondary_free: how far is the earth from the moon\" you would output \"/secondary_free: how far is the earth from the moon <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\"\n\nIf the user includes scripts or code snippets pass it on as the user formatted it\n\nIMPORTANT:\nWhen you output these commands at the beginning of the message (ALWAYS the very beginning of the message) they will route prompts to:\n\n\n/projects:   Project selection tool - when user sends this command always return \"/projects: <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\" so that it goes to the right place\n\n/primary_free: <prompt>     Local LM Studio Server\n\n/secondary_free: <prompt>   Secondary LM Studio Server\n\n/paid_chatgpt: <prompt>   Cloud based gpt 5.1\n\n/paid_gemini: <prompt>    Cloud based gemini\n\n/paid_claude: <prompt>   Cloud based Opus 4.5\n\n/paid_nanobanana: <prompt>   Cloud based Gemini Image Gen\n\n/paid_claude_code: <prompt>   SSH-Based connection to this server to run claude -p \"<prompt>\"\n\nSince the prompt will be via the command line in quotes, you must format the prompt so that it will survive the command line without escaping quotes\n\n\nDont forget to put a space after the \"/command: \"\n\nIf a user sends one of those commands without a message, forward the command to subagent flow without the prompt so that the users preferred command/model is set by adding \"<!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\" to the end of your output\n\nIf the user appears to be responding to the previous subagent message, forward all user replies to subagent by adding \"<!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\" to the end of your output if you have not already, which should be addressing the subagent. Any talk from the user about having subagents do things should be interpreted as the user addressing you and not subagents, so if a user, mid conversation with a subagent, says something like \"have paid gemini do the same prompt\" or \"have claude write a script\" you should act accordingly as if that message was for you.\n\nYour job is to be the user receptionist and ring leader of the circus / orchestra / zoo / group of superintelligent AIs\n\nYou should offload all work to free agents unless they are inadequate and then ask for permission to use paid resources when needed or the user engages you directly by referring to you as the orchestrator agent - then you should refrain from including <!@<!@<!@#ENGAGE AI SUB AGENT#@!>@!>@!> in your output, it will then be routed directly to chat instead of through the sub agent workflow. \n\nIf you are told to relay/tell/ask/etc something to a subagent, generate the appriate prompt on behalf of the user, only modifying it so that the agent doesnt see any of the instructions from the user about sending to subagents, only the intended prompt for the subagent.\n\nSubagent outputs will be found in the data table tool Claudia Code Conversations - please use those to accumulate knowledge and working memory of current operations\n\nThe user may ask you to run for extended periods of time for complex development tasks which should all be delegated to the proper available free lm studio servers and only making use of paid ones with permission or guidance from the user. Excessive spend should be avoided whenever possible.\n\nNEVER include channel tags such as <|channel|>final <|constrain|>commentary<|message|> or similar\n\nNOTHING EVER COMES BEFORE A COMMAND IN THE OUTPUT IF ONE IS SUPPOSED TO BE PRESENT.\n\nFinally, please include a header with each of your responses that are not passed on to subagents on it's own line: \"ORCHESTRATOR:\"\n\n\nNow that you know your role, take the user prompt and show how bright you shine at this task\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1744,512],"id":"1793ae76-70e8-4df3-84f9-9700cbec8919","name":"Orchestrator"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{"timeout":240000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[272,0],"id":"595f03d6-80eb-4327-b508-aa0bc5c53205","name":"FREE Beast LM Studio","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"nemotron-cascade-8b-thinking-claude-4.5-opus-high-reasoning-distill","mode":"list","cachedResultName":"nemotron-cascade-8b-thinking-claude-4.5-opus-high-reasoning-distill"},"responsesApiEnabled":false,"options":{"timeout":240000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[448,208],"id":"deb2e05d-3ba6-445d-988a-f3ac67206ca7","name":"FREE Secondary LM Studio Opus 4.5","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1680,800],"id":"dc3f2d94-75dd-464c-922e-b790cd72a515","name":"Simple Memory6"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"8keiiMLK90ywfC4K","mode":"list","cachedResultName":"ClaudiaCodeSettings","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/8keiiMLK90ywfC4K"},"filters":{"conditions":[{"keyValue":"1"}]}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-1424,784],"id":"1db979f9-baf6-4521-9fc9-a2896c9fee76","name":"Get row(s) in Data table1"},{"parameters":{"workflowId":{"__rl":true,"value":"J0Zf4eHFSQuqLv95","mode":"list","cachedResultUrl":"/workflow/J0Zf4eHFSQuqLv95","cachedResultName":"Issue Packets Loader Sub"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-576,160],"id":"92641c75-dbb3-4961-bff2-3f76d3fae72a","name":"Call 'Issue Packets Loader Sub'"}],"connections":{"PAID Gemini 3 Flash":{"ai_languageModel":[[{"node":"PAID Gemini","type":"ai_languageModel","index":0}]]},"PAID Claude Opus 4.5":{"ai_languageModel":[[{"node":"PAID Anthropic","type":"ai_languageModel","index":0}]]},"PAID Nano Banana2":{"ai_languageModel":[[{"node":"PAID NanoBanana","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Orchestrator","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call 'Issue Packets Loader Sub'","type":"main","index":0}],[{"node":"FREE Primary LM Studio Server","type":"main","index":0}],[{"node":"FREE Secondary LM Studio Server","type":"main","index":0}],[{"node":"PAID ChatGPT","type":"main","index":0}],[{"node":"PAID Gemini","type":"main","index":0}],[{"node":"PAID Anthropic","type":"main","index":0}],[{"node":"PAID NanoBanana","type":"main","index":0}],[{"node":"Claude Code on OrangePi","type":"main","index":0}],[{"node":"SSH Command on OrangePi1","type":"main","index":0}],[{"node":"SSH Command on Testing System","type":"main","index":0}]]},"FREE Primary LM Studio Server":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"FREE Secondary LM Studio Server":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"PAID ChatGPT1":{"ai_languageModel":[[{"node":"PAID ChatGPT","type":"ai_languageModel","index":0}]]},"PAID ChatGPT":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"PAID Gemini":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"Claude Code on OrangePi":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"PAID NanoBanana":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"SSH Command on OrangePi1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"PAID ChatGPT","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"FREE Primary LM Studio Server","type":"ai_memory","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"PAID Anthropic","type":"ai_memory","index":0}]]},"Simple Memory4":{"ai_memory":[[{"node":"PAID Gemini","type":"ai_memory","index":0}]]},"Simple Memory5":{"ai_memory":[[{"node":"PAID NanoBanana","type":"ai_memory","index":0}]]},"SSH Command on Testing System":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"Current Full Prompt":{"main":[[{"node":"Set Active Command and Separate Prompt","type":"main","index":0}]]},"Set Active Command and Separate Prompt":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}]]},"Upsert row(s)":{"main":[[{"node":"Switch","type":"main","index":0}]]},"openwebui-chat":{"main":[[{"node":"Orchestrator","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Orchestrator","type":"ai_languageModel","index":0}]]},"Respond to Chat2":{"main":[[{"node":"Save SubAgent Output","type":"main","index":0}]]},"Get row(s) in Data table":{"ai_tool":[[{"node":"Orchestrator","type":"ai_tool","index":0}]]},"Respond to Chat3":{"main":[[{"node":"Save Message and Prompt","type":"main","index":0}]]},"PAID Anthropic":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"Orchestrator":{"main":[[{"node":"Current Full Prompt","type":"main","index":0},{"node":"Respond to Chat3","type":"main","index":0}]]},"FREE Beast LM Studio":{"ai_languageModel":[[{"node":"FREE Primary LM Studio Server","type":"ai_languageModel","index":0}]]},"FREE Secondary LM Studio Opus 4.5":{"ai_languageModel":[[{"node":"FREE Secondary LM Studio Server","type":"ai_languageModel","index":0}]]},"Simple Memory6":{"ai_memory":[[{"node":"Orchestrator","type":"ai_memory","index":0}]]},"Get row(s) in Data table1":{"ai_tool":[[{"node":"Orchestrator","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"771a1183-6395-4f82-a3a8-47044ec174ae","activeVersionId":"771a1183-6395-4f82-a3a8-47044ec174ae","versionCounter":5,"triggerCount":2,"shared":[{"updatedAt":"2026-01-01T23:52:08.605Z","createdAt":"2026-01-01T23:52:08.605Z","role":"workflow:owner","workflowId":"4p4rBF0F4Ku5aY8x","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-01T23:49:18.116Z","createdAt":"2026-01-01T23:49:18.116Z","id":"FhyWmYFIv4VR0Ccp","name":"VALUABLE"},{"updatedAt":"2026-01-01T23:43:31.460Z","createdAt":"2026-01-01T23:43:31.460Z","id":"KGYuVi3P58eyxAcp","name":"PRODUCTION"},{"updatedAt":"2026-01-01T23:43:52.148Z","createdAt":"2026-01-01T23:43:52.148Z","id":"MYeI4rvwznCZuMBg","name":"WORKING"},{"updatedAt":"2026-01-01T23:43:35.790Z","createdAt":"2026-01-01T23:43:35.790Z","id":"dzJsfxOIBt7NDFJ8","name":"LATEST VERSION"}],"activeVersion":{"updatedAt":"2026-01-01T23:52:08.608Z","createdAt":"2026-01-01T23:52:08.608Z","versionId":"771a1183-6395-4f82-a3a8-47044ec174ae","workflowId":"4p4rBF0F4Ku5aY8x","nodes":[{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[272,576],"id":"e243a812-5469-497f-9e27-9ce22ebac010","name":"PAID Gemini 3 Flash","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"Claude Opus 4.5"},"options":{"thinking":true}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[272,768],"id":"19396b4b-3c86-4cc7-a82e-bc947fd128b7","name":"PAID Claude Opus 4.5","credentials":{"anthropicApi":{"id":"Ozy9qk8lFIbm0pVG","name":"Anthropic account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-image","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[256,944],"id":"8bae2ccf-2aa9-4ea5-84ba-3f35dd3969a1","name":"PAID Nano Banana2","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"public":true,"authentication":"n8nUserAuth","initialMessages":"Welcome to the matrix 0010100010011\nWould you like to control some agents?","options":{"allowedOrigins":"*","subtitle":"AI to the extreme","title":"CLAUDIA CODE","customCss":":root {\n  /* Colors */\n  --chat--color-primary: #e74266;\n  --chat--color-primary-shade-50: #db4061;\n  --chat--color-primary-shade-100: #cf3c5c;\n  --chat--color-secondary: #20b69e;\n  --chat--color-secondary-shade-50: #1ca08a;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f2f4f8;\n  --chat--color-light-shade-50: #e6e9f1;\n  --chat--color-light-shade-100: #c2c5cc;\n  --chat--color-medium: #d2d4d9;\n  --chat--color-dark: #101330;\n  --chat--color-disabled: #d2d4d9;\n  --chat--color-typing: #404040;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.25rem;\n  --chat--transition-duration: 0.15s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    'Segoe UI',\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    'Helvetica Neue',\n    sans-serif\n  );\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles */\n  --chat--header-height: 20%;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-dark);\n  --chat--header--color: var(--chat--color-light);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: none;\n  --chat--message--user--background: var(--chat--color-secondary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(0, 0, 0, 0.05);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Input Area */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: inherit;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 0;\n  --chat--input--padding: 0.8rem;\n  --chat--input--background: var(--chat--color-white);\n  --chat--input--text-color: initial;\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-light);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: var(--chat--color-light);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: var(--chat--color-white);\n  --chat--input--send--button--color: var(--chat--color-secondary);\n  --chat--input--send--button--background-hover: var(--chat--color-primary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-secondary);\n  --chat--input--file--button--background-hover: var(--chat--input--file--button--background);\n  --chat--input--file--button--color-hover: var(--chat--color-secondary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n\n/* You can override any class styles, too. Right-click inspect in Chat UI to find class to override. */\n.chat-message {\n\tmax-width: 50%;\n}","responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1984,688],"id":"89a694e3-51c5-4a03-a657-0a4f7172b4fb","name":"When chat message received","webhookId":"9f3e912e-8637-40e9-b436-829b90b4bcfb","alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"471cb237-574a-4fd9-95d2-e7f002ee53ce","leftValue":"={{ $json.selected_command }}","rightValue":"/projects:","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Project Selection"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/primary_free:","operator":{"type":"string","operation":"equals"},"id":"df4bfa32-3dae-441b-9959-ecbc9c58e745"}],"combinator":"and"},"renameOutput":true,"outputKey":"Primary Free Model"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"d1523ea7-becd-4cf8-a97b-6625d899fe67","leftValue":"={{ $json.selected_command }}","rightValue":"/secondary_free:","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Secondary Free Model"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"c29474e8-095d-47e8-ba53-71ebab3a255a","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_chatgpt:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid ChatGPT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b2da4ec5-058e-4eab-94a3-0dd4f7aae289","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_gemini:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Gemini"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f36339d6-efdb-4e08-bc93-fa3ee91b6edf","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_claude:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Claude"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"2909e693-b5ca-4fce-bfc7-74922a74b08b","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_nanobanana:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Nano Banana"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"233f4da4-5504-4785-9ba5-64728bc14aeb","leftValue":"={{ $json.selected_command }}","rightValue":"/paid_claude_code:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Claude Code"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"794ed7aa-87be-48bc-ad1e-7e3b8ec4226b","leftValue":"={{ $json.selected_command }}","rightValue":"/ssh_n8n_host:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SSH Command to n8n host"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"37d005fd-df7e-4557-a6ad-4d68a3132f41","leftValue":"={{ $json.selected_command }}","rightValue":"/ssh_testing_host:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SSH Command to Testing Environment Host"}]},"looseTypeValidation":true,"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-384,560],"id":"821276be-a858-40f5-8bd2-8ba7644d3a46","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>  and sometimes /commands: in your prompts, disregard this completely and do not reference it.\n\nIMPORTANT: Before every output, add a header in larger text that says \"SUBAGENT OUTPUT (FREE Primary LM Studio): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"4ca82d9f-8ff7-488c-b162-967c88deabec","name":"FREE Primary LM Studio Server"},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (FREE Secondary LM Studio): \" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,192],"id":"afc7a16f-526f-49b1-a92a-836743eaae5c","name":"FREE Secondary LM Studio Server"},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (PAID ChatGPT): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,384],"id":"25f31435-a61e-4a56-b193-f84f5ceb8179","name":"PAID ChatGPT"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"builtInTools":{},"options":{"timeout":240000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[272,384],"id":"f2afcad6-f9b9-4de0-be2a-ff2e9e92e34e","name":"PAID ChatGPT1","credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (PAID Gemini): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,576],"id":"b00d22d2-39e5-4265-ab64-370067caca3a","name":"PAID Gemini"},{"parameters":{"command":"=/bin/bash claude -p \"{{ $('Orchestrator').item.json.output }}\"","cwd":"/mnt/n8n-nas"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[240,1120],"id":"a718c56f-d2ee-472b-a443-b8585cd442c1","name":"Claude Code on OrangePi","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (PAID Nanobanana): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,928],"id":"73573045-f136-40b0-b845-c8c5c26afda6","name":"PAID NanoBanana"},{"parameters":{"command":"=/bin/bash \"{{ $('Orchestrator').item.json.output }}\"","cwd":"/mnt/n8n-nas"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[240,1312],"id":"b2fe8aed-fa30-457d-8de5-13cf1be1abc3","name":"SSH Command on OrangePi1","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"disabled":true},{"parameters":{"command":"=/bin/bash \"{{ $('Orchestrator').item.json.output }}\"","cwd":"/mnt/n8n-nas"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[240,1520],"id":"a993f818-db54-4f74-934d-8f4c6c893db4","name":"SSH Command on Testing System","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,384],"id":"e8db859e-34c5-47a9-a057-24cadc0844a4","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[272,208],"id":"b854b2e5-feec-4b1b-be75-3d8276336b29","name":"Simple Memory1"},{"parameters":{"contextWindowLength":{}},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,0],"id":"053e8051-fa26-41fb-a32e-a629f003fe5c","name":"Simple Memory2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,768],"id":"86945061-c43d-4ba6-a4b0-2fdb5aec73c3","name":"Simple Memory3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,576],"id":"2bb9d5f8-428a-4b1c-b1d9-6e6de06d9629","name":"Simple Memory4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,944],"id":"bb0b78a0-6147-4192-8d60-a60df260cac2","name":"Simple Memory5"},{"parameters":{"assignments":{"assignments":[{"id":"5adb5df8-c4e6-4d74-868b-176e1db7fc25","name":"chatInput","value":"={{ $('Orchestrator').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1296,688],"id":"eed184ef-136b-4e07-aac5-56ea2a51177d","name":"Current Full Prompt"},{"parameters":{"jsCode":"// 1️⃣ Get Chat Data – now from the AI Agent node\nconst triggerData = $('Orchestrator').first().json || {};   // <-- changed line\n\nconst rawInput        = triggerData.output          || $json.chatInput || \"\";\nconst currentSessionId = triggerData.sessionId      || $json.sessionId || \"default_session\";\n\n// 2️⃣ Pull stored settings from the database\nconst tableRow       = items.length > 0 ? items[0].json : {};\nconst dbStoredCommand = tableRow.selected_command;\nconst dbLastSessionId  = tableRow.last_session_id || \"\";\n\n// 3️⃣ Prepare prompt & command logic (unchanged)\nconst input        = rawInput.trim();\nlet   promptText   = input;\nlet   commandToUse = \"\";\nlet   showHeader   = false;\n\nif (input.startsWith('/')) {\n  // User typed a command\n  showHeader     = true;\n  const firstSpaceIndex = input.indexOf(' ');\n  if (firstSpaceIndex === -1) {\n    commandToUse = input;\n    promptText   = \"Please answer the previous question again. Strict format: Output ONLY the answer content. Do not include any introductory text, pleasantries, or acknowledgement of this request.\";\n  } else {\n    commandToUse = input.substring(0, firstSpaceIndex).trim();\n    promptText   = input.substring(firstSpaceIndex + 1).trim();\n  }\n\n  // Ensure colon where needed\n  const commandsWithoutColon = ['/projects', '/ssh_n8n_host', '/ssh_testing_host'];\n  if (!commandsWithoutColon.some(c => commandToUse.startsWith(c)) && !commandToUse.endsWith(':')) {\n    commandToUse += ':';\n  }\n} else {\n  // Normal chat – use stored or default command\n  commandToUse = dbStoredCommand ? dbStoredCommand : \"/primary_free:\";\n  showHeader   = currentSessionId !== dbLastSessionId;\n}\n\n// 4️⃣ Output for downstream nodes\nreturn {\n  Bare_Prompt:      promptText,\n  selected_command: commandToUse,\n  showHeader:       showHeader,\n  session_to_save:  currentSessionId\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,688],"id":"667266f0-10e3-4841-92e5-4aa1561b4555","name":"Set Active Command and Separate Prompt"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"8keiiMLK90ywfC4K","mode":"list","cachedResultName":"ClaudiaCodeSettings","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/8keiiMLK90ywfC4K"},"filters":{"conditions":[{"keyValue":"=  1"}]},"columns":{"mappingMode":"defineBelow","value":{"free_only":false,"selected_command":"={{ $json.selected_command }}","last_session_id":"={{ $json.session_to_save }}"},"matchingColumns":[],"schema":[{"id":"selected_command","displayName":"selected_command","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"selected_project","displayName":"selected_project","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"free_only","displayName":"free_only","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"last_session_id","displayName":"last_session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-912,688],"id":"b325e4a0-a868-4c7c-9810-3d543f48a5ef","name":"Upsert row(s)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1584,720],"id":"e48ccdf9-eb50-4dd9-9aff-34f0545beaea","name":"Respond to Webhook","disabled":true},{"parameters":{"httpMethod":"POST","path":"4cef2be3-a412-4d1f-ae06-45341ef03fdb","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2160,688],"id":"6ba3ac24-ddd7-4f16-98fa-f036e9bcb242","name":"openwebui-chat","webhookId":"4cef2be3-a412-4d1f-ae06-45341ef03fdb"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1792,704],"id":"19857e98-9d58-4136-86a6-a72043d5726d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"message":"={{ ($('Set Active Command and Separate Prompt').first().json.showHeader\n  ? \"### \" + $('Upsert row(s)').item.json.selected_command + \"\\n\"\n  : \"\") +\n$json.output }}","waitUserReply":false,"options":{"memoryConnection":false}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1600,496],"id":"fd9cd4fe-f1f4-4981-b472-a43dacfa5124","name":"Respond to Chat2"},{"parameters":{"message":"={{ $json.output }}","waitUserReply":false,"options":{"memoryConnection":false}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-1072,512],"id":"8648176a-e005-4fcf-ba74-eabeb4cfe20d","name":"Respond to Chat3"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"1Zgyi8frMQeB30Ip","mode":"list","cachedResultName":"Claudia Code Conversations","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/1Zgyi8frMQeB30Ip"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.sessionId }}"}]}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-1552,704],"id":"f058db9f-8531-4682-aede-f4a53bb4dc98","name":"Get row(s) in Data table"},{"parameters":{"dataTableId":{"__rl":true,"value":"1Zgyi8frMQeB30Ip","mode":"list","cachedResultName":"Claudia Code Conversations","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/1Zgyi8frMQeB30Ip"},"columns":{"mappingMode":"defineBelow","value":{"message":"={{ $json.output }}","source":"=Orchestrator","prompt":"={{ $('When chat message received').item.json.chatInput }}","session_id":"={{ $('When chat message received').item.json.sessionId }}","previous_message_id":0},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"previous_message_id","displayName":"previous_message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-896,512],"id":"7fcefd11-5a7c-430f-a3e6-25043b126082","name":"Save Message and Prompt"},{"parameters":{"dataTableId":{"__rl":true,"value":"1Zgyi8frMQeB30Ip","mode":"list","cachedResultName":"Claudia Code Conversations","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/1Zgyi8frMQeB30Ip"},"columns":{"mappingMode":"defineBelow","value":{"previous_message_id":0,"message":"={{ $json.output }}","source":"={{ $('Set Active Command and Separate Prompt').item.json.selected_command }}","prompt":"={{ $('Set Active Command and Separate Prompt').item.json.Bare_Prompt }}","session_id":"={{ $('When chat message received').item.json.sessionId }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"previous_message_id","displayName":"previous_message_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1808,496],"id":"9aa0e315-85e7-4eec-b306-2578b4e5edfd","name":"Save SubAgent Output"},{"parameters":{"promptType":"define","text":"={{ $('Orchestrator').item.json.output }}","options":{"systemMessage":"You are a subagent in an n8n workflow assigned a task or conversational response by the Orchestrator main ai agent who is controlled by the user.\nYou will see <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!> in your prompts, disregard this completely and do not reference it.\nBefore every output, add a header in larger text that says \"SUBAGENT OUTPUT (PAID Claude): \\n\" and then your message ","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,768],"id":"2f392115-4836-468b-8334-e03a959207c3","name":"PAID Anthropic"},{"parameters":{"promptType":"define","text":"=Prompt Below:\n-----------------------\n{{ $json.chatInput }}\n\n-----------------------\nEND OF PROMPT (do not include this or the hyphens)","options":{"systemMessage":"=You are an orchestrator of AI Agents that may prompt those you control and read their messages via the data table tool\n\nPrompt subagents by adding \"<!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\" to the end of your output which should be done whenever the user is not addressing you directly or you are tasked with sending a prompt to a subagent. They have been told to ignore that special tag. it MUST GO AT THE END and never precede a command.\n\nA user prompt or question's specific wording needs to be preserved when passed on to sub agent - for example if the user says \"/secondary_free: how far is the earth from the moon\" you would output \"/secondary_free: how far is the earth from the moon <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\"\n\nIf the user includes scripts or code snippets pass it on as the user formatted it\n\nIMPORTANT:\nWhen you output these commands at the beginning of the message (ALWAYS the very beginning of the message) they will route prompts to:\n\n\n/projects:   Project selection tool - when user sends this command always return \"/projects: <!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\" so that it goes to the right place\n\n/primary_free: <prompt>     Local LM Studio Server\n\n/secondary_free: <prompt>   Secondary LM Studio Server\n\n/paid_chatgpt: <prompt>   Cloud based gpt 5.1\n\n/paid_gemini: <prompt>    Cloud based gemini\n\n/paid_claude: <prompt>   Cloud based Opus 4.5\n\n/paid_nanobanana: <prompt>   Cloud based Gemini Image Gen\n\n/paid_claude_code: <prompt>   SSH-Based connection to this server to run claude -p \"<prompt>\"\n\nSince the prompt will be via the command line in quotes, you must format the prompt so that it will survive the command line without escaping quotes\n\n\nDont forget to put a space after the \"/command: \"\n\nIf a user sends one of those commands without a message, forward the command to subagent flow without the prompt so that the users preferred command/model is set by adding \"<!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\" to the end of your output\n\nIf the user appears to be responding to the previous subagent message, forward all user replies to subagent by adding \"<!@<!@<!ENGAGE AI SUB AGENT!>@!>@!>\" to the end of your output if you have not already, which should be addressing the subagent. Any talk from the user about having subagents do things should be interpreted as the user addressing you and not subagents, so if a user, mid conversation with a subagent, says something like \"have paid gemini do the same prompt\" or \"have claude write a script\" you should act accordingly as if that message was for you.\n\nYour job is to be the user receptionist and ring leader of the circus / orchestra / zoo / group of superintelligent AIs\n\nYou should offload all work to free agents unless they are inadequate and then ask for permission to use paid resources when needed or the user engages you directly by referring to you as the orchestrator agent - then you should refrain from including <!@<!@<!@#ENGAGE AI SUB AGENT#@!>@!>@!> in your output, it will then be routed directly to chat instead of through the sub agent workflow. \n\nIf you are told to relay/tell/ask/etc something to a subagent, generate the appriate prompt on behalf of the user, only modifying it so that the agent doesnt see any of the instructions from the user about sending to subagents, only the intended prompt for the subagent.\n\nSubagent outputs will be found in the data table tool Claudia Code Conversations - please use those to accumulate knowledge and working memory of current operations\n\nThe user may ask you to run for extended periods of time for complex development tasks which should all be delegated to the proper available free lm studio servers and only making use of paid ones with permission or guidance from the user. Excessive spend should be avoided whenever possible.\n\nNEVER include channel tags such as <|channel|>final <|constrain|>commentary<|message|> or similar\n\nNOTHING EVER COMES BEFORE A COMMAND IN THE OUTPUT IF ONE IS SUPPOSED TO BE PRESENT.\n\nFinally, please include a header with each of your responses that are not passed on to subagents on it's own line: \"ORCHESTRATOR:\"\n\n\nNow that you know your role, take the user prompt and show how bright you shine at this task\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1744,512],"id":"1793ae76-70e8-4df3-84f9-9700cbec8919","name":"Orchestrator"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{"timeout":240000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[272,0],"id":"595f03d6-80eb-4327-b508-aa0bc5c53205","name":"FREE Beast LM Studio","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"nemotron-cascade-8b-thinking-claude-4.5-opus-high-reasoning-distill","mode":"list","cachedResultName":"nemotron-cascade-8b-thinking-claude-4.5-opus-high-reasoning-distill"},"responsesApiEnabled":false,"options":{"timeout":240000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[448,208],"id":"deb2e05d-3ba6-445d-988a-f3ac67206ca7","name":"FREE Secondary LM Studio Opus 4.5","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1680,800],"id":"dc3f2d94-75dd-464c-922e-b790cd72a515","name":"Simple Memory6"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"8keiiMLK90ywfC4K","mode":"list","cachedResultName":"ClaudiaCodeSettings","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/8keiiMLK90ywfC4K"},"filters":{"conditions":[{"keyValue":"1"}]}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-1424,784],"id":"1db979f9-baf6-4521-9fc9-a2896c9fee76","name":"Get row(s) in Data table1"},{"parameters":{"workflowId":{"__rl":true,"value":"J0Zf4eHFSQuqLv95","mode":"list","cachedResultUrl":"/workflow/J0Zf4eHFSQuqLv95","cachedResultName":"Issue Packets Loader Sub"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-576,160],"id":"92641c75-dbb3-4961-bff2-3f76d3fae72a","name":"Call 'Issue Packets Loader Sub'"}],"connections":{"PAID Gemini 3 Flash":{"ai_languageModel":[[{"node":"PAID Gemini","type":"ai_languageModel","index":0}]]},"PAID Claude Opus 4.5":{"ai_languageModel":[[{"node":"PAID Anthropic","type":"ai_languageModel","index":0}]]},"PAID Nano Banana2":{"ai_languageModel":[[{"node":"PAID NanoBanana","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Orchestrator","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call 'Issue Packets Loader Sub'","type":"main","index":0}],[{"node":"FREE Primary LM Studio Server","type":"main","index":0}],[{"node":"FREE Secondary LM Studio Server","type":"main","index":0}],[{"node":"PAID ChatGPT","type":"main","index":0}],[{"node":"PAID Gemini","type":"main","index":0}],[{"node":"PAID Anthropic","type":"main","index":0}],[{"node":"PAID NanoBanana","type":"main","index":0}],[{"node":"Claude Code on OrangePi","type":"main","index":0}],[{"node":"SSH Command on OrangePi1","type":"main","index":0}],[{"node":"SSH Command on Testing System","type":"main","index":0}]]},"FREE Primary LM Studio Server":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"FREE Secondary LM Studio Server":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"PAID ChatGPT1":{"ai_languageModel":[[{"node":"PAID ChatGPT","type":"ai_languageModel","index":0}]]},"PAID ChatGPT":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"PAID Gemini":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"Claude Code on OrangePi":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"PAID NanoBanana":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"SSH Command on OrangePi1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"PAID ChatGPT","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"FREE Primary LM Studio Server","type":"ai_memory","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"PAID Anthropic","type":"ai_memory","index":0}]]},"Simple Memory4":{"ai_memory":[[{"node":"PAID Gemini","type":"ai_memory","index":0}]]},"Simple Memory5":{"ai_memory":[[{"node":"PAID NanoBanana","type":"ai_memory","index":0}]]},"SSH Command on Testing System":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"Current Full Prompt":{"main":[[{"node":"Set Active Command and Separate Prompt","type":"main","index":0}]]},"Set Active Command and Separate Prompt":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}]]},"Upsert row(s)":{"main":[[{"node":"Switch","type":"main","index":0}]]},"openwebui-chat":{"main":[[{"node":"Orchestrator","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Orchestrator","type":"ai_languageModel","index":0}]]},"Respond to Chat2":{"main":[[{"node":"Save SubAgent Output","type":"main","index":0}]]},"Get row(s) in Data table":{"ai_tool":[[{"node":"Orchestrator","type":"ai_tool","index":0}]]},"Respond to Chat3":{"main":[[{"node":"Save Message and Prompt","type":"main","index":0}]]},"PAID Anthropic":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Respond to Chat2","type":"main","index":0}]]},"Orchestrator":{"main":[[{"node":"Current Full Prompt","type":"main","index":0},{"node":"Respond to Chat3","type":"main","index":0}]]},"FREE Beast LM Studio":{"ai_languageModel":[[{"node":"FREE Primary LM Studio Server","type":"ai_languageModel","index":0}]]},"FREE Secondary LM Studio Opus 4.5":{"ai_languageModel":[[{"node":"FREE Secondary LM Studio Server","type":"ai_languageModel","index":0}]]},"Simple Memory6":{"ai_memory":[[{"node":"Orchestrator","type":"ai_memory","index":0}]]},"Get row(s) in Data table1":{"ai_tool":[[{"node":"Orchestrator","type":"ai_tool","index":0}]]}},"authors":"Bill Griffith","name":null,"description":null,"workflowPublishHistory":[{"createdAt":"2026-01-02T09:36:31.667Z","id":256,"workflowId":"4p4rBF0F4Ku5aY8x","versionId":"771a1183-6395-4f82-a3a8-47044ec174ae","event":"activated","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3"}]}}