public/workflows/analysis/packet-processor-standalone.json
{
  "id": "NC7qyAYViYGWaFLr",
  "name": "Packet Processor (Standalone)",
  "createdAt": "2026-01-08 03:53:36.073",
  "updatedAt": "2026-01-08 03:53:36.073",
  "active": 0,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1728,
        5120
      ],
      "id": "b8c58658-6a5b-4f89-8fdc-09399a6a3908",
      "name": "Start Processing"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2352,
        5072
      ],
      "id": "bbaf5f93-3e21-4e14-ab72-838ea2845dba",
      "name": "Process Each Packet"
    },
    {
      "parameters": {
        "jsCode": "// Extract current packet\nconst packet = $input.all()[0].json;\n\n// Parse packetJSON\nlet issueData = {};\ntry {\n  issueData = JSON.parse(packet.packetJSON);\n} catch (e) {\n  issueData = {\n    issueId: packet.packetID,\n    title: \"Parse Error\",\n    description: String(packet.packetJSON)\n  };\n}\n\n// Determine worker model to use\nconst assignedWorker = (packet.assignedWorker || \"primary_free\").toLowerCase();\nlet modelName = \"GPT-OSS-20b\";  // default\n\nif (assignedWorker.includes(\"secondary\")) {\n  modelName = \"Nemotron Cascade (Secondary Free)\";\n} else if (assignedWorker.includes(\"opus\") || assignedWorker.includes(\"claude\")) {\n  modelName = \"Claude Opus 4.5 (Paid)\";\n} else if (assignedWorker.includes(\"chatgpt\")) {\n  modelName = \"GPT-5.1 (Paid)\";\n} else if (assignedWorker.includes(\"gemini\")) {\n  modelName = \"Gemini 3 Flash (Paid)\";\n}\n\nreturn {\n  json: {\n    packetID: packet.packetID,\n    issueId: issueData.issueId || packet.packetID,\n    title: issueData.title || \"No title\",\n    description: issueData.description || \"No description\",\n    acceptanceCriteria: issueData.acceptanceCriteria || \"\",\n    assignedWorker: packet.assignedWorker,\n    modelName: modelName,\n    _fullIssueData: issueData,\n    _originalPacket: packet\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        5168
      ],
      "id": "7b2f4b65-8533-4755-b4c9-cebd56198891",
      "name": "Extract Packet Data"
    },
    {
      "parameters": {
        "jsCode": "const packet = $input.item.json;\n\nconst workPrompt = `You are an AI software developer processing a development issue.\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\n沁ｯ ISSUE DETAILS\n\nIssue ID: ${packet.issueId}\nTitle: ${packet.title}\n\nDescription:\n${packet.description}\n\n${packet.acceptanceCriteria ? 'Acceptance Criteria:\\n' + packet.acceptanceCriteria + '\\n' : ''}\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\n沒 YOUR TASK\n\nPlease provide a complete implementation including:\n\n1. **Implementation**: Full code files with complete content (no placeholders!)\n2. **Testing**: Test cases and testing approach\n3. **Metadata**: Assumptions, dependencies, next steps\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\nIMPORTANT:\n- Write FULL, COMPLETE code (not snippets or TODOs)\n- Include all necessary imports and dependencies\n- Consider edge cases and error handling\n- Provide actual working code that can be used\n\n笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊絶武笊申n\nNow process this issue and provide your implementation:\n`;\n\nreturn {\n  json: {\n    ...packet,\n    workPrompt: workPrompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        5168
      ],
      "id": "d69dbad0-12e3-4007-b8b5-24e2905da916",
      "name": "Format Work Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.workPrompt }}",
        "options": {
          "systemMessage": "You are an expert software developer. Provide complete, working implementations. No placeholders, no TODOs - write full, production-ready code.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2912,
        5168
      ],
      "id": "4e986e33-ecf0-4d28-81cb-59157a794d00",
      "name": "Worker Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-20b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-20b"
        },
        "responsesApiEnabled": false,
        "options": {
          "timeout": 120000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2896,
        5376
      ],
      "id": "ef8aab0b-6d46-48f2-a3da-d1ae7533c8a9",
      "name": "GPT-OSS-20b Model",
      "credentials": {
        "openAiApi": {
          "id": "HE8StVq6t0epqs8Q",
          "name": "BEAST LMStudio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get packet data from Format Work Prompt node (has all the fields!)\nconst packet = $('Format Work Prompt').first().json;\nconst agentOutput = $json.output || \"No output generated\";\n\n// Get original packet data (has projectID, planRunID, etc.)\nconst originalPacket = packet._originalPacket || {};\n\n// Generate timestamp\nconst now = new Date();\nconst hours = String(now.getHours()).padStart(2, '0');\nconst minutes = String(now.getMinutes()).padStart(2, '0');\nconst seconds = String(now.getSeconds()).padStart(2, '0');\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst year = now.getFullYear();\n\n// Sanitize fields for filename (remove special chars, limit length)\nconst projectId = (originalPacket.projectID || 'NOPROJECT').replace(/[^a-zA-Z0-9-_ ]/g, '').substring(0, 30).trim().replace(/\\s+/g, '_');\nconst title = (packet.title || 'Untitled').replace(/[^a-zA-Z0-9-_ ]/g, '').substring(0, 50).trim().replace(/\\s+/g, '_');\nconst issueId = (packet.issueId || packet.packetID || 'UNKNOWN').replace(/[^a-zA-Z0-9-]/g, '_');\n\n// Filename: <projectID>-<title>-<issueID>-H_M_S-M-D-Y.md\nconst filename = `${title}-${issueId}-${hours}_${minutes}_${seconds}-${month}-${day}-${year}.md`;\n\n// Format markdown content with ALL metadata\nconst markdown = `# ${packet.issueId || 'UNKNOWN'} - ${packet.title || 'Untitled'}\n\n**Timestamp:** ${now.toISOString()}\n**Packet ID:** ${packet.packetID || originalPacket.packetID || 'N/A'}\n**Project ID:** ${originalPacket.projectID || 'N/A'}\n**Plan Run ID:** ${originalPacket.planRunID || 'N/A'}\n**Worker:** ${packet.modelName || packet.assignedWorker || 'GPT-OSS-20b'}\n**Issue IDs:** ${originalPacket.issueIDs || packet.issueId || 'N/A'}\n\n---\n\n## Issue Details\n\n**Title:** ${packet.title || 'No title'}\n\n**Description:**\n${packet.description || 'No description'}\n\n${packet.acceptanceCriteria ? '**Acceptance Criteria:**\\n' + packet.acceptanceCriteria + '\\n' : ''}\n\n---\n\n## Implementation Output\n\n${agentOutput}\n\n---\n\n## Metadata\n\n**Packet Data:**\n- Packet ID: ${packet.packetID || originalPacket.packetID || 'N/A'}\n- Project ID: ${originalPacket.projectID || 'N/A'}\n- Plan Run ID: ${originalPacket.planRunID || 'N/A'}\n- Assigned Worker: ${packet.assignedWorker || 'N/A'}\n- Model Used: ${packet.modelName || 'N/A'}\n- Issue ID: ${packet.issueId || 'N/A'}\n\n---\n\n*Generated by Claudia Code 2 - Packet Processor*\n*Processing completed at ${now.toISOString()}*\n`;\n\nreturn {\n  json: {\n    fileName: filename,\n    fileContent: markdown,\n    filePath: `/mnt/n8n-nas/packet_outputs/BEAST-${filename}`,\n    issueId: packet.issueId,\n    packetID: packet.packetID,\n    title: packet.title\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3184,
        5168
      ],
      "id": "56ebc894-ad8c-4b98-8941-7c045a7b6104",
      "name": "Format File Output"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "uY29FyKg9JFPZa9a",
          "mode": "list",
          "cachedResultName": "ClaudiaCodeIssuePackets",
          "cachedResultUrl": "/projects/CDNyPtsGxHdhfdhy/datatables/uY29FyKg9JFPZa9a"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1936,
        5136
      ],
      "id": "9121d566-be75-4891-aea8-cb6029f5eb4e",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Write file using Node.js fs module\nconst fs = require('fs');\nconst path = require('path');\n\nconst data = $input.item.json;\nconst filePath = data.filePath;\nconst content = data.fileContent;\n\n// Ensure directory exists\nconst dir = path.dirname(filePath);\nif (!fs.existsSync(dir)) {\n  fs.mkdirSync(dir, { recursive: true });\n}\n\n// Write file\nfs.writeFileSync(filePath, content, 'utf8');\n\nreturn {\n  json: {\n    success: true,\n    filePath: filePath,\n    fileName: data.fileName,\n    bytesWritten: Buffer.byteLength(content, 'utf8'),\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        5168
      ],
      "id": "92b2e4c6-a393-4adf-88f8-e3ee8a7c0b0a",
      "name": "Write File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.workPrompt }}",
        "options": {
          "systemMessage": "You are an expert software developer. Provide complete, working implementations. No placeholders, no TODOs - write full, production-ready code.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2944,
        5632
      ],
      "id": "32c061cb-a88f-4bdb-adf4-50ec3cf39182",
      "name": "Worker Agent1"
    },
    {
      "parameters": {
        "jsCode": "// Get packet data from Format Work Prompt node (has all the fields!)\nconst packet = $('Format Work Prompt1').first().json;\nconst agentOutput = $json.output || \"No output generated\";\n\n// Get original packet data (has projectID, planRunID, etc.)\nconst originalPacket = packet._originalPacket || {};\n\n// Generate timestamp\nconst now = new Date();\nconst hours = String(now.getHours()).padStart(2, '0');\nconst minutes = String(now.getMinutes()).padStart(2, '0');\nconst seconds = String(now.getSeconds()).padStart(2, '0');\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst year = now.getFullYear();\n\n// Sanitize fields for filename (remove special chars, limit length)\nconst projectId = (originalPacket.projectID || 'NOPROJECT').replace(/[^a-zA-Z0-9-_ ]/g, '').substring(0, 30).trim().replace(/\\s+/g, '_');\nconst title = (packet.title || 'Untitled').replace(/[^a-zA-Z0-9-_ ]/g, '').substring(0, 50).trim().replace(/\\s+/g, '_');\nconst issueId = (packet.issueId || packet.packetID || 'UNKNOWN').replace(/[^a-zA-Z0-9-]/g, '_');\n\n// Filename: <projectID>-<title>-<issueID>-H_M_S-M-D-Y.md\nconst filename = `${title}-${issueId}-${hours}_${minutes}_${seconds}-${month}-${day}-${year}.md`;\n\n// Format markdown content with ALL metadata\nconst markdown = `# ${packet.issueId || 'UNKNOWN'} - ${packet.title || 'Untitled'}\n\n**Timestamp:** ${now.toISOString()}\n**Packet ID:** ${packet.packetID || originalPacket.packetID || 'N/A'}\n**Project ID:** ${originalPacket.projectID || 'N/A'}\n**Plan Run ID:** ${originalPacket.planRunID || 'N/A'}\n**Worker:** ${packet.modelName || packet.assignedWorker || 'GPT-OSS-20b'}\n**Issue IDs:** ${originalPacket.issueIDs || packet.issueId || 'N/A'}\n\n---\n\n## Issue Details\n\n**Title:** ${packet.title || 'No title'}\n\n**Description:**\n${packet.description || 'No description'}\n\n${packet.acceptanceCriteria ? '**Acceptance Criteria:**\\n' + packet.acceptanceCriteria + '\\n' : ''}\n\n---\n\n## Implementation Output\n\n${agentOutput}\n\n---\n\n## Metadata\n\n**Packet Data:**\n- Packet ID: ${packet.packetID || originalPacket.packetID || 'N/A'}\n- Project ID: ${originalPacket.projectID || 'N/A'}\n- Plan Run ID: ${originalPacket.planRunID || 'N/A'}\n- Assigned Worker: ${packet.assignedWorker || 'N/A'}\n- Model Used: ${packet.modelName || 'N/A'}\n- Issue ID: ${packet.issueId || 'N/A'}\n\n---\n\n*Generated by Claudia Code 2 - Packet Processor*\n*Processing completed at ${now.toISOString()}*\n`;\n\nreturn {\n  json: {\n    fileName: filename,\n    fileContent: markdown,\n    filePath: `/mnt/n8n-nas/packet_outputs/BEDROOM-${filename}`,\n    issueId: packet.issueId,\n    packetID: packet.packetID,\n    title: packet.title\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        5664
      ],
      "id": "a4d91344-31bd-4156-b721-dce8349e186d",
      "name": "Format File Output1"
    },
    {
      "parameters": {
        "jsCode": "// Write file using Node.js fs module\nconst fs = require('fs');\nconst path = require('path');\n\nconst data = $input.item.json;\nconst filePath = data.filePath;\nconst content = data.fileContent;\n\n// Ensure directory exists\nconst dir = path.dirname(filePath);\nif (!fs.existsSync(dir)) {\n  fs.mkdirSync(dir, { recursive: true });\n}\n\n// Write file\nfs.writeFileSync(filePath, content, 'utf8');\n\nreturn {\n  json: {\n    success: true,\n    filePath: filePath,\n    fileName: data.fileName,\n    bytesWritten: Buffer.byteLength(content, 'utf8'),\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        5664
      ],
      "id": "93ddf38a-8818-4c06-bbae-791df7d7f2e9",
      "name": "Write File1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen/qwen3-vl-8b",
          "mode": "list",
          "cachedResultName": "qwen/qwen3-vl-8b"
        },
        "responsesApiEnabled": false,
        "options": {
          "timeout": 120000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2960,
        5872
      ],
      "id": "1d1608db-7d89-49fb-b587-776068d94ab6",
      "name": "bedroom quen3",
      "credentials": {
        "openAiApi": {
          "id": "FYFVsKzjVFK0h0V2",
          "name": "Bedroom LMStudio"
        }
      }
    }
  ],
  "connections": {
    "Process Each Packet": {
      "main": [
        [],
        [
          {
            "node": "Extract Packet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Packet Data": {
      "main": [
        [
          {
            "node": "Format Work Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Work Prompt": {
      "main": [
        [
          {
            "node": "Worker Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worker Agent": {
      "main": [
        [
          {
            "node": "Format File Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format File Output": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-OSS-20b Model": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start Processing": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Process Each Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File": {
      "main": [
        [
          {
            "node": "Process Each Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worker Agent1": {
      "main": [
        [
          {
            "node": "Format File Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format File Output1": {
      "main": [
        [
          {
            "node": "Write File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File1": {
      "main": [
        []
      ]
    },
    "bedroom quen3": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 1
}
