public/workflows/analysis/unified-claudiacode-processor.json
{"updatedAt":"2026-01-02T08:23:47.444Z","createdAt":"2026-01-02T08:23:47.444Z","id":"vsZH7emnHcUtApF8","name":"Unified ClaudiaCode Processor","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"node_manual_trigger_001207","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"path":"claudiacode/process","responseMode":"responseNode","options":{}},"id":"node_webhook_trigger_001207","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200]},{"parameters":{"tableId":"uY29FyKg9JFPZa9a","options":{}},"id":"node_get_pending_packets_001207","name":"Get Pending Packets","type":"n8n-nodes-base.n8nTables","typeVersion":1,"position":[300,100]},{"parameters":{"jsCode":"// Filter for pending packets only\nconst items = $input.all();\nconst pending = items.filter(item => {\n    const status = item.json.status || 'pending';\n    return status === 'pending' || status === 'ready';\n});\n\n// Limit batch size\nconst batchSize = 10;\nreturn pending.slice(0, batchSize);\n","mode":"runOnceForAllItems"},"id":"node_filter_pending_001207","name":"Filter Pending","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,100]},{"parameters":{"batchSize":1,"options":{}},"id":"node_process_each_packet_001207","name":"Process Each Packet","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,100]},{"parameters":{"jsCode":"// Extract and parse packet data\nconst item = $input.first();\nconst packet = item.json;\n\n// Parse packetJSON if it's a string\nlet packetData = packet.packetJSON;\nif (typeof packetData === 'string') {\n    try {\n        packetData = JSON.parse(packetData);\n    } catch (e) {\n        packetData = {};\n    }\n}\n\n// Parse issueIDs\nlet issueIds = packet.issueIDs || '[]';\nif (typeof issueIds === 'string') {\n    try {\n        issueIds = JSON.parse(issueIds);\n    } catch (e) {\n        issueIds = [];\n    }\n}\nconst issueId = Array.isArray(issueIds) && issueIds.length > 0 ? issueIds[0] : 'unknown';\n\n// Extract title - clean up markdown\nlet title = packetData.title || packetData.name || 'Untitled';\ntitle = title.replace(/^\\[.*?\\]\\s*/, '').replace(/[^a-zA-Z0-9\\s-]/g, '').trim();\n\nreturn [{\n    json: {\n        rowId: packet.id,\n        packetID: packet.packetID,\n        projectID: packet.projectID,\n        issueId: issueId,\n        issueIDs: issueIds,\n        title: title,\n        description: packetData.description || '',\n        acceptanceCriteria: packetData.acceptanceCriteria || '',\n        labels: packetData.labels || [],\n        priority: packetData.priority || 'medium',\n        assignedWorker: packet.assignedWorker || 'BEAST',\n        rawPacket: packetData\n    }\n}];\n","mode":"runOnceForAllItems"},"id":"node_extract_packet_data_001207","name":"Extract Packet Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,100]},{"parameters":{"jsCode":"// Build the work prompt for the agent\nconst packet = $input.first().json;\n\nconst prompt = \\`You are a senior software developer. Process this issue and provide a complete implementation.\n\n═══════════════════════════════════════════════════════════════════\n\nISSUE DETAILS\n\nIssue ID: \\${packet.issueId}\nTitle: \\${packet.title}\n\nDescription:\n\\${packet.description}\n\n\\${packet.acceptanceCriteria ? \\`Acceptance Criteria:\\n\\${packet.acceptanceCriteria}\\` : ''}\n\n═══════════════════════════════════════════════════════════════════\n\nYOUR TASK\n\nProvide a COMPLETE implementation including:\n\n1. **Full Code**: Complete, working code files (no placeholders or TODOs)\n2. **Tests**: Unit tests for the implementation\n3. **Documentation**: Brief explanation of the approach\n\nIMPORTANT:\n- Write COMPLETE, PRODUCTION-READY code\n- Include all necessary imports\n- Handle edge cases and errors\n- Provide actual working code\n\nFor each file, use this format:\n\\\\`\\\\`\\\\`filepath:path/to/file.ext\n// code here\n\\\\`\\\\`\\\\`\n\n═══════════════════════════════════════════════════════════════════\n\nBegin your implementation:\n\\`;\n\nreturn [{\n    json: {\n        ...packet,\n        prompt: prompt\n    }\n}];\n","mode":"runOnceForAllItems"},"id":"node_build_work_prompt_001207","name":"Build Work Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,100]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"beast_route","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedWorker }}","rightValue":"BEAST"}]},"renameOutput":true,"outputKey":"BEAST"},{"conditions":{"options":{"version":2,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"bedroom_route","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedWorker }}","rightValue":"BEDROOM"}]},"renameOutput":true,"outputKey":"BEDROOM"}]},"options":{}},"id":"node_route_to_agent_001207","name":"Route to Agent","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1300,100]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are a senior software developer with expertise in multiple programming languages and frameworks.\nYour task is to generate high-quality, production-ready code based on the issue description provided.\n\nGuidelines:\n- Write complete, working code - no placeholders or TODOs\n- Include proper error handling\n- Follow best practices for the language/framework\n- Include necessary imports\n- Write clean, readable code with meaningful variable names\n\nAlways output the complete file contents with clear file paths."}},"id":"node_worker_agent_beast_001207","name":"Worker Agent BEAST","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1500,0],"credentials":{"ollamaApi":{"id":"HE8StVq6t0epqs8Q","name":"LMStudio Worker Agent BEAST"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are a senior software developer. Generate complete, production-ready code based on the issue description.\n\nRequirements:\n- Complete implementation with no placeholders\n- Proper error handling\n- Clear file structure\n- Include tests where appropriate"}},"id":"node_worker_agent_bedroom_001207","name":"Worker Agent BEDROOM","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1500,200],"credentials":{"ollamaApi":{"id":"FYFVsKzjVFK0h0V2","name":"LMStudio Worker Agent BEDROOM"}}},{"parameters":{"jsCode":"// Merge output from either worker\nconst item = $input.first();\nconst packetData = $('Extract Packet Data').item.json;\n\nreturn [{\n    json: {\n        ...packetData,\n        generatedCode: item.json.output || item.json.text || JSON.stringify(item.json),\n        workerUsed: packetData.assignedWorker,\n        generatedAt: new Date().toISOString()\n    }\n}];\n","mode":"runOnceForAllItems"},"id":"node_merge_worker_output_001207","name":"Merge Worker Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,100]},{"parameters":{"jsCode":"// Build prompt for quality validation\nconst item = $input.first().json;\n\nconst prompt = \\`Review this generated code for quality:\n\nISSUE: \\${item.issueId} - \\${item.title}\n\nGENERATED CODE:\n\\${item.generatedCode}\n\nTASK:\n1. Score the code quality from 0-100\n2. List any issues found\n3. Provide your verdict: APPROVE (score >= 80) or NEEDS_WORK (score < 80)\n\nRespond in this format:\nQUALITY_SCORE: [number]\n\nISSUES_FOUND:\n- [issue 1]\n- [issue 2]\n\nVERDICT: [APPROVE or NEEDS_WORK]\n\\`;\n\nreturn [{\n    json: {\n        ...item,\n        prompt: prompt\n    }\n}];\n","mode":"runOnceForAllItems"},"id":"node_build_quality_prompt_001207","name":"Build Quality Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,100]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are a senior code reviewer. Evaluate code quality objectively.\n\nScore guidelines:\n- 90-100: Excellent, production-ready\n- 70-89: Good with minor improvements\n- 50-69: Needs revision\n- 0-49: Major issues, rewrite needed\n\nBe strict but fair. Focus on:\n- Correctness\n- Error handling\n- Code organization\n- Best practices"}},"id":"node_quality_validator_001207","name":"Quality Validator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2100,100],"credentials":{"ollamaApi":{"id":"FYFVsKzjVFK0h0V2","name":"LMStudio Worker Agent BEDROOM"}}},{"parameters":{"jsCode":"// Parse the validation response\nconst item = $input.first();\nconst packetData = $('Extract Packet Data').item.json;\nconst validation = item.json.output || item.json.text || '';\n\n// Extract score\nconst scoreMatch = validation.match(/QUALITY_SCORE:\\s*(\\d+)/i);\nconst score = scoreMatch ? parseInt(scoreMatch[1]) : 50;\n\n// Extract verdict\nconst verdictMatch = validation.match(/VERDICT:\\s*(APPROVE|NEEDS_WORK)/i);\nconst verdict = verdictMatch ? verdictMatch[1] : (score >= 80 ? 'APPROVE' : 'NEEDS_WORK');\n\nreturn [{\n    json: {\n        ...packetData,\n        generatedCode: $('Merge Worker Output').item.json.generatedCode,\n        qualityScore: score,\n        qualityVerdict: verdict,\n        qualityFeedback: validation,\n        validatedAt: new Date().toISOString()\n    }\n}];\n","mode":"runOnceForAllItems"},"id":"node_parse_validation_result_001207","name":"Parse Validation Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2300,100]},{"parameters":{"jsCode":"// Save the generated code to file\nconst fs = require('fs');\nconst path = require('path');\nconst item = $input.first().json;\n\n// Build filename\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').slice(0, 19);\nconst safeName = item.title.replace(/[^a-zA-Z0-9]/g, '_').slice(0, 50);\nconst filename = \\`\\${item.issueId}-\\${safeName}-\\${timestamp}.md\\`;\n\n// Output directory\nconst outputDir = '/mnt/n8n-nas/n8n_dev_tool/ClaudiaCode';\n\n// Build file content\nconst content = \\`# \\${item.issueId}: \\${item.title}\n\n**Generated:** \\${new Date().toISOString()}\n**Quality Score:** \\${item.qualityScore}/100\n**Verdict:** \\${item.qualityVerdict}\n**Worker:** \\${item.workerUsed || 'unknown'}\n\n---\n\n## Generated Code\n\n\\${item.generatedCode}\n\n---\n\n## Quality Review\n\n\\${item.qualityFeedback}\n\\`;\n\n// Write file\nconst filepath = path.join(outputDir, filename);\nfs.writeFileSync(filepath, content);\n\nreturn [{\n    json: {\n        ...item,\n        savedTo: filepath,\n        filename: filename\n    }\n}];\n","mode":"runOnceForAllItems"},"id":"node_save_output_file_001207","name":"Save Output File","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,100]},{"parameters":{"jsCode":"// Prepare update for data table\nconst item = $input.first().json;\n\nreturn [{\n    json: {\n        id: item.rowId,\n        status: item.qualityVerdict === 'APPROVE' ? 'completed' : 'needs_review',\n        processedAt: new Date().toISOString(),\n        qualityScore: item.qualityScore.toString(),\n        outputFile: item.filename\n    }\n}];\n","mode":"runOnceForAllItems"},"id":"node_prepare_status_update_001207","name":"Prepare Status Update","type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,100]},{"parameters":{"operation":"update","tableId":"uY29FyKg9JFPZa9a","options":{}},"id":"node_update_packet_status_001207","name":"Update Packet Status","type":"n8n-nodes-base.n8nTables","typeVersion":1,"position":[2900,100]},{"parameters":{"jsCode":"// Log the operation to file\nconst fs = require('fs');\nconst item = $input.first().json;\n\nconst logEntry = {\n    timestamp: new Date().toISOString(),\n    packetID: item.packetID,\n    issueId: item.issueId,\n    title: item.title,\n    status: item.qualityVerdict === 'APPROVE' ? 'completed' : 'needs_review',\n    qualityScore: item.qualityScore,\n    outputFile: item.filename || 'unknown'\n};\n\n// Append to log file\nconst logFile = '/mnt/n8n-nas/n8n_dev_tool/logs/unified_workflow.log';\nfs.appendFileSync(logFile, JSON.stringify(logEntry) + '\\n');\n\nreturn [{\n    json: {\n        success: true,\n        message: \\`Processed \\${item.issueId} - Score: \\${item.qualityScore}\\`,\n        ...logEntry\n    }\n}];\n","mode":"runOnceForAllItems"},"id":"node_log_operation_001207","name":"Log Operation","type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,100]},{"parameters":{"jsCode":"// Signal to continue processing\nreturn $input.all();\n","mode":"runOnceForAllItems"},"id":"node_continue_to_next_001207","name":"Continue to Next","type":"n8n-nodes-base.code","typeVersion":2,"position":[3300,100]}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Pending Packets","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Get Pending Packets","type":"main","index":0}]]},"Get Pending Packets":{"main":[[{"node":"Filter Pending","type":"main","index":0}]]},"Filter Pending":{"main":[[{"node":"Process Each Packet","type":"main","index":0}]]},"Process Each Packet":{"main":[[{"node":"Extract Packet Data","type":"main","index":0}],[]]},"Extract Packet Data":{"main":[[{"node":"Build Work Prompt","type":"main","index":0}]]},"Build Work Prompt":{"main":[[{"node":"Route to Agent","type":"main","index":0}]]},"Route to Agent":{"main":[[{"node":"Worker Agent BEAST","type":"main","index":0}],[{"node":"Worker Agent BEDROOM","type":"main","index":0}]]},"Worker Agent BEAST":{"main":[[{"node":"Merge Worker Output","type":"main","index":0}]]},"Worker Agent BEDROOM":{"main":[[{"node":"Merge Worker Output","type":"main","index":0}]]},"Merge Worker Output":{"main":[[{"node":"Build Quality Prompt","type":"main","index":0}]]},"Build Quality Prompt":{"main":[[{"node":"Quality Validator","type":"main","index":0}]]},"Quality Validator":{"main":[[{"node":"Parse Validation Result","type":"main","index":0}]]},"Parse Validation Result":{"main":[[{"node":"Save Output File","type":"main","index":0}]]},"Save Output File":{"main":[[{"node":"Prepare Status Update","type":"main","index":0}]]},"Prepare Status Update":{"main":[[{"node":"Update Packet Status","type":"main","index":0}]]},"Update Packet Status":{"main":[[{"node":"Log Operation","type":"main","index":0}]]},"Log Operation":{"main":[[{"node":"Continue to Next","type":"main","index":0}]]},"Continue to Next":{"main":[[{"node":"Process Each Packet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"042d4e2f-6929-4580-8290-fe3ea4227843","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T08:23:47.449Z","createdAt":"2026-01-02T08:23:47.449Z","role":"workflow:owner","workflowId":"vsZH7emnHcUtApF8","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[],"activeVersion":null}