public/workflows/orangepi/57dhqmYizNAIFbkZ.json
{"updatedAt":"2025-12-23T05:00:47.000Z","createdAt":"2025-12-23T03:09:34.534Z","id":"57dhqmYizNAIFbkZ","name":"Claudia Code - Production","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"public":true,"initialMessages":"Welcome to the Staff Engineer Suite. Fetching active projects from Linear...","options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[3232,672],"id":"ddd593e5-2dd3-4b09-bae0-3e44245a0f91","name":"Chat Trigger","webhookId":"5b377a5f-e656-4e9e-87bf-74abed2d9023"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state status { name } } } }\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,672],"id":"defa7f5e-91e8-445d-aeb2-38a736b452a0","name":"Get Linear Projects","credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"options":{"systemMessage":"=You are the Receptionist for an Agentic AI Dev System. \n\nCONTEXT:\nAvailable Projects: {{ JSON.stringify($node[\"Get Linear Projects\"].data.data.projects.nodes) }}\n\nYOUR GOAL:\n1. Greet the user professionally.\n2. List the projects above in a numbered, linear format (e.g., 1. Project A, 2. Project B).\n3. Ask the user which project they would like to work on.\n4. If they select a project, confirm the selection and hand off to the Orchestrator.\n\nSTRICT RULES:\n- Use Markdown for the list.\n- Do not perform any coding."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3728,672],"id":"8a827b3c-c480-41fa-bc40-78b9f975fdfe","name":"Project Receptionist"},{"parameters":{"options":{"systemMessage":"=You are the Staff Engineer AI Orchestrator. You manage high-stakes code implementations across uniform codebases.\n\nINFRASTRUCTURE:\n- Git Root: /mnt/n8n-nas/git_repos/{{$node[\"Project Receptionist\"].json.output.selectedProjectName}}\n- Workspace: /mnt/n8n-nas/agent_storage/{{$node[\"Project Receptionist\"].json.output.selectedProjectName}}\n\nORCHESTRATION STRATEGY:\n1. TIERED SUB-AGENTS: You have access to specialized model tools. \n   - Call 'FREE_PRIMARY' for initial coding attempts.\n   - Call 'FREE_SECONDARY' if primary is busy or fails simple logic.\n   - Call 'PAID_REASONING' for complex refactors or if tests fail >2 times.\n   - Call 'PAID_VISION' for UI/Image analysis.\n\n2. SENIOR PRACTICES:\n   - Branch: ai/{{issue_id}}. Commit: fix(scope): description.\n   - Log every operation to 'session.log' in Workspace.\n   - Post status updates to Linear issue comments regularly.\n\n3. AUTONOMOUS LOOP:\n   - Explore repo via SSH.\n   - Generate code using tiered agents.\n   - Run tests. Fix up to 3 times before escalation.\n\nDecide which tiered agent is best suited for each sub-task."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[4176,672],"id":"68c7650d-40c4-4d7f-8a78-dbb229206d24","name":"Orchestrator AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":1,"position":[3520,976],"id":"450b59bb-69ca-457f-8e27-5ff959a2b8b8","name":"FREE_PRIMARY_CODING"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":1,"position":[3728,976],"id":"324b18ee-d5c7-4625-a5d0-b5713783ff71","name":"FREE_SECONDARY_CODING"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":1,"position":[3920,976],"id":"3b07c106-84ef-419c-8457-01e5d3259381","name":"PAID_REASONING_AGENT"},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[3520,1120],"id":"a512f86e-962e-4c99-8a44-64c0d528a24c","name":"Beast DeepSeek","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list","cachedResultName":"qwen/qwen3-vl-8b"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[3728,1120],"id":"6abbf40b-2a5c-42a7-ad19-cace55a928c1","name":"Bedroom Qwen","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[3920,1120],"id":"6dc10da5-b706-421d-ac62-094f1c992bbb","name":"ChatGPT 4o","credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"parameters":{"command":"=cd /mnt/n8n-nas/git_repos/{{$node[\"Project Receptionist\"].json.output.selectedProjectName}} && {{ $node[\"Orchestrator AI Agent\"].json.command }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[4432,576],"id":"31322fb8-e4c2-462e-a090-96eab7c91f4f","name":"Execute SSH Command","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.1,"position":[3968,480],"id":"24266653-e4af-42c0-99ed-695ef49ad326","name":"Staff Dev Memory"}],"connections":{"Chat Trigger":{"main":[[{"node":"Get Linear Projects","type":"main","index":0}]]},"Get Linear Projects":{"main":[[{"node":"Project Receptionist","type":"main","index":0}]]},"Project Receptionist":{"main":[[{"node":"Orchestrator AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"626446b9-3f01-439d-9e08-bcf3d093531f","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-23T03:09:34.538Z","createdAt":"2025-12-23T03:09:34.538Z","role":"workflow:owner","workflowId":"57dhqmYizNAIFbkZ","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[],"activeVersion":null}