public/workflows/orangepi/7F5rMVM0oDMKFQ69.json
{"updatedAt":"2025-12-21T04:42:01.000Z","createdAt":"2025-12-21T01:15:59.237Z","id":"7F5rMVM0oDMKFQ69","name":"LMStudio Agentic Dev Tools - WIDESCREEN COMPLETE","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## 📋 INITIALIZATION & PROJECT SELECTION\n\nSelect Linear project → Fetch all issues → Prepare workspace\n• Linear GraphQL API for projects with \"n8n\" label\n• Git clone/pull repository to /mnt/n8n-nas/git_repos/\n• Create agent storage directories\n• Check for resume state from previous session","height":450,"width":3418,"color":4},"id":"c3ceab1c-f12f-462b-b125-b68c9ddf8858","name":"Sticky Note - Init","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8784,-9232]},{"parameters":{"content":"## 🔍 ISSUE FILTERING & PRIORITIZATION\n\nFilter & sort issues for AI processing\n• Must have \"Issue For Ai\" label\n• Must not have \"Task For Bill\" label\n• Sort by Linear priority (Urgent → High → Medium → Low)\n• Then by creation date (older first)\n• Display summary to user","height":400,"width":2488,"color":3},"id":"6298cc46-33ad-4d14-ae6c-069ed47d8553","name":"Sticky Note - Filter","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8784,-8768]},{"parameters":{"content":"## 🤖 AUTONOMOUS PROCESSING LOOP\n\nFor each issue: Branch → Analyze → Implement → Test → Commit → Merge → Update Linear\n\n**Retry Logic:** Local LM (×3) → Claude Code → Cloud APIs (golden φ) → Escalate to Bill\n**Quality Gates:** ✓ Linting  ✓ Tests  ✓ Self-review  ✓ Git operations","height":850,"width":5000,"color":5},"id":"efc5bf0d-994c-4cd2-ae92-beda5d6dcd63","name":"Sticky Note - Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8784,-8368]},{"parameters":{"options":{"responseMode":"responseNodes"}},"id":"2eac71c9-60df-4f3a-8389-e87b175c1321","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[9296,-9056],"webhookId":"8ddafc3b-b297-4bd5-84f0-acdcab93194a"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"  {\n    \"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name description state } } }\"\n  }","options":{}},"id":"c4f4fad0-e3a0-4a9d-b9fb-b7fdf3607a7f","name":"Get Linear Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9584,-9056],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const projects = $input.item.json.data.projects.nodes;\nlet list = '📋 **Projects:**\\n\\n';\nprojects.forEach((p, i) => {\n  list += `**${i + 1}.** ${p.name}\\n`;\n});\nlist += '\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\nSelect number or name:';\nreturn {json: {chatMessage: list, projectsData: projects}};"},"id":"5845fa46-84c7-460a-a2cf-6730270f6035","name":"Format Project List","type":"n8n-nodes-base.code","typeVersion":2,"position":[9888,-9056]},{"parameters":{"message":"={{ $json.chatMessage }}","options":{}},"id":"858d4a5e-3283-4f1a-850c-334a3eaf1e42","name":"Show Projects","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[10192,-9056]},{"parameters":{"jsCode":"const userInput = $input.item.json.chatInput.toLowerCase().trim();\nconst projects = $('Format Project List').item.json.projectsData;\nlet selectedProject = null;\nconst numberInput = parseInt(userInput);\nif (!isNaN(numberInput) && numberInput > 0 && numberInput <= projects.length) {\n  selectedProject = projects[numberInput - 1];\n} else {\n  selectedProject = projects.find(project => project.name.toLowerCase().includes(userInput));\n}\nif (!selectedProject) throw new Error(`❌ Project not found`);\nconst repoName = selectedProject.name.toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9\\-]/g, '');\nreturn {\n  json: {\n    projectId: selectedProject.id,\n    projectName: selectedProject.name,\n    repoName: repoName,\n    repoPath: `/mnt/n8n-nas/git_repos/${repoName}`,\n    gitlabUrl: `http://192.168.245.11/gtechsd/${repoName}.git`,\n    agentStoragePath: `/mnt/n8n-nas/agent_storage/${repoName}`,\n    sessionStartTime: new Date().toISOString()\n  }\n};"},"id":"c2021c24-5f87-47a7-88ce-707e1255730d","name":"Extract Project Selection","type":"n8n-nodes-base.code","typeVersion":2,"position":[10496,-9056]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"query($projectId: String!) { project(id: $projectId) { id name issues(filter: { state: { type: { nin: [\\\"completed\\\", \\\"canceled\\\"] } } } first: 100) { nodes { id identifier title description state { name type } priority assignee { name } labels { nodes { name } } createdAt updatedAt url } } } }\", \"variables\": {\"projectId\": \"{{ $json.projectId }}\"}}","options":{}},"id":"ad950d68-4d33-4308-90a5-bb0cac9154a4","name":"Get Project Issues","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10784,-9056],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst fs = require('fs');\nconst repoPath = $input.item.json.repoPath;\nconst gitlabUrl = $input.item.json.gitlabUrl;\nconst gitlabUser = 'gtechsd';\nconst gitlabPass = \"I3*c|913$'2gwsW?dEFk\";\nconsole.log('📂', repoPath);\nconsole.log('🔗', gitlabUrl);\n\nlet result = {repoPath, gitlabUrl, operation: '', existed: false};\ntry {\n  if (fs.existsSync(repoPath)) {\n    console.log('📂 Repo exists - pulling...');\n    execSync('git checkout main', {cwd: repoPath, encoding: 'utf8'});\n    execSync('git pull origin main', {cwd: repoPath, encoding: 'utf8'});\n    result.operation = 'pull';\n    result.existed = true;\n  } else {\n    console.log('📦 Cloning repo...');\n    const parentDir = repoPath.substring(0, repoPath.lastIndexOf('/'));\n    if (!fs.existsSync(parentDir)) fs.mkdirSync(parentDir, {recursive: true});\n    const credHelper = `/tmp/git-cred-${Date.now()}.sh`;\n    fs.writeFileSync(credHelper, `#!/bin/sh\\necho \"username=${gitlabUser}\"\\necho \"password=${gitlabPass}\"\\n`);\n    fs.chmodSync(credHelper, 0o755);\n    execSync(`git -c credential.helper=${credHelper} clone ${gitlabUrl} ${repoPath}`, {cwd: parentDir, encoding: 'utf8', timeout: 120000});\n    fs.unlinkSync(credHelper);\n    result.operation = 'clone';\n  }\n  let commitSha = 'none', branch = 'main';\n  try {\n    commitSha = execSync('git rev-parse HEAD', {cwd: repoPath, encoding: 'utf8'}).trim();\n    branch = execSync('git branch --show-current', {cwd: repoPath, encoding: 'utf8'}).trim() || 'main';\n  } catch (e) {\n    console.log('⚠️ Empty repo');\n    commitSha = 'empty';\n  }\n  result.success = true;\n  result.currentBranch = branch;\n  result.currentCommit = commitSha;\n  console.log('✅ Ready!');\n} catch (error) {\n  result.success = false;\n  result.error = error.message;\n  throw new Error(`Git failed: ${error.message}`);\n}\nreturn {\n  json: {\n    ...result,\n    projectId: $input.item.json.projectId,\n    projectName: $input.item.json.projectName,\n    repoName: $input.item.json.repoName,\n    agentStoragePath: $input.item.json.agentStoragePath\n  }\n};"},"id":"3dbf95f5-de4a-4d0d-8aab-a00b3a44c0b0","name":"Clone or Pull Repository","type":"n8n-nodes-base.code","typeVersion":2,"position":[11088,-9056]},{"parameters":{"jsCode":"const fs = require('fs');\nconst agentStoragePath = $input.item.json.agentStoragePath;\nlet result = {created: false, existed: false};\ntry {\n  const dirs = [\n    agentStoragePath,\n    `${agentStoragePath}/issues`,\n    `${agentStoragePath}/context`,\n    `${agentStoragePath}/sessions`,\n    `${agentStoragePath}/temp`\n  ];\n  let createdDirs = [];\n  dirs.forEach(dir => {\n    if (!fs.existsSync(dir)) {\n      fs.mkdirSync(dir, {recursive: true});\n      createdDirs.push(dir.split('/').pop());\n    }\n  });\n  const configPath = `${agentStoragePath}/config.json`;\n  const config = {\n    projectName: $input.item.json.projectName,\n    projectId: $input.item.json.projectId,\n    repoPath: $input.item.json.repoPath,\n    safetyLimits: {maxRuntimeMinutes: 240, maxIssuesPerRun: 20}\n  };\n  fs.writeFileSync(configPath, JSON.stringify(config, null, 2));\n  result.created = createdDirs.length > 0;\n  result.existed = createdDirs.length === 0;\n  result.createdDirs = createdDirs;\n} catch (error) {\n  result.error = error.message;\n  throw new Error(`Storage setup failed: ${error.message}`);\n}\nreturn {json: {...result, ...$input.item.json}};"},"id":"81959820-df39-4164-bbe2-c849a2d5bfd6","name":"Create Agent Storage","type":"n8n-nodes-base.code","typeVersion":2,"position":[11392,-9056]},{"parameters":{"jsCode":"const fs = require('fs');\nconst agentStoragePath = $input.item.json.agentStoragePath;\nconst resumeFile = `${agentStoragePath}/sessions/last_session.json`;\nlet resumeData = {hasResumeState: false, resumeIssueId: null, resumeAttempt: 0};\ntry {\n  if (fs.existsSync(resumeFile)) {\n    const data = JSON.parse(fs.readFileSync(resumeFile, 'utf8'));\n    const ageMinutes = (Date.now() - new Date(data.timestamp)) / 60000;\n    if (ageMinutes < 480) {\n      resumeData.hasResumeState = true;\n      resumeData.resumeIssueId = data.issueId;\n      resumeData.resumeAttempt = data.attemptCount || 0;\n    }\n  }\n} catch (e) {\n  console.log('No valid resume state');\n}\nreturn {json: {...resumeData, ...$input.item.json}};"},"id":"945b5a98-9c55-447f-96bc-95ba03534e95","name":"Check Resume State","type":"n8n-nodes-base.code","typeVersion":2,"position":[11696,-9056]},{"parameters":{"jsCode":"const allIssues = $input.item.json.data.issues.nodes;\nconst aiIssues = allIssues.filter(issue => {\n  const labels = issue.labels?.nodes || [];\n  const hasAILabel = labels.some(l => l.name === 'Issue For Ai');\n  const isOpen = issue.state?.type === 'started' || issue.state?.type === 'unstarted';\n  const notEscalated = !labels.some(l => l.name === 'Task For Bill');\n  return hasAILabel && isOpen && notEscalated;\n});\nreturn {json: {aiIssues, totalIssues: allIssues.length, aiIssueCount: aiIssues.length, allIssues}};"},"id":"06e068ca-2d32-420e-9e2a-bde968d62339","name":"Filter AI Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[9440,-8608]},{"parameters":{"jsCode":"const issues = $input.item.json.aiIssues || [];\nconst sorted = issues.sort((a, b) => {\n  if (a.priority !== b.priority) return a.priority - b.priority;\n  return new Date(a.createdAt) - new Date(b.createdAt);\n});\nreturn sorted.map(issue => ({json: issue}));"},"id":"ae2c19ea-abcc-4fa3-8a10-bb6eb36a4e3b","name":"Sort by Priority","type":"n8n-nodes-base.code","typeVersion":2,"position":[9744,-8608]},{"parameters":{"jsCode":"const issues = $input.item.json.aiIssues || [];\nconst total = $input.item.json.totalIssues || 0;\nlet summary = `\\n📊 **Issue Queue:**\\n\\n`;\nsummary += `Total: ${total} | AI-Ready: ${issues.length}\\n\\n`;\nif (issues.length === 0) {\n  summary += '✅ No AI issues in queue\\n\\n';\n  summary += '💬 Monitoring for new issues...';\n} else {\n  issues.slice(0, 5).forEach((issue, i) => {\n    summary += `**${i + 1}.** ${issue.identifier}: ${issue.title}\\n`;\n    summary += `   Priority: ${issue.priority} | Created: ${new Date(issue.createdAt).toLocaleDateString()}\\n\\n`;\n  });\n  if (issues.length > 5) summary += `...and ${issues.length - 5} more\\n`;\n}\nreturn {json: {...$input.item.json, chatMessage: summary}};"},"id":"9235332a-a283-46dc-b0b6-6088e0caa531","name":"Show Issue Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[10048,-8608]},{"parameters":{"message":"={{ $json.chatMessage }}","options":{}},"id":"9998a74f-0218-468c-8bda-4f3cd626008c","name":"Display Summary & Get Command","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[10352,-8608]},{"parameters":{"options":{}},"id":"2892eabf-22a9-4813-aea5-8f7b5f4c70e5","name":"Loop Issues","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[10640,-8608]},{"parameters":{"jsCode":"const issue = $input.item.json;\nconst fs = require('fs');\nconst contextPath = `${$input.item.json.agentStoragePath}/issues/${issue.identifier}`;\nif (!fs.existsSync(contextPath)) fs.mkdirSync(contextPath, {recursive: true});\nconst contextFile = `${contextPath}/context.json`;\nconst context = {\n  issueId: issue.id,\n  identifier: issue.identifier,\n  title: issue.title,\n  description: issue.description,\n  priority: issue.priority,\n  labels: issue.labels?.nodes?.map(l => l.name) || [],\n  startedAt: new Date().toISOString(),\n  attemptCount: 0\n};\nfs.writeFileSync(contextFile, JSON.stringify(context, null, 2));\nreturn {json: {issue, issueId: issue.id, issueIdentifier: issue.identifier, issueTitle: issue.title, issueDescription: issue.description, contextPath, contextFile}};"},"id":"33d4910f-7fcf-4f98-b1ac-39eb443b0317","name":"Initialize Issue Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[9120,-7968]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = `ai-issue-${$input.item.json.issueIdentifier}`;\ntry {\n  execSync('git checkout main', {cwd: repoPath, encoding: 'utf8'});\n  execSync('git pull origin main', {cwd: repoPath, encoding: 'utf8'});\n  execSync(`git checkout -b ${branchName}`, {cwd: repoPath, encoding: 'utf8'});\n} catch (error) {\n  throw new Error(`Branch creation failed: ${error.message}`);\n}\nreturn {json: {...$input.item.json, branchCreated: true, branchName}};"},"id":"ec33c406-2ffd-40b3-8ac7-0b2e080f150e","name":"Create Git Branch","type":"n8n-nodes-base.code","typeVersion":2,"position":[9376,-7968]},{"parameters":{"url":"http://localhost:1234/v1/models","options":{"timeout":5000}},"id":"73d64c16-ef39-4b30-8f42-b331a0e1a98a","name":"Check Primary LM Server","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9664,-8336]},{"parameters":{"url":"http://192.168.27.182:1234/v1/models","options":{"timeout":5000}},"id":"0fe7ec5f-dedc-4778-939b-5781a3008ae5","name":"Check Secondary LM Server","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9664,-8128]},{"parameters":{"jsCode":"const complexity = $input.item.json.issueComplexity || 'medium';\nconst servers = [\n  {name: 'Primary (localhost)', url: 'http://localhost:1234/v1', model: 'local-model', priority: 1},\n  {name: 'GTX 2080', url: 'http://192.168.27.182:1234/v1', model: 'local-model', priority: 2}\n];\nlet selected = servers[0];\nif (complexity === 'high' || complexity === 'very-high') {\n  selected = servers.find(s => s.name.includes('GTX')) || servers[0];\n}\nreturn {json: {...$input.item.json, selectedServer: selected, lmServerUrl: selected.url, lmModel: selected.model}};"},"id":"3cf81ae3-432d-4db3-a292-bd9bcdbbda6e","name":"Select Optimal Server","type":"n8n-nodes-base.code","typeVersion":2,"position":[9968,-8224]},{"parameters":{"promptType":"define","text":"=Analyze this issue for implementation:\n\n**Issue:** {{ $json.issueIdentifier }} - {{ $json.issueTitle }}\n**Priority:** {{ $json.issuePriority }}\n**Description:**\n{{ $json.issueDescription }}\n\n**Repository:** {{ $json.repoPath }}\n**Branch:** {{ $json.branchName }}\n\nProvide detailed analysis with:\n1. Requirements breakdown\n2. Complexity assessment (Simple/Medium/Complex)\n3. Step-by-step implementation plan\n4. Files to modify\n5. Potential blockers\n6. Can you handle this autonomously? (YES/NO)\n\nIf NO, explain why human intervention is needed.","options":{}},"id":"23374acb-dc98-4a6c-b665-dc454abbc971","name":"AI Agent - Analyze & Plan","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[10272,-8224],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node with LM Studio credentials"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.output }}","operation":"contains","value2":"Can I handle this autonomously? YES"}]},"options":{}},"id":"26d0f61b-b071-467c-b4d7-bb29d0d9bc55","name":"Self-Triage Decision","type":"n8n-nodes-base.if","typeVersion":2,"position":[10560,-8224]},{"parameters":{"promptType":"define","text":"=Implement the solution for {{ $json.issueIdentifier }}: {{ $json.issueTitle }}\n\n**Plan from analysis:**\n{{ $('AI Agent - Analyze & Plan').item.json.output }}\n\n**Repository:** {{ $json.repoPath }}\n**Branch:** {{ $json.branchName }}\n\nWrite production-ready code following existing patterns. Ensure all tests will pass.","options":{}},"id":"0cfb1ada-dde3-4ed9-a9cd-0d36d9b7bac5","name":"AI Agent - Implement","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[10864,-8224],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node with LM Studio credentials"},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst fs = require('fs');\nconst repoPath = $input.item.json.repoPath;\nconst packageJsonPath = `${repoPath}/package.json`;\nif (!fs.existsSync(packageJsonPath)) {\n  return {json: {...$input.item.json, testsRan: false, testsPassed: true, testOutput: 'No tests configured'}};\n}\nconst packageJson = JSON.parse(fs.readFileSync(packageJsonPath, 'utf8'));\nif (!packageJson.scripts || !packageJson.scripts.test) {\n  return {json: {...$input.item.json, testsRan: false, testsPassed: true, testOutput: 'No test script'}};\n}\ntry {\n  const output = execSync('npm test', {cwd: repoPath, encoding: 'utf8', timeout: 300000});\n  return {json: {...$input.item.json, testsRan: true, testsPassed: true, testOutput: output}};\n} catch (error) {\n  return {json: {...$input.item.json, testsRan: true, testsPassed: false, testOutput: error.message}};\n}"},"id":"6b197543-28f0-4177-9c12-5c4e8496bb24","name":"Run Tests","type":"n8n-nodes-base.code","typeVersion":2,"position":[11168,-8224]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.testsPassed }}","value2":true}]},"options":{}},"id":"599c3c00-3e34-499a-9d1d-80d7d9d104d8","name":"Tests Passed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[11472,-8224]},{"parameters":{"jsCode":"const currentAttempt = $input.item.json.attemptCount || 0;\nconst attemptCount = currentAttempt + 1;\nconst maxAttempts = 3;\nconst shouldEscalate = attemptCount >= maxAttempts;\nreturn {json: {...$input.item.json, attemptCount, shouldEscalate, attemptsRemaining: maxAttempts - attemptCount}};"},"id":"c339bf2f-3558-4001-bd0b-f0a17d28026d","name":"Increment Attempt Counter","type":"n8n-nodes-base.code","typeVersion":2,"position":[11472,-7936]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.attemptCount }}","operation":"smaller","value2":"={{ $json.maxLocalAttempts }}"}]},"options":{}},"id":"824b7cfa-2ebb-4404-ace1-5d4136cd8213","name":"Max Attempts Reached?","type":"n8n-nodes-base.if","typeVersion":2,"position":[11168,-7936]},{"parameters":{"promptType":"define","text":"=Tests failed for {{ $json.issueIdentifier }}. Fix the implementation.\n\n**Attempt:** {{ $json.attemptCount }} of {{ $json.maxLocalAttempts }}\n\n**Test Output:**\n{{ $json.testOutput }}\n\n**Error:**\n{{ $json.testError }}\n\nAnalyze the failures and provide corrected code.","options":{}},"id":"096b07e7-917d-4ad6-b8f5-4e6f69fee87d","name":"AI Agent - Fix Tests","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[10848,-7968],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation($issueId: String!, $comment: String!) { commentCreate(input: { issueId: $issueId, body: $comment }) { success } }\", \"variables\": {\"issueId\": \"{{ $json.issue.id }}\", \"comment\": \"⚠️ **AI Agent Escalation**\\n\\nCannot handle autonomously.\\n\\nReason: {{ $json.escalationReason || 'All attempts exhausted' }}\\n\\nAttempts: {{ $json.attemptCount }}\\n\\nLogs: {{ $json.issueStoragePath }}\"}}","options":{}},"id":"37123d18-d7c7-41b6-b472-bb9c475efbe8","name":"Escalate to Human","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9360,-7632],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\nconst commitMsg = `Fix: ${$input.item.json.issueTitle}\\n\\nImplemented by AI Agent\\nIssue: ${$input.item.json.issueIdentifier}`;\ntry {\n  execSync('git add .', {cwd: repoPath, encoding: 'utf8'});\n  execSync(`git commit -m \"${commitMsg}\"`, {cwd: repoPath, encoding: 'utf8'});\n  const sha = execSync('git rev-parse HEAD', {cwd: repoPath, encoding: 'utf8'}).trim();\n  execSync(`git push origin ${branchName}`, {cwd: repoPath, encoding: 'utf8'});\n  return {json: {...$input.item.json, commitSha: sha, commitMessage: commitMsg, pushed: true}};\n} catch (error) {\n  throw new Error(`Commit failed: ${error.message}`);\n}"},"id":"2fb2a5f2-9263-49d8-bc31-857f2c2c52d9","name":"Git Commit & Push","type":"n8n-nodes-base.code","typeVersion":2,"position":[11984,-8240]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\ntry {\n  execSync('git checkout main', {cwd: repoPath, encoding: 'utf8'});\n  execSync(`git merge ${branchName}`, {cwd: repoPath, encoding: 'utf8'});\n  execSync('git push origin main', {cwd: repoPath, encoding: 'utf8'});\n  execSync(`git branch -d ${branchName}`, {cwd: repoPath, encoding: 'utf8'});\n  return {json: {...$input.item.json, merged: true}};\n} catch (error) {\n  return {json: {...$input.item.json, merged: false, mergeError: error.message}};\n}"},"id":"854023c2-570b-475a-8423-38189e4b60ab","name":"Merge to Main","type":"n8n-nodes-base.code","typeVersion":2,"position":[12336,-8240]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation($issueId: String!, $comment: String!) { commentCreate(input: { issueId: $issueId, body: $comment }) { success } }\", \"variables\": {\"issueId\": \"{{ $json.issue.id }}\", \"comment\": \"✅ **Issue Resolved by AI Agent**\\n\\n**Server:** {{ $json.lmServerName }}\\n**Commit:** {{ $json.commitSha.substring(0,8) }}\\n**Tests:** All passing ✓\\n\\nMerged to main.\"}}","options":{}},"id":"f849e71c-ebcd-4f53-8118-3fc8e651f91c","name":"Update Linear - Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[11904,-7808],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const processed = $input.item.json.processedCount || 0;\nconst total = $input.item.json.totalIssues || 0;\nconst summary = `\\n🎉 **Session Complete!**\\n\\nProcessed: ${processed}/${total} issues\\n\\nCheck Linear for updates.`;\nreturn {json: {summary, processed, total, chatMessage: summary}};"},"id":"71901412-aa02-41dd-8e25-12cd0f505783","name":"Session Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[12048,-7984]},{"parameters":{"message":"={{ $json.summary }}","options":{}},"id":"8e520be5-3222-4859-85a1-4e14609e63ea","name":"Show Results","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[12336,-7984]},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[10272,-8080],"id":"95bcb711-aebd-4d39-9024-02f6ca3f3016","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list","cachedResultName":"qwen/qwen3-vl-8b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[10848,-7840],"id":"fe71ffe1-ea1c-4e6b-ab5f-2948a35fdf24","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[10864,-8112],"id":"22a00a68-c110-4070-9083-9e80a65d0b9c","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}}],"connections":{"When chat message received":{"main":[[{"node":"Get Linear Projects","type":"main","index":0}]]},"Get Linear Projects":{"main":[[{"node":"Format Project List","type":"main","index":0}]]},"Format Project List":{"main":[[{"node":"Show Projects","type":"main","index":0}]]},"Show Projects":{"main":[[{"node":"Extract Project Selection","type":"main","index":0}]]},"Extract Project Selection":{"main":[[{"node":"Get Project Issues","type":"main","index":0}]]},"Get Project Issues":{"main":[[{"node":"Clone or Pull Repository","type":"main","index":0}]]},"Clone or Pull Repository":{"main":[[{"node":"Create Agent Storage","type":"main","index":0}]]},"Create Agent Storage":{"main":[[{"node":"Check Resume State","type":"main","index":0}]]},"Check Resume State":{"main":[[{"node":"Filter AI Issues","type":"main","index":0}]]},"Filter AI Issues":{"main":[[{"node":"Sort by Priority","type":"main","index":0}]]},"Sort by Priority":{"main":[[{"node":"Show Issue Summary","type":"main","index":0}]]},"Show Issue Summary":{"main":[[{"node":"Display Summary & Get Command","type":"main","index":0}]]},"Display Summary & Get Command":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Loop Issues":{"main":[[{"node":"Initialize Issue Context","type":"main","index":0}]]},"Initialize Issue Context":{"main":[[{"node":"Create Git Branch","type":"main","index":0}]]},"Create Git Branch":{"main":[[{"node":"Check Primary LM Server","type":"main","index":0},{"node":"Check Secondary LM Server","type":"main","index":0}]]},"Check Primary LM Server":{"main":[[{"node":"Select Optimal Server","type":"main","index":0}]]},"Select Optimal Server":{"main":[[{"node":"AI Agent - Analyze & Plan","type":"main","index":0}]]},"AI Agent - Analyze & Plan":{"main":[[{"node":"Self-Triage Decision","type":"main","index":0}]]},"Self-Triage Decision":{"main":[[{"node":"AI Agent - Implement","type":"main","index":0}],[{"node":"Escalate to Human","type":"main","index":0}]]},"AI Agent - Implement":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Run Tests":{"main":[[{"node":"Tests Passed?","type":"main","index":0}]]},"Tests Passed?":{"main":[[{"node":"Git Commit & Push","type":"main","index":0}],[{"node":"Increment Attempt Counter","type":"main","index":0}]]},"Increment Attempt Counter":{"main":[[{"node":"Max Attempts Reached?","type":"main","index":0}]]},"Max Attempts Reached?":{"main":[[{"node":"AI Agent - Fix Tests","type":"main","index":0}],[{"node":"Escalate to Human","type":"main","index":0}]]},"AI Agent - Fix Tests":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Git Commit & Push":{"main":[[{"node":"Merge to Main","type":"main","index":0}]]},"Merge to Main":{"main":[[{"node":"Update Linear - Success","type":"main","index":0}]]},"Update Linear - Success":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Escalate to Human":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Analyze & Plan","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent - Fix Tests","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent - Implement","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3bc3329f-1451-431f-92a5-6ff3fea49066","activeVersionId":null,"versionCounter":44,"triggerCount":1,"shared":[{"updatedAt":"2025-12-21T01:15:59.249Z","createdAt":"2025-12-21T01:15:59.249Z","role":"workflow:owner","workflowId":"7F5rMVM0oDMKFQ69","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[],"activeVersion":null}