public/workflows/orangepi/autonomous-app-builder-v2.json
{"updatedAt":"2026-01-08T03:53:36.150Z","createdAt":"2026-01-08T03:53:36.150Z","id":"1PitVv7ogVvks7sE","name":"Autonomous App Builder v2","description":null,"active":false,"isArchived":false,"nodes":[{"id":"80b280d7-a3b8-4264-b6cd-d9009107b492","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[0,400],"parameters":{"public":true,"authentication":"n8nUserAuth","initialMessages":"Welcome to the Autonomous App Builder!\n\nCommands:\n/build <project> - Build a new project\n/issues - Load Linear issues\n/status - Check system status\n/primary_free: <prompt> - Route to BEAST\n/secondary_free: <prompt> - Route to BEDROOM\n/paid_claude: <prompt> - Route to Claude","options":{"allowedOrigins":"*","title":"Autonomous App Builder","subtitle":"AI-Powered Development","responseMode":"responseNodes"}}},{"id":"1e418852-4ef1-407b-b6a3-b645a4ed60ec","name":"Scheduled Issue Processing","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,600],"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"disabled":true},{"id":"8b4e0eca-d1f2-417c-ad85-cada3297d6b9","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,200],"parameters":{}},{"id":"37752bde-f58d-46ef-ad45-71acbddf0373","name":"Parse Command","type":"n8n-nodes-base.code","typeVersion":1,"position":[300,400],"parameters":{"jsCode":"\n// Parse incoming message for commands\nconst input = $json.chatInput || $json.input || '';\n\n// Command patterns\nconst commands = [\n    { pattern: /^\\/build\\s+(.+)/i, command: '/build:', param: '$1' },\n    { pattern: /^\\/issues/i, command: '/issues:', param: '' },\n    { pattern: /^\\/status/i, command: '/status:', param: '' },\n    { pattern: /^\\/primary_free:\\s*(.*)/i, command: '/primary_free:', param: '$1' },\n    { pattern: /^\\/secondary_free:\\s*(.*)/i, command: '/secondary_free:', param: '$1' },\n    { pattern: /^\\/paid_chatgpt:\\s*(.*)/i, command: '/paid_chatgpt:', param: '$1' },\n    { pattern: /^\\/paid_gemini:\\s*(.*)/i, command: '/paid_gemini:', param: '$1' },\n    { pattern: /^\\/paid_claude:\\s*(.*)/i, command: '/paid_claude:', param: '$1' },\n    { pattern: /^\\/paid_claude_code:\\s*(.*)/i, command: '/paid_claude_code:', param: '$1' },\n    { pattern: /^\\/ssh:\\s*(.*)/i, command: '/ssh:', param: '$1' },\n    { pattern: /^\\/n8n:\\s*(.*)/i, command: '/n8n:', param: '$1' },\n];\n\nlet selectedCommand = '/orchestrator:';\nlet prompt = input;\n\nfor (const cmd of commands) {\n    const match = input.match(cmd.pattern);\n    if (match) {\n        selectedCommand = cmd.command;\n        prompt = match[1] || '';\n        break;\n    }\n}\n\nreturn {\n    json: {\n        selected_command: selectedCommand,\n        prompt: prompt,\n        original_input: input,\n        session_id: $json.sessionId || 'default',\n        timestamp: new Date().toISOString()\n    }\n};\n"}},{"id":"63f75fb5-dcae-46dc-8fcf-4e039462a898","name":"Route Command","type":"n8n-nodes-base.switch","typeVersion":1,"position":[600,400],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/build:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Build Project"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/issues:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Load Issues"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/status:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"System Status"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/primary_free:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Primary Free (BEAST)"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/secondary_free:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Secondary Free (BEDROOM)"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/paid_chatgpt:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid ChatGPT"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/paid_gemini:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Gemini"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/paid_claude:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Claude"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/paid_claude_code:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Paid Claude Code"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/ssh:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SSH Command"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/n8n:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"n8n Internal"},{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.selected_command }}","rightValue":"/orchestrator:","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Orchestrator"}]},"options":{"allMatchingOutputs":false}}},{"id":"ec283e18-ba55-4d32-b898-f4db80942d10","name":"Prepare Build","type":"n8n-nodes-base.code","typeVersion":1,"position":[900,0],"parameters":{"jsCode":"\nconst projectName = $json.prompt || 'NewProject';\n\nreturn {\n    json: {\n        project_name: projectName,\n        action: 'build',\n        timestamp: new Date().toISOString()\n    }\n};\n"}},{"id":"bc4261da-51f2-4710-9a0f-8afc82553b30","name":"Execute Builder","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1200,0],"parameters":{"command":"=cd /mnt/n8n-nas/n8n_dev_tool && python3 -m src.orchestration.master_orchestrator build --project \"{{ $json.project_name }}\" --description \"Auto-generated project\"","cwd":"/mnt/n8n-nas"},"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"id":"f7e3633b-4e3a-4a23-8e41-1f569afd2a4d","name":"Init Pagination","type":"n8n-nodes-base.code","typeVersion":1,"position":[900,100],"parameters":{"jsCode":"return [{ json: { afterCursor: null, page: 1 } }];"}},{"id":"7c81abf1-cb99-498c-9ab9-e10ed0c18071","name":"Fetch Linear Issues","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1200,100],"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"query Issues($first: Int!, $after: String) {\n  issues(first: $first, after: $after) {\n    nodes {\n      id\n      identifier\n      title\n      description\n      project { id name }\n      state { name }\n      labels { nodes { name } }\n    }\n    pageInfo { hasNextPage endCursor }\n  }\n}"},{"name":"variables.first","value":"={{ 50 }}"},{"name":"variables.after","value":"={{ $json.afterCursor || null }}"}]}},"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"id":"f1b49eac-8f4e-4b41-b5a5-c5c9dfcab20a","name":"Process Issues","type":"n8n-nodes-base.code","typeVersion":1,"position":[1500,100],"parameters":{"jsCode":"\nconst data = $json.data?.issues || {};\nconst nodes = data.nodes || [];\nconst pageInfo = data.pageInfo || {};\n\nconst issues = nodes.map(issue => ({\n    id: issue.id,\n    identifier: issue.identifier,\n    title: issue.title,\n    description: issue.description || '',\n    project: issue.project?.name || '',\n    projectId: issue.project?.id || '',\n    status: issue.state?.name || '',\n    labels: (issue.labels?.nodes || []).map(l => l.name)\n}));\n\nreturn {\n    json: {\n        issues: issues,\n        count: issues.length,\n        hasNextPage: pageInfo.hasNextPage,\n        endCursor: pageInfo.endCursor\n    }\n};\n"}},{"id":"266f3529-bc53-4986-b35f-4a04e8e7b522","name":"Check Status","type":"n8n-nodes-base.code","typeVersion":1,"position":[900,200],"parameters":{"jsCode":"\nconst status = {\n    system: 'Autonomous App Builder',\n    version: '2.0',\n    timestamp: new Date().toISOString(),\n    capabilities: [\n        'Project building',\n        'Linear issue loading',\n        'Multi-agent routing',\n        'Code generation',\n        'GitLab commits',\n        'Playwright testing'\n    ],\n    routes: [\n        '/build <name> - Build a project',\n        '/issues - Load Linear issues',\n        '/primary_free: <prompt> - BEAST LMStudio',\n        '/secondary_free: <prompt> - BEDROOM LMStudio',\n        '/paid_chatgpt: <prompt> - GPT 5.1',\n        '/paid_gemini: <prompt> - Gemini 3 Flash',\n        '/paid_claude: <prompt> - Claude Opus 4.5',\n        '/paid_claude_code: <prompt> - Claude Code SSH'\n    ],\n    models: {\n        free: ['BEAST (GPT-OSS-20b)', 'BEDROOM (Qwen3-VL-8b)'],\n        paid: ['ChatGPT 5.1', 'Gemini 3 Flash', 'Claude Opus 4.5']\n    }\n};\n\nreturn { json: status };\n"}},{"id":"0b2c3232-d791-41d1-8ead-7a396287111b","name":"BEAST Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[900,300],"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are a helpful AI assistant running on the BEAST LMStudio server. Provide complete, working solutions.","maxIterations":10}}},{"id":"7d3d8751-7746-487d-9017-79e2121aacb7","name":"BEAST Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[900,500],"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list"},"options":{"baseURL":"http://192.168.245.155:1234/v1","timeout":120000}},"credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"id":"2b852147-08a7-40b3-b588-55eee6051403","name":"BEDROOM Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[900,600],"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are a helpful AI assistant running on the BEDROOM LMStudio server. Provide complete, working solutions.","maxIterations":10}}},{"id":"f8d924c5-367c-4250-95ef-e53ef2126558","name":"BEDROOM Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[900,800],"parameters":{"model":{"__rl":true,"value":"lmstudio-community/qwen3-vl-8b","mode":"list"},"options":{"baseURL":"http://192.168.27.182:1234/v1","timeout":120000}},"credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"BEDROOM LMStudio"}}},{"id":"345e7f26-da6f-44a2-9fb5-29a2a08432c9","name":"ChatGPT Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[1200,300],"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are GPT 5.1. Provide complete, expert-level solutions.","maxIterations":10}}},{"id":"2b13d095-0c91-4cf7-9b4d-d1b0119c51d8","name":"ChatGPT Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1200,500],"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list"},"options":{"timeout":240000}},"credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"id":"18be1655-4a50-44c1-a12c-ce88f88085c6","name":"Gemini Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[1200,600],"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are Gemini 3 Flash. Provide complete, expert-level solutions.","maxIterations":10}}},{"id":"cda31d7f-9ce3-4ef6-afc6-e42b1e9429e2","name":"Gemini Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1200,800],"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"id":"1d5ccaae-c248-4eab-b0a1-025ec4443fde","name":"Claude Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[1500,300],"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"You are Claude Opus 4.5. Provide complete, expert-level solutions with deep reasoning.","maxIterations":10}}},{"id":"c099c98a-ba50-4e12-8c61-44f3beb222fb","name":"Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1,"position":[1500,500],"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list"},"options":{"thinking":true}},"credentials":{"anthropicApi":{"id":"Ozy9qk8lFIbm0pVG","name":"Anthropic account"}}},{"id":"39db509d-e7eb-4d47-b34f-b272bb20d28c","name":"Prepare Claude Code Prompt","type":"n8n-nodes-base.code","typeVersion":1,"position":[1500,600],"parameters":{"jsCode":"\n// Escape the prompt for shell\nconst prompt = ($json.prompt || '').replace(/\"/g, '\\\\\"');\nreturn { json: { prompt: prompt } };\n"}},{"id":"be3e8e32-57c3-44d9-bde8-4f134ad2db59","name":"Claude Code SSH","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1800,600],"parameters":{"command":"=/bin/bash -c 'claude -p \"{{ $json.prompt }}\"'","cwd":"/mnt/n8n-nas"},"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"id":"21f777c0-ee46-4408-928f-c74a77d6374e","name":"Execute SSH Command","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1800,700],"parameters":{"command":"={{ $json.prompt }}","cwd":"/mnt/n8n-nas"},"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"id":"79b7a5a3-0359-425e-9eae-70fa1d922e54","name":"Orchestrator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[1800,400],"parameters":{"promptType":"define","text":"={{ $json.prompt || $json.original_input }}","options":{"systemMessage":"You are the Orchestrator of the Autonomous App Builder system.\n\nYour capabilities:\n1. Route work to appropriate AI agents\n2. Build complete projects from descriptions\n3. Load and process Linear issues\n4. Generate, validate, and commit code\n5. Run tests with Playwright\n\nAvailable commands you can suggest:\n- /build <project_name> - Build a new project\n- /issues - Load issues from Linear\n- /primary_free: <prompt> - Use BEAST LMStudio\n- /secondary_free: <prompt> - Use BEDROOM LMStudio\n- /paid_claude: <prompt> - Use Claude Opus 4.5 (for complex tasks)\n- /paid_chatgpt: <prompt> - Use GPT 5.1\n- /paid_gemini: <prompt> - Use Gemini 3 Flash\n- /ssh: <command> - Run SSH command on OrangePi\n\nHelp users accomplish their development goals efficiently.\n","maxIterations":10}}},{"id":"eac7183e-0c5f-4440-9e40-d1a0a686414a","name":"Orchestrator Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1800,600],"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list"},"options":{"baseURL":"http://192.168.245.155:1234/v1","timeout":120000}},"credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"id":"f3724223-8038-48e0-a138-7122f20a3903","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":1,"position":[2100,400],"parameters":{"jsCode":"\n// Aggregate responses from various agents\nconst output = $json.output || $json.text || $json.message ||\n               $json.stdout || JSON.stringify($json, null, 2);\n\nreturn {\n    json: {\n        response: output,\n        timestamp: new Date().toISOString()\n    }\n};\n"}},{"id":"4afa8c9e-ab24-4ee2-886c-1d9cec5d3318","name":"Send Response","type":"n8n-nodes-base.code","typeVersion":1,"position":[2400,400],"parameters":{"jsCode":"\nreturn {\n    json: {\n        output: $json.response\n    }\n};\n"}}],"connections":{"When chat message received":{"main":[[{"node":"Parse Command","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Parse Command","type":"main","index":0}]]},"Parse Command":{"main":[[{"node":"Route Command","type":"main","index":0}]]},"Route Command":{"main":[[{"node":"Prepare Build","type":"main","index":0}],[{"node":"Init Pagination","type":"main","index":0}],[{"node":"Check Status","type":"main","index":0}],[{"node":"BEAST Agent","type":"main","index":0}],[{"node":"BEDROOM Agent","type":"main","index":0}],[{"node":"ChatGPT Agent","type":"main","index":0}],[{"node":"Gemini Agent","type":"main","index":0}],[{"node":"Claude Agent","type":"main","index":0}],[{"node":"Prepare Claude Code Prompt","type":"main","index":0}],[{"node":"Execute SSH Command","type":"main","index":0}],[],[{"node":"Orchestrator","type":"main","index":0}]]},"Prepare Build":{"main":[[{"node":"Execute Builder","type":"main","index":0}]]},"Init Pagination":{"main":[[{"node":"Fetch Linear Issues","type":"main","index":0}]]},"Fetch Linear Issues":{"main":[[{"node":"Process Issues","type":"main","index":0}]]},"BEAST Agent":{"ai_languageModel":[[{"node":"BEAST Model","type":"ai_languageModel","index":0}]],"main":[[{"node":"Format Response","type":"main","index":0}]]},"BEDROOM Agent":{"ai_languageModel":[[{"node":"BEDROOM Model","type":"ai_languageModel","index":0}]],"main":[[{"node":"Format Response","type":"main","index":0}]]},"ChatGPT Agent":{"ai_languageModel":[[{"node":"ChatGPT Model","type":"ai_languageModel","index":0}]],"main":[[{"node":"Format Response","type":"main","index":0}]]},"Gemini Agent":{"ai_languageModel":[[{"node":"Gemini Model","type":"ai_languageModel","index":0}]],"main":[[{"node":"Format Response","type":"main","index":0}]]},"Claude Agent":{"ai_languageModel":[[{"node":"Claude Model","type":"ai_languageModel","index":0}]],"main":[[{"node":"Format Response","type":"main","index":0}]]},"Prepare Claude Code Prompt":{"main":[[{"node":"Claude Code SSH","type":"main","index":0}]]},"Orchestrator":{"ai_languageModel":[[{"node":"Orchestrator Model","type":"ai_languageModel","index":0}]],"main":[[{"node":"Format Response","type":"main","index":0}]]},"Execute Builder":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Process Issues":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Claude Code SSH":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Execute SSH Command":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"d0bb7bb0-a7dc-4169-bee6-399963cd4c2c","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-08T03:53:36.152Z","createdAt":"2026-01-08T03:53:36.152Z","role":"workflow:owner","workflowId":"1PitVv7ogVvks7sE","projectId":"CUaRGVU8MRvL0tdd","project":{"updatedAt":"2026-01-08T03:51:38.610Z","createdAt":"2026-01-08T03:45:43.415Z","id":"CUaRGVU8MRvL0tdd","name":"Bill Admin <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"creatorId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectRelations":[{"updatedAt":"2026-01-08T03:45:43.415Z","createdAt":"2026-01-08T03:45:43.415Z","userId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectId":"CUaRGVU8MRvL0tdd","user":{"updatedAt":"2026-01-09T00:02:08.000Z","createdAt":"2026-01-08T03:45:43.034Z","id":"e443d61e-c22a-49d2-8855-c41dbca9834a","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Admin","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-08T06:16:56.079Z","personalization_survey_n8n_version":"2.2.4"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-09","isPending":false}}]}}],"tags":[],"activeVersion":null}