public/workflows/orangepi/GIIBAxWXuajs5a60.json
{"updatedAt":"2025-12-21T04:57:57.000Z","createdAt":"2025-12-21T04:28:44.674Z","id":"GIIBAxWXuajs5a60","name":"LMStudio Agentic Dev Tools - WORKING","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## 📋 INITIALIZATION & PROJECT SELECTION\n\nSelect Linear project → Fetch all issues → Prepare workspace\n• Linear GraphQL API for projects with \"n8n\" label\n• Git clone/pull repository to /mnt/n8n-nas/git_repos/\n• Create agent storage directories\n• Check for resume state from previous session","height":450,"width":3418,"color":4},"id":"92f296ba-d3a9-4390-be10-4c01ad61abe3","name":"Sticky Note - Init","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## 🔍 ISSUE FILTERING & PRIORITIZATION\n\nFilter & sort issues for AI processing\n• Must have \"Issue For Ai\" label\n• Must not have \"Task For Bill\" label\n• Sort by Linear priority (Urgent → High → Medium → Low)\n• Then by creation date (older first)\n• Display summary to user","height":400,"width":2488,"color":3},"id":"e16d9e07-32c7-4778-a97b-55680c423323","name":"Sticky Note - Filter","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,464]},{"parameters":{"content":"## 🤖 AUTONOMOUS PROCESSING LOOP\n\nFor each issue: Branch → Analyze → Implement → Test → Commit → Merge → Update Linear\n\n**Retry Logic:** Local LM (×3) → Claude Code → Cloud APIs (golden φ) → Escalate to Bill\n**Quality Gates:** ✓ Linting  ✓ Tests  ✓ Self-review  ✓ Git operations","height":850,"width":5000,"color":5},"id":"8636ad2a-147e-4ab1-9e92-4c6c17935e39","name":"Sticky Note - Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,864]},{"parameters":{"options":{"responseMode":"responseNodes"}},"id":"2eac71c9-60df-4f3a-8389-e87b175c1321","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[9296,-9056],"webhookId":"5bf7ce82-aa42-4cf1-8818-50a91bf006af"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"  {\n    \"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name description state } } }\"\n  }","options":{}},"id":"d0560337-e6bd-44e2-ae0d-7fb986eda365","name":"Get Linear Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,176],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const projects = $input.item.json.data.projects.nodes;\nlet list = '📋 **Projects:**\\n\\n';\nprojects.forEach((p, i) => {\n  list += `**${i + 1}.** ${p.name}\\n`;\n});\nlist += '\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\nSelect number or name:';\nreturn {json: {chatMessage: list, projectsData: projects}};"},"id":"011d1886-7a2d-4eca-8277-cf510afb291c","name":"Format Project List","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,176]},{"parameters":{"message":"={{ $json.chatMessage }}","options":{}},"id":"ff8af566-1ac4-40db-b85f-7a640b036c6f","name":"Show Projects","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1408,176]},{"parameters":{"jsCode":"const userInput = $input.item.json.chatInput.toLowerCase().trim();\nconst projects = $('Format Project List').item.json.projectsData;\nlet selectedProject = null;\nconst numberInput = parseInt(userInput);\nif (!isNaN(numberInput) && numberInput > 0 && numberInput <= projects.length) {\n  selectedProject = projects[numberInput - 1];\n} else {\n  selectedProject = projects.find(project => project.name.toLowerCase().includes(userInput));\n}\nif (!selectedProject) throw new Error(`❌ Project not found`);\nconst repoName = selectedProject.name.toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9\\-]/g, '');\nreturn {\n  json: {\n    projectId: selectedProject.id,\n    projectName: selectedProject.name,\n    repoName: repoName,\n    repoPath: `/mnt/n8n-nas/git_repos/${repoName}`,\n    gitlabUrl: `http://192.168.245.11/gtechsd/${repoName}.git`,\n    agentStoragePath: `/mnt/n8n-nas/agent_storage/${repoName}`,\n    sessionStartTime: new Date().toISOString()\n  }\n};"},"id":"c83ca6b0-a57b-4835-8424-0c6a747a7ef3","name":"Extract Project Selection","type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,176]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"query($projectId: String!) { project(id: $projectId) { id name issues(filter: { state: { type: { nin: [\\\"completed\\\", \\\"canceled\\\"] } } } first: 100) { nodes { id identifier title description state { name type } priority assignee { name } labels { nodes { name } } createdAt updatedAt url } } } }\", \"variables\": {\"projectId\": \"{{ $json.projectId }}\"}}","options":{}},"id":"db23e0aa-afd7-40f5-98e3-e7c5587e1e89","name":"Get Project Issues","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,176],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst fs = require('fs');\nconst repoPath = $input.item.json.repoPath;\nconst gitlabUrl = $input.item.json.gitlabUrl;\nconst gitlabUser = 'gtechsd';\nconst gitlabPass = \"I3*c|913$'2gwsW?dEFk\";\nconsole.log('📂', repoPath);\nconsole.log('🔗', gitlabUrl);\n\nlet result = {repoPath, gitlabUrl, operation: '', existed: false};\ntry {\n  if (fs.existsSync(repoPath)) {\n    console.log('📂 Repo exists - pulling...');\n    try {\n      execSync('git checkout main', {cwd: repoPath, encoding: 'utf8'});\n      execSync('git pull origin main', {cwd: repoPath, encoding: 'utf8'});\n    } catch (e) {\n      console.log('⚠️ No main branch yet');\n    }\n    result.operation = 'pull';\n    result.existed = true;\n  } else {\n    console.log('📦 Cloning repo...');\n    const parentDir = repoPath.substring(0, repoPath.lastIndexOf('/'));\n    if (!fs.existsSync(parentDir)) fs.mkdirSync(parentDir, {recursive: true});\n    const credHelper = `/tmp/git-cred-${Date.now()}.sh`;\n    fs.writeFileSync(credHelper, `#!/bin/sh\\necho \"username=${gitlabUser}\"\\necho \"password=${gitlabPass}\"\\n`);\n    fs.chmodSync(credHelper, 0o755);\n    execSync(`git -c credential.helper=${credHelper} clone ${gitlabUrl} ${repoPath}`, {cwd: parentDir, encoding: 'utf8', timeout: 120000});\n    fs.unlinkSync(credHelper);\n    result.operation = 'clone';\n  }\n  let commitSha = 'none', branch = 'main';\n  try {\n    commitSha = execSync('git rev-parse HEAD', {cwd: repoPath, encoding: 'utf8'}).trim();\n    branch = execSync('git branch --show-current', {cwd: repoPath, encoding: 'utf8'}).trim() || 'main';\n  } catch (e) {\n    console.log('⚠️ Empty repo');\n    commitSha = 'empty';\n  }\n  result.success = true;\n  result.currentBranch = branch;\n  result.currentCommit = commitSha;\n  console.log('✅ Ready!');\n} catch (error) {\n  result.success = false;\n  result.error = error.message;\n  throw new Error(`Git failed: ${error.message}`);\n}\nreturn {\n  json: {\n    ...result,\n    projectId: $input.item.json.projectId,\n    projectName: $input.item.json.projectName,\n    repoName: $input.item.json.repoName,\n    agentStoragePath: $input.item.json.agentStoragePath\n  }\n};"},"id":"d984bb4b-98f4-4c43-b26d-694e05602d4d","name":"Clone or Pull Repository","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,176]},{"parameters":{"jsCode":"const fs = require('fs');\nconst agentStoragePath = $input.item.json.agentStoragePath;\nlet result = {created: false, existed: false};\ntry {\n  const dirs = [\n    agentStoragePath,\n    `${agentStoragePath}/issues`,\n    `${agentStoragePath}/context`,\n    `${agentStoragePath}/sessions`,\n    `${agentStoragePath}/temp`\n  ];\n  let createdDirs = [];\n  dirs.forEach(dir => {\n    if (!fs.existsSync(dir)) {\n      fs.mkdirSync(dir, {recursive: true});\n      createdDirs.push(dir.split('/').pop());\n    }\n  });\n  const configPath = `${agentStoragePath}/config.json`;\n  const config = {\n    projectName: $input.item.json.projectName,\n    projectId: $input.item.json.projectId,\n    repoPath: $input.item.json.repoPath,\n    safetyLimits: {maxRuntimeMinutes: 240, maxIssuesPerRun: 20}\n  };\n  fs.writeFileSync(configPath, JSON.stringify(config, null, 2));\n  result.created = createdDirs.length > 0;\n  result.existed = createdDirs.length === 0;\n  result.createdDirs = createdDirs;\n} catch (error) {\n  result.error = error.message;\n  throw new Error(`Storage setup failed: ${error.message}`);\n}\nreturn {json: {...result, ...$input.item.json}};"},"id":"5c51d0d3-204f-4a93-abe0-0161e019b42a","name":"Create Agent Storage","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,176]},{"parameters":{"jsCode":"const fs = require('fs');\nconst path = require('path');\nconst stateFile = path.join($input.item.json.agentStoragePath, 'last_state.json');\nlet resumeData = {shouldResume: false, resumeState: null};\nif (fs.existsSync(stateFile)) {\n  const state = JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  const age = Date.now() - new Date(state.timestamp);\n  const hours = age / (1000 * 60 * 60);\n  if (hours < 24 && state.remainingIssues && state.remainingIssues.length > 0) {\n    console.log(`📋 Found incomplete session from ${hours.toFixed(1)} hours ago`);\n    console.log(`   Processed: ${state.processedIssues || 0} issues`);\n    console.log(`   Remaining: ${state.remainingIssues.length} issues`);\n    resumeData.shouldResume = true;\n    resumeData.resumeState = state;\n  }\n}\nreturn {...resumeData, ...$input.item.json};"},"id":"084f2de6-2d5c-4bff-9912-4884bfc2d380","name":"Check Resume State","type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,176]},{"parameters":{"jsCode":"const allIssues = $input.item.json.data.project.issues.nodes;\nconst aiIssues = allIssues.filter(issue => {\n  const hasAILabel = issue.labels.nodes.some(l => l.name.toLowerCase().includes('issue for ai'));\n  const isOpen = !['completed', 'canceled', 'done'].includes(issue.state.type.toLowerCase());\n  const notEscalated = !issue.labels.nodes.some(l => l.name.toLowerCase().includes('task for bill'));\n  return hasAILabel && isOpen && notEscalated;\n});\nconsole.log(`🔍 Filtered ${aiIssues.length} of ${allIssues.length} issues for AI`);\nif (aiIssues.length === 0) throw new Error(`📭 No issues ready for AI processing.\\n\\nAdd \"Issue For Ai\" label to issues in Linear.`);\nreturn {aiIssues, totalIssues: allIssues.length, aiIssueCount: aiIssues.length, projectId: $input.item.json.projectId, projectName: $input.item.json.projectName, repoPath: $input.item.json.repoPath, agentStoragePath: $input.item.json.agentStoragePath};"},"id":"0776383c-ecee-4d70-9719-6d689221fe82","name":"Filter AI Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,624]},{"parameters":{"jsCode":"const issues = $input.item.json.aiIssues;\nconst sorted = issues.sort((a, b) => {\n  if (a.priority !== b.priority) return a.priority - b.priority;\n  return new Date(a.createdAt) - new Date(b.createdAt);\n});\nconsole.log(`📊 Sorted ${sorted.length} issues by priority`);\nreturn {...$input.item.json, aiIssues: sorted};"},"id":"25608e27-18d1-404b-9efc-dc41f77c32fd","name":"Sort by Priority","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,624]},{"parameters":{"jsCode":"const issues = $input.item.json.aiIssues;\nconst priorityLabels = {0: 'None', 1: '🔴 Urgent', 2: '🟠 High', 3: '🟡 Medium', 4: '🟢 Low'};\nlet summary = `✅ Found ${issues.length} issues ready for AI processing\\n\\n`;\nsummary += '━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n';\nissues.forEach((issue, i) => {\n  summary += `**${i + 1}.** ${issue.identifier}: ${issue.title}\\n`;\n  summary += `   └─ Priority: ${priorityLabels[issue.priority] || 'Unknown'}\\n`;\n  summary += `   └─ State: ${issue.state.name}\\n\\n`;\n});\nsummary += '━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n';\nsummary += '**Ready to process these issues?**\\nType **\"go\"** to start autonomous processing\\nOr type **\"cancel\"** to stop';\nreturn {...$input.item.json, chatMessage: summary};"},"id":"40489804-99ce-46bd-a055-614892ae92cd","name":"Show Issue Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,624]},{"parameters":{"message":"={{ $json.chatMessage }}","options":{}},"id":"42eb665d-350c-43c5-b83b-c7ba45f37d15","name":"Display Summary & Get Command","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1568,624]},{"parameters":{"options":{}},"id":"92a86ed7-bd46-4323-b26e-cd43f2296f1c","name":"Loop Issues","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1856,624]},{"parameters":{"jsCode":"const issue = $input.item.json.aiIssues[$input.context.nodesExecutedThisRun];\nconst issueId = issue.identifier.toLowerCase();\nconst agentStoragePath = $input.item.json.agentStoragePath;\nconst repoPath = $input.item.json.repoPath;\nconst issueStoragePath = `${agentStoragePath}/issues/${issueId}`;\nconsole.log(`\\n🎯 Processing: ${issue.identifier} - ${issue.title}`);\nconsole.log(`   Priority: ${issue.priority} | State: ${issue.state.name}`);\nreturn {issue, issueId, issueIdentifier: issue.identifier, issueTitle: issue.title, issueDescription: issue.description || '', issueUrl: issue.url, issuePriority: issue.priority, issueLabels: issue.labels.nodes, issueState: issue.state, repoPath, agentStoragePath, issueStoragePath, attemptCount: 0, maxLocalAttempts: 3, branchName: `ai/${issueId}`, sessionStartTime: $input.item.json.sessionStartTime, currentIssueStartTime: new Date().toISOString()};"},"id":"6809c0fa-2e15-41fb-bbbb-bd9027753392","name":"Initialize Issue Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[336,1264]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\nconst issueStoragePath = $input.item.json.issueStoragePath;\ntry {\n  if (!fs.existsSync(issueStoragePath)) fs.mkdirSync(issueStoragePath, {recursive: true});\n  fs.mkdirSync(path.join(issueStoragePath, 'attempts'), {recursive: true});\n  fs.mkdirSync(path.join(issueStoragePath, 'temp'), {recursive: true});\n  execSync('git checkout main', {cwd: repoPath});\n  execSync('git pull origin main', {cwd: repoPath});\n  try {\n    execSync(`git checkout -b ${branchName}`, {cwd: repoPath});\n  } catch (err) {\n    if (err.message.includes('already exists')) {\n      execSync(`git checkout ${branchName}`, {cwd: repoPath});\n      execSync(`git reset --hard origin/main`, {cwd: repoPath});\n    } else throw err;\n  }\n  const state = {issueId: $input.item.json.issueId, identifier: $input.item.json.issueIdentifier, status: 'processing', phase: 'initialization', startTime: $input.item.json.currentIssueStartTime, branchName, attemptCount: 0};\n  fs.writeFileSync(path.join(issueStoragePath, 'state.json'), JSON.stringify(state, null, 2));\n  execSync('sync');\n  console.log(`✅ Branch created: ${branchName}`);\n  return {...$input.item.json, branchCreated: true};\n} catch (error) {\n  console.error(`❌ Branch creation failed: ${error.message}`);\n  throw new Error(`Failed to create git branch:\\n${error.message}`);\n}"},"id":"f59604e1-c76e-4a59-9acd-91f85e6ecfdc","name":"Create Git Branch","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,1264]},{"parameters":{"url":"http://localhost:1234/v1/models","options":{"timeout":5000}},"id":"ea181bd5-eb35-471a-a5b4-b7186b9752dc","name":"Check Primary LM Server","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,896]},{"parameters":{"url":"http://192.168.27.182:1234/v1/models","options":{"timeout":5000}},"id":"ec421cff-17eb-42c4-9b31-89477f6afa37","name":"Check Secondary LM Server","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1104]},{"parameters":{"jsCode":"const primaryResp = $('Check Primary LM Server').item;\nconst secondaryResp = $('Check Secondary LM Server').item;\nconst primaryAvail = primaryResp && primaryResp.json && primaryResp.json.data;\nconst secondaryAvail = secondaryResp && secondaryResp.json && secondaryResp.json.data;\nconst issue = $input.item.json.issue;\nconst needsVision = (issue.description || '').toLowerCase().includes('ui') || (issue.description || '').toLowerCase().includes('visual') || issue.labels.nodes.some(l => l.name.toLowerCase().includes('ui'));\nlet selected = null;\nif (needsVision && secondaryAvail) {\n  selected = {server: 'http://192.168.27.182:1234/v1', name: 'Secondary (Vision)', model: 'qwen3-v1-8b', reason: 'Vision capability required'};\n} else if (primaryAvail) {\n  selected = {server: 'http://localhost:1234/v1', name: 'Primary (BEAST)', model: 'qwen2.5-coder-14b', reason: 'Primary coding server'};\n} else if (secondaryAvail) {\n  selected = {server: 'http://192.168.27.182:1234/v1', name: 'Secondary', model: 'qwen3-v1-8b', reason: 'Primary unavailable'};\n} else {\n  throw new Error('❌ No LM Studio servers available.\\n\\nStart LM Studio and load a model.');\n}\nconsole.log(`🖥️  Selected: ${selected.name} (${selected.reason})`);\nreturn {...$input.item.json, selectedServer: selected, lmServerUrl: selected.server, lmServerName: selected.name, lmModel: selected.model};"},"id":"18b4fcf8-2268-45e5-a400-2f441366f5db","name":"Select Optimal Server","type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,1008]},{"parameters":{"promptType":"define","text":"=Analyze this issue for implementation:\n\n**Issue:** {{ $json.issueIdentifier }} - {{ $json.issueTitle }}\n**Priority:** {{ $json.issuePriority }}\n**Description:**\n{{ $json.issueDescription }}\n\n**Repository:** {{ $json.repoPath }}\n**Branch:** {{ $json.branchName }}\n\nProvide detailed analysis with:\n1. Requirements breakdown\n2. Complexity assessment (Simple/Medium/Complex)\n3. Step-by-step implementation plan\n4. Files to modify\n5. Potential blockers\n6. Can you handle this autonomously? (YES/NO)\n\nIf NO, explain why human intervention is needed.","options":{}},"id":"4a32fc60-3a76-4ec8-981b-93397d30e9a1","name":"AI Agent - Analyze & Plan","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1488,1008],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node with LM Studio credentials"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.output }}","operation":"contains","value2":"Can I handle this autonomously? YES"}]},"options":{}},"id":"ede8d432-9d08-484e-ae39-94cfd4933eaf","name":"Self-Triage Decision","type":"n8n-nodes-base.if","typeVersion":2,"position":[1776,1008]},{"parameters":{"promptType":"define","text":"=Implement the solution for {{ $json.issueIdentifier }}: {{ $json.issueTitle }}\n\n**Plan from analysis:**\n{{ $('AI Agent - Analyze & Plan').item.json.output }}\n\n**Repository:** {{ $json.repoPath }}\n**Branch:** {{ $json.branchName }}\n\nWrite production-ready code following existing patterns. Ensure all tests will pass.","options":{}},"id":"a9315c51-5d7a-4e68-972f-4150b1d2365a","name":"AI Agent - Implement","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2080,1008],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node with LM Studio credentials"},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\nconst repoPath = $input.item.json.repoPath;\nlet testCmd = '';\nif (fs.existsSync(path.join(repoPath, 'package.json'))) testCmd = 'npm test';\nelse if (fs.existsSync(path.join(repoPath, 'pytest.ini'))) testCmd = 'pytest';\nelse if (fs.existsSync(path.join(repoPath, 'pubspec.yaml'))) testCmd = 'flutter test';\nelse {\n  console.log('⚠️  No test framework detected - skipping tests');\n  return {...$input.item.json, testsRan: false, testsPassed: true, testOutput: 'No tests configured'};\n}\ntry {\n  console.log(`🧪 Running tests: ${testCmd}`);\n  const output = execSync(testCmd, {cwd: repoPath, encoding: 'utf8', timeout: 600000});\n  console.log('✅ All tests passed');\n  return {...$input.item.json, testsRan: true, testsPassed: true, testOutput: output};\n} catch (error) {\n  console.log('❌ Tests failed');\n  return {...$input.item.json, testsRan: true, testsPassed: false, testOutput: error.stdout || error.message, testError: error.stderr || error.message};\n}"},"id":"c6d7730c-e00d-4d26-ac85-1611eb92f506","name":"Run Tests","type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,1008]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.testsPassed }}","value2":true}]},"options":{}},"id":"d38da1b7-1558-4830-a80e-0b1102a15194","name":"Tests Passed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2688,1008]},{"parameters":{"jsCode":"const attemptCount = ($input.item.json.attemptCount || 0) + 1;\nconsole.log(`🔄 Retry attempt ${attemptCount} of ${$input.item.json.maxLocalAttempts}`);\nconst fs = require('fs');\nconst path = require('path');\nconst attemptLog = path.join($input.item.json.issueStoragePath, 'attempts', `attempt-${attemptCount}.log`);\nfs.writeFileSync(attemptLog, `Attempt ${attemptCount}\\n\\nTest Output:\\n${$input.item.json.testOutput}\\n\\nError:\\n${$input.item.json.testError || 'N/A'}`, 'utf8');\nreturn {...$input.item.json, attemptCount};"},"id":"eebe8a26-cf1f-4899-ae2a-38874f87355e","name":"Increment Attempt Counter","type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,1296]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.attemptCount }}","operation":"smaller","value2":"={{ $json.maxLocalAttempts }}"}]},"options":{}},"id":"fc9ac443-4faa-47f5-a5a9-6d5b19ce45c2","name":"Max Attempts Reached?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2384,1296]},{"parameters":{"promptType":"define","text":"=Tests failed for {{ $json.issueIdentifier }}. Fix the implementation.\n\n**Attempt:** {{ $json.attemptCount }} of {{ $json.maxLocalAttempts }}\n\n**Test Output:**\n{{ $json.testOutput }}\n\n**Error:**\n{{ $json.testError }}\n\nAnalyze the failures and provide corrected code.","options":{}},"id":"f4382306-ac5c-4274-a8aa-671ab82a923e","name":"AI Agent - Fix Tests","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2064,1264],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation($issueId: String!, $comment: String!) { commentCreate(input: { issueId: $issueId, body: $comment }) { success } }\", \"variables\": {\"issueId\": \"{{ $json.issue.id }}\", \"comment\": \"⚠️ **AI Agent Escalation**\\n\\nCannot handle autonomously.\\n\\nReason: {{ $json.escalationReason || 'All attempts exhausted' }}\\n\\nAttempts: {{ $json.attemptCount }}\\n\\nLogs: {{ $json.issueStoragePath }}\"}}","options":{}},"id":"b1e26d94-e089-4eb3-b183-d86cefa1d1e6","name":"Escalate to Human","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,1600],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\nconst issueId = $input.item.json.issueIdentifier;\nconst title = $input.item.json.issueTitle;\ntry {\n  execSync('git add .', {cwd: repoPath});\n  const commitMsg = `fix(${issueId}): ${title}\\n\\n🤖 Generated with LMStudio Agentic Dev Tools\\nCo-Authored-By: AI Agent <ai@n8n.local>`;\n  execSync(`git commit -m \"${commitMsg.replace(/\"/g, '\\\\\"')}\"`, {cwd: repoPath});\n  execSync(`git push -u origin ${branchName}`, {cwd: repoPath});\n  const sha = execSync('git rev-parse HEAD', {cwd: repoPath, encoding: 'utf8'}).trim();\n  console.log(`✅ Committed & pushed: ${sha.substring(0,8)}`);\n  return {...$input.item.json, commitSha: sha, commitMessage: commitMsg};\n} catch (error) {\n  throw new Error(`Git commit failed: ${error.message}`);\n}"},"id":"72913790-acb7-4ceb-a8c7-c7a20df14d28","name":"Git Commit & Push","type":"n8n-nodes-base.code","typeVersion":2,"position":[3200,992]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\ntry {\n  execSync('git checkout main', {cwd: repoPath});\n  execSync('git pull origin main', {cwd: repoPath});\n  execSync(`git merge ${branchName} --no-edit`, {cwd: repoPath});\n  execSync('git push origin main', {cwd: repoPath});\n  execSync(`git branch -d ${branchName}`, {cwd: repoPath});\n  execSync(`git push origin --delete ${branchName}`, {cwd: repoPath});\n  console.log(`✅ Merged to main and cleaned up branch`);\n  return {...$input.item.json, merged: true};\n} catch (error) {\n  console.log(`⚠️  Merge failed: ${error.message}`);\n  return {...$input.item.json, merged: false, mergeError: error.message};\n}"},"id":"b4fdf2e0-96d6-4b23-8ce4-8135887fd152","name":"Merge to Main","type":"n8n-nodes-base.code","typeVersion":2,"position":[3552,992]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation($issueId: String!, $comment: String!) { commentCreate(input: { issueId: $issueId, body: $comment }) { success } }\", \"variables\": {\"issueId\": \"{{ $json.issue.id }}\", \"comment\": \"✅ **Issue Resolved by AI Agent**\\n\\n**Server:** {{ $json.lmServerName }}\\n**Commit:** {{ $json.commitSha.substring(0,8) }}\\n**Tests:** All passing ✓\\n\\nMerged to main.\"}}","options":{}},"id":"4ae00ab3-10a8-4521-a2f6-d5224087c63c","name":"Update Linear - Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,1424],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const processed = $input.context.nodesExecutedThisRun + 1;\nconst total = $input.item.json.aiIssueCount;\nconst summary = `🎉 **Session Complete**\\n\\nProcessed ${processed} of ${total} issues\\n\\nAll done!`;\nconsole.log(summary);\nreturn {summary, processed, total};"},"id":"93159507-1ac6-4914-828c-93c997222f95","name":"Session Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[3264,1248]},{"parameters":{"message":"={{ $json.summary }}","options":{}},"id":"2a9d3ecb-1c8a-43a0-9109-93218e7aad54","name":"Show Results","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[3552,1248]},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1488,1152],"id":"7e2b05cd-510f-4f2d-8dee-64eca3787858","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list","cachedResultName":"qwen/qwen3-vl-8b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2064,1392],"id":"3b9c241a-a7c5-47c0-b6c7-81421d897767","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2080,1120],"id":"03286c71-8adb-4b0c-af3a-df90bcc78394","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}}],"connections":{"When chat message received":{"main":[[{"node":"Get Linear Projects","type":"main","index":0}]]},"Get Linear Projects":{"main":[[{"node":"Format Project List","type":"main","index":0}]]},"Format Project List":{"main":[[{"node":"Show Projects","type":"main","index":0}]]},"Show Projects":{"main":[[{"node":"Extract Project Selection","type":"main","index":0}]]},"Extract Project Selection":{"main":[[{"node":"Get Project Issues","type":"main","index":0}]]},"Get Project Issues":{"main":[[{"node":"Clone or Pull Repository","type":"main","index":0}]]},"Clone or Pull Repository":{"main":[[{"node":"Create Agent Storage","type":"main","index":0}]]},"Create Agent Storage":{"main":[[{"node":"Check Resume State","type":"main","index":0}]]},"Check Resume State":{"main":[[{"node":"Filter AI Issues","type":"main","index":0}]]},"Filter AI Issues":{"main":[[{"node":"Sort by Priority","type":"main","index":0}]]},"Sort by Priority":{"main":[[{"node":"Show Issue Summary","type":"main","index":0}]]},"Show Issue Summary":{"main":[[{"node":"Display Summary & Get Command","type":"main","index":0}]]},"Display Summary & Get Command":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Loop Issues":{"main":[[{"node":"Initialize Issue Context","type":"main","index":0}]]},"Initialize Issue Context":{"main":[[{"node":"Create Git Branch","type":"main","index":0}]]},"Create Git Branch":{"main":[[{"node":"Check Primary LM Server","type":"main","index":0},{"node":"Check Secondary LM Server","type":"main","index":0}]]},"Check Primary LM Server":{"main":[[{"node":"Select Optimal Server","type":"main","index":0}]]},"Select Optimal Server":{"main":[[{"node":"AI Agent - Analyze & Plan","type":"main","index":0}]]},"AI Agent - Analyze & Plan":{"main":[[{"node":"Self-Triage Decision","type":"main","index":0}]]},"Self-Triage Decision":{"main":[[{"node":"AI Agent - Implement","type":"main","index":0}],[{"node":"Escalate to Human","type":"main","index":0}]]},"AI Agent - Implement":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Run Tests":{"main":[[{"node":"Tests Passed?","type":"main","index":0}]]},"Tests Passed?":{"main":[[{"node":"Git Commit & Push","type":"main","index":0}],[{"node":"Increment Attempt Counter","type":"main","index":0}]]},"Increment Attempt Counter":{"main":[[{"node":"Max Attempts Reached?","type":"main","index":0}]]},"Max Attempts Reached?":{"main":[[{"node":"AI Agent - Fix Tests","type":"main","index":0}],[{"node":"Escalate to Human","type":"main","index":0}]]},"AI Agent - Fix Tests":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Git Commit & Push":{"main":[[{"node":"Merge to Main","type":"main","index":0}]]},"Merge to Main":{"main":[[{"node":"Update Linear - Success","type":"main","index":0}]]},"Update Linear - Success":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Escalate to Human":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Analyze & Plan","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent - Fix Tests","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent - Implement","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1f29add1-82a4-4d90-824b-de72c68c09db","activeVersionId":null,"versionCounter":9,"triggerCount":0,"shared":[{"updatedAt":"2025-12-21T04:28:44.692Z","createdAt":"2025-12-21T04:28:44.692Z","role":"workflow:owner","workflowId":"GIIBAxWXuajs5a60","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[],"activeVersion":null}