public/workflows/orangepi/J0Zf4eHFSQuqLv95.json
{"updatedAt":"2026-01-01T23:49:30.250Z","createdAt":"2025-12-30T02:01:47.342Z","id":"J0Zf4eHFSQuqLv95","name":"Issue Packets Loader Sub","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"f9e9249f-fa21-45bb-b935-668b84d900c5","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[3232,1872]},{"parameters":{"message":"={{ $json.promptText }}","options":{"memoryConnection":true}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[3856,2048],"id":"da609a9a-01f1-46d7-afd7-e95c9b4b0168","name":"Respond to Chat"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state description } } }\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3456,2048],"id":"23a00c37-75bb-4a89-b5a0-1e3b083dc0dd","name":"Linear Projects","credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9e1cc823-168e-40cf-96a5-9025d765cf70","name":"Active Project","value":"={{ $json.projectId }}","type":"string"},{"id":"3d76df74-8ab2-41af-9bdd-d8718f93d057","name":"projectName","value":"={{ $json.projectName }}","type":"string"},{"id":"auto-1766985255.563281","name":"projectDescription","value":"={{ $json.projectDescription }}","type":"string"},{"id":"auto2-1766985255.563405","name":"projectState","value":"={{ $json.projectState }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4336,2048],"id":"7266e5d2-8ad2-43bd-a920-ed5638289c58","name":"Set Active Project"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"xFm91lQWMMBRlnho","mode":"list","cachedResultName":"ClaudiaCode Issues","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/xFm91lQWMMBRlnho"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $('Set Active Project').item.json[\"Active Project\"] }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[3312,2416],"id":"41776e65-f859-4298-965d-494f749d4dea","name":"Get row(s) in Data table2"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"role":"=system","content":"=Return STRICT JSON ONLY. No markdown. No code fences. No XML/tags. No tool-call syntax.\nOutput exactly one JSON object and nothing else.\nAll keys double-quoted. All string values JSON-escaped. No trailing commas.\nAll timestamps MUST be strings (quoted ISO8601).\n\nRequired top-level schema:\n{\n  \"projectID\": string,\n  \"projectName\": string,\n  \"planRunID\": string,\n  \"generatedAt\": string,\n  \"openIssueCount\": number,\n  \"openIssueIDs\": string[],\n  \"executiveSummary\": string,\n  \"planStatus\": \"proposed\"|\"approved\"|\"stopped\"|\"needs_changes\",\n  \"planJSON\": object\n}\n"},{"content":"=Active Project: {{ $('Set Active Project').item.json[\"Active Project\"] }}\nUse the get rows data table tool to fetch issues"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[3168,2256],"id":"99345d6b-8936-483a-b871-214d04479653","name":"Project Manager","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"message":"={{ $json.output?.[0]?.content?.[0]?.text ?? $json.output ?? $json.message ?? '' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[4928,2256],"id":"8886d448-b734-487b-bbf0-ddbb27cbcbab","name":"Respond to Chat1"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"Efxpd5kCkGHvuLFi","mode":"list","cachedResultName":"ClaudiaCodeProjectPlans","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/Efxpd5kCkGHvuLFi"},"filters":{"conditions":[{"keyName":"projectID","keyValue":"={{ $('Set Active Project').item.json['Active Project'] }}"}]},"columns":{"mappingMode":"defineBelow","value":{"p0Count":0,"p1Count":0,"p2Count":0,"workstreamCount":0,"projectID":"={{ $json.projectID }}","planRunID":"={{ $json.planRunID }}","generatedAt":"={{ $json.generatedAt }}","openIssueIDs":"={{ JSON.stringify($json.openIssueIDs ?? []) }}","executiveSummary":"={{ $json.executiveSummary }}","planJSON":"={{ JSON.stringify($json.planJSON ?? {}) }}","issueSnapshotHash":"={{ $json.issueSnapshotHash }}","planStatus":"={{ $json.planStatus }}","parentPlanID":"={{ $json.parentPlanID }}","source":"Project Manager","model":"GPT-OSS-20B"},"matchingColumns":[],"schema":[{"id":"projectID","displayName":"projectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planRunID","displayName":"planRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"generatedAt","displayName":"generatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"openIssueCount","displayName":"openIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"openIssueIDs","displayName":"openIssueIDs","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"executiveSummary","displayName":"executiveSummary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planJSON","displayName":"planJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"issueSnapshotHash","displayName":"issueSnapshotHash","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planStatus","displayName":"planStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"parentPlanID","displayName":"parentPlanID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"p0Count","displayName":"p0Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"p1Count","displayName":"p1Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"p2Count","displayName":"p2Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"workstreamCount","displayName":"workstreamCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"iteration1Theme","displayName":"iteration1Theme","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration1IssueOrder","displayName":"iteration1IssueOrder","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration2Theme","displayName":"iteration2Theme","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration2IssueOrder","displayName":"iteration2IssueOrder","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"crossCuttingRisks","displayName":"crossCuttingRisks","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"openQuestions","displayName":"openQuestions","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"nextActions","displayName":"nextActions","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"promptVersion","displayName":"promptVersion","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"dispatchStatus","displayName":"dispatchStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"orchestratorMessageID","displayName":"orchestratorMessageID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"acceptedAt","displayName":"acceptedAt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[3680,2256],"id":"2b8a5ee6-c634-4e5d-822c-f83a3bb3cd6c","name":"Upsert row(s)1"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"role":"=system","content":"Write a concise human-readable message for the end user summarizing the packetization results. Use plain text. Include: Project ID, Packet count, Open issue count, then a bullet list of packets with packetID, title (from packetJSON.title), and issueIDs. End with: Reply 'approve' to execute, 'modify <notes>' to revise, or 'stop'."},{"role":"=user","content":"Summarize this packet plan JSON:\n{{ JSON.stringify($json) }}"}]},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4624,2256],"id":"8252304e-9fb4-44f2-a5dc-45d7b923477a","name":"Format Response","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"contextWindowLength":200},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3952,2384],"id":"afece53c-0897-43b5-9671-a41732b8c750","name":"Simple Memory"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"xFm91lQWMMBRlnho","mode":"list","cachedResultName":"ClaudiaCode Issues","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/xFm91lQWMMBRlnho"},"filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $('Set Active Project').item.json[\"Active Project\"] }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[4016,2448],"id":"66a09e71-e2e2-41de-acc3-e08ad5c043a9","name":"get_rows_issues1"},{"parameters":{"promptType":"define","text":"=You are the Project Issues Loader (Planner → Packetizer).\n\nMISSION\nLoad ALL eligible issues for the active Linear project (from the synced Issues data table via get_rows_issues1) and produce ONE OR MORE planRuns, each containing coherent work packets (1–4 issues per packet) for later execution by Dev Agents.\n\nELIGIBLE ISSUES (include)\n\nbacklog, todo, started/in progress, blocked, unstarted, triage, etc.\n\nIn general: anything NOT done/closed/completed.\n\nExclude \"in review\" by default (treat as not actionable unless explicitly requested).\n\nINELIGIBLE ISSUES (exclude)\nIf LinearIssueStatus (case-insensitive) matches any of:\n\ndone, completed, canceled/cancelled, duplicate, won't do, archived, in review/review\n\nIf a status is unknown, INCLUDE it (do not exclude it).\n\nHARD REQUIREMENTS\n\nYou MUST call get_rows_issues1 to fetch issues.\n\nReturn STRICT JSON ONLY. No markdown. No code fences. No commentary.\n\nOutput exactly ONE JSON object and nothing else.\n\nDo NOT call any persistence tools. Do NOT call worker bees. Do NOT call Project Operations.\n\nJSON-SAFETY (critical; prevents downstream JSON.parse failures)\n\nYou MUST NOT copy/paste any issue “description” verbatim from Linear into the JSON output.\n\nFor every issue, generate a sanitized summary string for description yourself, based on the issue, with these rules:\n\nSingle line only (no newlines, no tabs).\n\nMust not contain any double-quote characters: \".\n\nMust not contain backticks or triple-backticks.\n\nMax 240 characters.\n\nIf the original issue text contains quotes or code, paraphrase it without quotes.\n\nFor ALL strings in output, ensure they contain no literal newlines. Use spaces only.\n\nDo not include any raw JSON fragments from Linear inside strings. Always paraphrase.\n\nSCALING / CHUNKING INTO MULTIPLE PLANRUNS\nSome projects may have 80+ eligible issues. You MUST packetize ALL eligible issues by splitting into multiple planRuns.\nRules:\n\nTarget 25–35 issues per planRun (last chunk can be smaller).\n\nPreserve coherence: try to group related issues into the same planRun and same packet.\n\nEach planRun must have a unique planRunID derived from parentPlanRunID:\nplanRunID = parentPlanRunID + \"-c\" + twoDigitChunkIndex (01,02,...)\n\nASSIGNMENT\nChoose assignedWorker per packet:\n\nPrefer \"worker_bee_gptoss\" for general coding, refactors, fast iteration.\n\nPrefer \"worker_bee_opus\" for complex architecture, ambiguous requirements, or high-risk changes.\n\nUse \"vision_worker\" only if packet needs screenshot/image interpretation (visionSummaryNeeded=true).\n\nINPUTS\nprojectID: {{ $('Set Active Project').item.json[\"Active Project\"] }}\nprojectName: {{ $('Set Active Project').item.json.projectName }}\nparentPlanRunID: {{ $('Normalize Plan Output').item.json.planRunID }}\nprojectPlanJSON: {{ JSON.stringify($('Normalize Plan Output').item.json.planJSON) }}\n\nOUTPUT SCHEMA (strict)\n{\n\"projectID\": \"string\",\n\"projectName\": \"string\",\n\"parentPlanRunID\": \"string\",\n\"generatedAt\": \"ISO8601 string\",\n\"totalIssueCount\": number,\n\"eligibleIssueCount\": number,\n\"excludedIssueCount\": number,\n\"excludedStatuses\": { \"status_string\": number },\n\"planRuns\": [\n{\n\"planRunID\": \"string\",\n\"chunkIndex\": number,\n\"chunkIssueIDs\": [\"GTE-123\", \"...\"],\n\"packetCount\": number,\n\"packets\": [\n{\n\"planRunID\": \"string\",\n\"projectID\": \"string\",\n\"packetID\": \"string\",\n\"issueIDs\": [\"GTE-123\", \"...\"],\n\"assignedWorker\": \"worker_bee_gptoss|worker_bee_opus|vision_worker\",\n\"status\": \"queued\",\n\"packetJSON\": {\n\"title\": \"string\",\n\"summary\": \"string\",\n\"issues\": [\n{ \"id\": \"GTE-123\", \"title\": \"string\", \"description\": \"string\" }\n],\n\"acceptanceCriteria\": [\"string\"],\n\"risks\": [\"string\"],\n\"dependencies\": [\"string\"],\n\"visionSummaryNeeded\": boolean,\n\"visionSummary\": \"string\"\n}\n}\n]\n}\n],\n\"routingSummary\": { \"worker_bee_opus\": number, \"worker_bee_gptoss\": number, \"vision_worker\": number },\n\"approvalRequest\": {\n\"prompt\": \"Reply 'approve' to execute, 'modify <notes>' to revise, or 'stop'.\",\n\"default\": \"stop\"\n}\n}\n\nPROCESS\n\nCall get_rows_issues1.\n\nCompute eligible vs excluded by status. Populate excludedStatuses counts.\n\nChunk eligible issues into planRuns (25–35 issues each).\n\nFor each planRun: create packets (1–4 issues each), coherent grouping.\n\nFill routingSummary counts.\n\nEnsure packetCount and counts are correct and consistent.\n\nFINAL CHECK: verify that no output string contains any double-quote character inside string content except JSON syntax quotes, and no string contains newlines/tabs.\n\nReturn the JSON object.","options":{"systemMessage":"You are Project Issues Loader. You fetch and normalize open issues for the active Linear project and produce a packet plan JSON. Do NOT call any tools to persist packets; persistence is handled by downstream nodes. Do not implement code changes.","maxIterations":500}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[3872,2256],"id":"1a4a0760-4ddd-46c9-98b4-4f3dfe3c9bfb","name":"Project Issues Loader1"},{"parameters":{"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[3216,2048],"id":"8a49bb6e-adf5-4f1c-aa7b-156b087ccab2","name":"When chat message received","webhookId":"5629a6e5-ae99-4183-9653-0f0777dd0d8f"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{"timeout":320000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3872,2448],"id":"88b2e92d-002e-42f4-9e1d-99ad1f825560","name":"GPT-OSS-20B","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"jsCode":"/**\n * Deterministic row builder.\n * Uses ONLY the incoming $json from \"Set Active Project\".\n * No cross-node lookups, no Linear Projects enrichment.\n */\n\nconst linearProjectID = $json[\"Active Project\"] ?? null;\nconst projectName = $json.projectName ?? null;\n\nif (!linearProjectID) {\n  throw new Error(`Build Project Row: missing \"Active Project\" in input: ${JSON.stringify($json)}`);\n}\n\nreturn [\n  {\n    json: {\n      LinearProjectID: String(linearProjectID),\n      ProjectName: projectName ? String(projectName) : null,\n      // Only include these if they are real table columns; otherwise remove them.\n      ProjectStatus: $json.projectState ?? null,\n      ProjectDescription: $json.projectDescription ?? null,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4512,2048],"id":"098e55d0-f7dc-48ad-8276-98a22dbd7b45","name":"Build Project Row"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"uheU5SSGQpNjVko5","mode":"list","cachedResultName":"ClaudiaCodeProjects","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uheU5SSGQpNjVko5"},"filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $json.LinearProjectID }}"}]},"columns":{"mappingMode":"defineBelow","value":{"LinearProjectID":"={{ $json.LinearProjectID }}","ProjectName":"={{ $json.ProjectName }}","ProjectDescription":"={{ $json.ProjectDescription }}","ProjectStatus":"={{ $json.ProjectStatus }}","OpenIssueCount":0,"BacklogIssueCount":0,"StartedIssueCount":0,"DoneIssueCount":0,"LastPacketCount":0},"matchingColumns":["LinearProjectID"],"schema":[{"id":"ProjectName","displayName":"ProjectName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearProjectID","displayName":"LinearProjectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ProjectDescription","displayName":"ProjectDescription","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ProjectStatus","displayName":"ProjectStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearTeamID","displayName":"LinearTeamID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearTeamName","displayName":"LinearTeamName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LeadUserID","displayName":"LeadUserID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SuccessCriteria","displayName":"SuccessCriteria","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ScopeNotes","displayName":"ScopeNotes","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Constraints","displayName":"Constraints","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Risks","displayName":"Risks","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Dependencies","displayName":"Dependencies","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"NonGoals","displayName":"NonGoals","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"StartDate","displayName":"StartDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"TargetDate","displayName":"TargetDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastLinearSyncAt","displayName":"LastLinearSyncAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastPlannedAt","displayName":"LastPlannedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastPacketizedAt","displayName":"LastPacketizedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"OpenIssueCount","displayName":"OpenIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"BacklogIssueCount","displayName":"BacklogIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"StartedIssueCount","displayName":"StartedIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"DoneIssueCount","displayName":"DoneIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"IssueSnapshotHash","displayName":"IssueSnapshotHash","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ActivePlanRunID","displayName":"ActivePlanRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LastPacketizerRunID","displayName":"LastPacketizerRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LastPacketCount","displayName":"LastPacketCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[4688,2048],"id":"34dae465-7715-48c4-b0e9-80a1e86ec2ef","name":"Upsert Project"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"uY29FyKg9JFPZa9a","mode":"list","cachedResultName":"ClaudiaCodeIssuePackets","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uY29FyKg9JFPZa9a"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"planRunID","keyValue":"={{ $('Upsert row(s)1').item.json.planRunID }}"},{"keyName":"packetID","keyValue":"={{ $json.packetID }}"}]},"columns":{"mappingMode":"defineBelow","value":{"planRunID":"={{ $('Upsert row(s)1').item.json.planRunID }}","projectID":"={{ $('Upsert row(s)1').item.json.projectID }}","packetID":"={{ $json.packetID }}","issueIDs":"={{ JSON.stringify($json.issueIDs ?? []) }}","assignedWorker":"={{ $json.assignedWorker }}","packetJSON":"={{ JSON.stringify($json.packetJSON) }}","status":"={{ $json.status }}","workerOutputJSON":"={{ $json.workerOutputJSON ?? '' }}"},"matchingColumns":[],"schema":[{"id":"planRunID","displayName":"planRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"projectID","displayName":"projectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"packetID","displayName":"packetID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"issueIDs","displayName":"issueIDs","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"assignedWorker","displayName":"assignedWorker","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"packetJSON","displayName":"packetJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"workerOutputJSON","displayName":"workerOutputJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[4368,2464],"id":"d448dce6-102e-4ddd-8bbe-bf2d28b3c257","name":"Upsert Issue Packets"},{"parameters":{"jsCode":"// Resolve the user's selection (number or name) into a Linear project.\n//\n// IMPORTANT: The \"Respond to Chat\" node does NOT reliably pass through upstream fields.\n// So we pull the authoritative project list from the \"Format Project List\" node output.\n//\n// Expects:\n// - user reply: $json.chatInput (string) from \"Respond to Chat\" (Wait for User Reply)\n// - projects list: $items(\"Format Project List\")[0].json.projects (array)\n//\n// Outputs:\n// { projectId, projectName, projectState, projectDescription }\n\nconst inputRaw = ($json.chatInput ?? \"\").toString().trim();\nif (!inputRaw) throw new Error(\"Resolve Project Selection: missing chatInput (user reply).\");\n\n// Pull projects from Format Project List (do not depend on passthrough)\nconst fplItems = $items(\"Format Project List\");\nconst projects = (fplItems?.[0]?.json?.projects ?? []);\nif (!Array.isArray(projects) || projects.length === 0) {\n  throw new Error(\"Resolve Project Selection: missing projects list from 'Format Project List'.\");\n}\n\nconst normalize = (s) => (s ?? \"\").toString().trim().toLowerCase().replace(/\\s+/g, \" \");\n\nlet chosen = null;\n\n// Numeric selection (1-based)\nif (/^\\d+$/.test(inputRaw)) {\n  const idx = Number(inputRaw);\n  if (Number.isFinite(idx) && idx >= 1 && idx <= projects.length) {\n    chosen = projects[idx - 1];\n  } else {\n    throw new Error(`Resolve Project Selection: number out of range (1-${projects.length}).`);\n  }\n} else {\n  // Name match (exact normalized, then contains)\n  const want = normalize(inputRaw);\n\n  chosen = projects.find(p => normalize(p?.name) === want) ??\n           projects.find(p => normalize(p?.name).includes(want)) ??\n           null;\n\n  if (!chosen) {\n    // Small fuzzy fallback: best Jaccard over tokens (cheap, deterministic)\n    const tokens = new Set(want.split(\" \").filter(Boolean));\n    const score = (name) => {\n      const nt = new Set(normalize(name).split(\" \").filter(Boolean));\n      const inter = [...tokens].filter(t => nt.has(t)).length;\n      const union = new Set([...tokens, ...nt]).size || 1;\n      return inter / union;\n    };\n    let best = null;\n    let bestScore = 0;\n    for (const p of projects) {\n      const sc = score(p?.name);\n      if (sc > bestScore) { bestScore = sc; best = p; }\n    }\n    if (best && bestScore >= 0.34) chosen = best;\n  }\n\n  if (!chosen) {\n    throw new Error(\"Resolve Project Selection: could not match selection to a project.\");\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    projectId: chosen.id,\n    projectName: chosen.name,\n    projectState: chosen.state ?? null,\n    projectDescription: chosen.description ?? null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4160,2048],"id":"03c0ebdd-3148-4996-b264-4b7508338910","name":"Resolve Project Selection"},{"parameters":{"jsCode":"// Build a stable, user-friendly project list + pass through all fields.\n// Expects Linear GraphQL payload at: $json.data.projects.nodes\nconst nodes = $json?.data?.projects?.nodes ?? [];\nconst projects = nodes.map(p => ({\n  id: p.id ?? null,\n  name: p.name ?? null,\n  state: p.state ?? null,\n  description: p.description ?? null,\n}));\n\nfunction clean(s){ return (s ?? \"\").toString().replace(/\\s+/g,' ').trim(); }\n\nconst lines = projects.map((p, i) => {\n  const idx = i + 1;\n  const name = clean(p.name) || \"(unnamed)\";\n  const state = clean(p.state) || \"unknown\";\n  return `${idx}. ${name} — ${state}`;\n}).join(\"\\n\");\n\nconst promptText =\n`Which project would you like to work on? (Reply with the project name or its number.)\\n\\n${lines}`;\n\nreturn [{ json: { ...$json, promptText, projects } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3648,2048],"id":"dc9280ef-1f30-4203-9491-3118eed4c5fd","name":"Format Project List"},{"parameters":{"batchSize":25,"options":{}},"id":"4bf87ad1-133b-4f2f-b1c3-e351f0ddf859","name":"Split Packets","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4192,2464]},{"parameters":{"jsCode":"const t = $json.output?.[0]?.content?.[0]?.text ?? $json.output ?? $json.message ?? '';\nconst s = typeof t === 'string' ? t : JSON.stringify(t);\nconst m = s.match(/\\{[\\s\\S]*\\}/);\nif (!m) throw new Error('Normalize Plan Output: no JSON found in Project Manager output');\nconst obj = JSON.parse(m[0]);\nreturn [{ json: obj }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3472,2256],"id":"ab15f6d7-1eec-489b-9808-e0b506427088","name":"Normalize Plan Output"},{"parameters":{"jsCode":"/**\n * Split Packets Items - FINAL VERSION\n * Preserves packetJSON even with aggressive repair\n */\n\n// ===== UTILITIES =====\n\nfunction toText(v) {\n  if (v == null) return '';\n  return typeof v === 'string' ? v : JSON.stringify(v);\n}\n\n// ===== JSON EXTRACTION =====\n\nfunction extractJSON(text) {\n  // Try code blocks\n  let match = text.match(/```(?:json)?\\s*(\\{[\\s\\S]*?\\})\\s*```/);\n  if (match) return match[1];\n\n  // Bracket counting (string-aware)\n  let inStr = false, esc = false, depth = 0, start = -1;\n  for (let i = 0; i < text.length; i++) {\n    const c = text[i];\n    if (inStr) {\n      if (esc) esc = false;\n      else if (c === '\\\\') esc = true;\n      else if (c === '\"') inStr = false;\n    } else {\n      if (c === '\"') inStr = true;\n      else if (c === '{') { if (!depth++) start = i; }\n      else if (c === '}' && !--depth && start >= 0) return text.slice(start, i + 1);\n    }\n  }\n\n  const t = text.trim();\n  return (t[0] === '{' && t[t.length - 1] === '}') ? t : null;\n}\n\n// ===== JSON REPAIR =====\n\nfunction fixControlChars(json) {\n  let out = '', inStr = false, esc = false;\n\n  for (let i = 0; i < json.length; i++) {\n    const c = json[i], code = c.charCodeAt(0);\n\n    if (inStr) {\n      if (esc) { out += c; esc = false; }\n      else if (c === '\\\\') { out += c; esc = true; }\n      else if (c === '\"') { out += c; inStr = false; }\n      else if (c === '\\n' || c === '\\r') out += '\\\\n';\n      else if (c === '\\t') out += ' ';\n      else if (code < 32) continue;\n      else out += c;\n    } else {\n      if (c === '\"') { out += c; inStr = true; }\n      else out += c;\n    }\n  }\n\n  return out;\n}\n\nfunction fixSyntax(json) {\n  return json\n    .replace(/,(\\s*[\\]}])/g, '$1')              // trailing commas\n    .replace(/\"(\\s{2,})\"/g, '\", \"')             // missing commas\n    .replace(/\\}(\\s*)\"([^\"]+)\"(\\s*):/g, '},\"$2\":')  // missing comma after }\n    .replace(/\\](\\s*)\"([^\"]+)\"(\\s*):/g, '],\"$2\":'); // missing comma after ]\n}\n\nfunction aggressiveRepair(json) {\n  let result = fixControlChars(json);\n  result = fixSyntax(result);\n  return result;\n}\n\n// ===== PARSING STRATEGIES =====\n\nfunction tryParse(json, label) {\n  const strategies = [\n    ['Direct', t => JSON.parse(t)],\n    ['Control chars', t => JSON.parse(fixControlChars(t))],\n    ['Syntax', t => JSON.parse(fixSyntax(t))],\n    ['Aggressive', t => JSON.parse(aggressiveRepair(t))],\n  ];\n\n  for (const [name, fn] of strategies) {\n    try {\n      return fn(json);\n    } catch (e) {\n      // Continue\n    }\n  }\n\n  throw new Error(`${label}: All parse strategies failed`);\n}\n\n// ===== ENHANCED REGEX FALLBACK (preserves packetJSON) =====\n\nfunction regexExtractPackets(rawText) {\n  const packets = [];\n\n  // Pattern: look for packet objects in the text\n  // We'll extract each field separately to build a complete packet\n\n  // Find all packetID occurrences\n  const packetIDPattern = /\"packetID\"\\s*:\\s*\"([^\"]+)\"/g;\n  const packetMatches = [...rawText.matchAll(packetIDPattern)];\n\n  for (const match of packetMatches) {\n    const packetID = match[1];\n    const matchPos = match.index;\n\n    // Extract a window of text around this packet\n    const windowStart = Math.max(0, matchPos - 1500);\n    const windowEnd = Math.min(rawText.length, matchPos + 1500);\n    const window = rawText.substring(windowStart, windowEnd);\n\n    // Extract fields from this window\n    const packet = {\n      packetID,\n      planRunID: '',\n      projectID: '',\n      issueIDs: [],\n      assignedWorker: 'worker_bee_gptoss',\n      status: 'queued',\n      packetJSON: {}\n    };\n\n    // Try to extract planRunID\n    const planMatch = window.match(/\"planRunID\"\\s*:\\s*\"([^\"]+)\"/);\n    if (planMatch) packet.planRunID = planMatch[1];\n\n    // Try to extract projectID\n    const projMatch = window.match(/\"projectID\"\\s*:\\s*\"([^\"]+)\"/);\n    if (projMatch) packet.projectID = projMatch[1];\n\n    // Try to extract issueIDs array\n    const issueMatch = window.match(/\"issueIDs\"\\s*:\\s*\\[([^\\]]+)\\]/);\n    if (issueMatch) {\n      const idsText = issueMatch[1];\n      packet.issueIDs = idsText.split(',').map(s => s.replace(/[\"'\\s]/g, '')).filter(Boolean);\n    }\n\n    // Try to extract assignedWorker\n    const workerMatch = window.match(/\"assignedWorker\"\\s*:\\s*\"([^\"]+)\"/);\n    if (workerMatch) packet.assignedWorker = workerMatch[1];\n\n    // Try to extract packetJSON object - THIS IS KEY!\n    const packetJSONMatch = window.match(/\"packetJSON\"\\s*:\\s*(\\{[^\\}]+\\})/);\n    if (packetJSONMatch) {\n      try {\n        // Try to parse the packetJSON\n        const pjText = packetJSONMatch[1];\n        packet.packetJSON = tryParse(pjText, 'packetJSON in regex');\n      } catch (e) {\n        // If parsing fails, try to extract key fields manually\n        const titleMatch = window.match(/\"title\"\\s*:\\s*\"([^\"]+)\"/);\n        const summaryMatch = window.match(/\"summary\"\\s*:\\s*\"([^\"]+)\"/);\n\n        packet.packetJSON = {\n          title: titleMatch ? titleMatch[1] : '',\n          summary: summaryMatch ? summaryMatch[1] : '',\n          issues: packet.issueIDs.map(id => ({ id }))\n        };\n      }\n    } else {\n      // No packetJSON found, try to construct from surrounding text\n      const titleMatch = window.match(/\"title\"\\s*:\\s*\"([^\"]+)\"/);\n      const summaryMatch = window.match(/\"summary\"\\s*:\\s*\"([^\"]+)\"/);\n\n      if (titleMatch || summaryMatch) {\n        packet.packetJSON = {\n          title: titleMatch ? titleMatch[1] : 'Packet ' + packetID,\n          summary: summaryMatch ? summaryMatch[1] : '',\n          issues: packet.issueIDs.map(id => ({ id }))\n        };\n      }\n    }\n\n    packets.push({ json: packet });\n  }\n\n  return packets.length > 0 ? packets : null;\n}\n\n// ===== MAIN PARSER =====\n\nfunction parse(input) {\n  // Already parsed?\n  if (input?.planRuns && Array.isArray(input.planRuns)) return input;\n  if (input?.output?.planRuns && Array.isArray(input.output.planRuns)) return input.output;\n\n  // Get text\n  let text = toText(input?.output ?? input);\n  if (input?.output?.[0]?.content?.[0]?.text) text = input.output[0].content[0].text;\n  text = text.trim();\n\n  // Extract JSON\n  const jsonText = extractJSON(text);\n  if (!jsonText) {\n    throw new Error(`No JSON object found`);\n  }\n\n  return tryParse(jsonText, 'Planner output');\n}\n\n// ===== MAIN EXECUTION =====\n\ntry {\n  let plannerData;\n  let usedFallback = false;\n\n  try {\n    plannerData = parse($json);\n  } catch (parseErr) {\n    // Try enhanced regex fallback\n    const rawText = toText($json?.output ?? $json);\n    const fallbackPackets = regexExtractPackets(rawText);\n\n    if (fallbackPackets) {\n      return fallbackPackets;\n    }\n\n    throw parseErr;\n  }\n\n  const planRuns = Array.isArray(plannerData.planRuns) ? plannerData.planRuns : [];\n  if (!planRuns.length) {\n    throw new Error(`No planRuns found`);\n  }\n\n  const output = [];\n\n  for (const run of planRuns) {\n    const packets = Array.isArray(run.packets) ? run.packets : [];\n\n    for (const pkt of packets) {\n      // Parse nested JSON - PRESERVE EVERYTHING\n      let pJSON = pkt.packetJSON;\n      if (typeof pJSON === 'string') {\n        try {\n          pJSON = tryParse(pJSON, 'packetJSON');\n        } catch (e) {\n          // Keep as string if can't parse\n          pJSON = { raw: pJSON };\n        }\n      }\n\n      // Ensure packetJSON has at least basic structure\n      if (!pJSON || typeof pJSON !== 'object' || Object.keys(pJSON).length === 0) {\n        pJSON = {\n          title: `Packet ${pkt.packetID || 'unknown'}`,\n          summary: '',\n          issues: []\n        };\n      }\n\n      let iIDs = pkt.issueIDs;\n      if (typeof iIDs === 'string') {\n        try { iIDs = JSON.parse(iIDs); }\n        catch (e) { iIDs = iIDs.split(',').map(s => s.trim()).filter(Boolean); }\n      }\n\n      output.push({\n        json: {\n          planRunID: pkt.planRunID ?? run.planRunID ?? plannerData.parentPlanRunID ?? 'unknown',\n          projectID: pkt.projectID ?? run.projectID ?? plannerData.projectID ?? '',\n          packetID: pkt.packetID ?? `pkt-${Date.now()}-${Math.random().toString(36).substr(2, 6)}`,\n          issueIDs: Array.isArray(iIDs) ? iIDs : [],\n          assignedWorker: pkt.assignedWorker ?? 'worker_bee_gptoss',\n          status: pkt.status ?? 'queued',\n          packetJSON: pJSON,\n        }\n      });\n    }\n  }\n\n  if (!output.length) {\n    throw new Error(`No packets found in ${planRuns.length} planRun(s)`);\n  }\n\n  return output;\n\n} catch (err) {\n  throw new Error(\n    `Split Packets Final failed: ${err.message}\\n` +\n    `Debug: ${JSON.stringify($json).substring(0, 500)}...`\n  );\n}\n"},"id":"e520da95-04ca-4c65-810d-9470f0bc5ce7","name":"Split Packets Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[4192,2256]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"uY29FyKg9JFPZa9a","mode":"list","cachedResultName":"ClaudiaCodeIssuePackets","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uY29FyKg9JFPZa9a"},"filters":{"conditions":[{"keyName":"planRunID","keyValue":"={{ $json.planRunID }}"}]},"returnAll":true},"id":"cbbb64ad-ebd4-40d7-978b-9c84d39a6739","name":"Get Packets For Summary","type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[4768,2448]},{"parameters":{"jsCode":"// Run once (Get Packets For Summary returns multiple items, this node runs per item, but we'll use $input.all() to aggregate)\nconst rows = $input.all().map(i => i.json);\nconst first = rows[0] || {};\nconst packets = rows.map(r => ({\n  planRunID: r.planRunID,\n  projectID: r.projectID,\n  packetID: r.packetID,\n  issueIDs: r.issueIDs,\n  assignedWorker: r.assignedWorker,\n  packetJSON: r.packetJSON,\n  status: r.status,\n}));\n// gather unique issue ids\nconst issueSet = new Set();\nfor (const p of packets) {\n  if (Array.isArray(p.issueIDs)) for (const id of p.issueIDs) issueSet.add(id);\n}\nreturn [{\n  json: {\n    planRunID: first.planRunID,\n    projectID: first.projectID,\n    packetCount: packets.length,\n    openIssueCount: issueSet.size,\n    openIssueIDs: Array.from(issueSet),\n    packets,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4432,2256],"id":"cc8d41b3-8ca5-4f04-9f24-37aeb61c9db9","name":"Aggregate Packets For Summary"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Linear Projects","type":"main","index":0}]]},"Respond to Chat":{"main":[[{"node":"Resolve Project Selection","type":"main","index":0}]]},"Linear Projects":{"main":[[{"node":"Format Project List","type":"main","index":0}]]},"Set Active Project":{"main":[[{"node":"Build Project Row","type":"main","index":0}]]},"Get row(s) in Data table2":{"ai_tool":[[{"node":"Project Manager","type":"ai_tool","index":0}]]},"Project Manager":{"main":[[{"node":"Normalize Plan Output","type":"main","index":0}]]},"Upsert row(s)1":{"main":[[{"node":"Project Issues Loader1","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Chat1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Project Issues Loader1","type":"ai_memory","index":0}]]},"get_rows_issues1":{"ai_tool":[[{"node":"Project Issues Loader1","type":"ai_tool","index":0}]]},"Project Issues Loader1":{"main":[[{"node":"Split Packets Items","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Linear Projects","type":"main","index":0}]]},"GPT-OSS-20B":{"ai_languageModel":[[{"node":"Project Issues Loader1","type":"ai_languageModel","index":0}]]},"Build Project Row":{"main":[[{"node":"Upsert Project","type":"main","index":0}]]},"Upsert Project":{"main":[[{"node":"Project Manager","type":"main","index":0}]]},"Upsert Issue Packets":{"main":[[{"node":"Split Packets","type":"main","index":0}]]},"Resolve Project Selection":{"main":[[{"node":"Set Active Project","type":"main","index":0}]]},"Format Project List":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]},"Split Packets":{"main":[[{"node":"Aggregate Packets For Summary","type":"main","index":0}],[{"node":"Upsert Issue Packets","type":"main","index":0}]]},"Normalize Plan Output":{"main":[[{"node":"Upsert row(s)1","type":"main","index":0}]]},"Split Packets Items":{"main":[[{"node":"Split Packets","type":"main","index":0}]]},"Get Packets For Summary":{"ai_tool":[[{"node":"Format Response","type":"ai_tool","index":0}]]},"Aggregate Packets For Summary":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"72cae088-3225-46e1-b6fd-29a9e9f332c2","activeVersionId":"873b22a8-2851-4c69-9b21-f045f19123be","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2025-12-30T02:01:47.345Z","createdAt":"2025-12-30T02:01:47.345Z","role":"workflow:owner","workflowId":"J0Zf4eHFSQuqLv95","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-01T23:41:10.347Z","createdAt":"2026-01-01T23:41:10.347Z","id":"59v2I1DDZaqntzwf","name":"AI GENERATED"},{"updatedAt":"2026-01-01T23:49:18.116Z","createdAt":"2026-01-01T23:49:18.116Z","id":"FhyWmYFIv4VR0Ccp","name":"VALUABLE"},{"updatedAt":"2026-01-01T23:43:31.460Z","createdAt":"2026-01-01T23:43:31.460Z","id":"KGYuVi3P58eyxAcp","name":"PRODUCTION"},{"updatedAt":"2026-01-01T23:43:52.148Z","createdAt":"2026-01-01T23:43:52.148Z","id":"MYeI4rvwznCZuMBg","name":"WORKING"},{"updatedAt":"2026-01-01T23:43:35.790Z","createdAt":"2026-01-01T23:43:35.790Z","id":"dzJsfxOIBt7NDFJ8","name":"LATEST VERSION"}],"activeVersion":{"updatedAt":"2025-12-30T02:42:48.000Z","createdAt":"2025-12-30T02:41:46.784Z","versionId":"873b22a8-2851-4c69-9b21-f045f19123be","workflowId":"J0Zf4eHFSQuqLv95","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-832,-208]},{"parameters":{},"id":"b5942df6-0160-4ef7-965d-57583acdc8aa","name":"Replace me with your logic","type":"n8n-nodes-base.noOp","position":[1152,-80]},{"parameters":{"message":"={{ $json.promptText }}","options":{"memoryConnection":true}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-208,-32],"id":"47aee615-15db-4bc2-bcbf-e05233c4b29d","name":"Respond to Chat"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state description } } }\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,-32],"id":"bd8dedd4-6290-41f1-b2b6-4bab2b77636b","name":"Linear Projects","credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9e1cc823-168e-40cf-96a5-9025d765cf70","name":"Active Project","value":"={{ $json.projectId }}","type":"string"},{"id":"3d76df74-8ab2-41af-9bdd-d8718f93d057","name":"projectName","value":"={{ $json.projectName }}","type":"string"},{"id":"auto-1766985255.563281","name":"projectDescription","value":"={{ $json.projectDescription }}","type":"string"},{"id":"auto2-1766985255.563405","name":"projectState","value":"={{ $json.projectState }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,-32],"id":"6591a0df-9622-4eb4-9a72-484eef587d5d","name":"Set Active Project"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"xFm91lQWMMBRlnho","mode":"list","cachedResultName":"ClaudiaCode Issues","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/xFm91lQWMMBRlnho"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $('Set Active Project').item.json[\"Active Project\"] }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-752,336],"id":"d75539e2-205e-4ea9-bcc6-c00c97764385","name":"Get row(s) in Data table2"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"role":"=system","content":"=Return STRICT JSON ONLY. No markdown. No code fences. No XML/tags. No tool-call syntax.\nOutput exactly one JSON object and nothing else.\nAll keys double-quoted. All string values JSON-escaped. No trailing commas.\nAll timestamps MUST be strings (quoted ISO8601).\n\nRequired top-level schema:\n{\n  \"projectID\": string,\n  \"projectName\": string,\n  \"planRunID\": string,\n  \"generatedAt\": string,\n  \"openIssueCount\": number,\n  \"openIssueIDs\": string[],\n  \"executiveSummary\": string,\n  \"planStatus\": \"proposed\"|\"approved\"|\"stopped\"|\"needs_changes\",\n  \"planJSON\": object\n}\n"},{"content":"=Active Project: {{ $('Set Active Project').item.json[\"Active Project\"] }}\nUse the get rows data table tool to fetch issues"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-896,176],"id":"ca01e4d4-2f3a-4e09-acd4-aa5d18471cb1","name":"Project Manager","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"message":"={{ $json.output?.[0]?.content?.[0]?.text ?? $json.output ?? $json.message ?? '' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1376,192],"id":"8ff27a26-fad1-440d-aa21-1401691c8998","name":"Respond to Chat1"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"Efxpd5kCkGHvuLFi","mode":"list","cachedResultName":"ClaudiaCodeProjectPlans","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/Efxpd5kCkGHvuLFi"},"filters":{"conditions":[{"keyName":"projectID","keyValue":"={{ $('Set Active Project').item.json['Active Project'] }}"}]},"columns":{"mappingMode":"defineBelow","value":{"p0Count":0,"p1Count":0,"p2Count":0,"workstreamCount":0,"projectID":"={{ $json.projectID }}","planRunID":"={{ $json.planRunID }}","generatedAt":"={{ $json.generatedAt }}","openIssueIDs":"={{ JSON.stringify($json.openIssueIDs ?? []) }}","executiveSummary":"={{ $json.executiveSummary }}","planJSON":"={{ JSON.stringify($json.planJSON ?? {}) }}","issueSnapshotHash":"={{ $json.issueSnapshotHash }}","planStatus":"={{ $json.planStatus }}","parentPlanID":"={{ $json.parentPlanID }}","source":"Project Manager","model":"GPT-OSS-20B"},"matchingColumns":[],"schema":[{"id":"projectID","displayName":"projectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planRunID","displayName":"planRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"generatedAt","displayName":"generatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"openIssueCount","displayName":"openIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"openIssueIDs","displayName":"openIssueIDs","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"executiveSummary","displayName":"executiveSummary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planJSON","displayName":"planJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"issueSnapshotHash","displayName":"issueSnapshotHash","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planStatus","displayName":"planStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"parentPlanID","displayName":"parentPlanID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"p0Count","displayName":"p0Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"p1Count","displayName":"p1Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"p2Count","displayName":"p2Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"workstreamCount","displayName":"workstreamCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"iteration1Theme","displayName":"iteration1Theme","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration1IssueOrder","displayName":"iteration1IssueOrder","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration2Theme","displayName":"iteration2Theme","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration2IssueOrder","displayName":"iteration2IssueOrder","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"crossCuttingRisks","displayName":"crossCuttingRisks","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"openQuestions","displayName":"openQuestions","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"nextActions","displayName":"nextActions","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"promptVersion","displayName":"promptVersion","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"dispatchStatus","displayName":"dispatchStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"orchestratorMessageID","displayName":"orchestratorMessageID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"acceptedAt","displayName":"acceptedAt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-384,176],"id":"ba267485-e186-4a0e-b61e-ad8360380afb","name":"Upsert row(s)1"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"role":"=system","content":"Write a concise human-readable message for the end user summarizing the packetization results. Use plain text. Include: Project ID, Packet count, Open issue count, then a bullet list of packets with packetID, title (from packetJSON.title), and issueIDs. End with: Reply 'approve' to execute, 'modify <notes>' to revise, or 'stop'."},{"role":"=user","content":"Summarize this packet plan JSON:\n{{ JSON.stringify($json) }}"}]},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1072,192],"id":"71ad2e4e-67cf-4b9a-8fe2-071d91608012","name":"Format Response","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"contextWindowLength":200},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-112,304],"id":"89c601a1-01fd-4994-8f10-694a686eab1e","name":"Simple Memory"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"xFm91lQWMMBRlnho","mode":"list","cachedResultName":"ClaudiaCode Issues","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/xFm91lQWMMBRlnho"},"filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $('Set Active Project').item.json[\"Active Project\"] }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-48,368],"id":"9e352f5f-bfb7-45f7-ac08-cdc69b6091d0","name":"get_rows_issues1"},{"parameters":{"promptType":"define","text":"=You are the Project Issues Loader (Preflight Packetizer).\n\nMISSION\nGiven the active Linear project, load all open issues that have been synced into the n8n data table via the tool `get_rows_issues1`.\nThen create small, coherent work packets (1–4 issues each) for later execution by the Dev Agent and Worker Bees.\n\nIMPORTANT: NO PERSISTENCE IN THIS NODE\n- Do NOT call `upsert_issue_packet1`.\n- Do NOT call Project Operations (except `download_image` only if a packet explicitly needs screenshot context).\n- Do NOT call worker bees.\nThis node only builds a packet plan for user approval; persistence is handled downstream.\n\nINPUTS\n- projectID: {{ $('Set Active Project').item.json[\"Active Project\"] }}\n- projectName: {{ $('Set Active Project').item.json.projectName }}\n- plan context JSON: {{ $json.planJSON }}\n\nPACKETIZATION RULES\n- Packet size: 1–4 issues. Prefer 1 issue per packet when scope is large/unclear.\n- Group only when issues are tightly related (same component/screen/workstream).\n- Choose `assignedWorker`:\n  - \"worker_bee_opus\" for UX/polish, ambiguous requirements, copy, interaction design, acceptance criteria.\n  - \"worker_bee_gptoss\" for implementation-heavy, infra/tooling, deterministic engineering tasks.\n\nVISION HANDLING\n- If any issue references screenshots/annotations, set `visionSummaryNeeded: true` on the packet.\n- You may (optionally) call `download_image` ONCE per packet to capture required screenshot context, then include a short `visionSummary` in that packet.\n\nOUTPUT (STRICT)\nReturn EXACTLY ONE JSON object (no markdown, no extra text) with this shape:\n\n{\n  \"projectID\": \"...\",\n  \"projectName\": \"...\",\n  \"planRunID\": \"<use the planRunID from input plan context if present; otherwise generate a UUID>\",\n  \"packetCount\": <int>,\n  \"packets\": [\n    {\n      \"packetID\": \"<planRunID>-P001\",\n      \"issueIDs\": [\"...\"],\n      \"assignedWorker\": \"worker_bee_opus|worker_bee_gptoss\",\n      \"status\": \"queued\",\n      \"packetJSON\": { \"title\": \"...\", \"summary\": \"...\", \"issues\": [...], \"visionSummaryNeeded\": false, \"visionSummary\": \"\" }\n    }\n  ],\n  \"routingSummary\": {\"worker_bee_opus\": <int>, \"worker_bee_gptoss\": <int>},\n  \"approvalRequest\": {\n    \"prompt\": \"Approve packet execution? Reply: approve | modify <notes> | stop\",\n    \"default\": \"stop\"\n  },\n  \"notes\": \"\"\n}\n\nIf there are more than ~50 open issues, only packetize the first 50 (highest priority by any available signal) and set `notes` to mention truncation.\n","options":{"systemMessage":"You are Project Issues Loader. You fetch and normalize open issues for the active Linear project and produce a packet plan JSON. Do NOT call any tools to persist packets; persistence is handled by downstream nodes. Do not implement code changes.","maxIterations":500}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-192,176],"id":"877d1746-268a-4acc-a861-ccaca7c5d17f","name":"Project Issues Loader1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-848,-16],"id":"247ff9f7-acf3-48d4-ac4e-73ba28cf7b0c","name":"When chat message received","webhookId":"5629a6e5-ae99-4183-9653-0f0777dd0d8f"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{"timeout":320000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-192,368],"id":"02a0bbca-f033-4584-b96c-2155512881c9","name":"GPT-OSS-20B","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"jsCode":"/**\n * Deterministic row builder.\n * Uses ONLY the incoming $json from \"Set Active Project\".\n * No cross-node lookups, no Linear Projects enrichment.\n */\n\nconst linearProjectID = $json[\"Active Project\"] ?? null;\nconst projectName = $json.projectName ?? null;\n\nif (!linearProjectID) {\n  throw new Error(`Build Project Row: missing \"Active Project\" in input: ${JSON.stringify($json)}`);\n}\n\nreturn [\n  {\n    json: {\n      LinearProjectID: String(linearProjectID),\n      ProjectName: projectName ? String(projectName) : null,\n      // Only include these if they are real table columns; otherwise remove them.\n      ProjectStatus: $json.projectState ?? null,\n      ProjectDescription: $json.projectDescription ?? null,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-32],"id":"ab34b0aa-a112-42a0-bdcb-e51f299aa12a","name":"Build Project Row"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"uheU5SSGQpNjVko5","mode":"list","cachedResultName":"ClaudiaCodeProjects","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uheU5SSGQpNjVko5"},"filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $json.LinearProjectID }}"}]},"columns":{"mappingMode":"defineBelow","value":{"LinearProjectID":"={{ $json.LinearProjectID }}","ProjectName":"={{ $json.ProjectName }}","ProjectDescription":"={{ $json.ProjectDescription }}","ProjectStatus":"={{ $json.ProjectStatus }}","OpenIssueCount":0,"BacklogIssueCount":0,"StartedIssueCount":0,"DoneIssueCount":0,"LastPacketCount":0},"matchingColumns":["LinearProjectID"],"schema":[{"id":"ProjectName","displayName":"ProjectName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearProjectID","displayName":"LinearProjectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ProjectDescription","displayName":"ProjectDescription","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ProjectStatus","displayName":"ProjectStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearTeamID","displayName":"LinearTeamID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearTeamName","displayName":"LinearTeamName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LeadUserID","displayName":"LeadUserID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SuccessCriteria","displayName":"SuccessCriteria","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ScopeNotes","displayName":"ScopeNotes","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Constraints","displayName":"Constraints","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Risks","displayName":"Risks","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Dependencies","displayName":"Dependencies","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"NonGoals","displayName":"NonGoals","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"StartDate","displayName":"StartDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"TargetDate","displayName":"TargetDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastLinearSyncAt","displayName":"LastLinearSyncAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastPlannedAt","displayName":"LastPlannedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastPacketizedAt","displayName":"LastPacketizedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"OpenIssueCount","displayName":"OpenIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"BacklogIssueCount","displayName":"BacklogIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"StartedIssueCount","displayName":"StartedIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"DoneIssueCount","displayName":"DoneIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"IssueSnapshotHash","displayName":"IssueSnapshotHash","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ActivePlanRunID","displayName":"ActivePlanRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LastPacketizerRunID","displayName":"LastPacketizerRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LastPacketCount","displayName":"LastPacketCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[624,-32],"id":"8a3daff8-e39c-4f56-b760-b0ed15927e34","name":"Upsert Project"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"uY29FyKg9JFPZa9a","mode":"list","cachedResultName":"ClaudiaCodeIssuePackets","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uY29FyKg9JFPZa9a"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"planRunID","keyValue":"={{ $('Upsert row(s)1').item.json.planRunID }}"},{"keyName":"packetID","keyValue":"={{ $json.packetID }}"}]},"columns":{"mappingMode":"defineBelow","value":{"planRunID":"={{ $('Upsert row(s)1').item.json.planRunID }}","projectID":"={{ $('Upsert row(s)1').item.json.projectID }}","packetID":"={{ $json.packetID }}","issueIDs":"={{ JSON.stringify($json.issueIDs ?? []) }}","assignedWorker":"={{ $json.assignedWorker }}","packetJSON":"={{ JSON.stringify($json.packetJSON) }}","status":"={{ $json.status }}","workerOutputJSON":"={{ $json.workerOutputJSON ?? '' }}"},"matchingColumns":[],"schema":[{"id":"planRunID","displayName":"planRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"projectID","displayName":"projectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"packetID","displayName":"packetID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"issueIDs","displayName":"issueIDs","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"assignedWorker","displayName":"assignedWorker","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"packetJSON","displayName":"packetJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"workerOutputJSON","displayName":"workerOutputJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[480,544],"id":"6f4f5021-d18b-426f-8f78-28eed7263147","name":"Upsert Issue Packets"},{"parameters":{"jsCode":"// Resolve the user's selection (number or name) into a Linear project.\n//\n// IMPORTANT: The \"Respond to Chat\" node does NOT reliably pass through upstream fields.\n// So we pull the authoritative project list from the \"Format Project List\" node output.\n//\n// Expects:\n// - user reply: $json.chatInput (string) from \"Respond to Chat\" (Wait for User Reply)\n// - projects list: $items(\"Format Project List\")[0].json.projects (array)\n//\n// Outputs:\n// { projectId, projectName, projectState, projectDescription }\n\nconst inputRaw = ($json.chatInput ?? \"\").toString().trim();\nif (!inputRaw) throw new Error(\"Resolve Project Selection: missing chatInput (user reply).\");\n\n// Pull projects from Format Project List (do not depend on passthrough)\nconst fplItems = $items(\"Format Project List\");\nconst projects = (fplItems?.[0]?.json?.projects ?? []);\nif (!Array.isArray(projects) || projects.length === 0) {\n  throw new Error(\"Resolve Project Selection: missing projects list from 'Format Project List'.\");\n}\n\nconst normalize = (s) => (s ?? \"\").toString().trim().toLowerCase().replace(/\\s+/g, \" \");\n\nlet chosen = null;\n\n// Numeric selection (1-based)\nif (/^\\d+$/.test(inputRaw)) {\n  const idx = Number(inputRaw);\n  if (Number.isFinite(idx) && idx >= 1 && idx <= projects.length) {\n    chosen = projects[idx - 1];\n  } else {\n    throw new Error(`Resolve Project Selection: number out of range (1-${projects.length}).`);\n  }\n} else {\n  // Name match (exact normalized, then contains)\n  const want = normalize(inputRaw);\n\n  chosen = projects.find(p => normalize(p?.name) === want) ??\n           projects.find(p => normalize(p?.name).includes(want)) ??\n           null;\n\n  if (!chosen) {\n    // Small fuzzy fallback: best Jaccard over tokens (cheap, deterministic)\n    const tokens = new Set(want.split(\" \").filter(Boolean));\n    const score = (name) => {\n      const nt = new Set(normalize(name).split(\" \").filter(Boolean));\n      const inter = [...tokens].filter(t => nt.has(t)).length;\n      const union = new Set([...tokens, ...nt]).size || 1;\n      return inter / union;\n    };\n    let best = null;\n    let bestScore = 0;\n    for (const p of projects) {\n      const sc = score(p?.name);\n      if (sc > bestScore) { bestScore = sc; best = p; }\n    }\n    if (best && bestScore >= 0.34) chosen = best;\n  }\n\n  if (!chosen) {\n    throw new Error(\"Resolve Project Selection: could not match selection to a project.\");\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    projectId: chosen.id,\n    projectName: chosen.name,\n    projectState: chosen.state ?? null,\n    projectDescription: chosen.description ?? null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-32],"id":"4b1c2558-31db-4076-b62f-002bfcc25870","name":"Resolve Project Selection"},{"parameters":{"jsCode":"// Build a stable, user-friendly project list + pass through all fields.\n// Expects Linear GraphQL payload at: $json.data.projects.nodes\nconst nodes = $json?.data?.projects?.nodes ?? [];\nconst projects = nodes.map(p => ({\n  id: p.id ?? null,\n  name: p.name ?? null,\n  state: p.state ?? null,\n  description: p.description ?? null,\n}));\n\nfunction clean(s){ return (s ?? \"\").toString().replace(/\\s+/g,' ').trim(); }\n\nconst lines = projects.map((p, i) => {\n  const idx = i + 1;\n  const name = clean(p.name) || \"(unnamed)\";\n  const state = clean(p.state) || \"unknown\";\n  return `${idx}. ${name} — ${state}`;\n}).join(\"\\n\");\n\nconst promptText =\n`Which project would you like to work on? (Reply with the project name or its number.)\\n\\n${lines}`;\n\nreturn [{ json: { ...$json, promptText, projects } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,-32],"id":"fc2b94f8-7da2-4e3f-b3bb-d3182b155071","name":"Format Project List"},{"parameters":{"batchSize":25,"options":{}},"id":"6e792c85-3dea-4813-8fb1-d302031d10ed","name":"Split Packets","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[208,496]},{"parameters":{"jsCode":"const t = $json.output?.[0]?.content?.[0]?.text ?? $json.output ?? $json.message ?? '';\nconst s = typeof t === 'string' ? t : JSON.stringify(t);\nconst m = s.match(/\\{[\\s\\S]*\\}/);\nif (!m) throw new Error('Normalize Plan Output: no JSON found in Project Manager output');\nconst obj = JSON.parse(m[0]);\nreturn [{ json: obj }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,176],"id":"39045378-5d99-485b-a670-82dbbb72085a","name":"Normalize Plan Output"},{"parameters":{"jsCode":"const raw = $json.output ?? $json;\nconst s = (typeof raw === 'string') ? raw : JSON.stringify(raw);\nconst trimmed = s.trim().replace(/^```json\\s*/i,'').replace(/```$/,'').trim();\nlet obj;\ntry { obj = JSON.parse(trimmed); }\ncatch (e) {\n  const m = trimmed.match(/\\{[\\s\\S]*\\}/);\n  obj = m ? JSON.parse(m[0]) : {};\n}\nconst packets = Array.isArray(obj.packets) ? obj.packets : [];\nreturn packets.map(p => ({ json: p }));"},"id":"b83aea03-369e-4bba-b1d0-12fec26335ff","name":"Split Packets Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,176]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"uY29FyKg9JFPZa9a","mode":"list","cachedResultName":"ClaudiaCodeIssuePackets","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uY29FyKg9JFPZa9a"},"filters":{"conditions":[{"keyName":"planRunID","keyValue":"={{ $json.planRunID }}"}]},"returnAll":true},"id":"442b9f79-7880-4975-845e-09171ce293d1","name":"Get Packets For Summary","type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[1216,384]},{"parameters":{"jsCode":"// Run once (Get Packets For Summary returns multiple items, this node runs per item, but we'll use $input.all() to aggregate)\nconst rows = $input.all().map(i => i.json);\nconst first = rows[0] || {};\nconst packets = rows.map(r => ({\n  planRunID: r.planRunID,\n  projectID: r.projectID,\n  packetID: r.packetID,\n  issueIDs: r.issueIDs,\n  assignedWorker: r.assignedWorker,\n  packetJSON: r.packetJSON,\n  status: r.status,\n}));\n// gather unique issue ids\nconst issueSet = new Set();\nfor (const p of packets) {\n  if (Array.isArray(p.issueIDs)) for (const id of p.issueIDs) issueSet.add(id);\n}\nreturn [{\n  json: {\n    planRunID: first.planRunID,\n    projectID: first.projectID,\n    packetCount: packets.length,\n    openIssueCount: issueSet.size,\n    openIssueIDs: Array.from(issueSet),\n    packets,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,192],"id":"d05eeb61-6287-42a5-9a6c-497358225e00","name":"Aggregate Packets For Summary"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Linear Projects","type":"main","index":0}]]},"Respond to Chat":{"main":[[{"node":"Resolve Project Selection","type":"main","index":0}]]},"Linear Projects":{"main":[[{"node":"Format Project List","type":"main","index":0}]]},"Set Active Project":{"main":[[{"node":"Build Project Row","type":"main","index":0}]]},"Get row(s) in Data table2":{"ai_tool":[[{"node":"Project Manager","type":"ai_tool","index":0}]]},"Project Manager":{"main":[[{"node":"Normalize Plan Output","type":"main","index":0}]]},"Upsert row(s)1":{"main":[[{"node":"Project Issues Loader1","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Chat1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Project Issues Loader1","type":"ai_memory","index":0}]]},"get_rows_issues1":{"ai_tool":[[{"node":"Project Issues Loader1","type":"ai_tool","index":0}]]},"Project Issues Loader1":{"main":[[{"node":"Split Packets Items","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Linear Projects","type":"main","index":0}]]},"GPT-OSS-20B":{"ai_languageModel":[[{"node":"Project Issues Loader1","type":"ai_languageModel","index":0}]]},"Build Project Row":{"main":[[{"node":"Upsert Project","type":"main","index":0}]]},"Upsert Project":{"main":[[{"node":"Project Manager","type":"main","index":0}]]},"Upsert Issue Packets":{"main":[[{"node":"Split Packets","type":"main","index":0}]]},"Resolve Project Selection":{"main":[[{"node":"Set Active Project","type":"main","index":0}]]},"Format Project List":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]},"Split Packets":{"main":[[{"node":"Aggregate Packets For Summary","type":"main","index":0}],[{"node":"Upsert Issue Packets","type":"main","index":0}]]},"Normalize Plan Output":{"main":[[{"node":"Upsert row(s)1","type":"main","index":0}]]},"Split Packets Items":{"main":[[{"node":"Split Packets","type":"main","index":0}]]},"Get Packets For Summary":{"ai_tool":[[{"node":"Format Response","type":"ai_tool","index":0}]]},"Aggregate Packets For Summary":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"authors":"Bill Griffith","name":"Version 873b22a8","description":"","workflowPublishHistory":[{"createdAt":"2025-12-30T02:42:48.614Z","id":227,"workflowId":"J0Zf4eHFSQuqLv95","versionId":"873b22a8-2851-4c69-9b21-f045f19123be","event":"activated","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3"}]}}