public/workflows/orangepi/kvsadw8ZKBBeErQN.json
{"updatedAt":"2026-01-01T23:48:01.984Z","createdAt":"2025-12-23T02:38:21.241Z","id":"kvsadw8ZKBBeErQN","name":"Claudia Code - Beast Driven","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[512,560],"id":"schedule-trigger","name":"Every 15 Minutes"},{"parameters":{"url":"https://api.linear.app/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\":\"query { projects(filter: { name: { containsIgnoreCase: \\\"n8n\\\" } }) { nodes { id name issues(filter: { state: { type: { in: [\\\"started\\\", \\\"unstarted\\\"] } }, labels: { some: { name: { eq: \\\"Issue For Ai\\\" } } } }) { nodes { id identifier title description priority state { name } labels { nodes { name } } } } } } }\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,560],"id":"fetch-linear-issues","name":"Fetch Linear Issues","credentials":{"httpHeaderAuth":{"id":"linear-api-key","name":"Linear API"}}},{"parameters":{"filePath":"/opt/n8n-scripts/orchestrator/project_manager_beast.md"},"type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[960,496],"id":"read-system-prompt","name":"Read System Prompt"},{"parameters":{"url":"http://192.168.1.100:1234/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"deepseek-coder-v2-lite-instruct\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ $node[\"Read System Prompt\"].json.data }}},\n    {\"role\": \"user\", \"content\": \"Analyze these Linear issues and select one to work on:\\n\\n\" + JSON.stringify({{ $json }})}\n  ],\n  \"temperature\": 0.1,\n  \"response_format\": {\"type\": \"json_object\"}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,560],"id":"beast-llm","name":"The Beast (Project Manager)","credentials":{"httpBasicAuth":{"id":"xyVFnhCsS1dqo5oZ","name":"Unnamed credential"}},"notes":"Local LLM acts as Project Manager - filters issues, prioritizes, generates SOW"},{"parameters":{"jsCode":"const response = $input.item.json;\nlet beastDecision;\n\ntry {\n  const content = response.choices[0].message.content;\n  const cleanedContent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  beastDecision = JSON.parse(cleanedContent);\n} catch (e) {\n  return [{json: {error: true, message: \"Beast output invalid JSON\", raw_response: response}}];\n}\n\nreturn [{json: beastDecision}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,560],"id":"parse-beast-response","name":"Parse Beast JSON"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3,"position":[1632,560],"id":"router-decision","name":"Router"},{"parameters":{"jsCode":"const payload = {action: 'setup_workspace', repo_name: $json.repo_name, git_url: $json.git_url};\nconst { execSync } = require('child_process');\nconst result = execSync(`python3 /opt/n8n-scripts/orchestrator/orchestrator_tools.py --payload '${JSON.stringify(payload)}'`, {encoding: 'utf-8'});\nreturn [{json: JSON.parse(result)}];"},"type":"n8n-nodes-base.code","typeVersion":1,"position":[1856,368],"id":"setup-workspace","name":"Setup Workspace"},{"parameters":{"jsCode":"const payload = {action: 'save_state', repo_name: $json.repo_name, issue_id: $json.selected_issue.linear_id, sow_data: $json};\nconst { execSync } = require('child_process');\nconst result = execSync(`python3 /opt/n8n-scripts/orchestrator/orchestrator_tools.py --payload '${JSON.stringify(payload)}'`, {encoding: 'utf-8'});\nreturn [{json: JSON.parse(result)}];"},"type":"n8n-nodes-base.code","typeVersion":1,"position":[2080,368],"id":"save-sow","name":"Save SOW to NAS"},{"parameters":{"url":"=https://api.linear.app/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation { commentCreate(input: { issueId: \\\"{{ $json.selected_issue.linear_id }}\\\", body: \\\"✅ SOW Generated\\\\n\\\\nComplexity: {{ $json.estimated_complexity }}\\\\nResource Tier: {{ $json.resource_tier }}\\\\n\\\\nFiles: {{ $json.files_likely_impacted.join(', ') }}\\\\n\\\\nReady for implementation.\\\" }) { success } }\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,368],"id":"comment-success","name":"Post Success Comment","credentials":{"httpHeaderAuth":{"id":"kHyNDlUxOc8zIBDO","name":"Header Auth account"}}},{"parameters":{"url":"https://api.linear.app/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation { commentCreate(input: { issueId: \\\"{{ $json.selected_issue.linear_id }}\\\", body: \\\"🛑 BLOCKED: {{ $json.message }}\\\\n\\\\nReason: {{ $json.reasoning }}\\\" }) { success } }\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1856,560],"id":"post-blocker","name":"Post Blocker Comment","credentials":{"httpHeaderAuth":{"id":"kHyNDlUxOc8zIBDO","name":"Header Auth account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1856,752],"id":"no-work-noop","name":"No Work Available"},{"parameters":{"promptType":"define","text":"# ROLE: Senior Software Architect & Implementation Orchestrator\n\n## MISSION\nYou are the master coordinator for the Claudia Code autonomous development system. You receive a Scope of Work (SOW) and orchestrate sub-agents to implement it.\n\n## YOUR SUB-AGENTS\nYou have access to specialized sub-agents, each with their own models and memory:\n\n### FREE TIER (Default - Zero Cost)\n- **FREE Primary LM Studio Server**: deepseek-coder-v2 on BEAST (AMD 7900XT). Your go-to for 90% of tasks.\n- **FREE Secondary LM Studio**: qwen3-vl-8b on Bedroom server. Fallback when BEAST is busy.\n\n### PAID TIER (Only when necessary - costs money)\n- **PAID ChatGPT**: GPT-5.2 Latest + GPT-5.1 Codex. For complex multi-step reasoning and architectural design.\n- **PAID Google**: Gemini 3 Flash + Gemini 2.5 Flash. For vision tasks (screenshots, UI mockups, diagrams).\n  - **Nano Banana** (sub-agent of Google): Specialized image generation agent.\n- **PAID Anthropic**: Claude Opus 4.5 + Claude Sonnet 4.5. For deep reasoning, nuanced analysis, complex refactoring.\n\n## SELECTION STRATEGY\n\n1. **Read the SOW**: Understand `resource_tier`, `step_by_step_plan`, `files_likely_impacted`\n2. **Default to FREE**: Always try FREE Primary first\n3. **Escalate intelligently**:\n   - Vision needed → PAID Google\n   - Image generation → Nano Banana (via PAID Google)\n   - Complex architecture → PAID ChatGPT or PAID Anthropic\n   - After 2 FREE failures → Appropriate PAID agent\n4. **Respect budget**: If SOW says `LOCAL_FREE`, NEVER use PAID agents\n\n## EXECUTION PROTOCOL\n\n1. Parse the SOW from the previous node\n2. Choose appropriate sub-agent\n3. Delegate the task with clear instructions\n4. Collect the output\n5. Format output as:\n\n```\n---FILE: path/to/file.js---\n```js\n[file contents]\n```\n---END FILE---\n\nCOMMIT_MESSAGE: [AI Agent] ISSUE-123: Brief description\n```\n\n## OUTPUT FORMAT\nYour final output must be structured code blocks that the Extract & Commit node can parse.\n\nNow read the SOW and orchestrate the implementation.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[3072,368],"id":"90438c65-6228-4970-87bd-8e3c581b0b59","name":"Orchestrator AI Agent"},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2656,592],"id":"15ac2cfc-eaaa-4e4c-9e1f-1dea939e706a","name":"FREE BEAST LM Studio","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2528,592],"id":"e78de191-8a79-49b1-9409-4da08fd4b761","name":"FREE Bedroom LMStudio","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2784,592],"id":"cb30f8a8-61b9-44b9-96c0-a7aff42a10c8","name":"Simple Memory"},{"parameters":{"toolDescription":"FREE: Primary coding agent on BEAST server (deepseek-coder-v2). Use for 90% of tasks. Zero cost, fast, reliable.","text":"={{ $json }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[2912,592],"id":"de4784cf-bfa6-4463-96f6-c4cb14e68989","name":"FREE Primary LM Studio Server"},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2944,800],"id":"76b765b4-e7b9-4971-8f23-e859371f3c37","name":"FREE Beast LM Studio Deepseek","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3088,800],"id":"6bf6c33d-55ec-4fb0-82aa-821a421cbf96","name":"Simple Memory6"},{"parameters":{"toolDescription":"FREE: Backup agent on Bedroom server (qwen3-vl-8b). Use when BEAST unavailable or as second opinion. Zero cost.","text":"={{ $json }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[3200,592],"id":"099594c5-fa44-4982-8640-dd5fdee8d99a","name":"FREE Secondary LM Studio"},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3216,800],"id":"4f2ceff4-9b62-4b3e-8d17-e15e9962b669","name":"FREE Secondary LM Deepseek","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3360,800],"id":"cca21853-1246-413e-9535-f369fc0a707c","name":"Simple Memory1"},{"parameters":{"toolDescription":"PAID: GPT-5.2 Latest + GPT-5.1 Codex for complex reasoning. Use after FREE fails twice or for architecture. ~$0.03/1K tokens.","text":"={{ $json }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[3536,592],"id":"a7330493-bfdb-4313-9ad1-82d4e2b69783","name":"PAID ChatGPT"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2-chat-latest","mode":"list"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3616,800],"id":"827107b2-bc10-4f1e-81e1-169ce61a5dcf","name":"PAID ChatGPT 5.2 Latest","credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1-codex","mode":"list"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3488,800],"id":"1df5a97a-0d76-492b-8f19-5f6efe851aa0","name":"PAID ChatGPT 5.1 Codex","credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3744,800],"id":"00b9b51e-e6a2-42d4-b4a7-5f45cfbccec9","name":"Simple Memory2"},{"parameters":{"toolDescription":"PAID: Gemini 3 Flash + 2.5 Flash for vision/multimodal tasks. Use for screenshots, UI analysis, diagrams. ~$0.001/1K tokens.","text":"={{ $json }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[3984,592],"id":"e78e1dfe-ef08-43e5-acf8-531adf8a57bf","name":"PAID Google"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4000,800],"id":"c0cc777b-3e02-415b-b6fc-a909d2818fd0","name":"PAID Gemini 3 Flash","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3872,800],"id":"d483e783-d755-4ee7-9d32-fb1ad6229063","name":"PAID Gemini 2.5 Flash","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4128,800],"id":"837a8a9f-e005-42a1-8216-15068b858ddb","name":"Simple Memory3"},{"parameters":{"toolDescription":"PAID: Nano Banana image generation specialist. Use ONLY for creating images, not analyzing them.","text":"={{ $json }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4256,800],"id":"77431abb-283b-4c34-9f70-f5a1a2364e34","name":"PAID Nano Banana"},{"parameters":{"modelName":"models/nano-banana-pro-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4272,1008],"id":"d509172f-6930-4936-8e34-914b7e5bc166","name":"PAID Nano Banana2","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4400,1008],"id":"bce29111-5c3a-44c1-9761-5c594017a57e","name":"Simple Memory5"},{"parameters":{"toolDescription":"PAID: Claude Opus 4.5 (thinking) + Sonnet 4.5 for deep analysis, architectural refactoring. Use when depth matters. ~$0.015/1K tokens.","text":"={{ $json }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4592,592],"id":"3b383343-6c17-4b73-8055-183a347870cf","name":"PAID Anthropic"},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list"},"options":{"thinking":true}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[4672,800],"id":"a2a977ad-ba25-43af-b8bf-677e5c1d1544","name":"PAID Claude Opus 4.5","credentials":{"anthropicApi":{"id":"Ozy9qk8lFIbm0pVG","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[4544,800],"id":"9cc06f03-cd57-4b10-b5c2-0d199115088d","name":"PAID Claude Sonnet 4.5","credentials":{"anthropicApi":{"id":"Ozy9qk8lFIbm0pVG","name":"Anthropic account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4800,800],"id":"105c4f5b-a5bf-494c-82c2-84e1cbc44244","name":"Simple Memory4"},{"parameters":{"jsCode":"const response = $input.item.json.output;\nconst files = [];\n\nconst fileRegex = /---FILE:\\s*(.+?)---[\\s\\S]*?```(\\w+)?\\n([\\s\\S]*?)```/g;\nlet match;\n\nwhile ((match = fileRegex.exec(response)) !== null) {\n  files.push({path: match[1].trim(), language: match[2] || 'txt', content: match[3]});\n}\n\nif (files.length === 0) {\n  throw new Error('No code blocks found in agent output');\n}\n\nconst sow = $('Save SOW to NAS').first().json;\n\nreturn {json: {files: files, repo_name: sow.repo_name, issue_id: sow.selected_issue.linear_id, commit_message: `[AI Agent] ${sow.selected_issue.linear_id}: ${sow.selected_issue.title}\\n\\nImplemented by Beast-Driven workflow\\n\\nComplexity: ${sow.estimated_complexity}\\nResource: ${sow.resource_tier}`}};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5008,368],"id":"extract-commit-code","name":"💾 Extract & Commit Code"},{"parameters":{"jsCode":"const payload = {action: 'commit_changes', repo_name: $json.repo_name, files: $json.files, commit_message: $json.commit_message};\nconst { execSync } = require('child_process');\nconst result = execSync(`python3 /opt/n8n-scripts/orchestrator/orchestrator_tools.py --payload '${JSON.stringify(payload)}'`, {encoding: 'utf-8'});\nreturn [{json: JSON.parse(result)}];"},"type":"n8n-nodes-base.code","typeVersion":1,"position":[5232,368],"id":"write-files-commit","name":"🚀 Write Files & Git Commit"}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Fetch Linear Issues","type":"main","index":0}]]},"Fetch Linear Issues":{"main":[[{"node":"Read System Prompt","type":"main","index":0},{"node":"The Beast (Project Manager)","type":"main","index":0}]]},"Read System Prompt":{"main":[[{"node":"The Beast (Project Manager)","type":"main","index":0}]]},"The Beast (Project Manager)":{"main":[[{"node":"Parse Beast JSON","type":"main","index":0}]]},"Parse Beast JSON":{"main":[[{"node":"Router","type":"main","index":0}]]},"Router":{"main":[[{"node":"No Work Available","type":"main","index":0}],[{"node":"Post Blocker Comment","type":"main","index":0}],[{"node":"Setup Workspace","type":"main","index":0}]]},"Setup Workspace":{"main":[[{"node":"Save SOW to NAS","type":"main","index":0}]]},"Save SOW to NAS":{"main":[[{"node":"Post Success Comment","type":"main","index":0}]]},"Post Success Comment":{"main":[[{"node":"Orchestrator AI Agent","type":"main","index":0}]]},"FREE BEAST LM Studio":{"ai_languageModel":[[{"node":"Orchestrator AI Agent","type":"ai_languageModel","index":0}]]},"FREE Bedroom LMStudio":{"ai_languageModel":[[{"node":"Orchestrator AI Agent","type":"ai_languageModel","index":1}]]},"Simple Memory":{"ai_memory":[[{"node":"Orchestrator AI Agent","type":"ai_memory","index":0}]]},"FREE Primary LM Studio Server":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"FREE Beast LM Studio Deepseek":{"ai_languageModel":[[{"node":"FREE Primary LM Studio Server","type":"ai_languageModel","index":0}]]},"Simple Memory6":{"ai_memory":[[{"node":"FREE Primary LM Studio Server","type":"ai_memory","index":0}]]},"FREE Secondary LM Studio":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"FREE Secondary LM Deepseek":{"ai_languageModel":[[{"node":"FREE Secondary LM Studio","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"FREE Secondary LM Studio","type":"ai_memory","index":0}]]},"PAID ChatGPT":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"PAID ChatGPT 5.2 Latest":{"ai_languageModel":[[{"node":"PAID ChatGPT","type":"ai_languageModel","index":0}]]},"PAID ChatGPT 5.1 Codex":{"ai_languageModel":[[{"node":"PAID ChatGPT","type":"ai_languageModel","index":1}]]},"Simple Memory2":{"ai_memory":[[{"node":"PAID ChatGPT","type":"ai_memory","index":0}]]},"PAID Google":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"PAID Gemini 3 Flash":{"ai_languageModel":[[{"node":"PAID Google","type":"ai_languageModel","index":0}]]},"PAID Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"PAID Google","type":"ai_languageModel","index":1}]]},"Simple Memory3":{"ai_memory":[[{"node":"PAID Google","type":"ai_memory","index":0}]]},"PAID Nano Banana":{"ai_tool":[[{"node":"PAID Google","type":"ai_tool","index":0}]]},"PAID Nano Banana2":{"ai_languageModel":[[{"node":"PAID Nano Banana","type":"ai_languageModel","index":0}]]},"Simple Memory5":{"ai_memory":[[{"node":"PAID Nano Banana","type":"ai_memory","index":0}]]},"PAID Anthropic":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"PAID Claude Opus 4.5":{"ai_languageModel":[[{"node":"PAID Anthropic","type":"ai_languageModel","index":0}]]},"PAID Claude Sonnet 4.5":{"ai_languageModel":[[{"node":"PAID Anthropic","type":"ai_languageModel","index":1}]]},"Simple Memory4":{"ai_memory":[[{"node":"PAID Anthropic","type":"ai_memory","index":0}]]},"Orchestrator AI Agent":{"main":[[{"node":"💾 Extract & Commit Code","type":"main","index":0}]]},"💾 Extract & Commit Code":{"main":[[{"node":"🚀 Write Files & Git Commit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"64ffd390-c663-46a9-9431-dbb0fe0b9229","activeVersionId":null,"versionCounter":15,"triggerCount":0,"shared":[{"updatedAt":"2025-12-23T02:38:21.251Z","createdAt":"2025-12-23T02:38:21.251Z","role":"workflow:owner","workflowId":"kvsadw8ZKBBeErQN","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-01T23:42:17.144Z","createdAt":"2026-01-01T23:42:17.144Z","id":"e2I03ErUAQw8hDjy","name":"OLD VERSION"},{"updatedAt":"2026-01-01T23:47:23.414Z","createdAt":"2026-01-01T23:47:23.414Z","id":"e9wyuzgPFWT6vuEp","name":"HAS ISSUES"},{"updatedAt":"2026-01-01T23:44:48.788Z","createdAt":"2026-01-01T23:44:48.788Z","id":"l6FVWknceeDeKEoz","name":"SANDBOX"}],"activeVersion":null}