public/workflows/orangepi/linear-issues-to-data-table.json
{"updatedAt":"2026-01-08T03:53:36.034Z","createdAt":"2026-01-08T03:53:36.034Z","id":"4Vo1exTPC2wpn25s","name":"Linear Issues to Data Table","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"1deb7109-56dd-448c-b1a2-311c32e0bc02","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-16720,3072],"typeVersion":1.3,"disabled":true},{"parameters":{"options":{"responseMode":"responseNodes"}},"id":"3d10f986-f53f-41c9-834c-f82a3248e55c","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-16720,2928],"webhookId":"a7d8cd91-2ad6-4c84-aed9-4707dbd0f42d","typeVersion":1.4},{"parameters":{"jsCode":"// Start with no cursor (first page)\nreturn [{ json: { afterCursor: null } }];"},"id":"ad9f4c3a-902d-4bc2-a76a-94b6bd53ed1f","name":"Init Pagination","type":"n8n-nodes-base.code","position":[-16496,3008],"typeVersion":2},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"query Issues($first: Int!, $after: String) {\n  issues(first: $first, after: $after) {\n    nodes {\n      id\n      identifier\n      title\n      description\n      createdAt\n      project { id name }\n      state { name }\n      parent { id }\n      labels { nodes { name } }\n    }\n    pageInfo { hasNextPage endCursor }\n  }\n}\n"},{"name":"variables.first","value":"={{ 100 }}"},{"name":"variables.after","value":"={{ $json.afterCursor ? $json.afterCursor : null }}"}]},"options":{}},"id":"7998bd86-84a1-4c3a-9a41-816cf62dab04","name":"Fetch Linear Issues","type":"n8n-nodes-base.httpRequest","position":[-16272,3008],"typeVersion":4,"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const issue = item.json || {};\n\n  // Pass through the meta item for pagination\n  if (issue._empty || issue._isLast) {\n    output.push({\n      json: {\n        _empty: true,\n        _isLast: true,\n        _hasNextPage: !!issue._hasNextPage,\n        _endCursor: issue._endCursor || null,\n        LinearIssueID: ''\n      }\n    });\n    continue;\n  }\n\n  output.push({\n    json: {\n      LinearProjectName: issue.project || '',\n      LinearProjectID: issue.projectId || '',\n      LinearIssueID: issue.identifier || '',\n      LinearIssueTitle: issue.title || '',\n      LinearParentIssueID: issue.parentId || '',\n      LinearIssueContent: issue.description || '',\n      LinearIssueStatus: issue.status || '',\n      LinearProjectDescription: '',\n      LinearIssueComments: '[]',\n      RepoStatus: '',\n      WorkingContext: '',\n      taskForAi: !!issue.taskForAi,\n      taskForBill: !!issue.taskForBill,\n      _isLast: false,\n      _hasNextPage: false,\n      _endCursor: null\n    }\n  });\n}\n\nreturn output.length > 0 ? output : [{ json: { _empty: true, _isLast: true, _hasNextPage: false, LinearIssueID: '' } }];\n"},"id":"959f1ef6-02e8-4745-a4d8-c5dc44351b10","name":"Transform to Table Format","type":"n8n-nodes-base.code","position":[-15840,3008],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"combinator":"and","conditions":[{"id":"filter-linearissue","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.LinearIssueID }}","rightValue":""}]},"options":{}},"id":"ec74d0cf-027e-4e8c-a74a-141f4b139d9e","name":"Filter Valid Issues","type":"n8n-nodes-base.filter","position":[-15616,3008],"typeVersion":2},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"mode":"list","value":"xFm91lQWMMBRlnho","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/xFm91lQWMMBRlnho","cachedResultName":"ClaudiaCode Issues"},"filters":{"conditions":[{"keyName":"LinearIssueID","keyValue":"={{ $json.LinearIssueID }}"}]},"columns":{"mappingMode":"defineBelow","value":{"LinearProjectName":"={{ $json.LinearProjectName }}","LinearProjectID":"={{ $json.LinearProjectID }}","LinearIssueID":"={{ $json.LinearIssueID }}","LinearIssueTitle":"={{ $json.LinearIssueTitle }}","LinearParentIssueID":"={{ $json.LinearParentIssueID }}","LinearIssueContent":"={{ $json.LinearIssueContent }}","LinearIssueStatus":"={{ $json.LinearIssueStatus }}","LinearProjectDescription":"={{ $json.LinearProjectDescription }}","LinearIssueComments":"={{ $json.LinearIssueComments }}","RepoStatus":"={{ $json.RepoStatus }}","WorkingContext":"={{ $json.WorkingContext }}","taskForAi":"={{ $json.taskForAi }}","taskForBill":"={{ $json.taskForBill }}"},"schema":[{"id":"LinearProjectName","type":"string","display":true,"displayName":"LinearProjectName","defaultMatch":false},{"id":"LinearProjectID","type":"string","display":true,"displayName":"LinearProjectID","defaultMatch":false},{"id":"LinearIssueID","type":"string","display":true,"displayName":"LinearIssueID","defaultMatch":true},{"id":"LinearIssueTitle","type":"string","display":true,"displayName":"LinearIssueTitle","defaultMatch":false},{"id":"LinearParentIssueID","type":"string","display":true,"displayName":"LinearParentIssueID","defaultMatch":false},{"id":"LinearIssueContent","type":"string","display":true,"displayName":"LinearIssueContent","defaultMatch":false},{"id":"LinearIssueStatus","type":"string","display":true,"displayName":"LinearIssueStatus","defaultMatch":false},{"id":"LinearProjectDescription","type":"string","display":true,"displayName":"LinearProjectDescription","defaultMatch":false},{"id":"LinearIssueComments","type":"string","display":true,"displayName":"LinearIssueComments","defaultMatch":false},{"id":"RepoStatus","type":"string","display":true,"displayName":"RepoStatus","defaultMatch":false},{"id":"WorkingContext","type":"string","display":true,"displayName":"WorkingContext","defaultMatch":false},{"id":"taskForAi","type":"boolean","display":true,"displayName":"taskForAi","defaultMatch":false},{"id":"taskForBill","type":"boolean","display":true,"displayName":"taskForBill","defaultMatch":false}],"matchingColumns":["LinearIssueID"],"convertFieldsToString":false},"options":{}},"id":"aa72e4f5-efa5-45ca-9fcd-e6984e08d59f","name":"Upsert row(s)","type":"n8n-nodes-base.dataTable","position":[-15392,3008],"typeVersion":1},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true},"combinator":"or","conditions":[{"id":"check-last","operator":{"type":"boolean","operation":"true"},"leftValue":"={{ $json._isLast }}","rightValue":""}]},"options":{}},"id":"edc6751e-8223-4323-8006-3bcedd4ad3b1","name":"Check Last Item","type":"n8n-nodes-base.filter","position":[-15200,2928],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"check-hasnext","operator":{"type":"boolean","operation":"true"},"leftValue":"={{ !!$json._hasNextPage }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"12d2f7ae-e6c9-4c18-9f38-716e41db6eb9","name":"Has More Pages?","type":"n8n-nodes-base.if","position":[-14960,3008],"typeVersion":2},{"parameters":{"jsCode":"// Pass the endCursor for next page\nconst item = $input.first();\nreturn [{ json: { afterCursor: item.json._endCursor } }];"},"id":"87e1401c-e42e-455b-961d-1005a2ab9101","name":"Prepare Next Cursor","type":"n8n-nodes-base.code","position":[-14736,2912],"typeVersion":2},{"parameters":{},"id":"f0ad9c92-e273-48bd-9332-8f0ca11fbee9","name":"Import Complete","type":"n8n-nodes-base.noOp","position":[-14736,3104],"typeVersion":1},{"parameters":{"jsCode":"// Projects to include (have 'n8n' label)\nconst n8nProjectIds = new Set([\n  '9d2d4d7a-5d56-43a9-964d-02e4bd132043', // Fresh Prints of La Mesa\n  '84aa749f-504c-42a7-b017-4946ab14472f', // GoldenEye\n  '61ac7f0f-9b39-49b0-86bf-6ff5e11a4a22', // LM Studio Agentic Dev Tools\n  'cf881d8a-d372-4130-af0c-809639dbb0ac', // Project Unicorn\n  '4554e942-fe8a-4bb3-a4d3-8f9f000376d3', // Ganesha\n  'e808eb0a-7029-4c50-9792-15f8fc1e4987', // RoBox\n  'b365e92a-98f8-45a2-976a-e05edce2266a', // LazLo\n]);\n\nif (!$json || !$json.data || !$json.data.issues) {\n  throw new Error('Unexpected Linear response: missing data.issues');\n}\n\nconst issues = $json.data.issues;\nconst pageInfo = issues.pageInfo || {};\nconst hasNextPage = !!pageInfo.hasNextPage;\nconst endCursor = pageInfo.endCursor || null;\n\nconst nodes = Array.isArray(issues.nodes) ? issues.nodes : [];\nconst out = [];\n\nfor (let i = 0; i < nodes.length; i++) {\n  const issue = nodes[i];\n  if (!issue || !issue.id || !issue.identifier) continue;\n\n  const project = issue.project || {};\n  const projectId = project.id || null;\n  if (!projectId || !n8nProjectIds.has(projectId)) continue;\n\n  const state = issue.state || {};\n  const parent = issue.parent || {};\n\n  // labels -> booleans\n  const labelNodes = (issue.labels && Array.isArray(issue.labels.nodes)) ? issue.labels.nodes : [];\n  const labelNames = labelNodes.map(l => (l && l.name ? String(l.name).toLowerCase() : ''));\n  const taskForAi = labelNames.indexOf('task for ai') !== -1;\n  const taskForBill = labelNames.indexOf('task for bill') !== -1;\n\n  out.push({\n    json: {\n      id: issue.id,\n      identifier: issue.identifier,\n      title: issue.title || '',\n      description: issue.description || '',\n      projectId: projectId,\n      project: project.name || '',\n      status: state.name || '',\n      parentId: parent.id || '',\n      taskForAi: taskForAi,\n      taskForBill: taskForBill\n    }\n  });\n}\n\n// Always append ONE meta item so pagination is driven by pageInfo\nout.push({\n  json: {\n    _empty: true,\n    _isLast: true,\n    _hasNextPage: hasNextPage,\n    _endCursor: endCursor\n  }\n});\n\nreturn out;\n"},"id":"684e131c-3c31-4a84-b44d-8f85ab366393","name":"Flatten Issues","type":"n8n-nodes-base.code","position":[-16064,3008],"typeVersion":2,"alwaysOutputData":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Init Pagination","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Init Pagination","type":"main","index":0}]]},"Init Pagination":{"main":[[{"node":"Fetch Linear Issues","type":"main","index":0}]]},"Fetch Linear Issues":{"main":[[{"node":"Flatten Issues","type":"main","index":0}]]},"Transform to Table Format":{"main":[[{"node":"Filter Valid Issues","type":"main","index":0},{"node":"Check Last Item","type":"main","index":0}]]},"Check Last Item":{"main":[[{"node":"Has More Pages?","type":"main","index":0}]]},"Has More Pages?":{"main":[[{"node":"Prepare Next Cursor","type":"main","index":0}],[{"node":"Import Complete","type":"main","index":0}]]},"Prepare Next Cursor":{"main":[[{"node":"Fetch Linear Issues","type":"main","index":0}]]},"Upsert row(s)":{"main":[[{"node":"Import Complete","type":"main","index":0}]]},"Filter Valid Issues":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}]]},"Flatten Issues":{"main":[[{"node":"Transform to Table Format","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a455e01d-ec1a-46ea-8062-c3dd9b78eac6","activeVersionId":null,"versionCounter":164,"triggerCount":1,"shared":[{"updatedAt":"2026-01-08T03:53:36.035Z","createdAt":"2026-01-08T03:53:36.035Z","role":"workflow:owner","workflowId":"4Vo1exTPC2wpn25s","projectId":"CUaRGVU8MRvL0tdd","project":{"updatedAt":"2026-01-08T03:51:38.610Z","createdAt":"2026-01-08T03:45:43.415Z","id":"CUaRGVU8MRvL0tdd","name":"Bill Admin <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"creatorId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectRelations":[{"updatedAt":"2026-01-08T03:45:43.415Z","createdAt":"2026-01-08T03:45:43.415Z","userId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectId":"CUaRGVU8MRvL0tdd","user":{"updatedAt":"2026-01-09T00:02:08.000Z","createdAt":"2026-01-08T03:45:43.034Z","id":"e443d61e-c22a-49d2-8855-c41dbca9834a","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Admin","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-08T06:16:56.079Z","personalization_survey_n8n_version":"2.2.4"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-09","isPending":false}}]}}],"tags":[],"activeVersion":null}