public/workflows/orangepi/local-first-smart-escalation.json
{"updatedAt":"2026-01-08T03:53:35.418Z","createdAt":"2026-01-08T03:53:35.418Z","id":"BNxDFRJEf95OFQtl","name":"Local-First Dev Agent with Smart Escalation","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual/Schedule Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,400]},{"parameters":{"operation":"getAllRows","dataSource":"table","table":"linear_work_queue","where":{"conditions":[{"column":"status","operator":"IN","value":"pending,failed"}]},"limit":20},"id":"get-pending-work","name":"Get Pending Work","type":"n8n-nodes-base.n8n-data-table","typeVersion":1,"position":[460,400]},{"parameters":{"jsCode":"// Analyze task complexity and estimate success probability for local models\nconst items = $input.all();\n\nfunction calculateComplexity(item) {\n  const description = (item.json.description || '').toLowerCase();\n  const title = (item.json.title || '').toLowerCase();\n  const labels = item.json.labels || [];\n  \n  let complexity = 0;\n  \n  // Keyword-based complexity scoring\n  const complexKeywords = [\n    'distributed', 'microservice', 'scalable', 'production',\n    'security', 'authentication', 'cryptographic', 'optimization',\n    'real-time', 'streaming', 'machine learning', 'ai',\n    'integration', 'multi-tenant', 'async', 'concurrent'\n  ];\n  \n  const simpleKeywords = [\n    'simple', 'basic', 'utility', 'helper', 'format',\n    'parse', 'validate', 'convert', 'calculate'\n  ];\n  \n  complexKeywords.forEach(kw => {\n    if (description.includes(kw) || title.includes(kw)) complexity += 10;\n  });\n  \n  simpleKeywords.forEach(kw => {\n    if (description.includes(kw) || title.includes(kw)) complexity -= 5;\n  });\n  \n  // Label-based adjustments\n  if (labels.includes('epic')) complexity += 20;\n  if (labels.includes('beginner')) complexity -= 10;\n  if (labels.includes('security')) complexity += 15;\n  if (labels.includes('testing')) complexity -= 5;\n  \n  // Description length (longer = more complex)\n  complexity += Math.min(description.length / 100, 20);\n  \n  return Math.max(0, Math.min(100, complexity));\n}\n\nfunction estimateSuccessProbability(complexity, hasGoodDocs) {\n  // Base probability by complexity\n  let probability = 100 - complexity;\n  \n  // Boost if we have good documentation\n  if (hasGoodDocs) probability += 20;\n  \n  // Historical data (placeholder - would use real stats)\n  // Assume local models have 70% success rate on medium complexity\n  const modelCapability = 70;\n  \n  probability = Math.min(100, probability * (modelCapability / 100) + 30);\n  \n  return Math.round(Math.max(0, Math.min(100, probability)));\n}\n\nfunction determineModelTier(complexity, probability) {\n  if (complexity < 20 && probability > 80) return 'ministral-3b';\n  if (complexity < 40 && probability > 60) return 'qwen3-8b';\n  if (complexity < 70) return 'gpt-oss-20b';\n  return 'needs-planning'; // Escalate to planning layer\n}\n\nconst analyzed = items.map(item => {\n  const complexity = calculateComplexity(item);\n  const hasGoodDocs = true; // Will check Context7 later\n  const probability = estimateSuccessProbability(complexity, hasGoodDocs);\n  const modelTier = determineModelTier(complexity, probability);\n  \n  return {\n    json: {\n      ...item.json,\n      analysis: {\n        complexity_score: complexity,\n        success_probability: probability,\n        recommended_model: modelTier,\n        requires_planning: modelTier === 'needs-planning',\n        requires_tools: complexity > 30,\n        estimated_tokens: Math.round(complexity * 100 + 2000),\n        complexity_factors: {\n          keywords_detected: complexity > 30,\n          description_length: item.json.description?.length || 0,\n          has_epic_label: (item.json.labels || []).includes('epic')\n        }\n      },\n      packet_id: `PKT-${item.json.id}-${Date.now()}`\n    }\n  };\n});\n\nreturn analyzed;"},"id":"analyze-complexity","name":"Analyze Task Complexity & Success Probability","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,400],"notes":"Estimates if local models can handle this task"},{"parameters":{"rules":{"values":[{"conditions":{"string":[{"value1":"={{ $json.analysis.recommended_model }}","operation":"equals","value2":"needs-planning"}]},"output":0},{"conditions":{"boolean":[{"value1":"={{ $json.analysis.requires_tools }}","value2":true}]},"output":1}]},"options":{"fallbackOutput":2}},"id":"route-by-complexity","name":"Route by Complexity","type":"n8n-nodes-base.switch","typeVersion":3,"position":[900,400],"notes":"Needs Planning | Needs Tools | Simple (direct execution)"},{"parameters":{"jsCode":"// Check escalation settings and get user approval if needed\nconst item = $input.first().json;\n\n// User settings (would come from config table)\nconst userSettings = {\n  auto_approve_planning: false, // User wants manual approval\n  max_planning_budget: 5.00, // $5 max per planning session\n  max_execution_budget: 10.00, // $10 max per cloud execution\n  auto_approve_under: 2.00 // Auto-approve if estimated cost < $2\n};\n\n// Estimate costs\nconst planningCost = 0.50; // ~$0.50 for Claude Code planning\nconst potentialExecutionCost = item.analysis.complexity_score > 70 ? 3.00 : 0.00;\nconst totalEstimatedCost = planningCost + potentialExecutionCost;\n\nconst needsApproval = !userSettings.auto_approve_planning && \n                      totalEstimatedCost > userSettings.auto_approve_under;\n\nreturn {\n  json: {\n    ...item,\n    escalation: {\n      needs_approval: needsApproval,\n      estimated_cost: totalEstimatedCost,\n      planning_cost: planningCost,\n      execution_cost: potentialExecutionCost,\n      user_settings: userSettings,\n      approval_reason: `Task complexity (${item.analysis.complexity_score}/100) exceeds local model capabilities. Planning with Claude Code recommended.`,\n      budget_breakdown: {\n        planning: '$0.50 (Claude Code - create detailed execution plan)',\n        potential_execution: potentialExecutionCost > 0 ? `$${potentialExecutionCost.toFixed(2)} (Claude Code - if local execution fails)` : 'N/A - will attempt with local models'\n      }\n    }\n  }\n};"},"id":"check-escalation-approval","name":"Check Escalation Approval Needed","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,200],"notes":"Path 0: Complex tasks need planning"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.escalation.needs_approval }}","value2":true}]}},"id":"needs-user-approval","name":"Needs User Approval?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,200]},{"parameters":{"method":"POST","url":"={{ $env.SLACK_WEBHOOK_URL }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"🤖 *Escalation Approval Required*"},{"name":"blocks","value":"={{ [\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Task:* ${$json.title}\\n*Complexity:* ${$json.analysis.complexity_score}/100\\n*Local Success Probability:* ${$json.analysis.success_probability}%\\n\\n*Reason:* ${$json.escalation.approval_reason}`\n    }\n  },\n  {\n    type: 'section',\n    fields: [\n      {type: 'mrkdwn', text: `*Planning Cost:*\\n${$json.escalation.budget_breakdown.planning}`},\n      {type: 'mrkdwn', text: `*Potential Execution:*\\n${$json.escalation.budget_breakdown.potential_execution}`}\n    ]\n  },\n  {\n    type: 'section',\n    text: {type: 'mrkdwn', text: `*Total Estimated:* $${$json.escalation.estimated_cost.toFixed(2)}`}\n  },\n  {\n    type: 'actions',\n    elements: [\n      {\n        type: 'button',\n        text: {type: 'plain_text', text: 'Approve Planning'},\n        style: 'primary',\n        value: $json.packet_id,\n        action_id: 'approve_planning'\n      },\n      {\n        type: 'button',\n        text: {type: 'plain_text', text: 'Use Local Only'},\n        value: $json.packet_id,\n        action_id: 'local_only'\n      },\n      {\n        type: 'button',\n        text: {type: 'plain_text', text: 'Skip'},\n        style: 'danger',\n        value: $json.packet_id,\n        action_id: 'skip'\n      }\n    ]\n  }\n] }}"}]}},"id":"request-approval-slack","name":"Request Approval (Slack)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,100],"notes":"Send approval request to user"},{"parameters":{"path":"escalation-approval","responseMode":"lastNode","options":{}},"id":"wait-for-approval","name":"Wait for Approval Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1780,100],"notes":"Webhook receives Slack button click"},{"parameters":{"jsCode":"// Build planning prompt for Claude Code\nconst item = $input.first().json;\n\nconst planningPrompt = `You are Claude Code, an expert software architect. Your task is to create a DETAILED execution plan that can be followed by smaller, less capable AI models (3B-20B parameters) with tool access.\n\n# Task to Plan\n**Title:** ${item.title}\n**Description:** ${item.description}\n**Complexity:** ${item.analysis.complexity_score}/100\n**Labels:** ${(item.labels || []).join(', ')}\n\n# Context\n${item.project_context || 'Healthcare automation platform using Python, n8n, and modern web technologies.'}\n\n# Available to Execution Models\n- **Tools:** Context7 (library docs), official documentation sources, web search\n- **Capabilities:** Code generation, basic reasoning, following detailed instructions\n- **Limitations:** Struggle with ambiguity, complex architecture decisions, novel problem-solving\n\n# Your Task\nCreate a step-by-step execution plan that:\n\n1. **Breaks down the task** into atomic, unambiguous steps\n2. **Specifies exact technologies** (with versions) to use\n3. **Provides decision rationale** for architectural choices\n4. **Includes Context7 queries** needed for each step\n5. **Lists official doc URLs** to reference\n6. **Defines success criteria** for each step\n7. **Anticipates common mistakes** and how to avoid them\n\n# Output Format (JSON)\n\\`\\`\\`json\n{\n  \"plan_summary\": \"One paragraph overview\",\n  \"architectural_decisions\": [\n    {\n      \"decision\": \"Use FastAPI for REST API\",\n      \"rationale\": \"Modern, fast, excellent docs, type hints\",\n      \"alternatives_considered\": [\"Flask\", \"Django\"]\n    }\n  ],\n  \"execution_steps\": [\n    {\n      \"step_number\": 1,\n      \"title\": \"Setup project structure\",\n      \"description\": \"Create directory layout and virtual environment\",\n      \"commands\": [\"mkdir -p src/models src/routes tests\", \"python -m venv venv\"],\n      \"context7_queries\": [],\n      \"documentation_urls\": [],\n      \"success_criteria\": \"Directory structure matches layout, venv activated\",\n      \"common_mistakes\": [\"Forgetting __init__.py files\"]\n    },\n    {\n      \"step_number\": 2,\n      \"title\": \"Install dependencies\",\n      \"description\": \"Install exact versions of required packages\",\n      \"commands\": [\"pip install fastapi==0.111.0 uvicorn[standard]==0.30.1\"],\n      \"context7_queries\": [\n        {\"library\": \"fastapi\", \"query\": \"basic setup and first endpoint\"}\n      ],\n      \"documentation_urls\": [\"https://fastapi.tiangolo.com/tutorial/first-steps/\"],\n      \"success_criteria\": \"All packages installed without errors, versions match\",\n      \"common_mistakes\": [\"Not pinning versions\", \"Missing extras like uvicorn[standard]\"]\n    }\n  ],\n  \"testing_strategy\": {\n    \"framework\": \"pytest\",\n    \"coverage_target\": 85,\n    \"test_types\": [\"unit\", \"integration\"],\n    \"critical_test_cases\": [\"List the must-have tests\"]\n  },\n  \"validation_checklist\": [\n    \"All tests pass\",\n    \"Code follows PEP 8\",\n    \"No security vulnerabilities\",\n    \"Documentation complete\"\n  ],\n  \"estimated_difficulty_for_local_model\": \"medium\",\n  \"recommended_execution_model\": \"gpt-oss-20b\"\n}\n\\`\\`\\`\n\n# Requirements\n- Be EXTREMELY detailed - assume the executor has no context\n- Every step must be unambiguous and testable\n- Include actual commands, not placeholders\n- Specify exact package versions\n- Provide Context7 queries that will help at each step\n- Think about what a 3B model would struggle with and pre-solve it\n\nCreate the plan now.`;\n\nreturn {\n  json: {\n    ...item,\n    planning_prompt: planningPrompt\n  }\n};"},"id":"build-planning-prompt","name":"Build Detailed Planning Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,300],"notes":"Auto-approved or approved path"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"claude-sonnet-4-5"},{"name":"max_tokens","value":"8000"},{"name":"messages","value":"={{ [{role: 'user', content: $json.planning_prompt}] }}"},{"name":"temperature","value":"0.3"}]}},"id":"execute-planning-claude","name":"Execute Planning (Claude Sonnet 4.5)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,300],"notes":"Claude creates detailed plan for local models"},{"parameters":{"jsCode":"// Parse and validate the execution plan\nconst item = $input.first();\nconst response = item.json.content[0].text;\n\n// Extract JSON from response\nconst jsonMatch = response.match(/```json\\n([\\s\\S]*?)\\n```/);\nlet plan;\n\nif (jsonMatch) {\n  try {\n    plan = JSON.parse(jsonMatch[1]);\n  } catch (e) {\n    plan = {\n      error: 'Failed to parse plan JSON',\n      raw_response: response,\n      fallback_to_local: true\n    };\n  }\n} else {\n  plan = {\n    error: 'No JSON found in response',\n    raw_response: response,\n    fallback_to_local: true\n  };\n}\n\nconst metadata = $node[\"Build Detailed Planning Prompt\"].json;\n\nreturn {\n  json: {\n    ...metadata,\n    execution_plan: plan,\n    has_valid_plan: !plan.error,\n    planning_tokens: response.length / 4, // Rough estimate\n    planning_cost: (response.length / 4) * 0.000003, // ~$3/M tokens\n    next_phase: plan.error ? 'local_fallback' : 'local_execution'\n  }\n};"},"id":"parse-execution-plan","name":"Parse Execution Plan","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,300]},{"parameters":{"jsCode":"// Prepare local model execution with tools\nconst item = $input.first().json;\nconst plan = item.execution_plan;\nconst currentStep = 1; // Would track across loop\n\nconst step = plan.execution_steps?.[currentStep - 1] || {};\n\n// Build context-aware prompt for local model\nconst localPrompt = `You are executing step ${currentStep} of ${plan.execution_steps?.length || 'unknown'} in a larger plan.\n\n# Overall Goal\n${plan.plan_summary || item.description}\n\n# Current Step\n**${step.title}**\n${step.description}\n\n# What You Need to Do\n${step.commands?.map(cmd => `- Run: \\`${cmd}\\``).join('\\n') || 'See description above'}\n\n# Success Criteria\n${step.success_criteria}\n\n# Common Mistakes to Avoid\n${step.common_mistakes?.map(m => `- ${m}`).join('\\n') || 'None listed'}\n\n# Tools Available\nYou have access to:\n1. **Context7** - Query for ${step.context7_queries?.map(q => q.library).join(', ') || 'documentation'}\n2. **Web fetch** - Get official docs from ${step.documentation_urls?.join(', ') || 'specified URLs'}\n\n# Required Context7 Queries\n${step.context7_queries?.map(q => `- Query \"${q.library}\" for: ${q.query}`).join('\\n') || 'None required'}\n\n# Documentation to Reference\n${step.documentation_urls?.map(url => `- ${url}`).join('\\n') || 'None specified'}\n\n# Output Requirements\nProvide:\n1. Complete, working code\n2. Confirmation you met success criteria\n3. Any issues encountered\n\nBe precise and follow the plan exactly.`;\n\nreturn {\n  json: {\n    ...item,\n    local_execution: {\n      current_step: currentStep,\n      total_steps: plan.execution_steps?.length || 0,\n      step_details: step,\n      prompt: localPrompt,\n      model: plan.recommended_execution_model || item.analysis.recommended_model,\n      requires_context7: (step.context7_queries?.length || 0) > 0,\n      requires_web_fetch: (step.documentation_urls?.length || 0) > 0\n    }\n  }\n};"},"id":"prepare-local-execution","name":"Prepare Local Model Execution","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,300],"notes":"Path with plan - execute with local models"},{"parameters":{"jsCode":"// Build prompt for tasks that don't need planning but need tools\nconst item = $input.first().json;\n\n// Determine which libraries/frameworks are mentioned\nconst description = item.description.toLowerCase();\nconst detectedLibraries = [];\n\nconst libraryKeywords = {\n  'fastapi': ['fastapi', 'rest api', 'api endpoint'],\n  'pydantic': ['pydantic', 'data validation', 'type validation'],\n  'pytest': ['pytest', 'testing', 'test'],\n  'sqlalchemy': ['sqlalchemy', 'database', 'orm'],\n  'pandas': ['pandas', 'dataframe', 'data analysis'],\n  'numpy': ['numpy', 'numerical', 'array'],\n  'react': ['react', 'component', 'jsx'],\n  'fastapi': ['fastapi', 'async', 'uvicorn']\n};\n\nfor (const [lib, keywords] of Object.entries(libraryKeywords)) {\n  if (keywords.some(kw => description.includes(kw))) {\n    detectedLibraries.push(lib);\n  }\n}\n\nconst toolPrompt = `# Task\n${item.title}\n\n${item.description}\n\n# Your Capabilities\nYou have access to:\n- **Context7**: Query documentation for ${detectedLibraries.join(', ') || 'any library'}\n- **Web search**: Find official documentation and examples\n- **Code analysis**: Search and analyze existing code\n\n# Instructions\n1. **First**, query Context7 for relevant documentation\n2. **Then**, implement following best practices from official docs\n3. **Finally**, test your implementation\n\n# Recommended Context7 Queries\n${detectedLibraries.map(lib => `- Library: \"${lib}\" - Query: \"${item.title}\"`).join('\\n')}\n\n# Requirements\n- Use official documentation patterns\n- Include comprehensive error handling\n- Write tests\n- Follow language/framework conventions\n- Specify exact dependency versions\n\nProceed with implementation.`;\n\nreturn {\n  json: {\n    ...item,\n    local_execution: {\n      prompt: toolPrompt,\n      model: item.analysis.recommended_model,\n      requires_context7: detectedLibraries.length > 0,\n      detected_libraries: detectedLibraries,\n      requires_web_fetch: true\n    }\n  }\n};"},"id":"build-tool-assisted-prompt","name":"Build Tool-Assisted Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,400],"notes":"Path 1: Needs tools but not planning"},{"parameters":{"jsCode":"// Simple tasks - direct execution with appropriate local model\nconst item = $input.first().json;\n\nconst simplePrompt = `# Task\n${item.title}\n\n${item.description}\n\n# Requirements\n- Write clean, well-documented code\n- Include basic tests\n- Follow best practices\n- Use type hints (if Python)\n\n# Output Format\nProvide:\n1. Complete implementation\n2. Test file\n3. Brief usage example\n\nBe concise and practical.`;\n\nreturn {\n  json: {\n    ...item,\n    local_execution: {\n      prompt: simplePrompt,\n      model: item.analysis.recommended_model,\n      requires_context7: false,\n      requires_web_fetch: false\n    }\n  }\n};"},"id":"build-simple-prompt","name":"Build Simple Direct Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,600],"notes":"Path 2: Simple tasks, direct execution"},{"parameters":{},"id":"merge-execution-paths","name":"Merge Execution Paths","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2440,400],"notes":"All paths converge here for execution"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.local_execution.requires_context7 }}","value2":true}]}},"id":"check-needs-context7","name":"Needs Context7?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2660,400]},{"parameters":{"jsCode":"// Query Context7 for each detected library\nconst item = $input.first().json;\nconst libraries = item.local_execution.detected_libraries || \n                  item.local_execution.step_details?.context7_queries?.map(q => q.library) || [];\n\nconst queries = libraries.map(lib => ({\n  library: lib,\n  query: item.title || item.description.substring(0, 100)\n}));\n\nreturn queries.map(q => ({\n  json: {\n    ...item,\n    context7_query: q\n  }\n}));"},"id":"prepare-context7-queries","name":"Prepare Context7 Queries","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,300]},{"parameters":{"libraryName":"={{ $json.context7_query.library }}","query":"={{ $json.context7_query.query }}"},"id":"query-context7","name":"Query Context7 MCP","type":"n8n-nodes-base.mcp__context7__resolve-library-id","typeVersion":1,"position":[3100,300],"notes":"Get library documentation"},{"parameters":{"libraryId":"={{ $json.libraryId }}","query":"={{ $json.context7_query.query }}"},"id":"get-context7-docs","name":"Get Context7 Documentation","type":"n8n-nodes-base.mcp__context7__query-docs","typeVersion":1,"position":[3320,300]},{"parameters":{"jsCode":"// Aggregate all Context7 results\nconst items = $input.all();\n\nconst documentation = items.map(item => ({\n  library: item.json.context7_query.library,\n  content: item.json.documentation || 'Not found'\n}));\n\nconst baseItem = items[0].json;\ndelete baseItem.context7_query; // Clean up\n\nreturn {\n  json: {\n    ...baseItem,\n    context7_results: documentation,\n    enhanced_prompt: baseItem.local_execution.prompt + `\\n\\n# Retrieved Documentation\\n${documentation.map(d => `## ${d.library}\\n${d.content}`).join('\\n\\n')}`\n  }\n};"},"id":"aggregate-context7","name":"Aggregate Context7 Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[3540,300]},{"parameters":{"method":"POST","url":"={{ $env.LOCAL_LLM_ENDPOINT }}/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"={{ $json.local_execution.model }}"},{"name":"messages","value":"={{ [{role: 'user', content: $json.enhanced_prompt || $json.local_execution.prompt}] }}"},{"name":"temperature","value":"0.2"},{"name":"max_tokens","value":"={{ $json.analysis.estimated_tokens || 4000 }}"}]},"options":{"timeout":180000}},"id":"execute-local-model","name":"Execute Local Model","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3540,500],"notes":"ministral-3b, qwen3-8b, or gpt-oss-20b"},{"parameters":{"jsCode":"// Save output and track usage\nconst item = $input.first();\nconst response = item.json.choices?.[0]?.message?.content || '';\nconst metadata = $node[\"Merge Execution Paths\"].json;\n\nconst timestamp = new Date().toISOString();\nconst filename = `${metadata.packet_id}-${metadata.local_execution.model}-output.md`;\n\nconst output = `# ${metadata.title}\n\n**Timestamp:** ${timestamp}\n**Model:** ${metadata.local_execution.model}\n**Complexity:** ${metadata.analysis.complexity_score}/100\n**Success Probability:** ${metadata.analysis.success_probability}%\n\n---\n\n${response}\n\n---\n\n## Metadata\n- Packet ID: ${metadata.packet_id}\n- Issue ID: ${metadata.id}\n- Model Tier: ${metadata.local_execution.model}\n- Used Context7: ${metadata.context7_results ? 'Yes' : 'No'}\n- Planning Used: ${metadata.execution_plan ? 'Yes' : 'No'}\n`;\n\nreturn {\n  json: {\n    ...metadata,\n    output: {\n      content: output,\n      filename: filename,\n      timestamp: timestamp,\n      model_used: metadata.local_execution.model,\n      tokens_generated: response.length / 4,\n      local_cost: 0 // Local models are free!\n    }\n  }\n};"},"id":"format-output","name":"Format & Save Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[3760,500]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.output.filename }}","mimeType":"text/markdown"}},"id":"convert-to-file","name":"Convert to File","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[3980,500]},{"parameters":{"path":"/mnt/n8n-nas/packet_outputs","fileName":"={{ $json.output.filename }}","options":{}},"id":"write-output","name":"Write Output to NAS","type":"n8n-nodes-base.writeFile","typeVersion":1,"position":[4200,500]},{"parameters":{"operation":"update","dataSource":"table","table":"linear_work_queue","where":{"conditions":[{"column":"id","operator":"=","value":"={{ $json.id }}"}]},"columns":{"mappings":[{"column":"status","value":"completed_local"},{"column":"output_file","value":"={{ $json.output.filename }}"},{"column":"model_used","value":"={{ $json.output.model_used }}"},{"column":"complexity_score","value":"={{ $json.analysis.complexity_score }}"},{"column":"success_probability","value":"={{ $json.analysis.success_probability }}"},{"column":"used_planning","value":"={{ $json.execution_plan ? true : false }}"},{"column":"updated_at","value":"={{ $json.output.timestamp }}"}]}},"id":"update-status","name":"Update Status - Completed Local","type":"n8n-nodes-base.n8n-data-table","typeVersion":1,"position":[4420,500]}],"connections":{"Manual/Schedule Trigger":{"main":[[{"node":"Get Pending Work","type":"main","index":0}]]},"Get Pending Work":{"main":[[{"node":"Analyze Task Complexity & Success Probability","type":"main","index":0}]]},"Analyze Task Complexity & Success Probability":{"main":[[{"node":"Route by Complexity","type":"main","index":0}]]},"Route by Complexity":{"main":[[{"node":"Check Escalation Approval Needed","type":"main","index":0}],[{"node":"Build Tool-Assisted Prompt","type":"main","index":0}],[{"node":"Build Simple Direct Prompt","type":"main","index":0}]]},"Check Escalation Approval Needed":{"main":[[{"node":"Needs User Approval?","type":"main","index":0}]]},"Needs User Approval?":{"main":[[{"node":"Request Approval (Slack)","type":"main","index":0}],[{"node":"Build Detailed Planning Prompt","type":"main","index":0}]]},"Request Approval (Slack)":{"main":[[{"node":"Wait for Approval Webhook","type":"main","index":0}]]},"Wait for Approval Webhook":{"main":[[{"node":"Build Detailed Planning Prompt","type":"main","index":0}]]},"Build Detailed Planning Prompt":{"main":[[{"node":"Execute Planning (Claude Sonnet 4.5)","type":"main","index":0}]]},"Execute Planning (Claude Sonnet 4.5)":{"main":[[{"node":"Parse Execution Plan","type":"main","index":0}]]},"Parse Execution Plan":{"main":[[{"node":"Prepare Local Model Execution","type":"main","index":0}]]},"Prepare Local Model Execution":{"main":[[{"node":"Merge Execution Paths","type":"main","index":0}]]},"Build Tool-Assisted Prompt":{"main":[[{"node":"Merge Execution Paths","type":"main","index":1}]]},"Build Simple Direct Prompt":{"main":[[{"node":"Merge Execution Paths","type":"main","index":2}]]},"Merge Execution Paths":{"main":[[{"node":"Needs Context7?","type":"main","index":0}]]},"Needs Context7?":{"main":[[{"node":"Prepare Context7 Queries","type":"main","index":0}],[{"node":"Execute Local Model","type":"main","index":0}]]},"Prepare Context7 Queries":{"main":[[{"node":"Query Context7 MCP","type":"main","index":0}]]},"Query Context7 MCP":{"main":[[{"node":"Get Context7 Documentation","type":"main","index":0}]]},"Get Context7 Documentation":{"main":[[{"node":"Aggregate Context7 Results","type":"main","index":0}]]},"Aggregate Context7 Results":{"main":[[{"node":"Execute Local Model","type":"main","index":0}]]},"Execute Local Model":{"main":[[{"node":"Format & Save Output","type":"main","index":0}]]},"Format & Save Output":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Write Output to NAS","type":"main","index":0}]]},"Write Output to NAS":{"main":[[{"node":"Update Status - Completed Local","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"5a8f72ba-ab96-4bca-aef9-6fa878835bd1","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-08T03:53:35.419Z","createdAt":"2026-01-08T03:53:35.419Z","role":"workflow:owner","workflowId":"BNxDFRJEf95OFQtl","projectId":"CUaRGVU8MRvL0tdd","project":{"updatedAt":"2026-01-08T03:51:38.610Z","createdAt":"2026-01-08T03:45:43.415Z","id":"CUaRGVU8MRvL0tdd","name":"Bill Admin <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"creatorId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectRelations":[{"updatedAt":"2026-01-08T03:45:43.415Z","createdAt":"2026-01-08T03:45:43.415Z","userId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectId":"CUaRGVU8MRvL0tdd","user":{"updatedAt":"2026-01-09T00:02:08.000Z","createdAt":"2026-01-08T03:45:43.034Z","id":"e443d61e-c22a-49d2-8855-c41dbca9834a","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Admin","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-08T06:16:56.079Z","personalization_survey_n8n_version":"2.2.4"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-09","isPending":false}}]}}],"tags":[],"activeVersion":null}