public/workflows/orangepi/Np8FohK927IStXjG.json
{"updatedAt":"2026-01-02T07:24:12.410Z","createdAt":"2026-01-02T01:22:26.457Z","id":"Np8FohK927IStXjG","name":"Packet Processor with Quality Loop","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"process-packets","responseMode":"lastNode","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[304,400],"webhookId":"bde6d489-e626-4aae-9c5c-9b365fd01ffe"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"list","value":"uY29FyKg9JFPZa9a","cachedResultName":"ClaudiaCodeIssuePackets"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"status","keyValue":"queued"}]},"returnAll":true},"id":"get-packets","name":"Get Queued Packets","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[512,400]},{"parameters":{"options":{"reset":false}},"id":"split-batches","name":"Process Each Packet","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,400]},{"parameters":{"jsCode":"const packet = $input.all()[0].json;\n\nlet issueData = {};\ntry {\n  issueData = JSON.parse(packet.packetJSON);\n} catch (e) {\n  issueData = {\n    title: \"Parse Error\",\n    description: String(packet.packetJSON)\n  };\n}\n\nreturn {\n  json: {\n    packetID: packet.packetID,\n    title: issueData.title || \"No title\",\n    description: issueData.description || \"No description\",\n    acceptanceCriteria: issueData.acceptanceCriteria || \"\",\n    iteration: 0,\n    maxIterations: 3,\n    _originalPacket: packet\n  }\n};"},"id":"extract-packet","name":"Extract Packet Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,400]},{"parameters":{"jsCode":"const packet = $input.item.json;\n\nconst workPrompt = `You are an AI software developer. Implement this task completely.\n\nIssue: ${packet.title}\n\nDescription:\n${packet.description}\n\n${packet.acceptanceCriteria ? 'Acceptance Criteria:\\n' + packet.acceptanceCriteria : ''}\n\nProvide COMPLETE, WORKING code. No placeholders, no TODOs.\n\nInclude:\n1. Full implementation\n2. Error handling\n3. Tests if applicable\n4. Dependencies\n`;\n\nreturn {\n  json: {\n    ...packet,\n    workPrompt: workPrompt\n  }\n};"},"id":"format-prompt","name":"Format Work Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,400]},{"parameters":{"promptType":"define","text":"={{ $json.workPrompt }}","options":{"systemMessage":"You are an expert software developer. Provide complete, working implementations.","maxIterations":10}},"id":"worker-agent","name":"Worker Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1312,400]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{"timeout":120000}},"id":"worker-model","name":"GPT-OSS-20b","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1312,608],"credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"jsCode":"const packet = $('Format Work Prompt').first().json;\nconst output = $json.output || \"\";\n\nconst validationPrompt = `You are a Code Quality Validator. Review this implementation:\n\nTask: ${packet.title}\n${packet.description}\n\nImplementation:\n${output}\n\nRate on scale 0-100:\n1. Completeness: All requirements met? No TODOs?\n2. Correctness: Logic sound? No bugs?\n3. Quality: Clean, readable code?\n4. Security: No vulnerabilities?\n\nReturn ONLY this JSON:\n{\n  \"overall_score\": <average>,\n  \"completeness\": <0-100>,\n  \"correctness\": <0-100>,\n  \"code_quality\": <0-100>,\n  \"security\": <0-100>,\n  \"decision\": \"ACCEPT|ITERATE|REJECT\",\n  \"issues\": [],\n  \"reasoning\": \"why this decision\"\n}\n\nRules:\n- ACCEPT: score ≥ 80\n- ITERATE: 50-79\n- REJECT: < 50\n`;\n\nreturn {\n  json: {\n    ...packet,\n    generatedOutput: output,\n    validationPrompt: validationPrompt\n  }\n};"},"id":"quality-prompt","name":"Build Quality Check Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,400]},{"parameters":{"promptType":"define","text":"={{ $json.validationPrompt }}","options":{"systemMessage":"You are a strict code reviewer. Return only valid JSON.","maxIterations":5}},"id":"quality-validator","name":"Quality Validator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1712,400]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"qwen/qwen3-vl-8b"},"responsesApiEnabled":false,"options":{"timeout":120000}},"id":"validator-model","name":"Qwen3-VL-8b","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1712,608],"credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"jsCode":"const packet = $('Build Quality Check Prompt').first().json;\nconst validatorOutput = $json.output || \"\";\n\nlet qualityReport;\ntry {\n  const jsonMatch = validatorOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    qualityReport = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  qualityReport = {\n    overall_score: 50,\n    decision: 'REJECT',\n    reasoning: 'Validator failed to produce valid JSON'\n  };\n}\n\nreturn {\n  json: {\n    ...packet,\n    qualityScore: qualityReport.overall_score,\n    decision: qualityReport.decision,\n    qualityReport: qualityReport,\n    iteration: packet.iteration + 1\n  }\n};"},"id":"parse-quality","name":"Parse Quality Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,400]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.decision }}","operation":"equals","value2":"ACCEPT"}]},"options":{}},"id":"decision-router","name":"Decision Router","type":"n8n-nodes-base.if","typeVersion":2,"position":[2112,400]},{"parameters":{"jsCode":"const fs = require('fs');\nconst packet = $input.item.json;\nconst originalPacket = packet._originalPacket;\n\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/[:.]/g, '-');\nconst filename = `${packet.title.replace(/[^a-zA-Z0-9]/g, '_')}-${packet.packetID}-${timestamp}.md`;\nconst filePath = `/mnt/n8n-nas/packet_outputs/${filename}`;\n\nconst markdown = `# ${packet.title}\n\n**Quality Score:** ${packet.qualityScore}/100\n**Iterations:** ${packet.iteration}\n**Timestamp:** ${now.toISOString()}\n\n## Implementation\n\n${packet.generatedOutput}\n\n## Quality Report\n\n${JSON.stringify(packet.qualityReport, null, 2)}\n`;\n\nconst dir = require('path').dirname(filePath);\nif (!fs.existsSync(dir)) {\n  fs.mkdirSync(dir, { recursive: true });\n}\n\nfs.writeFileSync(filePath, markdown, 'utf8');\n\nreturn {\n  json: {\n    success: true,\n    filePath: filePath,\n    packetID: packet.packetID\n  }\n};"},"id":"save-output","name":"Save Accepted Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,304]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.iteration }}","operation":"largerEqual","value2":"={{ $json.maxIterations }}"}]},"options":{}},"id":"check-iterations","name":"Check Max Iterations","type":"n8n-nodes-base.if","typeVersion":2,"position":[2304,512]},{"parameters":{},"id":"loop-back","name":"Loop Back","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2512,608]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get Queued Packets","type":"main","index":0}]]},"Get Queued Packets":{"main":[[{"node":"Process Each Packet","type":"main","index":0}]]},"Process Each Packet":{"main":[[],[{"node":"Extract Packet Data","type":"main","index":0}]]},"Extract Packet Data":{"main":[[{"node":"Format Work Prompt","type":"main","index":0}]]},"Format Work Prompt":{"main":[[{"node":"Worker Agent","type":"main","index":0}]]},"Worker Agent":{"main":[[{"node":"Build Quality Check Prompt","type":"main","index":0}]]},"GPT-OSS-20b":{"ai_languageModel":[[{"node":"Worker Agent","type":"ai_languageModel","index":0}]]},"Build Quality Check Prompt":{"main":[[{"node":"Quality Validator","type":"main","index":0}]]},"Quality Validator":{"main":[[{"node":"Parse Quality Score","type":"main","index":0}]]},"Qwen3-VL-8b":{"ai_languageModel":[[{"node":"Quality Validator","type":"ai_languageModel","index":0}]]},"Parse Quality Score":{"main":[[{"node":"Decision Router","type":"main","index":0}]]},"Decision Router":{"main":[[{"node":"Save Accepted Output","type":"main","index":0}],[{"node":"Check Max Iterations","type":"main","index":0}]]},"Save Accepted Output":{"main":[[{"node":"Process Each Packet","type":"main","index":0}]]},"Check Max Iterations":{"main":[[{"node":"Process Each Packet","type":"main","index":0}],[{"node":"Loop Back","type":"main","index":0}]]},"Loop Back":{"main":[[{"node":"Format Work Prompt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"1b8ad523-b335-4585-a251-89349b701cd9","activeVersionId":"7b1d2823-a181-4a9e-9866-52d4463b6991","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-01-02T01:22:26.472Z","createdAt":"2026-01-02T01:22:26.472Z","role":"workflow:owner","workflowId":"Np8FohK927IStXjG","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-01T23:41:10.347Z","createdAt":"2026-01-01T23:41:10.347Z","id":"59v2I1DDZaqntzwf","name":"AI GENERATED"},{"updatedAt":"2026-01-01T23:45:39.732Z","createdAt":"2026-01-01T23:45:39.732Z","id":"BJgg5iAvU9lgAlqp","name":"BROKEN"},{"updatedAt":"2026-01-01T23:42:17.144Z","createdAt":"2026-01-01T23:42:17.144Z","id":"e2I03ErUAQw8hDjy","name":"OLD VERSION"},{"updatedAt":"2026-01-01T23:47:23.414Z","createdAt":"2026-01-01T23:47:23.414Z","id":"e9wyuzgPFWT6vuEp","name":"HAS ISSUES"},{"updatedAt":"2026-01-01T23:44:48.788Z","createdAt":"2026-01-01T23:44:48.788Z","id":"l6FVWknceeDeKEoz","name":"SANDBOX"}],"activeVersion":{"updatedAt":"2026-01-02T01:22:26.487Z","createdAt":"2026-01-02T01:22:26.487Z","versionId":"7b1d2823-a181-4a9e-9866-52d4463b6991","workflowId":"Np8FohK927IStXjG","nodes":[{"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[300,400],"parameters":{"path":"process-packets","httpMethod":"POST","responseMode":"lastNode"}},{"id":"get-packets","name":"Get Queued Packets","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[500,400],"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"list","value":"uY29FyKg9JFPZa9a","cachedResultName":"ClaudiaCodeIssuePackets"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"status","keyValue":"queued"}]},"returnAll":true}},{"id":"split-batches","name":"Process Each Packet","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[700,400],"parameters":{"batchSize":1,"options":{"reset":false}}},{"id":"extract-packet","name":"Extract Packet Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400],"parameters":{"jsCode":"const packet = $input.all()[0].json;\n\nlet issueData = {};\ntry {\n  issueData = JSON.parse(packet.packetJSON);\n} catch (e) {\n  issueData = {\n    title: \"Parse Error\",\n    description: String(packet.packetJSON)\n  };\n}\n\nreturn {\n  json: {\n    packetID: packet.packetID,\n    title: issueData.title || \"No title\",\n    description: issueData.description || \"No description\",\n    acceptanceCriteria: issueData.acceptanceCriteria || \"\",\n    iteration: 0,\n    maxIterations: 3,\n    _originalPacket: packet\n  }\n};"}},{"id":"format-prompt","name":"Format Work Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,400],"parameters":{"jsCode":"const packet = $input.item.json;\n\nconst workPrompt = `You are an AI software developer. Implement this task completely.\n\nIssue: ${packet.title}\n\nDescription:\n${packet.description}\n\n${packet.acceptanceCriteria ? 'Acceptance Criteria:\\n' + packet.acceptanceCriteria : ''}\n\nProvide COMPLETE, WORKING code. No placeholders, no TODOs.\n\nInclude:\n1. Full implementation\n2. Error handling\n3. Tests if applicable\n4. Dependencies\n`;\n\nreturn {\n  json: {\n    ...packet,\n    workPrompt: workPrompt\n  }\n};"}},{"id":"worker-agent","name":"Worker Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1300,400],"parameters":{"promptType":"define","text":"={{ $json.workPrompt }}","options":{"systemMessage":"You are an expert software developer. Provide complete, working implementations.","maxIterations":10}}},{"id":"worker-model","name":"GPT-OSS-20b","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1300,600],"parameters":{"model":{"__rl":true,"mode":"list","value":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{"timeout":120000}},"credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"id":"quality-prompt","name":"Build Quality Check Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,400],"parameters":{"jsCode":"const packet = $('Format Work Prompt').first().json;\nconst output = $json.output || \"\";\n\nconst validationPrompt = `You are a Code Quality Validator. Review this implementation:\n\nTask: ${packet.title}\n${packet.description}\n\nImplementation:\n${output}\n\nRate on scale 0-100:\n1. Completeness: All requirements met? No TODOs?\n2. Correctness: Logic sound? No bugs?\n3. Quality: Clean, readable code?\n4. Security: No vulnerabilities?\n\nReturn ONLY this JSON:\n{\n  \"overall_score\": <average>,\n  \"completeness\": <0-100>,\n  \"correctness\": <0-100>,\n  \"code_quality\": <0-100>,\n  \"security\": <0-100>,\n  \"decision\": \"ACCEPT|ITERATE|REJECT\",\n  \"issues\": [],\n  \"reasoning\": \"why this decision\"\n}\n\nRules:\n- ACCEPT: score ≥ 80\n- ITERATE: 50-79\n- REJECT: < 50\n`;\n\nreturn {\n  json: {\n    ...packet,\n    generatedOutput: output,\n    validationPrompt: validationPrompt\n  }\n};"}},{"id":"quality-validator","name":"Quality Validator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1700,400],"parameters":{"promptType":"define","text":"={{ $json.validationPrompt }}","options":{"systemMessage":"You are a strict code reviewer. Return only valid JSON.","maxIterations":5}}},{"id":"validator-model","name":"Qwen3-VL-8b","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1700,600],"parameters":{"model":{"__rl":true,"mode":"list","value":"qwen/qwen3-vl-8b"},"responsesApiEnabled":false,"options":{"timeout":120000}},"credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"id":"parse-quality","name":"Parse Quality Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,400],"parameters":{"jsCode":"const packet = $('Build Quality Check Prompt').first().json;\nconst validatorOutput = $json.output || \"\";\n\nlet qualityReport;\ntry {\n  const jsonMatch = validatorOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    qualityReport = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  qualityReport = {\n    overall_score: 50,\n    decision: 'REJECT',\n    reasoning: 'Validator failed to produce valid JSON'\n  };\n}\n\nreturn {\n  json: {\n    ...packet,\n    qualityScore: qualityReport.overall_score,\n    decision: qualityReport.decision,\n    qualityReport: qualityReport,\n    iteration: packet.iteration + 1\n  }\n};"}},{"id":"decision-router","name":"Decision Router","type":"n8n-nodes-base.if","typeVersion":2,"position":[2100,400],"parameters":{"conditions":{"string":[{"value1":"={{ $json.decision }}","operation":"equals","value2":"ACCEPT"}]}}},{"id":"save-output","name":"Save Accepted Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2300,300],"parameters":{"jsCode":"const fs = require('fs');\nconst packet = $input.item.json;\nconst originalPacket = packet._originalPacket;\n\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/[:.]/g, '-');\nconst filename = `${packet.title.replace(/[^a-zA-Z0-9]/g, '_')}-${packet.packetID}-${timestamp}.md`;\nconst filePath = `/mnt/n8n-nas/packet_outputs/${filename}`;\n\nconst markdown = `# ${packet.title}\n\n**Quality Score:** ${packet.qualityScore}/100\n**Iterations:** ${packet.iteration}\n**Timestamp:** ${now.toISOString()}\n\n## Implementation\n\n${packet.generatedOutput}\n\n## Quality Report\n\n${JSON.stringify(packet.qualityReport, null, 2)}\n`;\n\nconst dir = require('path').dirname(filePath);\nif (!fs.existsSync(dir)) {\n  fs.mkdirSync(dir, { recursive: true });\n}\n\nfs.writeFileSync(filePath, markdown, 'utf8');\n\nreturn {\n  json: {\n    success: true,\n    filePath: filePath,\n    packetID: packet.packetID\n  }\n};"}},{"id":"check-iterations","name":"Check Max Iterations","type":"n8n-nodes-base.if","typeVersion":2,"position":[2300,500],"parameters":{"conditions":{"number":[{"value1":"={{ $json.iteration }}","operation":"largerEqual","value2":"={{ $json.maxIterations }}"}]}}},{"id":"loop-back","name":"Loop Back","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2500,600]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get Queued Packets","type":"main","index":0}]]},"Get Queued Packets":{"main":[[{"node":"Process Each Packet","type":"main","index":0}]]},"Process Each Packet":{"main":[[],[{"node":"Extract Packet Data","type":"main","index":0}]]},"Extract Packet Data":{"main":[[{"node":"Format Work Prompt","type":"main","index":0}]]},"Format Work Prompt":{"main":[[{"node":"Worker Agent","type":"main","index":0}]]},"Worker Agent":{"main":[[{"node":"Build Quality Check Prompt","type":"main","index":0}]]},"GPT-OSS-20b":{"ai_languageModel":[[{"node":"Worker Agent","type":"ai_languageModel","index":0}]]},"Build Quality Check Prompt":{"main":[[{"node":"Quality Validator","type":"main","index":0}]]},"Quality Validator":{"main":[[{"node":"Parse Quality Score","type":"main","index":0}]]},"Qwen3-VL-8b":{"ai_languageModel":[[{"node":"Quality Validator","type":"ai_languageModel","index":0}]]},"Parse Quality Score":{"main":[[{"node":"Decision Router","type":"main","index":0}]]},"Decision Router":{"main":[[{"node":"Save Accepted Output","type":"main","index":0}],[{"node":"Check Max Iterations","type":"main","index":0}]]},"Save Accepted Output":{"main":[[{"node":"Process Each Packet","type":"main","index":0}]]},"Check Max Iterations":{"main":[[{"node":"Process Each Packet","type":"main","index":0}],[{"node":"Loop Back","type":"main","index":0}]]},"Loop Back":{"main":[[{"node":"Format Work Prompt","type":"main","index":0}]]}},"authors":"Bill Griffith","name":null,"description":null,"workflowPublishHistory":[]}}