public/workflows/orangepi/oOswOxrBRSNLRXrc.json
{"updatedAt":"2025-12-21T04:55:53.000Z","createdAt":"2025-12-20T06:07:55.295Z","id":"oOswOxrBRSNLRXrc","name":"LMStudio Agentic Dev Tools","description":null,"active":true,"isArchived":true,"nodes":[{"parameters":{"message":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-48,-944],"id":"1d44bbe0-7411-4238-a7e1-075e3cfd0e15","name":"Respond to Chat1"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-352,-800],"id":"b85574cf-8660-4b97-9a0b-e6e3c33b6bd8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"promptType":"define","text":"=The User selected {{ $('Edit Fields').item.json.selectedLinearProject }}\n\nProject ID \n{{ $json.output[0].content[0].text }}\n\n- Tell us about that project and all issues from linear that are not marked done","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-352,-944],"id":"a95d106c-99ec-4085-9dd5-af195d2b6da9","name":"AI Agent"},{"parameters":{"message":"={{ $json.output[0].content[0].text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-1232,-944],"id":"8bf7f46d-ccc2-486a-a482-2d20029d36a3","name":"Respond to Chat","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state status { name } labels { nodes { name } } } } }\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-1536,-816],"id":"388c244d-9e7d-45a2-a9b6-7d5f5a00e671","name":"Get n8n Linear Projects","credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query { project(id: \\\"{{$json.output[0].content[0].text}}\\\") { id name issues(first: 100) { nodes { id identifier title description state { name } priority assignee { name } labels { nodes { name } } createdAt updatedAt } } } }\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-208,-800],"id":"b23d42e9-c8a0-425f-93e4-7c35376b0d9f","name":"Get n8n Linear Projects1","credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b08f431a-c94b-441f-8073-0133d554322e","name":"selectedLinearProject","value":"={{ $json.output[0].content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,-944],"id":"2bbccd9a-7bd9-4ed2-a5e3-e5fddfb4b116","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"content":"=Respond only with the name of the project in the following list itentified by: {{ $json.chatInput }}\n\nList:\n\n{{ $('List Linear Projects').item.json.output[0].content[0].text }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1072,-944],"id":"dc3e4485-1f9a-4af3-badd-1a95889c7614","name":"Message a model1","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state status { name } labels { nodes { name } } } } }\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-640,-816],"id":"e94f39b8-9d4e-4a32-baed-67a4d8f28013","name":"Get n8n Linear Projects2","credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"options":{"responseMode":"responseNodes"}},"id":"2eac71c9-60df-4f3a-8389-e87b175c1321","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[9296,-9056],"webhookId":"5bf7ce82-aa42-4cf1-8818-50a91bf006af"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-1600,-528],"id":"67ee2c8b-0e7c-4ce1-9126-76788e7c5508","name":"AI Agent Tool"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"content":"=Respond only with the project ID of the linear project named  {{ $json.selectedLinearProject }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-672,-944],"id":"ff5860d1-af36-4586-91d5-bd12dea6290b","name":"Get Project ID","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"content":"\"respond with 'Hello I am listing projects....\\n\\n' first then once you have all of the projects from linear loaded, make a numbered list of the ones that have the n8n label as projects to work on and ask which project would you like to work on. Wait for a number response which corresponds to the project in the list or a text response of the name of the project, which may be shortened to the first word of the project if it is unique, not case sensitive\""}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1584,-944],"id":"bdf36d36-fe8d-4004-93c4-b189f7536f69","name":"List Linear Projects","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"authentication":"gitPassword","operation":"clone","repositoryPath":"/mnt/n8n-nas/git_repos/","sourceRepository":"http://localhost/gtechsd/lm-studio-agentic-dev-tools.git"},"type":"n8n-nodes-base.git","typeVersion":1.1,"position":[0,-279.54022988505767],"id":"b7d3f339-a646-4556-86d2-161b34e1332e","name":"Git","credentials":{"gitPassword":{"id":"OUIdABGlvj4R2BrV","name":"Git account"}}},{"parameters":{"authentication":"gitPassword","operation":"clone","repositoryPath":"/mnt/n8n-nas/git_repos/","sourceRepository":"http://localhostgtechsd/GoldenEye.git"},"type":"n8n-nodes-base.git","typeVersion":1.1,"position":[208,-272],"id":"25c4502c-884f-4289-a7af-afea68656842","name":"Git1","credentials":{"gitPassword":{"id":"OUIdABGlvj4R2BrV","name":"Git account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Respond to Chat1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Respond to Chat":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Get n8n Linear Projects":{"ai_tool":[[{"node":"List Linear Projects","type":"ai_tool","index":0}]]},"Get n8n Linear Projects1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Message a model1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get Project ID","type":"main","index":0}]]},"Get n8n Linear Projects2":{"ai_tool":[[{"node":"Get Project ID","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"List Linear Projects","type":"main","index":0}]]},"Get Project ID":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"List Linear Projects":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]},"Git":{"main":[[{"node":"Git1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c8c1864-18a5-43df-96cb-25042c0e1413","activeVersionId":null,"versionCounter":66,"triggerCount":1,"shared":[{"updatedAt":"2025-12-20T06:07:55.300Z","createdAt":"2025-12-20T06:07:55.300Z","role":"workflow:owner","workflowId":"oOswOxrBRSNLRXrc","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[],"activeVersion":null}