public/workflows/orangepi/PbSOq6RsFoCsLZUh.json
{"updatedAt":"2026-01-01T23:43:15.314Z","createdAt":"2025-12-22T04:30:27.941Z","id":"PbSOq6RsFoCsLZUh","name":"LMStudio Agentic Dev Tools v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state } } }\"}","options":{}},"id":"get-projects","name":"Get Linear Projects","type":"n8n-nodes-base.httpRequest","position":[-448,176],"typeVersion":4.2,"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"p1","name":"projects","type":"array","value":"={{ $json.data.projects.nodes }}"},{"id":"p2","name":"output","type":"string","value":"=📋 **Projects with n8n label:**\n\n{{ $json.data.projects.nodes.map((p, i) => (i+1) + '. ' + p.name + ' (' + p.state + ')').join('\\n') }}\n\n---\n**Commands:**\n🔢 Type a number to select a project\n🆕 Type `new` to create a new project\n\n*Select a project to begin autonomous processing*"}]},"options":{}},"id":"format-projects","name":"Format Projects","type":"n8n-nodes-base.set","position":[-208,176],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state } } }\"}","options":{}},"id":"get-projects-for-sel","name":"Get Projects for Selection","type":"n8n-nodes-base.httpRequest","position":[752,160],"typeVersion":4.2,"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e1","name":"project","type":"object","value":"={{ $json.data.projects.nodes[$('Select Project').item.json.selectedNum - 1] }}"},{"id":"e2","name":"projectId","type":"string","value":"={{ $json.data.projects.nodes[$('Select Project').item.json.selectedNum - 1].id }}"},{"id":"e3","name":"projectName","type":"string","value":"={{ $json.data.projects.nodes[$('Select Project').item.json.selectedNum - 1].name }}"},{"id":"e4","name":"repoName","type":"string","value":"={{ $json.data.projects.nodes[$('Select Project').item.json.selectedNum - 1].name.toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '') }}"}]},"includeOtherFields":true,"options":{}},"id":"extract-selected","name":"Extract Selected Project","type":"n8n-nodes-base.set","position":[928,160],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"f1","name":"issues","type":"array","value":"={{ $input.all().map(i => i.json) }}"},{"id":"f2","name":"issueCount","type":"number","value":"={{ $input.all().length }}"},{"id":"f3","name":"output","type":"string","value":"=🎯 **{{ $('Build Issues Query').item.json.projectName }}** - {{ $input.all().length }} open issues:\n\n{{ $input.all().map((item, idx) => (idx+1) + '. [' + item.json.identifier + '] ' + item.json.title + ' (P' + (item.json.priority || 4) + ')').join('\\n') }}\n\n---\n*Starting autonomous processing...*"},{"id":"f4","name":"projectName","type":"string","value":"={{ $('Build Issues Query').item.json.projectName }}"},{"id":"f5","name":"repoName","type":"string","value":"={{ $('Build Issues Query').item.json.repoName }}"}]},"includeOtherFields":true,"options":{}},"id":"format-issues","name":"Format Issues","type":"n8n-nodes-base.set","position":[1520,160],"typeVersion":3.4},{"parameters":{"options":{}},"id":"loop-issues","name":"Loop Issues","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2000,160]},{"parameters":{"assignments":{"assignments":[{"id":"i1","name":"issue","type":"object","value":"={{ $json }}"},{"id":"i2","name":"issueId","type":"string","value":"={{ $json.identifier }}"},{"id":"i3","name":"branchName","type":"string","value":"=ai/{{ $json.identifier.toLowerCase() }}"},{"id":"i4","name":"repoPath","type":"string","value":"=/mnt/n8n-nas/git_repos/{{ $('Build Issues Query').item.json.repoName }}"},{"id":"i5","name":"storagePath","type":"string","value":"=/mnt/n8n-nas/agent_storage/{{ $('Build Issues Query').item.json.repoName }}"},{"id":"i6","name":"projectName","type":"string","value":"={{ $('Build Issues Query').item.json.projectName }}"},{"id":"i7","name":"attemptCount","type":"number","value":"=0"}]},"options":{}},"id":"setup-issue","name":"Setup Issue Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,160]},{"parameters":{"command":"=REPO_PATH=\"{{ $json.repoPath }}\"\nREPO_NAME=\"{{ $('Build Issues Query').item.json.repoName }}\"\nBRANCH=\"{{ $json.branchName }}\"\nGITLAB_URL=\"http://192.168.245.11/gtechsd/${REPO_NAME}.git\"\n\n# Clone if repo doesn't exist\nif [ ! -d \"$REPO_PATH/.git\" ]; then\n  echo \"CLONING: $GITLAB_URL\"\n  git clone \"$GITLAB_URL\" \"$REPO_PATH\" 2>&1 || { echo \"CLONE_FAILED\"; exit 1; }\nfi\n\ncd \"$REPO_PATH\" || exit 1\n\n# Check git status\necho \"STATUS:\"\ngit status --porcelain\n\n# Stash any local changes\nif [ -n \"$(git status --porcelain)\" ]; then\n  echo \"STASHING local changes\"\n  git stash push -m \"n8n-auto-stash-$(date +%s)\"\nfi\n\n# Fetch and update main\ngit fetch origin 2>&1\ngit checkout main 2>&1 || git checkout master 2>&1\ngit pull origin main 2>&1 || git pull origin master 2>&1\n\n# Create or switch to AI branch\ngit checkout -B \"$BRANCH\" 2>&1\n\necho \"READY: $BRANCH in $REPO_PATH\""},"id":"git-branch","name":"Git Setup & Branch","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2512,160],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"command":"=cd {{ $json.repoPath }} && \\\necho '=== Detecting project type ===' && \\\nif [ -f 'pubspec.yaml' ]; then \\\n  echo 'Flutter project' && flutter test 2>&1; \\\nelif [ -f 'package.json' ] && grep -q 'electron' package.json 2>/dev/null; then \\\n  echo 'Electron project' && npm test 2>&1; \\\nelif [ -f 'Cargo.toml' ]; then \\\n  echo 'Rust project' && cargo test 2>&1; \\\nelif [ -f 'CMakeLists.txt' ]; then \\\n  echo 'CMake project' && mkdir -p build && cd build && cmake .. && make -j4 && ctest 2>&1; \\\nelif [ -f 'meson.build' ]; then \\\n  echo 'Meson project' && meson setup build 2>/dev/null || true && meson test -C build 2>&1; \\\nelif [ -f 'pyproject.toml' ] || [ -f 'setup.py' ]; then \\\n  echo 'Python project' && (pytest 2>&1 || python -m unittest discover 2>&1 || python -m pytest 2>&1); \\\nelif [ -f 'package.json' ]; then \\\n  echo 'Node.js project' && npm test 2>&1; \\\nelif [ -f 'go.mod' ]; then \\\n  echo 'Go project' && go test ./... 2>&1; \\\nelif [ -f 'Gemfile' ]; then \\\n  echo 'Ruby project' && (bundle exec rspec 2>&1 || bundle exec rake test 2>&1); \\\nelif [ -f 'pom.xml' ]; then \\\n  echo 'Maven project' && mvn test 2>&1; \\\nelif [ -f 'build.gradle' ] || [ -f 'build.gradle.kts' ]; then \\\n  echo 'Gradle project' && ./gradlew test 2>&1; \\\nelif [ -f 'Makefile' ]; then \\\n  echo 'Makefile project' && make test 2>&1; \\\nelif [ -f 'mix.exs' ]; then \\\n  echo 'Elixir project' && mix test 2>&1; \\\nelif [ -f 'deno.json' ] || [ -f 'deno.jsonc' ]; then \\\n  echo 'Deno project' && deno test 2>&1; \\\nelif [ -f 'bun.lockb' ]; then \\\n  echo 'Bun project' && bun test 2>&1; \\\nelse \\\n  echo 'No recognized framework - checking for test dirs' && \\\n  if [ -d 'test' ] || [ -d 'tests' ] || [ -d 'spec' ]; then \\\n    find . -name '*_test.py' -o -name 'test_*.py' -o -name '*_spec.rb' | head -5 | xargs -I{} echo 'Found: {}'; \\\n  fi && echo 'PASS - Manual review recommended'; \\\nfi | head -100"},"id":"run-tests","name":"Run Tests","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5824,544],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"or","conditions":[{"id":"t1","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"passing"},{"id":"t2","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"NO_TESTS_CONFIGURED"},{"id":"t3","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"passed"},{"id":"t4","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"NO_TESTS_RUN"},{"id":"t5","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"FLUTTER_PROJECT_DETECTED"},{"id":"t6","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"All tests passed"}]},"options":{}},"id":"check-tests","name":"Tests Passed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5984,544]},{"parameters":{"command":"=cd {{ $json.repoPath }} && git add -A && git commit -m \"fix({{ $json.issueId }}): {{ $json.issue.title }}\n\n🤖 AI-Generated by {{ $json.aiPlatform }} ({{ $json.aiModel }})\nTimestamp: {{ $now.toISO() }}\" && git push -u origin {{ $json.branchName }} && git rev-parse --short HEAD"},"id":"git-commit","name":"Git Commit & Push","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[6144,448],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"att1","name":"attemptCount","type":"number","value":"={{ ($json.attemptCount || 0) + 1 }}"},{"id":"att2","name":"testError","type":"string","value":"={{ $json.stdout }}"}]},"includeOtherFields":true,"options":{}},"id":"increment-attempts","name":"Increment Attempts","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,640]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"ma1","operator":{"type":"number","operation":"lt"},"leftValue":"={{ $json.attemptCount }}","rightValue":3}]},"options":{}},"id":"check-max-attempts","name":"Max Attempts?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6304,640]},{"parameters":{"message":"={{ $json.output }}{{ $json.projects }}","options":{}},"id":"show-projects","name":"Show Projects","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[48,176]},{"parameters":{"message":"=  {{ $json.data.project.issues.nodes.length }} ISSUES - Respond with \"start\" to get working","options":{}},"id":"show-issues","name":"Show Issues","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1760,160]},{"parameters":{"resource":"comment","issueId":"={{ $json.issue.id }}","comment":"=⚠️ **AI Agent Escalation**\n\nCannot handle autonomously.\n\n**Reason**: {{ $json.orchestratorOutput.includes('CANNOT HANDLE') ? $json.orchestratorOutput.split('CANNOT HANDLE:')[1].split('\\n')[0] : 'No code generated' }}\n\n---\n🤖 **AI Signature**\n- Platform: {{ $json.aiPlatform || 'Unknown' }}\n- Model: {{ $json.aiModel || 'Unknown' }}\n- Timestamp: {{ $now.toISO() }}","additionalFields":{}},"id":"escalate-human","name":"Escalate to Human","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[5504,752],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"resource":"comment","issueId":"={{ $json.issue.id }}","comment":"=✅ **Resolved by AI Agent**\n\n**Branch**: `{{ $json.branchName }}`\n**Commit**: `{{ $json.stdout.trim() }}`\n\n---\n🤖 **AI Signature**\n- Platform: {{ $json.aiPlatform }}\n- Model: {{ $json.aiModel }}\n- Timestamp: {{ $now.toISO() }}\n- Attempts: {{ ($json.attemptCount || 0) + 1 }}","additionalFields":{}},"id":"update-success","name":"Update Linear Success","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[6304,448],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"resource":"comment","issueId":"={{ $json.issue.id }}","comment":"=⚠️ **AI Agent Escalation - Max Attempts**\n\nMax attempts (3) reached. Tests still failing.\n\n**Last Error**:\n```\n{{ $json.testError ? $json.testError.substring(0, 500) : 'No error details' }}\n```\n\n---\n🤖 **AI Signature**\n- Platform: {{ $json.aiPlatform || 'Unknown' }}\n- Model: {{ $json.aiModel || 'Unknown' }}\n- Timestamp: {{ $now.toISO() }}\n- Total Attempts: 3","additionalFields":{}},"id":"escalate-max","name":"Escalate Max Attempts","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[6512,752],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4336,1088],"id":"14695460-a75b-423f-873f-5df2c12088ed","name":"PAID Gemini 3 Flash","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"Claude Opus 4.5"},"options":{"thinking":true}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[4640,1088],"id":"29b9efb6-d466-48a5-9e75-547bc7a456d8","name":"PAID Claude Opus 4.5","credentials":{"anthropicApi":{"id":"Ozy9qk8lFIbm0pVG","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2-chat-latest","mode":"list","cachedResultName":"gpt-5.2-chat-latest"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3968,1088],"id":"d971f4b7-6d50-477b-978a-ae651eb70572","name":"PAID ChatGPT 5.2 Latest","credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list","cachedResultName":"qwen/qwen3-vl-8b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3728,1088],"id":"6e990830-5fa7-4315-9ca6-09ceec3b9aed","name":"FREE Secondary LM Studio qwen3-vl-8b","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4816,624],"id":"1862783e-5329-4923-9bcc-50602c7e8d11","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list","cachedResultName":"qwen/qwen3-vl-8b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4688,624],"id":"18700b23-291f-4a49-bf18-5475512262e3","name":"FREE Bedroom LMStudio","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4560,624],"id":"a3727c56-0713-4ce1-b68d-7729529c9a64","name":"FREE BEAST LM Studio","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3824,1264],"id":"0dd9098e-efb4-4986-ae05-40e4bd1c6b2c","name":"Simple Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4112,1264],"id":"7433eb6b-7b90-40b2-be72-65ebadcd499e","name":"Simple Memory2"},{"parameters":{"toolDescription":"PAID: OpenAI GPT-5.2 for complex reasoning. Only use after FREE fails twice. ~$0.03/1K tokens.","text":"Solve this complex problem. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4016,960],"id":"cb7d921f-7abe-4215-8fbe-209129f0862b","name":"PAID ChatGPT"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1-codex","mode":"list","cachedResultName":"gpt-5.1-codex"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4112,1088],"id":"81ca082e-3272-4bc8-8388-29ff4a529d07","name":"PAID ChatGPT 5.1 Codex","credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"parameters":{"toolDescription":"PAID: Google Gemini for vision/image analysis. Use for screenshots, UI mockups. ~$0.001/1K tokens.","text":"Analyze the visual content and implement. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4336,960],"id":"c3aaaa8e-aa69-4a9e-8ce6-f6fb8961f8a0","name":"PAID Google"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4480,1088],"id":"2932eb84-7bb1-4686-92e6-a6cc81187fb6","name":"PAID Gemini 2.5 Flash","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4432,1264],"id":"10851d4a-f4f3-46dc-9a8e-66c7e6f9874d","name":"Simple Memory3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[4800,1088],"id":"72fc91dd-8c94-44dd-9c5f-57b30562381a","name":"PAID Claude Sonnet 2.5","credentials":{"anthropicApi":{"id":"Ozy9qk8lFIbm0pVG","name":"Anthropic account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4736,1264],"id":"b9863c5f-1acf-4bb6-9539-82b2817ac21d","name":"Simple Memory4"},{"parameters":{"toolDescription":"PAID: Image generation only. Use for creating visual assets, diagrams, mockups.","text":"Generate the requested image.","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4336,1408],"id":"ea86d77c-dc99-48d6-8a99-696321fd9495","name":"PAID Nano Banana"},{"parameters":{"modelName":"models/nano-banana-pro-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4336,1552],"id":"252820c1-d860-4f8c-9ffe-4fc1f4162dfa","name":"PAID Nano Banana2","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4496,1552],"id":"5fd270e6-eea1-490d-9ba9-e5e5ca52ba94","name":"Simple Memory5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[4608,768],"id":"2de357fd-e4d7-4205-8fc0-ac4799d04d57","name":"Orchestrator AI Agent"},{"parameters":{"toolDescription":"FREE: Local BEAST server running deepseek-coder. BEST for coding - use 90% of the time. Zero cost.","text":"Implement the code change. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[3440,960],"id":"0a1bf766-1842-45ce-9d85-b9bf525b82b0","name":"FREE Primary LM Studio Server"},{"parameters":{"toolDescription":"FREE: Backup local server (Bedroom qwen3-vl-8b). Use when BEAST unavailable. Zero cost fallback.","text":"Implement the code change. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[3728,960],"id":"ea526d40-69e9-44a5-b95e-c74360da4ae1","name":"FREE Secondary LM Studio"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3536,1264],"id":"6b2241a8-3e8e-408f-af07-1e8a338762be","name":"Simple Memory6"},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3360,1088],"id":"ee216837-acb0-4f0e-9760-8942c85aa44e","name":"FREE Beast LM Studio Deepseek Coder V2 Lite","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"toolDescription":"PAID: Claude for nuanced reasoning, complex analysis. Last resort. ~$0.015/1K tokens.","text":"Apply deep reasoning to solve. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4640,960],"id":"d1a38f16-a898-400c-b455-7336357b2291","name":"PAID Anthropic"},{"parameters":{"command":"=cd {{ $json.repoPath }} && echo 'ISSUE_ID={{ $json.issueId }}' && echo 'REPO_PATH={{ $json.repoPath }}' && echo 'BRANCH={{ $json.branchName }}' && cat << 'AICODE_EOF' | python3 -c \"\nimport sys\nimport os\nimport re\n\ncontent = sys.stdin.read()\nfile_pattern = r'---FILE:\\s*([^-\\n]+)---\\s*\\`\\`\\`[a-z]*\\n(.*?)\\`\\`\\`'\nmatches = re.findall(file_pattern, content, re.DOTALL)\n\nfor filepath, code in matches:\n    filepath = filepath.strip()\n    os.makedirs(os.path.dirname(filepath) if os.path.dirname(filepath) else '.', exist_ok=True)\n    with open(filepath, 'w') as f:\n        f.write(code.strip())\n    print(f'WROTE: {filepath}')\n\nprint(f'APPLIED: {len(matches)} file(s)')\n\"\n{{ $json.orchestratorOutput }}\nAICODE_EOF"},"id":"apply-code","name":"Apply Code Changes","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5504,544],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"command":"=cd {{ $json.repoPath }} && cat << 'AICODE_EOF' | python3 -c \"\nimport sys\nimport os\nimport re\n\ncontent = sys.stdin.read()\nfile_pattern = r'---FILE:\\s*([^-\\n]+)---\\s*\\`\\`\\`[a-z]*\\n(.*?)\\`\\`\\`'\nmatches = re.findall(file_pattern, content, re.DOTALL)\n\nfor filepath, code in matches:\n    filepath = filepath.strip()\n    os.makedirs(os.path.dirname(filepath) if os.path.dirname(filepath) else '.', exist_ok=True)\n    with open(filepath, 'w') as f:\n        f.write(code.strip())\n    print(f'Wrote: {filepath}')\n\nprint(f'Applied {len(matches)} fix(es)')\n\"\n{{ $json.output }}\nAICODE_EOF"},"id":"apply-fix","name":"Apply Fix Changes","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[6704,544],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"pc1","name":"issue","type":"object","value":"={{ $('Setup Issue Context').item.json.issue }}"},{"id":"pc2","name":"issueId","type":"string","value":"={{ $('Setup Issue Context').item.json.issueId }}"},{"id":"pc3","name":"repoPath","type":"string","value":"={{ $('Setup Issue Context').item.json.repoPath }}"},{"id":"pc4","name":"branchName","type":"string","value":"={{ $('Setup Issue Context').item.json.branchName }}"},{"id":"pc5","name":"storagePath","type":"string","value":"={{ $('Setup Issue Context').item.json.storagePath }}"},{"id":"pc6","name":"applyOutput","type":"string","value":"={{ $json.stdout }}"},{"id":"pc7","name":"attemptCount","type":"number","value":"=0"},{"id":"pc8","name":"orchestratorOutput","type":"string","value":"={{ $('Parse Orchestrator Output').item.json.orchestratorOutput }}"},{"id":"pc9","name":"aiPlatform","type":"string","value":"={{ $('Parse Orchestrator Output').item.json.aiPlatform }}"},{"id":"pc10","name":"aiModel","type":"string","value":"={{ $('Parse Orchestrator Output').item.json.aiModel }}"},{"id":"pc11","name":"aiSignature","type":"string","value":"={{ $('Parse Orchestrator Output').item.json.aiSignature }}"}]},"options":{}},"id":"preserve-ctx","name":"Preserve Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5664,544]},{"parameters":{"assignments":{"assignments":[{"id":"pf1","name":"issue","type":"object","value":"={{ $('Setup Issue Context').item.json.issue }}"},{"id":"pf2","name":"issueId","type":"string","value":"={{ $('Setup Issue Context').item.json.issueId }}"},{"id":"pf3","name":"repoPath","type":"string","value":"={{ $('Setup Issue Context').item.json.repoPath }}"},{"id":"pf4","name":"branchName","type":"string","value":"={{ $('Setup Issue Context').item.json.branchName }}"},{"id":"pf5","name":"storagePath","type":"string","value":"={{ $('Setup Issue Context').item.json.storagePath }}"},{"id":"pf6","name":"fixOutput","type":"string","value":"={{ $json.stdout }}"},{"id":"pf7","name":"attemptCount","type":"number","value":"={{ $('Increment Attempts').item.json.attemptCount }}"},{"id":"pf8","name":"testError","type":"string","value":"={{ $('Increment Attempts').item.json.testError }}"},{"id":"pf9","name":"orchestratorOutput","type":"string","value":"={{ $('AI Fix Agent').item.json.output }}"},{"id":"pf10","name":"aiPlatform","type":"string","value":"={{ ($('AI Fix Agent').item.json.output.match(/platform:\\s*([^\\n]+)/) || ['','LMStudio-BEAST'])[1].trim() }}"},{"id":"pf11","name":"aiModel","type":"string","value":"={{ ($('AI Fix Agent').item.json.output.match(/model:\\s*([^\\n]+)/) || ['','deepseek-coder-v2-lite'])[1].trim() }}"}]},"options":{}},"id":"preserve-fix-ctx","name":"Preserve Fix Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6864,544]},{"parameters":{"assignments":{"assignments":[{"id":"bq1","name":"projectId","type":"string","value":"={{ $json.projectId }}"},{"id":"bq2","name":"projectName","type":"string","value":"={{ $json.projectName }}"},{"id":"bq3","name":"repoName","type":"string","value":"={{ $json.projectName.toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '') }}"}]},"options":{}},"id":"build-query-set","name":"Build Issues Query","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,160]},{"parameters":{"command":"=STORAGE=\"{{ $json.storagePath }}\"\nREPO=\"{{ $json.repoPath }}\"\nISSUE=\"{{ $json.issueId }}\"\nBRANCH=\"{{ $json.branchName }}\"\nPROJECT=\"{{ $json.projectName }}\"\n\nmkdir -p \"$STORAGE\"\n\necho \"ISSUE_ID=$ISSUE\"\necho \"REPO_PATH=$REPO\"\necho \"BRANCH=$BRANCH\"\necho \"PROJECT=$PROJECT\"\necho \"STORAGE=$STORAGE\"\necho \"STORAGE_READY\""},"id":"setup-storage","name":"Setup Agent Storage","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2672,160],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"r1","name":"output","type":"string","value":"🆕 **Create a New Project**\n\nTo create a new project, use the **New Project Interview** workflow:\n\n👉 [Open New Project Interview](http://orangepi:5678/workflow/WPuxiZXV1cvR34Vk)\n\nOr start the chat interface at:\n`http://orangepi:5678/webhook/new-project-interview/chat`\n\n---\n**Here's what you can do in THIS workflow:**\n\n📋 View projects - just say 'hi' or 'list'\n🔢 Select project - type a number\n🚀 Process issues - select a project to begin\n\n*Type anything to see available projects.*"}]},"options":{}},"id":"redirect-new","name":"Redirect to New Project","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,624],"disabled":true},{"parameters":{"message":"={{ $json.output }}","options":{}},"id":"show-redirect","name":"Show Redirect","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-48,640]},{"parameters":{"assignments":{"assignments":[{"id":"po1","name":"orchestratorOutput","type":"string","value":"={{ $json.output }}"},{"id":"po2","name":"canHandle","type":"boolean","value":"={{ !$json.output.toLowerCase().includes('cannot handle') && !$json.output.toLowerCase().includes('need human') }}"},{"id":"po3","name":"hasCode","type":"boolean","value":"={{ $json.output.includes('---FILE:') }}"},{"id":"po4","name":"aiSignature","type":"string","value":"={{ ($json.output.match(/---AI_SIGNATURE---([\\s\\S]*?)---END_SIGNATURE---/) || ['','No signature'])[1].trim() }}"},{"id":"po5","name":"aiPlatform","type":"string","value":"={{ ($json.output.match(/platform:\\s*([^\\n]+)/) || ['','LMStudio-BEAST'])[1].trim() }}"},{"id":"po6","name":"aiModel","type":"string","value":"={{ ($json.output.match(/model:\\s*([^\\n]+)/) || ['','deepseek-coder-v2-lite'])[1].trim() }}"},{"id":"po7","name":"issue","type":"object","value":"={{ $('Setup Issue Context').item.json.issue }}"},{"id":"po8","name":"issueId","type":"string","value":"={{ $('Setup Issue Context').item.json.issueId }}"},{"id":"po9","name":"repoPath","type":"string","value":"={{ $('Setup Issue Context').item.json.repoPath }}"},{"id":"po10","name":"branchName","type":"string","value":"={{ $('Setup Issue Context').item.json.branchName }}"},{"id":"po11","name":"storagePath","type":"string","value":"={{ $('Setup Issue Context').item.json.storagePath }}"}]},"options":{}},"id":"parse-orchestrator","name":"Parse Orchestrator Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5136,768]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"hc1","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.hasCode }}"}],"combinator":"and"},"options":{}},"id":"check-has-code","name":"Has Code to Apply?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5312,640]},{"parameters":{"options":{}},"id":"ai-fix-agent","name":"AI Fix Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[6512,544]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff0a7892-3013-42f6-b82f-2d1dceb1a61f","leftValue":"={{ $json.state.id }}","rightValue":"={{ $('Build Issues Query').item.json.projectId }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"filter-open-issues","name":"Filter Open Issues","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1376,-48]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.chatInput.toLowerCase() }}","rightValue":"start","id":"e50eea55-1eb7-40ba-a0c5-cfa2639f6eca"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.chatInput.toLowerCase() }}","rightValue":"spendy","id":"78379833-6c76-4c31-baa6-4672b41c1ea8"}],"combinator":"and"}}]},"options":{}},"id":"choose-mode","name":"Choose Processing Mode","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1872,160]},{"parameters":{"jsCode":"// Classify each issue for optimal AI routing\nconst issues = $input.all();\n\nreturn issues.map((item, index) => {\n  const issue = item.json;\n  const title = (issue.title || '').toLowerCase();\n  const desc = (issue.description || '').toLowerCase();\n  const labels = (issue.labels?.nodes || []).map(l => l.name.toLowerCase());\n  \n  let assignedAgent = 'BEAST';\n  let reason = 'Default coding task';\n  \n  if (title.includes('ui') || title.includes('screenshot') || \n      title.includes('design') || title.includes('visual') ||\n      desc.includes('mockup') || desc.includes('image')) {\n    assignedAgent = 'Google';\n    reason = 'Vision/UI task';\n  } else if (title.includes('architect') || title.includes('refactor') ||\n             title.includes('complex') || desc.includes('trade-off')) {\n    assignedAgent = 'Anthropic';\n    reason = 'Complex reasoning task';\n  } else if (title.includes('doc') || title.includes('test') ||\n             title.includes('readme')) {\n    assignedAgent = 'Bedroom';\n    reason = 'Documentation/test task';\n  }\n  \n  return {\n    json: {\n      ...issue,\n      assignedAgent,\n      routingReason: reason,\n      workerIndex: index % 2\n    }\n  };\n});"},"id":"classify-issues","name":"Classify Issues for Routing","type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.workerIndex }}","rightValue":0,"id":"2f436f60-2c4a-4fce-a352-830566ebe613"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.workerIndex }}","rightValue":1,"id":"4adf4981-f5d5-4882-bb9e-5b8bba53fbef"}],"combinator":"and"}}]},"options":{}},"id":"split-free-workers","name":"Split FREE Workers","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2272,-96]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"BEAST","id":"6e3de073-dcdd-481f-bfec-2f261a896054"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"Bedroom","id":"392127d0-20df-4dba-8869-edae73362f5f"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"Google","id":"176c3cbf-2439-4834-aa99-0d7b557ee67a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"Anthropic","id":"2da03738-23ba-44f4-b9bf-1ce14346324a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"ChatGPT","id":"1f9a4076-a0ff-4ae7-b3df-785c2752f323"}],"combinator":"and"}}]},"options":{}},"id":"split-spendy-workers","name":"Split SPENDY Workers","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2256,320]},{"parameters":{"promptType":"define","text":"=## TASK\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: LMStudio-BEAST\nmodel: deepseek-coder-v2-lite\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-beast","name":"Worker BEAST","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,-208]},{"parameters":{"promptType":"define","text":"=## TASK\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: LMStudio-Bedroom\nmodel: qwen3-vl-8b\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-bedroom","name":"Worker Bedroom","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,0]},{"parameters":{"promptType":"define","text":"=## TASK (Vision/UI)\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\nRouting: {{ $json.routingReason }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: Google\nmodel: gemini-2.5-flash\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-google","name":"Worker Google","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,336]},{"parameters":{"promptType":"define","text":"=## TASK (Complex Reasoning)\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\nRouting: {{ $json.routingReason }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: Anthropic\nmodel: claude-sonnet-4\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-anthropic","name":"Worker Anthropic","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,464]},{"parameters":{"promptType":"define","text":"=## TASK\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\nRouting: {{ $json.routingReason }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: OpenAI\nmodel: gpt-4o\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-chatgpt","name":"Worker ChatGPT","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,608]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"merge-parallel","name":"Merge Parallel Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2800,208]},{"parameters":{"assignments":{"assignments":[{"id":"pp1","name":"orchestratorOutput","type":"string","value":"={{ $json.output }}"},{"id":"pp2","name":"hasCode","type":"boolean","value":"={{ $json.output.includes('---FILE:') }}"},{"id":"pp3","name":"aiPlatform","type":"string","value":"={{ ($json.output.match(/platform:\\s*([^\\n]+)/) || ['','Unknown'])[1].trim() }}"},{"id":"pp4","name":"aiModel","type":"string","value":"={{ ($json.output.match(/model:\\s*([^\\n]+)/) || ['','Unknown'])[1].trim() }}"},{"id":"pp5","name":"issue","type":"object","value":"={{ $json }}"},{"id":"pp6","name":"issueId","type":"string","value":"={{ $json.id }}"},{"id":"pp7","name":"repoPath","type":"string","value":"=/mnt/n8n-nas/git_repos/{{ $json.project?.key || 'default' }}"},{"id":"pp8","name":"branchName","type":"string","value":"=ai/{{ $json.id }}-{{ $json.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 30) }}"}]},"options":{}},"id":"parse-parallel-output","name":"Parse Parallel Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3008,208]},{"parameters":{"command":"=cd {{ $json.repoPath }} && git fetch origin && git checkout -B {{ $json.branchName }} origin/main 2>/dev/null || git checkout -B {{ $json.branchName }} && echo 'Branch ready: {{ $json.branchName }}'"},"id":"parallel-git-setup","name":"Parallel Git Setup","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3200,208],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && cat << 'AICODE_EOF' | python3 -c \"\nimport sys, os, re\ncontent = sys.stdin.read()\nmatches = re.findall(r'---FILE:\\s*([^-\\n]+)---\\s*\\`\\`\\`[a-z]*\\n(.*?)\\`\\`\\`', content, re.DOTALL)\nfor fp, code in matches:\n    fp = fp.strip()\n    os.makedirs(os.path.dirname(fp) if os.path.dirname(fp) else '.', exist_ok=True)\n    with open(fp, 'w') as f: f.write(code.strip())\n    print(f'WROTE: {fp}')\nprint(f'APPLIED: {len(matches)} file(s)')\n\"\n{{ $json.orchestratorOutput }}\nAICODE_EOF"},"id":"parallel-apply-code","name":"Parallel Apply Code","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3408,208],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && \\\necho '=== Detecting project type ===' && \\\nif [ -f 'pubspec.yaml' ]; then \\\n  echo 'Flutter project' && flutter test 2>&1; \\\nelif [ -f 'package.json' ] && grep -q 'electron' package.json 2>/dev/null; then \\\n  echo 'Electron project' && npm test 2>&1; \\\nelif [ -f 'Cargo.toml' ]; then \\\n  echo 'Rust project' && cargo test 2>&1; \\\nelif [ -f 'CMakeLists.txt' ]; then \\\n  echo 'CMake project' && mkdir -p build && cd build && cmake .. && make -j4 && ctest 2>&1; \\\nelif [ -f 'meson.build' ]; then \\\n  echo 'Meson project' && meson setup build 2>/dev/null || true && meson test -C build 2>&1; \\\nelif [ -f 'pyproject.toml' ] || [ -f 'setup.py' ]; then \\\n  echo 'Python project' && (pytest 2>&1 || python -m unittest discover 2>&1 || python -m pytest 2>&1); \\\nelif [ -f 'package.json' ]; then \\\n  echo 'Node.js project' && npm test 2>&1; \\\nelif [ -f 'go.mod' ]; then \\\n  echo 'Go project' && go test ./... 2>&1; \\\nelif [ -f 'Gemfile' ]; then \\\n  echo 'Ruby project' && (bundle exec rspec 2>&1 || bundle exec rake test 2>&1); \\\nelif [ -f 'pom.xml' ]; then \\\n  echo 'Maven project' && mvn test 2>&1; \\\nelif [ -f 'build.gradle' ] || [ -f 'build.gradle.kts' ]; then \\\n  echo 'Gradle project' && ./gradlew test 2>&1; \\\nelif [ -f 'Makefile' ]; then \\\n  echo 'Makefile project' && make test 2>&1; \\\nelif [ -f 'mix.exs' ]; then \\\n  echo 'Elixir project' && mix test 2>&1; \\\nelif [ -f 'deno.json' ] || [ -f 'deno.jsonc' ]; then \\\n  echo 'Deno project' && deno test 2>&1; \\\nelif [ -f 'bun.lockb' ]; then \\\n  echo 'Bun project' && bun test 2>&1; \\\nelse \\\n  echo 'No recognized framework' && echo 'PASS - Manual review recommended'; \\\nfi | head -100"},"id":"parallel-run-tests","name":"Parallel Run Tests","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3600,208],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && git add -A && git commit -m \"fix({{ $json.issueId }}): {{ $json.issue.title }}\n\n🤖 AI-Generated by {{ $json.aiPlatform }} ({{ $json.aiModel }})\nParallel Processing Mode\" && git push -u origin {{ $json.branchName }} && git rev-parse --short HEAD"},"id":"parallel-commit","name":"Parallel Commit","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3808,208],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"resource":"comment","issueId":"={{ $json.issue.id }}","comment":"=✅ **Resolved by AI Agent (Parallel Mode)**\n\n**Branch**: `{{ $json.branchName }}`\n**Commit**: `{{ $json.stdout.trim() }}`\n\n---\n🤖 **AI Signature**\n- Platform: {{ $json.aiPlatform }}\n- Model: {{ $json.aiModel }}\n- Mode: Parallel Processing\n- Timestamp: {{ $now.toISO() }}","additionalFields":{}},"id":"parallel-linear-update","name":"Parallel Linear Update","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[4000,208],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"or","conditions":[{"id":"dt1","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"NEEDS_DESKTOP"},{"id":"dt2","operator":{"type":"string","operation":"contains"},"leftValue":"={{ JSON.stringify($json.issue.labels) }}","rightValue":"desktop-test"},{"id":"dt3","operator":{"type":"string","operation":"contains"},"leftValue":"={{ JSON.stringify($json.issue.labels) }}","rightValue":"gui-test"}]},"options":{}},"id":"check-desktop-test","name":"Needs Desktop Test","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3504,400]},{"parameters":{"command":"=rsync -avz --delete {{ $json.repoPath }}/ freshprints@192.168.245.165:/home/freshprints/repos/{{ $json.repoPath.split('/').pop() }}/ 2>&1 && echo 'SYNCED to Ubuntu Desktop'"},"id":"sync-to-desktop","name":"Sync Repo to Desktop","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3712,304],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=sshpass -p 'roboto' ssh -o StrictHostKeyChecking=no freshprints@192.168.245.165 'cd /home/freshprints/repos/{{ $json.repoPath.split(\"/\").pop() }} && \\\nmkdir -p /tmp/screenshots && \\\nSCREENSHOT_DIR=\"/tmp/screenshots/{{ $json.issueId || $json.issue.id }}\" && \\\nmkdir -p $SCREENSHOT_DIR && \\\necho \"=== Ubuntu Desktop Test Runner ===\" && \\\necho \"Screenshots: $SCREENSHOT_DIR\" && \\\n\\\n# Function to capture screenshot\ncapture() { \\\n  sleep 0.5 && \\\n  DISPLAY=:0 scrot -q 90 \"$SCREENSHOT_DIR/$1.png\" 2>/dev/null || \\\n  DISPLAY=:0 gnome-screenshot -f \"$SCREENSHOT_DIR/$1.png\" 2>/dev/null || \\\n  echo \"Screenshot failed: $1\"; \\\n} && \\\n\\\nif [ -f \"pubspec.yaml\" ]; then \\\n  echo \"[Flutter]\" && \\\n  flutter test --reporter expanded 2>&1 | tee /tmp/test_output.txt && \\\n  if grep -q \"integration_test\" pubspec.yaml 2>/dev/null; then \\\n    echo \"Running integration tests with screenshots...\" && \\\n    flutter test integration_test --reporter expanded 2>&1 & \\\n    sleep 3 && capture \"flutter_01_startup\" && \\\n    sleep 2 && capture \"flutter_02_running\" && \\\n    wait; \\\n  fi; \\\nelif [ -f \"package.json\" ] && grep -q electron package.json 2>/dev/null; then \\\n  echo \"[Electron]\" && \\\n  npm install --silent && \\\n  (npm start &) && sleep 5 && capture \"electron_01_launch\" && \\\n  sleep 2 && capture \"electron_02_ready\" && \\\n  pkill -f electron || true && \\\n  npm test 2>&1; \\\nelif [ -f \"Cargo.toml\" ] && grep -qiE \"tauri|gtk|iced|egui|slint\" Cargo.toml 2>/dev/null; then \\\n  echo \"[Rust GUI]\" && \\\n  cargo test 2>&1 && \\\n  cargo build --release 2>&1 && \\\n  (timeout 10 cargo run --release &) && \\\n  sleep 3 && capture \"rust_gui_01_launch\" && \\\n  sleep 2 && capture \"rust_gui_02_running\" && \\\n  pkill -f \"target/release\" || true; \\\nelif [ -f \"Cargo.toml\" ]; then \\\n  echo \"[Rust CLI]\" && cargo test 2>&1; \\\nelif [ -f \"CMakeLists.txt\" ]; then \\\n  echo \"[CMake]\" && \\\n  mkdir -p build && cd build && cmake .. && make -j$(nproc) && \\\n  if grep -qiE \"qt|gtk\" ../CMakeLists.txt 2>/dev/null; then \\\n    (timeout 10 ./$(ls -1 | head -1) &) && \\\n    sleep 2 && capture \"cpp_gui_01_launch\" && \\\n    pkill -f build/ || true; \\\n  fi && \\\n  ctest --output-on-failure 2>&1; \\\nelif [ -f \"pyproject.toml\" ] || [ -f \"setup.py\" ]; then \\\n  echo \"[Python]\" && \\\n  if grep -qiE \"pyqt|pyside|tkinter|kivy|pygame\" pyproject.toml setup.py 2>/dev/null; then \\\n    (timeout 10 python3 -m $(basename $(pwd)) &) 2>/dev/null && \\\n    sleep 2 && capture \"python_gui_01_launch\" && \\\n    pkill -f python3 || true; \\\n  fi && \\\n  python3 -m pytest -v 2>&1; \\\nelif [ -f \"package.json\" ]; then \\\n  echo \"[Node.js]\" && npm install --silent && npm test 2>&1; \\\nelse \\\n  echo \"[Unknown] Manual review\" && echo \"PASS\"; \\\nfi && \\\n\\\necho \"\" && echo \"=== Screenshots captured ===\" && \\\nls -la $SCREENSHOT_DIR/*.png 2>/dev/null || echo \"No screenshots\"' 2>&1 | head -200"},"id":"desktop-run-tests","name":"Run Tests on Desktop","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3904,304],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && echo 'REPO_TYPE_CHECK' && \\\nif [ -f pubspec.yaml ]; then echo 'NEEDS_DESKTOP:flutter'; \\\nelif [ -f package.json ] && grep -qE '\"electron\"|\"tauri\"' package.json 2>/dev/null; then echo 'NEEDS_DESKTOP:electron-or-tauri'; \\\nelif [ -f Cargo.toml ] && grep -qiE 'tauri|gtk|druid|iced|egui|slint' Cargo.toml 2>/dev/null; then echo 'NEEDS_DESKTOP:rust-gui'; \\\nelif [ -f CMakeLists.txt ] && grep -qiE 'qt|gtk|wxwidgets|fltk' CMakeLists.txt 2>/dev/null; then echo 'NEEDS_DESKTOP:cpp-gui'; \\\nelif [ -f meson.build ] && grep -qiE 'gtk|qt' meson.build 2>/dev/null; then echo 'NEEDS_DESKTOP:meson-gui'; \\\nelif [ -f pyproject.toml ] && grep -qiE 'pyqt|pyside|tkinter|kivy|pygame|pyglet' pyproject.toml 2>/dev/null; then echo 'NEEDS_DESKTOP:python-gui'; \\\nelif [ -f setup.py ] && grep -qiE 'pyqt|pyside|tkinter|kivy' setup.py 2>/dev/null; then echo 'NEEDS_DESKTOP:python-gui'; \\\nelif [ -f go.mod ] && grep -qiE 'fyne|gio|walk|gotk' go.mod 2>/dev/null; then echo 'NEEDS_DESKTOP:go-gui'; \\\nelif [ -f mix.exs ] && grep -qiE 'scenic|membrane' mix.exs 2>/dev/null; then echo 'NEEDS_DESKTOP:elixir-gui'; \\\nelif ls *.swift 2>/dev/null | head -1 && grep -rqiE 'swiftui|appkit|uikit' . 2>/dev/null; then echo 'NEEDS_DESKTOP:swift-gui'; \\\nelse echo 'NO_DESKTOP_NEEDED'; fi"},"id":"detect-repo-type","name":"Detect Repo Type","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3200,400],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && echo 'REPO_TYPE_CHECK' && \\\nif [ -f pubspec.yaml ]; then echo 'NEEDS_DESKTOP:flutter'; \\\nelif [ -f package.json ] && grep -qE '\"electron\"|\"tauri\"' package.json 2>/dev/null; then echo 'NEEDS_DESKTOP:electron-or-tauri'; \\\nelif [ -f Cargo.toml ] && grep -qiE 'tauri|gtk|druid|iced|egui|slint' Cargo.toml 2>/dev/null; then echo 'NEEDS_DESKTOP:rust-gui'; \\\nelif [ -f CMakeLists.txt ] && grep -qiE 'qt|gtk|wxwidgets|fltk' CMakeLists.txt 2>/dev/null; then echo 'NEEDS_DESKTOP:cpp-gui'; \\\nelif [ -f pyproject.toml ] && grep -qiE 'pyqt|pyside|tkinter|kivy|pygame' pyproject.toml 2>/dev/null; then echo 'NEEDS_DESKTOP:python-gui'; \\\nelse echo 'NO_DESKTOP_NEEDED'; fi"},"id":"seq-detect-repo","name":"Seq Detect Repo Type","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5504,448],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"or","conditions":[{"id":"sd1","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"NEEDS_DESKTOP"},{"id":"sd2","operator":{"type":"string","operation":"contains"},"leftValue":"={{ JSON.stringify($json.issue.labels) }}","rightValue":"desktop-test"}]},"options":{}},"id":"seq-needs-desktop","name":"Seq Needs Desktop","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5664,448]},{"parameters":{"command":"=rsync -avz --delete {{ $json.repoPath }}/ freshprints@192.168.245.165:/home/freshprints/repos/{{ $json.repoPath.split('/').pop() }}/ 2>&1 && echo 'SYNCED'"},"id":"seq-sync-desktop","name":"Seq Sync to Desktop","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5824,352],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=sshpass -p 'roboto' ssh -o StrictHostKeyChecking=no freshprints@192.168.245.165 'cd /home/freshprints/repos/{{ $json.repoPath.split(\"/\").pop() }} && \\\nmkdir -p /tmp/screenshots && \\\nSCREENSHOT_DIR=\"/tmp/screenshots/{{ $json.issueId || $json.issue.id }}\" && \\\nmkdir -p $SCREENSHOT_DIR && \\\necho \"=== Desktop Test Runner ===\" && \\\n\\\ncapture() { sleep 0.5 && DISPLAY=:0 scrot -q 90 \"$SCREENSHOT_DIR/$1.png\" 2>/dev/null || echo \"Screenshot: $1\"; } && \\\n\\\nif [ -f pubspec.yaml ]; then \\\n  echo \"[Flutter]\" && flutter test 2>&1 && \\\n  if grep -q integration_test pubspec.yaml; then \\\n    flutter test integration_test 2>&1 & sleep 3 && capture \"flutter_01\" && sleep 2 && capture \"flutter_02\" && wait; \\\n  fi; \\\nelif [ -f package.json ] && grep -q electron package.json; then \\\n  echo \"[Electron]\" && npm install --silent && (npm start &) && sleep 4 && capture \"electron_01\" && capture \"electron_02\" && pkill -f electron; \\\nelif [ -f Cargo.toml ]; then \\\n  echo \"[Rust]\" && cargo test 2>&1 && cargo build --release && (timeout 8 cargo run --release &) && sleep 3 && capture \"rust_01\" && capture \"rust_02\" && pkill -f target/release; \\\nelif [ -f CMakeLists.txt ]; then \\\n  echo \"[CMake]\" && mkdir -p build && cd build && cmake .. && make && ctest 2>&1; \\\nelif [ -f pyproject.toml ]; then \\\n  echo \"[Python]\" && python3 -m pytest 2>&1; \\\nelse echo \"PASS\"; fi && \\\n\\\necho \"=== Screenshots ===\" && ls $SCREENSHOT_DIR/*.png 2>/dev/null || echo \"None\"' | head -100"},"id":"seq-desktop-tests","name":"Seq Run Desktop Tests","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5984,352],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=ISSUE_ID=\"{{ $json.issueId || $json.issue.id }}\" && \\\nSCREENSHOT_DIR=\"/tmp/screenshots/$ISSUE_ID\" && \\\nLOCAL_DIR=\"/tmp/linear_screenshots/$ISSUE_ID\" && \\\nmkdir -p $LOCAL_DIR && \\\nsshpass -p 'roboto' scp -o StrictHostKeyChecking=no freshprints@192.168.245.165:$SCREENSHOT_DIR/*.png $LOCAL_DIR/ 2>/dev/null && \\\necho \"SCREENSHOTS_FETCHED\" && \\\nfor f in $LOCAL_DIR/*.png; do \\\n  if [ -f \"$f\" ]; then \\\n    echo \"FILE:$f\"; \\\n    base64 -w0 \"$f\" | head -c 100; echo \"...\"; \\\n  fi; \\\ndone && \\\nls -la $LOCAL_DIR/*.png 2>/dev/null | wc -l"},"id":"fetch-screenshots","name":"Fetch Screenshots","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[4112,304],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"jsCode":"// Prepare screenshot data for Linear comment\nconst input = $input.first().json;\nconst issueId = input.issueId || input.issue?.id;\nconst stdout = input.stdout || '';\n\n// Check if screenshots were captured\nconst hasScreenshots = stdout.includes('SCREENSHOTS_FETCHED');\nconst screenshotFiles = (stdout.match(/FILE:([^\\n]+)/g) || []).map(f => f.replace('FILE:', ''));\n\n// Build comment with screenshot info\nlet comment = `📸 **GUI Test Screenshots**\\n\\n`;\n\nif (screenshotFiles.length > 0) {\n  comment += `Captured ${screenshotFiles.length} screenshot(s) during testing:\\n\\n`;\n  screenshotFiles.forEach((file, i) => {\n    const filename = file.split('/').pop();\n    comment += `${i + 1}. \\`${filename}\\`\\n`;\n  });\n  comment += `\\n📁 Screenshots saved to: \\`/tmp/linear_screenshots/${issueId}/\\`\\n`;\n  comment += `\\n_Screenshots can be viewed on the test desktop or synced to cloud storage._`;\n} else {\n  comment += `No screenshots captured (CLI-only tests or capture failed).`;\n}\n\nreturn {\n  json: {\n    ...input,\n    issueId,\n    screenshotComment: comment,\n    screenshotCount: screenshotFiles.length,\n    screenshotFiles\n  }\n};"},"id":"comment-with-screenshots","name":"Comment Screenshots to Linear","type":"n8n-nodes-base.code","typeVersion":2,"position":[4304,304]},{"parameters":{"resource":"comment","issueId":"={{ $json.issueId }}","comment":"={{ $json.screenshotComment }}","additionalFields":{}},"id":"post-screenshot-comment","name":"Post Screenshot Comment","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[4512,304],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"command":"=ISSUE_ID=\"{{ $json.issueId || $json.issue.id }}\" && \\\nLOCAL_DIR=\"/tmp/linear_screenshots/$ISSUE_ID\" && \\\nmkdir -p $LOCAL_DIR && \\\nsshpass -p 'roboto' scp -o StrictHostKeyChecking=no freshprints@192.168.245.165:/tmp/screenshots/$ISSUE_ID/*.png $LOCAL_DIR/ 2>/dev/null && \\\necho \"SCREENSHOTS_FETCHED\" && \\\nfor f in $LOCAL_DIR/*.png; do [ -f \"$f\" ] && echo \"FILE:$f\"; done && \\\nls $LOCAL_DIR/*.png 2>/dev/null | wc -l || echo \"0\""},"id":"seq-fetch-screenshots","name":"Seq Fetch Screenshots","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[6144,240],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst issueId = input.issueId || input.issue?.id;\nconst stdout = input.stdout || '';\nconst hasScreenshots = stdout.includes('SCREENSHOTS_FETCHED');\nconst screenshotFiles = (stdout.match(/FILE:([^\\n]+)/g) || []).map(f => f.replace('FILE:', ''));\n\nlet comment = `📸 **GUI Test Screenshots**\\n\\n`;\nif (screenshotFiles.length > 0) {\n  comment += `Captured ${screenshotFiles.length} screenshot(s):\\n`;\n  screenshotFiles.forEach((file, i) => {\n    comment += `${i + 1}. \\`${file.split('/').pop()}\\`\\n`;\n  });\n  comment += `\\n📁 Location: \\`/tmp/linear_screenshots/${issueId}/\\``;\n} else {\n  comment += `No screenshots captured.`;\n}\n\nreturn { json: { ...input, issueId, screenshotComment: comment, screenshotCount: screenshotFiles.length } };"},"id":"seq-screenshot-comment","name":"Seq Screenshot Comment","type":"n8n-nodes-base.code","typeVersion":2,"position":[6304,240]},{"parameters":{"resource":"comment","issueId":"={{ $json.issueId }}","comment":"={{ $json.screenshotComment }}","additionalFields":{}},"id":"seq-post-screenshots","name":"Seq Post Screenshots","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[6464,240],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"s1","name":"selectedNum","type":"number","value":"={{ parseInt($json.chatInput) }}"},{"id":"s2","name":"sessionId","type":"string","value":"={{ $json.sessionId }}"}]},"options":{}},"id":"select-project","name":"Select Project","type":"n8n-nodes-base.set","position":[512,160],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.chatInput.toLowerCase() }}","operator":{"type":"string","operation":"regex"},"rightValue":"^(new|create|make|start|build)\\b","id":"d8db65e1-d4f2-46ae-9f01-95132cd4292b"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.chatInput }}","operator":{"type":"string","operation":"regex"},"rightValue":"^[0-9]+$","id":"f338c167-71fa-47c8-b6ae-bfc1cee474e5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.chatInput.toLowerCase() }}","operator":{"type":"string","operation":"regex"},"rightValue":"^(skip|done|finish|name it|call it)\\b","id":"3b6ca31a-77ad-4720-9a77-7a58dd4582a5"}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"route-input","name":"Route Input","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-560,560],"disabled":true},{"parameters":{"public":true,"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-752,160],"id":"1e7f961d-6305-4344-8afc-aeda7cccbf32","name":"When chat message received","webhookId":"c0b8aad6-dbf8-4e2a-b2f4-eb0fff92cc4f"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query($projectId: String!, $after: String) { project(id: $projectId) { issues(first: 50, after: $after) { nodes { id title priority state { name } } pageInfo { hasNextPage endCursor } } } }\",\n  \"variables\": {\n    \"projectId\": \"{{ $json.projectId }}\"\n  }\n}","options":{"pagination":{}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1312,160],"id":"9c6abe55-a8f1-4a09-95f3-20660a1a7418","name":"Get Issues By Project","credentials":{"httpBasicAuth":{"id":"xyVFnhCsS1dqo5oZ","name":"Unnamed credential"},"httpHeaderAuth":{"id":"kHyNDlUxOc8zIBDO","name":"Header Auth account"}}},{"parameters":{"tool":{"__rl":true,"mode":"list","value":""},"parameters":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClient","typeVersion":1,"position":[0,0],"id":"6948ed56-d8a1-432d-a380-059a15c76c43","name":"MCP Client"}],"connections":{"Get Linear Projects":{"main":[[{"node":"Format Projects","type":"main","index":0}]]},"Get Projects for Selection":{"main":[[{"node":"Extract Selected Project","type":"main","index":0}]]},"Loop Issues":{"main":[[{"node":"Setup Issue Context","type":"main","index":0}]]},"Setup Issue Context":{"main":[[{"node":"Git Setup & Branch","type":"main","index":0}]]},"Run Tests":{"main":[[{"node":"Tests Passed?","type":"main","index":0}]]},"Tests Passed?":{"main":[[{"node":"Git Commit & Push","type":"main","index":0}],[{"node":"Increment Attempts","type":"main","index":0}]]},"Increment Attempts":{"main":[[{"node":"Max Attempts?","type":"main","index":0}]]},"Max Attempts?":{"main":[[{"node":"Escalate Max Attempts","type":"main","index":0},{"node":"AI Fix Agent","type":"main","index":0}]]},"Format Projects":{"main":[[{"node":"Show Projects","type":"main","index":0}]]},"Format Issues":{"main":[[{"node":"Show Issues","type":"main","index":0}]]},"Git Commit & Push":{"main":[[{"node":"Update Linear Success","type":"main","index":0}]]},"Update Linear Success":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Escalate to Human":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Escalate Max Attempts":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"PAID Gemini 3 Flash":{"ai_languageModel":[[{"node":"PAID Google","type":"ai_languageModel","index":0}]]},"PAID Claude Opus 4.5":{"ai_languageModel":[[{"node":"PAID Anthropic","type":"ai_languageModel","index":0}]]},"PAID ChatGPT 5.2 Latest":{"ai_languageModel":[[{"node":"PAID ChatGPT","type":"ai_languageModel","index":0},{"node":"Worker ChatGPT","type":"ai_languageModel","index":0}]]},"FREE Secondary LM Studio qwen3-vl-8b":{"ai_languageModel":[[{"node":"FREE Secondary LM Studio","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Orchestrator AI Agent","type":"ai_memory","index":0},{"node":"AI Fix Agent","type":"ai_memory","index":0}]]},"FREE Bedroom LMStudio":{"ai_languageModel":[[{"node":"Orchestrator AI Agent","type":"ai_languageModel","index":1},{"node":"AI Fix Agent","type":"ai_languageModel","index":0},{"node":"Worker Bedroom","type":"ai_languageModel","index":0}]]},"FREE BEAST LM Studio":{"ai_languageModel":[[{"node":"Orchestrator AI Agent","type":"ai_languageModel","index":0},{"node":"AI Fix Agent","type":"ai_languageModel","index":0},{"node":"Worker BEAST","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"FREE Secondary LM Studio","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"PAID ChatGPT","type":"ai_memory","index":0}]]},"PAID ChatGPT":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"PAID ChatGPT 5.1 Codex":{"ai_languageModel":[[{"node":"PAID ChatGPT","type":"ai_languageModel","index":1}]]},"PAID Google":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"PAID Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"PAID Google","type":"ai_languageModel","index":1},{"node":"Worker Google","type":"ai_languageModel","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"PAID Google","type":"ai_memory","index":0}]]},"PAID Claude Sonnet 2.5":{"ai_languageModel":[[{"node":"PAID Anthropic","type":"ai_languageModel","index":1},{"node":"Worker Anthropic","type":"ai_languageModel","index":0}]]},"Simple Memory4":{"ai_memory":[[{"node":"PAID Anthropic","type":"ai_memory","index":0}]]},"PAID Nano Banana":{"ai_tool":[[{"node":"PAID Google","type":"ai_tool","index":0}]]},"PAID Nano Banana2":{"ai_languageModel":[[{"node":"PAID Nano Banana","type":"ai_languageModel","index":0}]]},"Simple Memory5":{"ai_memory":[[{"node":"PAID Nano Banana","type":"ai_memory","index":0}]]},"FREE Primary LM Studio Server":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"FREE Secondary LM Studio":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"Simple Memory6":{"ai_memory":[[{"node":"FREE Primary LM Studio Server","type":"ai_memory","index":0}]]},"FREE Beast LM Studio Deepseek Coder V2 Lite":{"ai_languageModel":[[{"node":"FREE Primary LM Studio Server","type":"ai_languageModel","index":0}]]},"PAID Anthropic":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"Apply Code Changes":{"main":[[{"node":"Preserve Context","type":"main","index":0}]]},"Apply Fix Changes":{"main":[[{"node":"Preserve Fix Context","type":"main","index":0}]]},"Preserve Fix Context":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Extract Selected Project":{"main":[[{"node":"Build Issues Query","type":"main","index":0}]]},"Build Issues Query":{"main":[[{"node":"Get Issues By Project","type":"main","index":0}]]},"Git Setup & Branch":{"main":[[{"node":"Setup Agent Storage","type":"main","index":0}]]},"Redirect to New Project":{"main":[[{"node":"Show Redirect","type":"main","index":0}]]},"Setup Agent Storage":{"main":[[{"node":"Orchestrator AI Agent","type":"main","index":0}]]},"Orchestrator AI Agent":{"main":[[{"node":"Parse Orchestrator Output","type":"main","index":0}]]},"Parse Orchestrator Output":{"main":[[{"node":"Has Code to Apply?","type":"main","index":0}]]},"Has Code to Apply?":{"main":[[{"node":"Apply Code Changes","type":"main","index":0},{"node":"Escalate to Human","type":"main","index":0}]]},"AI Fix Agent":{"main":[[{"node":"Apply Fix Changes","type":"main","index":0}]]},"Filter Open Issues":{"main":[[]]},"Show Issues":{"main":[[{"node":"Choose Processing Mode","type":"main","index":0}]]},"Choose Processing Mode":{"main":[[{"node":"Classify Issues for Routing","type":"main","index":0}]]},"Classify Issues for Routing":{"main":[[{"node":"Split FREE Workers","type":"main","index":0},{"node":"Split SPENDY Workers","type":"main","index":0}]]},"Split FREE Workers":{"main":[[{"node":"Worker BEAST","type":"main","index":0},{"node":"Worker Bedroom","type":"main","index":0}]]},"Split SPENDY Workers":{"main":[[{"node":"Worker BEAST","type":"main","index":0},{"node":"Worker Bedroom","type":"main","index":0},{"node":"Worker Google","type":"main","index":0},{"node":"Worker Anthropic","type":"main","index":0},{"node":"Worker ChatGPT","type":"main","index":0}]]},"Worker BEAST":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Worker Bedroom":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Worker Google":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Worker Anthropic":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Worker ChatGPT":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Merge Parallel Results":{"main":[[{"node":"Parse Parallel Output","type":"main","index":0}]]},"Parse Parallel Output":{"main":[[{"node":"Parallel Git Setup","type":"main","index":0}]]},"Parallel Git Setup":{"main":[[{"node":"Detect Repo Type","type":"main","index":0}]]},"Parallel Apply Code":{"main":[[{"node":"Needs Desktop Test","type":"main","index":0}]]},"Parallel Run Tests":{"main":[[{"node":"Parallel Commit","type":"main","index":0}]]},"Parallel Commit":{"main":[[{"node":"Parallel Linear Update","type":"main","index":0}]]},"Needs Desktop Test":{"main":[[{"node":"Sync Repo to Desktop","type":"main","index":0},{"node":"Parallel Run Tests","type":"main","index":0}]]},"Sync Repo to Desktop":{"main":[[{"node":"Run Tests on Desktop","type":"main","index":0}]]},"Detect Repo Type":{"main":[[{"node":"Parallel Apply Code","type":"main","index":0}]]},"Preserve Context":{"main":[[{"node":"Seq Detect Repo Type","type":"main","index":0}]]},"Seq Detect Repo Type":{"main":[[{"node":"Seq Needs Desktop","type":"main","index":0}]]},"Seq Needs Desktop":{"main":[[{"node":"Seq Sync to Desktop","type":"main","index":0},{"node":"Run Tests","type":"main","index":0}]]},"Seq Sync to Desktop":{"main":[[{"node":"Seq Run Desktop Tests","type":"main","index":0}]]},"Run Tests on Desktop":{"main":[[{"node":"Fetch Screenshots","type":"main","index":0}]]},"Fetch Screenshots":{"main":[[{"node":"Comment Screenshots to Linear","type":"main","index":0}]]},"Comment Screenshots to Linear":{"main":[[{"node":"Post Screenshot Comment","type":"main","index":0}]]},"Post Screenshot Comment":{"main":[[{"node":"Parallel Commit","type":"main","index":0}]]},"Seq Run Desktop Tests":{"main":[[{"node":"Seq Fetch Screenshots","type":"main","index":0}]]},"Seq Fetch Screenshots":{"main":[[{"node":"Seq Screenshot Comment","type":"main","index":0}]]},"Seq Screenshot Comment":{"main":[[{"node":"Seq Post Screenshots","type":"main","index":0}]]},"Seq Post Screenshots":{"main":[[{"node":"Tests Passed?","type":"main","index":0}]]},"Select Project":{"main":[[{"node":"Get Projects for Selection","type":"main","index":0}]]},"Route Input":{"main":[[{"node":"Redirect to New Project","type":"main","index":0}]]},"Show Projects":{"main":[[{"node":"Select Project","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Get Linear Projects","type":"main","index":0}]]},"Get Issues By Project":{"main":[[{"node":"Format Issues","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"145c818a-cc87-4dcb-aadc-021266986d06","activeVersionId":"c7f43dd4-8f8e-40f1-96ca-5d70a1d99221","versionCounter":364,"triggerCount":1,"shared":[{"updatedAt":"2025-12-22T04:30:27.944Z","createdAt":"2025-12-22T04:30:27.944Z","role":"workflow:owner","workflowId":"PbSOq6RsFoCsLZUh","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-01T23:41:10.347Z","createdAt":"2026-01-01T23:41:10.347Z","id":"59v2I1DDZaqntzwf","name":"AI GENERATED"},{"updatedAt":"2026-01-01T23:41:25.266Z","createdAt":"2026-01-01T23:41:25.266Z","id":"EzHxVrQZLMqCu8MI","name":"NOT TESTED"},{"updatedAt":"2026-01-01T23:41:18.988Z","createdAt":"2026-01-01T23:41:18.988Z","id":"bdnN5FhQNv0uGThH","name":"NOT REVIEWED"},{"updatedAt":"2026-01-01T23:42:17.144Z","createdAt":"2026-01-01T23:42:17.144Z","id":"e2I03ErUAQw8hDjy","name":"OLD VERSION"}],"activeVersion":{"updatedAt":"2025-12-23T01:11:14.000Z","createdAt":"2025-12-23T01:11:12.248Z","versionId":"c7f43dd4-8f8e-40f1-96ca-5d70a1d99221","workflowId":"PbSOq6RsFoCsLZUh","nodes":[{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state } } }\"}","options":{}},"id":"get-projects","name":"Get Linear Projects","type":"n8n-nodes-base.httpRequest","position":[-448,176],"typeVersion":4.2,"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"p1","name":"projects","type":"array","value":"={{ $json.data.projects.nodes }}"},{"id":"p2","name":"output","type":"string","value":"=📋 **Projects with n8n label:**\n\n{{ $json.data.projects.nodes.map((p, i) => (i+1) + '. ' + p.name + ' (' + p.state + ')').join('\\n') }}\n\n---\n**Commands:**\n🔢 Type a number to select a project\n🆕 Type `new` to create a new project\n\n*Select a project to begin autonomous processing*"}]},"options":{}},"id":"format-projects","name":"Format Projects","type":"n8n-nodes-base.set","position":[-208,176],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state } } }\"}","options":{}},"id":"get-projects-for-sel","name":"Get Projects for Selection","type":"n8n-nodes-base.httpRequest","position":[752,160],"typeVersion":4.2,"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e1","name":"project","type":"object","value":"={{ $json.data.projects.nodes[$('Select Project').item.json.selectedNum - 1] }}"},{"id":"e2","name":"projectId","type":"string","value":"={{ $json.data.projects.nodes[$('Select Project').item.json.selectedNum - 1].id }}"},{"id":"e3","name":"projectName","type":"string","value":"={{ $json.data.projects.nodes[$('Select Project').item.json.selectedNum - 1].name }}"},{"id":"e4","name":"repoName","type":"string","value":"={{ $json.data.projects.nodes[$('Select Project').item.json.selectedNum - 1].name.toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '') }}"}]},"includeOtherFields":true,"options":{}},"id":"extract-selected","name":"Extract Selected Project","type":"n8n-nodes-base.set","position":[928,160],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"f1","name":"issues","type":"array","value":"={{ $input.all().map(i => i.json) }}"},{"id":"f2","name":"issueCount","type":"number","value":"={{ $input.all().length }}"},{"id":"f3","name":"output","type":"string","value":"=🎯 **{{ $('Build Issues Query').item.json.projectName }}** - {{ $input.all().length }} open issues:\n\n{{ $input.all().map((item, idx) => (idx+1) + '. [' + item.json.identifier + '] ' + item.json.title + ' (P' + (item.json.priority || 4) + ')').join('\\n') }}\n\n---\n*Starting autonomous processing...*"},{"id":"f4","name":"projectName","type":"string","value":"={{ $('Build Issues Query').item.json.projectName }}"},{"id":"f5","name":"repoName","type":"string","value":"={{ $('Build Issues Query').item.json.repoName }}"}]},"includeOtherFields":true,"options":{}},"id":"format-issues","name":"Format Issues","type":"n8n-nodes-base.set","position":[1520,160],"typeVersion":3.4},{"parameters":{"options":{}},"id":"loop-issues","name":"Loop Issues","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2000,160]},{"parameters":{"assignments":{"assignments":[{"id":"i1","name":"issue","type":"object","value":"={{ $json }}"},{"id":"i2","name":"issueId","type":"string","value":"={{ $json.identifier }}"},{"id":"i3","name":"branchName","type":"string","value":"=ai/{{ $json.identifier.toLowerCase() }}"},{"id":"i4","name":"repoPath","type":"string","value":"=/mnt/n8n-nas/git_repos/{{ $('Build Issues Query').item.json.repoName }}"},{"id":"i5","name":"storagePath","type":"string","value":"=/mnt/n8n-nas/agent_storage/{{ $('Build Issues Query').item.json.repoName }}"},{"id":"i6","name":"projectName","type":"string","value":"={{ $('Build Issues Query').item.json.projectName }}"},{"id":"i7","name":"attemptCount","type":"number","value":"=0"}]},"options":{}},"id":"setup-issue","name":"Setup Issue Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,160]},{"parameters":{"command":"=REPO_PATH=\"{{ $json.repoPath }}\"\nREPO_NAME=\"{{ $('Build Issues Query').item.json.repoName }}\"\nBRANCH=\"{{ $json.branchName }}\"\nGITLAB_URL=\"http://192.168.245.11/gtechsd/${REPO_NAME}.git\"\n\n# Clone if repo doesn't exist\nif [ ! -d \"$REPO_PATH/.git\" ]; then\n  echo \"CLONING: $GITLAB_URL\"\n  git clone \"$GITLAB_URL\" \"$REPO_PATH\" 2>&1 || { echo \"CLONE_FAILED\"; exit 1; }\nfi\n\ncd \"$REPO_PATH\" || exit 1\n\n# Check git status\necho \"STATUS:\"\ngit status --porcelain\n\n# Stash any local changes\nif [ -n \"$(git status --porcelain)\" ]; then\n  echo \"STASHING local changes\"\n  git stash push -m \"n8n-auto-stash-$(date +%s)\"\nfi\n\n# Fetch and update main\ngit fetch origin 2>&1\ngit checkout main 2>&1 || git checkout master 2>&1\ngit pull origin main 2>&1 || git pull origin master 2>&1\n\n# Create or switch to AI branch\ngit checkout -B \"$BRANCH\" 2>&1\n\necho \"READY: $BRANCH in $REPO_PATH\""},"id":"git-branch","name":"Git Setup & Branch","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2512,160],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"command":"=cd {{ $json.repoPath }} && \\\necho '=== Detecting project type ===' && \\\nif [ -f 'pubspec.yaml' ]; then \\\n  echo 'Flutter project' && flutter test 2>&1; \\\nelif [ -f 'package.json' ] && grep -q 'electron' package.json 2>/dev/null; then \\\n  echo 'Electron project' && npm test 2>&1; \\\nelif [ -f 'Cargo.toml' ]; then \\\n  echo 'Rust project' && cargo test 2>&1; \\\nelif [ -f 'CMakeLists.txt' ]; then \\\n  echo 'CMake project' && mkdir -p build && cd build && cmake .. && make -j4 && ctest 2>&1; \\\nelif [ -f 'meson.build' ]; then \\\n  echo 'Meson project' && meson setup build 2>/dev/null || true && meson test -C build 2>&1; \\\nelif [ -f 'pyproject.toml' ] || [ -f 'setup.py' ]; then \\\n  echo 'Python project' && (pytest 2>&1 || python -m unittest discover 2>&1 || python -m pytest 2>&1); \\\nelif [ -f 'package.json' ]; then \\\n  echo 'Node.js project' && npm test 2>&1; \\\nelif [ -f 'go.mod' ]; then \\\n  echo 'Go project' && go test ./... 2>&1; \\\nelif [ -f 'Gemfile' ]; then \\\n  echo 'Ruby project' && (bundle exec rspec 2>&1 || bundle exec rake test 2>&1); \\\nelif [ -f 'pom.xml' ]; then \\\n  echo 'Maven project' && mvn test 2>&1; \\\nelif [ -f 'build.gradle' ] || [ -f 'build.gradle.kts' ]; then \\\n  echo 'Gradle project' && ./gradlew test 2>&1; \\\nelif [ -f 'Makefile' ]; then \\\n  echo 'Makefile project' && make test 2>&1; \\\nelif [ -f 'mix.exs' ]; then \\\n  echo 'Elixir project' && mix test 2>&1; \\\nelif [ -f 'deno.json' ] || [ -f 'deno.jsonc' ]; then \\\n  echo 'Deno project' && deno test 2>&1; \\\nelif [ -f 'bun.lockb' ]; then \\\n  echo 'Bun project' && bun test 2>&1; \\\nelse \\\n  echo 'No recognized framework - checking for test dirs' && \\\n  if [ -d 'test' ] || [ -d 'tests' ] || [ -d 'spec' ]; then \\\n    find . -name '*_test.py' -o -name 'test_*.py' -o -name '*_spec.rb' | head -5 | xargs -I{} echo 'Found: {}'; \\\n  fi && echo 'PASS - Manual review recommended'; \\\nfi | head -100"},"id":"run-tests","name":"Run Tests","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5824,544],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"or","conditions":[{"id":"t1","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"passing"},{"id":"t2","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"NO_TESTS_CONFIGURED"},{"id":"t3","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"passed"},{"id":"t4","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"NO_TESTS_RUN"},{"id":"t5","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"FLUTTER_PROJECT_DETECTED"},{"id":"t6","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"All tests passed"}]},"options":{}},"id":"check-tests","name":"Tests Passed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5984,544]},{"parameters":{"command":"=cd {{ $json.repoPath }} && git add -A && git commit -m \"fix({{ $json.issueId }}): {{ $json.issue.title }}\n\n🤖 AI-Generated by {{ $json.aiPlatform }} ({{ $json.aiModel }})\nTimestamp: {{ $now.toISO() }}\" && git push -u origin {{ $json.branchName }} && git rev-parse --short HEAD"},"id":"git-commit","name":"Git Commit & Push","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[6144,448],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"att1","name":"attemptCount","type":"number","value":"={{ ($json.attemptCount || 0) + 1 }}"},{"id":"att2","name":"testError","type":"string","value":"={{ $json.stdout }}"}]},"includeOtherFields":true,"options":{}},"id":"increment-attempts","name":"Increment Attempts","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6144,640]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"ma1","operator":{"type":"number","operation":"lt"},"leftValue":"={{ $json.attemptCount }}","rightValue":3}]},"options":{}},"id":"check-max-attempts","name":"Max Attempts?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6304,640]},{"parameters":{"message":"={{ $json.output }}{{ $json.projects }}","options":{}},"id":"show-projects","name":"Show Projects","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[48,176]},{"parameters":{"message":"=  {{ $json.data.project.issues.nodes.length }} ISSUES - Respond with \"start\" to get working","options":{}},"id":"show-issues","name":"Show Issues","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1760,160]},{"parameters":{"resource":"comment","issueId":"={{ $json.issue.id }}","comment":"=⚠️ **AI Agent Escalation**\n\nCannot handle autonomously.\n\n**Reason**: {{ $json.orchestratorOutput.includes('CANNOT HANDLE') ? $json.orchestratorOutput.split('CANNOT HANDLE:')[1].split('\\n')[0] : 'No code generated' }}\n\n---\n🤖 **AI Signature**\n- Platform: {{ $json.aiPlatform || 'Unknown' }}\n- Model: {{ $json.aiModel || 'Unknown' }}\n- Timestamp: {{ $now.toISO() }}","additionalFields":{}},"id":"escalate-human","name":"Escalate to Human","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[5504,752],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"resource":"comment","issueId":"={{ $json.issue.id }}","comment":"=✅ **Resolved by AI Agent**\n\n**Branch**: `{{ $json.branchName }}`\n**Commit**: `{{ $json.stdout.trim() }}`\n\n---\n🤖 **AI Signature**\n- Platform: {{ $json.aiPlatform }}\n- Model: {{ $json.aiModel }}\n- Timestamp: {{ $now.toISO() }}\n- Attempts: {{ ($json.attemptCount || 0) + 1 }}","additionalFields":{}},"id":"update-success","name":"Update Linear Success","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[6304,448],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"resource":"comment","issueId":"={{ $json.issue.id }}","comment":"=⚠️ **AI Agent Escalation - Max Attempts**\n\nMax attempts (3) reached. Tests still failing.\n\n**Last Error**:\n```\n{{ $json.testError ? $json.testError.substring(0, 500) : 'No error details' }}\n```\n\n---\n🤖 **AI Signature**\n- Platform: {{ $json.aiPlatform || 'Unknown' }}\n- Model: {{ $json.aiModel || 'Unknown' }}\n- Timestamp: {{ $now.toISO() }}\n- Total Attempts: 3","additionalFields":{}},"id":"escalate-max","name":"Escalate Max Attempts","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[6512,752],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5120,912],"id":"14695460-a75b-423f-873f-5df2c12088ed","name":"PAID Gemini 3 Flash","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"Claude Opus 4.5"},"options":{"thinking":true}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[5424,912],"id":"29b9efb6-d466-48a5-9e75-547bc7a456d8","name":"PAID Claude Opus 4.5","credentials":{"anthropicApi":{"id":"Ozy9qk8lFIbm0pVG","name":"Anthropic account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2-chat-latest","mode":"list","cachedResultName":"gpt-5.2-chat-latest"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4752,912],"id":"d971f4b7-6d50-477b-978a-ae651eb70572","name":"PAID ChatGPT 5.2 Latest","credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list","cachedResultName":"qwen/qwen3-vl-8b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4512,912],"id":"6e990830-5fa7-4315-9ca6-09ceec3b9aed","name":"FREE Secondary LM Studio qwen3-vl-8b","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[5008,496],"id":"1862783e-5329-4923-9bcc-50602c7e8d11","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list","cachedResultName":"qwen/qwen3-vl-8b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4880,496],"id":"18700b23-291f-4a49-bf18-5475512262e3","name":"FREE Bedroom LMStudio","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4752,496],"id":"a3727c56-0713-4ce1-b68d-7729529c9a64","name":"FREE BEAST LM Studio","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4608,1088],"id":"0dd9098e-efb4-4986-ae05-40e4bd1c6b2c","name":"Simple Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4896,1088],"id":"7433eb6b-7b90-40b2-be72-65ebadcd499e","name":"Simple Memory2"},{"parameters":{"toolDescription":"PAID: OpenAI GPT-5.2 for complex reasoning. Only use after FREE fails twice. ~$0.03/1K tokens.","text":"Solve this complex problem. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4800,784],"id":"cb7d921f-7abe-4215-8fbe-209129f0862b","name":"PAID ChatGPT"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1-codex","mode":"list","cachedResultName":"gpt-5.1-codex"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4896,912],"id":"81ca082e-3272-4bc8-8388-29ff4a529d07","name":"PAID ChatGPT 5.1 Codex","credentials":{"openAiApi":{"id":"3VjBm6YVSBn4Q7mN","name":"OpenAi API account"}}},{"parameters":{"toolDescription":"PAID: Google Gemini for vision/image analysis. Use for screenshots, UI mockups. ~$0.001/1K tokens.","text":"Analyze the visual content and implement. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[5120,784],"id":"c3aaaa8e-aa69-4a9e-8ce6-f6fb8961f8a0","name":"PAID Google"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5264,912],"id":"2932eb84-7bb1-4686-92e6-a6cc81187fb6","name":"PAID Gemini 2.5 Flash","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[5216,1088],"id":"10851d4a-f4f3-46dc-9a8e-66c7e6f9874d","name":"Simple Memory3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[5584,912],"id":"72fc91dd-8c94-44dd-9c5f-57b30562381a","name":"PAID Claude Sonnet 2.5","credentials":{"anthropicApi":{"id":"Ozy9qk8lFIbm0pVG","name":"Anthropic account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[5520,1088],"id":"b9863c5f-1acf-4bb6-9539-82b2817ac21d","name":"Simple Memory4"},{"parameters":{"toolDescription":"PAID: Image generation only. Use for creating visual assets, diagrams, mockups.","text":"Generate the requested image.","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[5120,1232],"id":"ea86d77c-dc99-48d6-8a99-696321fd9495","name":"PAID Nano Banana"},{"parameters":{"modelName":"models/nano-banana-pro-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5120,1376],"id":"252820c1-d860-4f8c-9ffe-4fc1f4162dfa","name":"PAID Nano Banana2","credentials":{"googlePalmApi":{"id":"yncG4XcgoIciPZOl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[5280,1376],"id":"5fd270e6-eea1-490d-9ba9-e5e5ca52ba94","name":"Simple Memory5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[4912,640],"id":"2de357fd-e4d7-4205-8fc0-ac4799d04d57","name":"Orchestrator AI Agent"},{"parameters":{"toolDescription":"FREE: Local BEAST server running deepseek-coder. BEST for coding - use 90% of the time. Zero cost.","text":"Implement the code change. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4224,784],"id":"0a1bf766-1842-45ce-9d85-b9bf525b82b0","name":"FREE Primary LM Studio Server"},{"parameters":{"toolDescription":"FREE: Backup local server (Bedroom qwen3-vl-8b). Use when BEAST unavailable. Zero cost fallback.","text":"Implement the code change. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[4512,784],"id":"ea526d40-69e9-44a5-b95e-c74360da4ae1","name":"FREE Secondary LM Studio"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4320,1088],"id":"6b2241a8-3e8e-408f-af07-1e8a338762be","name":"Simple Memory6"},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4144,912],"id":"ee216837-acb0-4f0e-9760-8942c85aa44e","name":"FREE Beast LM Studio Deepseek Coder V2 Lite","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"toolDescription":"PAID: Claude for nuanced reasoning, complex analysis. Last resort. ~$0.015/1K tokens.","text":"Apply deep reasoning to solve. Output: ---FILE: path---\n```lang\ncode\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[5424,784],"id":"d1a38f16-a898-400c-b455-7336357b2291","name":"PAID Anthropic"},{"parameters":{"command":"=cd {{ $json.repoPath }} && echo 'ISSUE_ID={{ $json.issueId }}' && echo 'REPO_PATH={{ $json.repoPath }}' && echo 'BRANCH={{ $json.branchName }}' && cat << 'AICODE_EOF' | python3 -c \"\nimport sys\nimport os\nimport re\n\ncontent = sys.stdin.read()\nfile_pattern = r'---FILE:\\s*([^-\\n]+)---\\s*\\`\\`\\`[a-z]*\\n(.*?)\\`\\`\\`'\nmatches = re.findall(file_pattern, content, re.DOTALL)\n\nfor filepath, code in matches:\n    filepath = filepath.strip()\n    os.makedirs(os.path.dirname(filepath) if os.path.dirname(filepath) else '.', exist_ok=True)\n    with open(filepath, 'w') as f:\n        f.write(code.strip())\n    print(f'WROTE: {filepath}')\n\nprint(f'APPLIED: {len(matches)} file(s)')\n\"\n{{ $json.orchestratorOutput }}\nAICODE_EOF"},"id":"apply-code","name":"Apply Code Changes","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5504,544],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"command":"=cd {{ $json.repoPath }} && cat << 'AICODE_EOF' | python3 -c \"\nimport sys\nimport os\nimport re\n\ncontent = sys.stdin.read()\nfile_pattern = r'---FILE:\\s*([^-\\n]+)---\\s*\\`\\`\\`[a-z]*\\n(.*?)\\`\\`\\`'\nmatches = re.findall(file_pattern, content, re.DOTALL)\n\nfor filepath, code in matches:\n    filepath = filepath.strip()\n    os.makedirs(os.path.dirname(filepath) if os.path.dirname(filepath) else '.', exist_ok=True)\n    with open(filepath, 'w') as f:\n        f.write(code.strip())\n    print(f'Wrote: {filepath}')\n\nprint(f'Applied {len(matches)} fix(es)')\n\"\n{{ $json.output }}\nAICODE_EOF"},"id":"apply-fix","name":"Apply Fix Changes","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[6704,544],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"pc1","name":"issue","type":"object","value":"={{ $('Setup Issue Context').item.json.issue }}"},{"id":"pc2","name":"issueId","type":"string","value":"={{ $('Setup Issue Context').item.json.issueId }}"},{"id":"pc3","name":"repoPath","type":"string","value":"={{ $('Setup Issue Context').item.json.repoPath }}"},{"id":"pc4","name":"branchName","type":"string","value":"={{ $('Setup Issue Context').item.json.branchName }}"},{"id":"pc5","name":"storagePath","type":"string","value":"={{ $('Setup Issue Context').item.json.storagePath }}"},{"id":"pc6","name":"applyOutput","type":"string","value":"={{ $json.stdout }}"},{"id":"pc7","name":"attemptCount","type":"number","value":"=0"},{"id":"pc8","name":"orchestratorOutput","type":"string","value":"={{ $('Parse Orchestrator Output').item.json.orchestratorOutput }}"},{"id":"pc9","name":"aiPlatform","type":"string","value":"={{ $('Parse Orchestrator Output').item.json.aiPlatform }}"},{"id":"pc10","name":"aiModel","type":"string","value":"={{ $('Parse Orchestrator Output').item.json.aiModel }}"},{"id":"pc11","name":"aiSignature","type":"string","value":"={{ $('Parse Orchestrator Output').item.json.aiSignature }}"}]},"options":{}},"id":"preserve-ctx","name":"Preserve Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5664,544]},{"parameters":{"assignments":{"assignments":[{"id":"pf1","name":"issue","type":"object","value":"={{ $('Setup Issue Context').item.json.issue }}"},{"id":"pf2","name":"issueId","type":"string","value":"={{ $('Setup Issue Context').item.json.issueId }}"},{"id":"pf3","name":"repoPath","type":"string","value":"={{ $('Setup Issue Context').item.json.repoPath }}"},{"id":"pf4","name":"branchName","type":"string","value":"={{ $('Setup Issue Context').item.json.branchName }}"},{"id":"pf5","name":"storagePath","type":"string","value":"={{ $('Setup Issue Context').item.json.storagePath }}"},{"id":"pf6","name":"fixOutput","type":"string","value":"={{ $json.stdout }}"},{"id":"pf7","name":"attemptCount","type":"number","value":"={{ $('Increment Attempts').item.json.attemptCount }}"},{"id":"pf8","name":"testError","type":"string","value":"={{ $('Increment Attempts').item.json.testError }}"},{"id":"pf9","name":"orchestratorOutput","type":"string","value":"={{ $('AI Fix Agent').item.json.output }}"},{"id":"pf10","name":"aiPlatform","type":"string","value":"={{ ($('AI Fix Agent').item.json.output.match(/platform:\\s*([^\\n]+)/) || ['','LMStudio-BEAST'])[1].trim() }}"},{"id":"pf11","name":"aiModel","type":"string","value":"={{ ($('AI Fix Agent').item.json.output.match(/model:\\s*([^\\n]+)/) || ['','deepseek-coder-v2-lite'])[1].trim() }}"}]},"options":{}},"id":"preserve-fix-ctx","name":"Preserve Fix Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6864,544]},{"parameters":{"assignments":{"assignments":[{"id":"bq1","name":"projectId","type":"string","value":"={{ $json.projectId }}"},{"id":"bq2","name":"projectName","type":"string","value":"={{ $json.projectName }}"},{"id":"bq3","name":"repoName","type":"string","value":"={{ $json.projectName.toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '') }}"}]},"options":{}},"id":"build-query-set","name":"Build Issues Query","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,160]},{"parameters":{"command":"=STORAGE=\"{{ $json.storagePath }}\"\nREPO=\"{{ $json.repoPath }}\"\nISSUE=\"{{ $json.issueId }}\"\nBRANCH=\"{{ $json.branchName }}\"\nPROJECT=\"{{ $json.projectName }}\"\n\nmkdir -p \"$STORAGE\"\n\necho \"ISSUE_ID=$ISSUE\"\necho \"REPO_PATH=$REPO\"\necho \"BRANCH=$BRANCH\"\necho \"PROJECT=$PROJECT\"\necho \"STORAGE=$STORAGE\"\necho \"STORAGE_READY\""},"id":"setup-storage","name":"Setup Agent Storage","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2672,160],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"r1","name":"output","type":"string","value":"🆕 **Create a New Project**\n\nTo create a new project, use the **New Project Interview** workflow:\n\n👉 [Open New Project Interview](http://orangepi:5678/workflow/WPuxiZXV1cvR34Vk)\n\nOr start the chat interface at:\n`http://orangepi:5678/webhook/new-project-interview/chat`\n\n---\n**Here's what you can do in THIS workflow:**\n\n📋 View projects - just say 'hi' or 'list'\n🔢 Select project - type a number\n🚀 Process issues - select a project to begin\n\n*Type anything to see available projects.*"}]},"options":{}},"id":"redirect-new","name":"Redirect to New Project","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,624],"disabled":true},{"parameters":{"message":"={{ $json.output }}","options":{}},"id":"show-redirect","name":"Show Redirect","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-48,640]},{"parameters":{"assignments":{"assignments":[{"id":"po1","name":"orchestratorOutput","type":"string","value":"={{ $json.output }}"},{"id":"po2","name":"canHandle","type":"boolean","value":"={{ !$json.output.toLowerCase().includes('cannot handle') && !$json.output.toLowerCase().includes('need human') }}"},{"id":"po3","name":"hasCode","type":"boolean","value":"={{ $json.output.includes('---FILE:') }}"},{"id":"po4","name":"aiSignature","type":"string","value":"={{ ($json.output.match(/---AI_SIGNATURE---([\\s\\S]*?)---END_SIGNATURE---/) || ['','No signature'])[1].trim() }}"},{"id":"po5","name":"aiPlatform","type":"string","value":"={{ ($json.output.match(/platform:\\s*([^\\n]+)/) || ['','LMStudio-BEAST'])[1].trim() }}"},{"id":"po6","name":"aiModel","type":"string","value":"={{ ($json.output.match(/model:\\s*([^\\n]+)/) || ['','deepseek-coder-v2-lite'])[1].trim() }}"},{"id":"po7","name":"issue","type":"object","value":"={{ $('Setup Issue Context').item.json.issue }}"},{"id":"po8","name":"issueId","type":"string","value":"={{ $('Setup Issue Context').item.json.issueId }}"},{"id":"po9","name":"repoPath","type":"string","value":"={{ $('Setup Issue Context').item.json.repoPath }}"},{"id":"po10","name":"branchName","type":"string","value":"={{ $('Setup Issue Context').item.json.branchName }}"},{"id":"po11","name":"storagePath","type":"string","value":"={{ $('Setup Issue Context').item.json.storagePath }}"}]},"options":{}},"id":"parse-orchestrator","name":"Parse Orchestrator Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5104,640]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"hc1","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.hasCode }}"}],"combinator":"and"},"options":{}},"id":"check-has-code","name":"Has Code to Apply?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5312,640]},{"parameters":{"options":{}},"id":"ai-fix-agent","name":"AI Fix Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[6512,544]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff0a7892-3013-42f6-b82f-2d1dceb1a61f","leftValue":"={{ $json.state.id }}","rightValue":"={{ $('Build Issues Query').item.json.projectId }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"filter-open-issues","name":"Filter Open Issues","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1376,-48]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.chatInput.toLowerCase() }}","rightValue":"start","id":"e50eea55-1eb7-40ba-a0c5-cfa2639f6eca"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.chatInput.toLowerCase() }}","rightValue":"spendy","id":"78379833-6c76-4c31-baa6-4672b41c1ea8"}],"combinator":"and"}}]},"options":{}},"id":"choose-mode","name":"Choose Processing Mode","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1872,160]},{"parameters":{"jsCode":"// Classify each issue for optimal AI routing\nconst issues = $input.all();\n\nreturn issues.map((item, index) => {\n  const issue = item.json;\n  const title = (issue.title || '').toLowerCase();\n  const desc = (issue.description || '').toLowerCase();\n  const labels = (issue.labels?.nodes || []).map(l => l.name.toLowerCase());\n  \n  let assignedAgent = 'BEAST';\n  let reason = 'Default coding task';\n  \n  if (title.includes('ui') || title.includes('screenshot') || \n      title.includes('design') || title.includes('visual') ||\n      desc.includes('mockup') || desc.includes('image')) {\n    assignedAgent = 'Google';\n    reason = 'Vision/UI task';\n  } else if (title.includes('architect') || title.includes('refactor') ||\n             title.includes('complex') || desc.includes('trade-off')) {\n    assignedAgent = 'Anthropic';\n    reason = 'Complex reasoning task';\n  } else if (title.includes('doc') || title.includes('test') ||\n             title.includes('readme')) {\n    assignedAgent = 'Bedroom';\n    reason = 'Documentation/test task';\n  }\n  \n  return {\n    json: {\n      ...issue,\n      assignedAgent,\n      routingReason: reason,\n      workerIndex: index % 2\n    }\n  };\n});"},"id":"classify-issues","name":"Classify Issues for Routing","type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.workerIndex }}","rightValue":0,"id":"2f436f60-2c4a-4fce-a352-830566ebe613"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.workerIndex }}","rightValue":1,"id":"4adf4981-f5d5-4882-bb9e-5b8bba53fbef"}],"combinator":"and"}}]},"options":{}},"id":"split-free-workers","name":"Split FREE Workers","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2272,-96]},{"parameters":{"rules":{"values":[{"conditions":{"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"BEAST"}]}},{"conditions":{"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"Bedroom"}]}},{"conditions":{"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"Google"}]}},{"conditions":{"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"Anthropic"}]}},{"conditions":{"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.assignedAgent }}","rightValue":"ChatGPT"}]}}]},"options":{}},"id":"split-spendy-workers","name":"Split SPENDY Workers","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2272,112]},{"parameters":{"promptType":"define","text":"=## TASK\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: LMStudio-BEAST\nmodel: deepseek-coder-v2-lite\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-beast","name":"Worker BEAST","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,-208]},{"parameters":{"promptType":"define","text":"=## TASK\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: LMStudio-Bedroom\nmodel: qwen3-vl-8b\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-bedroom","name":"Worker Bedroom","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,0]},{"parameters":{"promptType":"define","text":"=## TASK (Vision/UI)\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\nRouting: {{ $json.routingReason }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: Google\nmodel: gemini-2.5-flash\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-google","name":"Worker Google","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,208]},{"parameters":{"promptType":"define","text":"=## TASK (Complex Reasoning)\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\nRouting: {{ $json.routingReason }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: Anthropic\nmodel: claude-sonnet-4\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-anthropic","name":"Worker Anthropic","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,400]},{"parameters":{"promptType":"define","text":"=## TASK\nImplement: {{ $json.title }}\n\nDescription: {{ $json.description || 'No description' }}\nRouting: {{ $json.routingReason }}\n\n## OUTPUT FORMAT\n---FILE: path/to/file.ext---\n```language\ncode\n```\n\n---AI_SIGNATURE---\nplatform: OpenAI\nmodel: gpt-4o\ntimestamp: {{ $now.toISO() }}\n---END_SIGNATURE---","options":{}},"id":"worker-chatgpt","name":"Worker ChatGPT","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2512,608]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"merge-parallel","name":"Merge Parallel Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2800,208]},{"parameters":{"assignments":{"assignments":[{"id":"pp1","name":"orchestratorOutput","type":"string","value":"={{ $json.output }}"},{"id":"pp2","name":"hasCode","type":"boolean","value":"={{ $json.output.includes('---FILE:') }}"},{"id":"pp3","name":"aiPlatform","type":"string","value":"={{ ($json.output.match(/platform:\\s*([^\\n]+)/) || ['','Unknown'])[1].trim() }}"},{"id":"pp4","name":"aiModel","type":"string","value":"={{ ($json.output.match(/model:\\s*([^\\n]+)/) || ['','Unknown'])[1].trim() }}"},{"id":"pp5","name":"issue","type":"object","value":"={{ $json }}"},{"id":"pp6","name":"issueId","type":"string","value":"={{ $json.id }}"},{"id":"pp7","name":"repoPath","type":"string","value":"=/mnt/n8n-nas/git_repos/{{ $json.project?.key || 'default' }}"},{"id":"pp8","name":"branchName","type":"string","value":"=ai/{{ $json.id }}-{{ $json.title.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 30) }}"}]},"options":{}},"id":"parse-parallel-output","name":"Parse Parallel Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3008,208]},{"parameters":{"command":"=cd {{ $json.repoPath }} && git fetch origin && git checkout -B {{ $json.branchName }} origin/main 2>/dev/null || git checkout -B {{ $json.branchName }} && echo 'Branch ready: {{ $json.branchName }}'"},"id":"parallel-git-setup","name":"Parallel Git Setup","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3200,208],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && cat << 'AICODE_EOF' | python3 -c \"\nimport sys, os, re\ncontent = sys.stdin.read()\nmatches = re.findall(r'---FILE:\\s*([^-\\n]+)---\\s*\\`\\`\\`[a-z]*\\n(.*?)\\`\\`\\`', content, re.DOTALL)\nfor fp, code in matches:\n    fp = fp.strip()\n    os.makedirs(os.path.dirname(fp) if os.path.dirname(fp) else '.', exist_ok=True)\n    with open(fp, 'w') as f: f.write(code.strip())\n    print(f'WROTE: {fp}')\nprint(f'APPLIED: {len(matches)} file(s)')\n\"\n{{ $json.orchestratorOutput }}\nAICODE_EOF"},"id":"parallel-apply-code","name":"Parallel Apply Code","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3408,208],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && \\\necho '=== Detecting project type ===' && \\\nif [ -f 'pubspec.yaml' ]; then \\\n  echo 'Flutter project' && flutter test 2>&1; \\\nelif [ -f 'package.json' ] && grep -q 'electron' package.json 2>/dev/null; then \\\n  echo 'Electron project' && npm test 2>&1; \\\nelif [ -f 'Cargo.toml' ]; then \\\n  echo 'Rust project' && cargo test 2>&1; \\\nelif [ -f 'CMakeLists.txt' ]; then \\\n  echo 'CMake project' && mkdir -p build && cd build && cmake .. && make -j4 && ctest 2>&1; \\\nelif [ -f 'meson.build' ]; then \\\n  echo 'Meson project' && meson setup build 2>/dev/null || true && meson test -C build 2>&1; \\\nelif [ -f 'pyproject.toml' ] || [ -f 'setup.py' ]; then \\\n  echo 'Python project' && (pytest 2>&1 || python -m unittest discover 2>&1 || python -m pytest 2>&1); \\\nelif [ -f 'package.json' ]; then \\\n  echo 'Node.js project' && npm test 2>&1; \\\nelif [ -f 'go.mod' ]; then \\\n  echo 'Go project' && go test ./... 2>&1; \\\nelif [ -f 'Gemfile' ]; then \\\n  echo 'Ruby project' && (bundle exec rspec 2>&1 || bundle exec rake test 2>&1); \\\nelif [ -f 'pom.xml' ]; then \\\n  echo 'Maven project' && mvn test 2>&1; \\\nelif [ -f 'build.gradle' ] || [ -f 'build.gradle.kts' ]; then \\\n  echo 'Gradle project' && ./gradlew test 2>&1; \\\nelif [ -f 'Makefile' ]; then \\\n  echo 'Makefile project' && make test 2>&1; \\\nelif [ -f 'mix.exs' ]; then \\\n  echo 'Elixir project' && mix test 2>&1; \\\nelif [ -f 'deno.json' ] || [ -f 'deno.jsonc' ]; then \\\n  echo 'Deno project' && deno test 2>&1; \\\nelif [ -f 'bun.lockb' ]; then \\\n  echo 'Bun project' && bun test 2>&1; \\\nelse \\\n  echo 'No recognized framework' && echo 'PASS - Manual review recommended'; \\\nfi | head -100"},"id":"parallel-run-tests","name":"Parallel Run Tests","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3600,208],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && git add -A && git commit -m \"fix({{ $json.issueId }}): {{ $json.issue.title }}\n\n🤖 AI-Generated by {{ $json.aiPlatform }} ({{ $json.aiModel }})\nParallel Processing Mode\" && git push -u origin {{ $json.branchName }} && git rev-parse --short HEAD"},"id":"parallel-commit","name":"Parallel Commit","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3808,208],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"resource":"comment","issueId":"={{ $json.issue.id }}","comment":"=✅ **Resolved by AI Agent (Parallel Mode)**\n\n**Branch**: `{{ $json.branchName }}`\n**Commit**: `{{ $json.stdout.trim() }}`\n\n---\n🤖 **AI Signature**\n- Platform: {{ $json.aiPlatform }}\n- Model: {{ $json.aiModel }}\n- Mode: Parallel Processing\n- Timestamp: {{ $now.toISO() }}","additionalFields":{}},"id":"parallel-linear-update","name":"Parallel Linear Update","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[4000,208],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"or","conditions":[{"id":"dt1","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"NEEDS_DESKTOP"},{"id":"dt2","operator":{"type":"string","operation":"contains"},"leftValue":"={{ JSON.stringify($json.issue.labels) }}","rightValue":"desktop-test"},{"id":"dt3","operator":{"type":"string","operation":"contains"},"leftValue":"={{ JSON.stringify($json.issue.labels) }}","rightValue":"gui-test"}]},"options":{}},"id":"check-desktop-test","name":"Needs Desktop Test","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3504,400]},{"parameters":{"command":"=rsync -avz --delete {{ $json.repoPath }}/ freshprints@192.168.245.165:/home/freshprints/repos/{{ $json.repoPath.split('/').pop() }}/ 2>&1 && echo 'SYNCED to Ubuntu Desktop'"},"id":"sync-to-desktop","name":"Sync Repo to Desktop","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3712,304],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=sshpass -p 'roboto' ssh -o StrictHostKeyChecking=no freshprints@192.168.245.165 'cd /home/freshprints/repos/{{ $json.repoPath.split(\"/\").pop() }} && \\\nmkdir -p /tmp/screenshots && \\\nSCREENSHOT_DIR=\"/tmp/screenshots/{{ $json.issueId || $json.issue.id }}\" && \\\nmkdir -p $SCREENSHOT_DIR && \\\necho \"=== Ubuntu Desktop Test Runner ===\" && \\\necho \"Screenshots: $SCREENSHOT_DIR\" && \\\n\\\n# Function to capture screenshot\ncapture() { \\\n  sleep 0.5 && \\\n  DISPLAY=:0 scrot -q 90 \"$SCREENSHOT_DIR/$1.png\" 2>/dev/null || \\\n  DISPLAY=:0 gnome-screenshot -f \"$SCREENSHOT_DIR/$1.png\" 2>/dev/null || \\\n  echo \"Screenshot failed: $1\"; \\\n} && \\\n\\\nif [ -f \"pubspec.yaml\" ]; then \\\n  echo \"[Flutter]\" && \\\n  flutter test --reporter expanded 2>&1 | tee /tmp/test_output.txt && \\\n  if grep -q \"integration_test\" pubspec.yaml 2>/dev/null; then \\\n    echo \"Running integration tests with screenshots...\" && \\\n    flutter test integration_test --reporter expanded 2>&1 & \\\n    sleep 3 && capture \"flutter_01_startup\" && \\\n    sleep 2 && capture \"flutter_02_running\" && \\\n    wait; \\\n  fi; \\\nelif [ -f \"package.json\" ] && grep -q electron package.json 2>/dev/null; then \\\n  echo \"[Electron]\" && \\\n  npm install --silent && \\\n  (npm start &) && sleep 5 && capture \"electron_01_launch\" && \\\n  sleep 2 && capture \"electron_02_ready\" && \\\n  pkill -f electron || true && \\\n  npm test 2>&1; \\\nelif [ -f \"Cargo.toml\" ] && grep -qiE \"tauri|gtk|iced|egui|slint\" Cargo.toml 2>/dev/null; then \\\n  echo \"[Rust GUI]\" && \\\n  cargo test 2>&1 && \\\n  cargo build --release 2>&1 && \\\n  (timeout 10 cargo run --release &) && \\\n  sleep 3 && capture \"rust_gui_01_launch\" && \\\n  sleep 2 && capture \"rust_gui_02_running\" && \\\n  pkill -f \"target/release\" || true; \\\nelif [ -f \"Cargo.toml\" ]; then \\\n  echo \"[Rust CLI]\" && cargo test 2>&1; \\\nelif [ -f \"CMakeLists.txt\" ]; then \\\n  echo \"[CMake]\" && \\\n  mkdir -p build && cd build && cmake .. && make -j$(nproc) && \\\n  if grep -qiE \"qt|gtk\" ../CMakeLists.txt 2>/dev/null; then \\\n    (timeout 10 ./$(ls -1 | head -1) &) && \\\n    sleep 2 && capture \"cpp_gui_01_launch\" && \\\n    pkill -f build/ || true; \\\n  fi && \\\n  ctest --output-on-failure 2>&1; \\\nelif [ -f \"pyproject.toml\" ] || [ -f \"setup.py\" ]; then \\\n  echo \"[Python]\" && \\\n  if grep -qiE \"pyqt|pyside|tkinter|kivy|pygame\" pyproject.toml setup.py 2>/dev/null; then \\\n    (timeout 10 python3 -m $(basename $(pwd)) &) 2>/dev/null && \\\n    sleep 2 && capture \"python_gui_01_launch\" && \\\n    pkill -f python3 || true; \\\n  fi && \\\n  python3 -m pytest -v 2>&1; \\\nelif [ -f \"package.json\" ]; then \\\n  echo \"[Node.js]\" && npm install --silent && npm test 2>&1; \\\nelse \\\n  echo \"[Unknown] Manual review\" && echo \"PASS\"; \\\nfi && \\\n\\\necho \"\" && echo \"=== Screenshots captured ===\" && \\\nls -la $SCREENSHOT_DIR/*.png 2>/dev/null || echo \"No screenshots\"' 2>&1 | head -200"},"id":"desktop-run-tests","name":"Run Tests on Desktop","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3904,304],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && echo 'REPO_TYPE_CHECK' && \\\nif [ -f pubspec.yaml ]; then echo 'NEEDS_DESKTOP:flutter'; \\\nelif [ -f package.json ] && grep -qE '\"electron\"|\"tauri\"' package.json 2>/dev/null; then echo 'NEEDS_DESKTOP:electron-or-tauri'; \\\nelif [ -f Cargo.toml ] && grep -qiE 'tauri|gtk|druid|iced|egui|slint' Cargo.toml 2>/dev/null; then echo 'NEEDS_DESKTOP:rust-gui'; \\\nelif [ -f CMakeLists.txt ] && grep -qiE 'qt|gtk|wxwidgets|fltk' CMakeLists.txt 2>/dev/null; then echo 'NEEDS_DESKTOP:cpp-gui'; \\\nelif [ -f meson.build ] && grep -qiE 'gtk|qt' meson.build 2>/dev/null; then echo 'NEEDS_DESKTOP:meson-gui'; \\\nelif [ -f pyproject.toml ] && grep -qiE 'pyqt|pyside|tkinter|kivy|pygame|pyglet' pyproject.toml 2>/dev/null; then echo 'NEEDS_DESKTOP:python-gui'; \\\nelif [ -f setup.py ] && grep -qiE 'pyqt|pyside|tkinter|kivy' setup.py 2>/dev/null; then echo 'NEEDS_DESKTOP:python-gui'; \\\nelif [ -f go.mod ] && grep -qiE 'fyne|gio|walk|gotk' go.mod 2>/dev/null; then echo 'NEEDS_DESKTOP:go-gui'; \\\nelif [ -f mix.exs ] && grep -qiE 'scenic|membrane' mix.exs 2>/dev/null; then echo 'NEEDS_DESKTOP:elixir-gui'; \\\nelif ls *.swift 2>/dev/null | head -1 && grep -rqiE 'swiftui|appkit|uikit' . 2>/dev/null; then echo 'NEEDS_DESKTOP:swift-gui'; \\\nelse echo 'NO_DESKTOP_NEEDED'; fi"},"id":"detect-repo-type","name":"Detect Repo Type","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3200,400],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.repoPath }} && echo 'REPO_TYPE_CHECK' && \\\nif [ -f pubspec.yaml ]; then echo 'NEEDS_DESKTOP:flutter'; \\\nelif [ -f package.json ] && grep -qE '\"electron\"|\"tauri\"' package.json 2>/dev/null; then echo 'NEEDS_DESKTOP:electron-or-tauri'; \\\nelif [ -f Cargo.toml ] && grep -qiE 'tauri|gtk|druid|iced|egui|slint' Cargo.toml 2>/dev/null; then echo 'NEEDS_DESKTOP:rust-gui'; \\\nelif [ -f CMakeLists.txt ] && grep -qiE 'qt|gtk|wxwidgets|fltk' CMakeLists.txt 2>/dev/null; then echo 'NEEDS_DESKTOP:cpp-gui'; \\\nelif [ -f pyproject.toml ] && grep -qiE 'pyqt|pyside|tkinter|kivy|pygame' pyproject.toml 2>/dev/null; then echo 'NEEDS_DESKTOP:python-gui'; \\\nelse echo 'NO_DESKTOP_NEEDED'; fi"},"id":"seq-detect-repo","name":"Seq Detect Repo Type","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5504,448],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"or","conditions":[{"id":"sd1","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.stdout }}","rightValue":"NEEDS_DESKTOP"},{"id":"sd2","operator":{"type":"string","operation":"contains"},"leftValue":"={{ JSON.stringify($json.issue.labels) }}","rightValue":"desktop-test"}]},"options":{}},"id":"seq-needs-desktop","name":"Seq Needs Desktop","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5664,448]},{"parameters":{"command":"=rsync -avz --delete {{ $json.repoPath }}/ freshprints@192.168.245.165:/home/freshprints/repos/{{ $json.repoPath.split('/').pop() }}/ 2>&1 && echo 'SYNCED'"},"id":"seq-sync-desktop","name":"Seq Sync to Desktop","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5824,352],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=sshpass -p 'roboto' ssh -o StrictHostKeyChecking=no freshprints@192.168.245.165 'cd /home/freshprints/repos/{{ $json.repoPath.split(\"/\").pop() }} && \\\nmkdir -p /tmp/screenshots && \\\nSCREENSHOT_DIR=\"/tmp/screenshots/{{ $json.issueId || $json.issue.id }}\" && \\\nmkdir -p $SCREENSHOT_DIR && \\\necho \"=== Desktop Test Runner ===\" && \\\n\\\ncapture() { sleep 0.5 && DISPLAY=:0 scrot -q 90 \"$SCREENSHOT_DIR/$1.png\" 2>/dev/null || echo \"Screenshot: $1\"; } && \\\n\\\nif [ -f pubspec.yaml ]; then \\\n  echo \"[Flutter]\" && flutter test 2>&1 && \\\n  if grep -q integration_test pubspec.yaml; then \\\n    flutter test integration_test 2>&1 & sleep 3 && capture \"flutter_01\" && sleep 2 && capture \"flutter_02\" && wait; \\\n  fi; \\\nelif [ -f package.json ] && grep -q electron package.json; then \\\n  echo \"[Electron]\" && npm install --silent && (npm start &) && sleep 4 && capture \"electron_01\" && capture \"electron_02\" && pkill -f electron; \\\nelif [ -f Cargo.toml ]; then \\\n  echo \"[Rust]\" && cargo test 2>&1 && cargo build --release && (timeout 8 cargo run --release &) && sleep 3 && capture \"rust_01\" && capture \"rust_02\" && pkill -f target/release; \\\nelif [ -f CMakeLists.txt ]; then \\\n  echo \"[CMake]\" && mkdir -p build && cd build && cmake .. && make && ctest 2>&1; \\\nelif [ -f pyproject.toml ]; then \\\n  echo \"[Python]\" && python3 -m pytest 2>&1; \\\nelse echo \"PASS\"; fi && \\\n\\\necho \"=== Screenshots ===\" && ls $SCREENSHOT_DIR/*.png 2>/dev/null || echo \"None\"' | head -100"},"id":"seq-desktop-tests","name":"Seq Run Desktop Tests","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[5984,352],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=ISSUE_ID=\"{{ $json.issueId || $json.issue.id }}\" && \\\nSCREENSHOT_DIR=\"/tmp/screenshots/$ISSUE_ID\" && \\\nLOCAL_DIR=\"/tmp/linear_screenshots/$ISSUE_ID\" && \\\nmkdir -p $LOCAL_DIR && \\\nsshpass -p 'roboto' scp -o StrictHostKeyChecking=no freshprints@192.168.245.165:$SCREENSHOT_DIR/*.png $LOCAL_DIR/ 2>/dev/null && \\\necho \"SCREENSHOTS_FETCHED\" && \\\nfor f in $LOCAL_DIR/*.png; do \\\n  if [ -f \"$f\" ]; then \\\n    echo \"FILE:$f\"; \\\n    base64 -w0 \"$f\" | head -c 100; echo \"...\"; \\\n  fi; \\\ndone && \\\nls -la $LOCAL_DIR/*.png 2>/dev/null | wc -l"},"id":"fetch-screenshots","name":"Fetch Screenshots","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[4112,304],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"jsCode":"// Prepare screenshot data for Linear comment\nconst input = $input.first().json;\nconst issueId = input.issueId || input.issue?.id;\nconst stdout = input.stdout || '';\n\n// Check if screenshots were captured\nconst hasScreenshots = stdout.includes('SCREENSHOTS_FETCHED');\nconst screenshotFiles = (stdout.match(/FILE:([^\\n]+)/g) || []).map(f => f.replace('FILE:', ''));\n\n// Build comment with screenshot info\nlet comment = `📸 **GUI Test Screenshots**\\n\\n`;\n\nif (screenshotFiles.length > 0) {\n  comment += `Captured ${screenshotFiles.length} screenshot(s) during testing:\\n\\n`;\n  screenshotFiles.forEach((file, i) => {\n    const filename = file.split('/').pop();\n    comment += `${i + 1}. \\`${filename}\\`\\n`;\n  });\n  comment += `\\n📁 Screenshots saved to: \\`/tmp/linear_screenshots/${issueId}/\\`\\n`;\n  comment += `\\n_Screenshots can be viewed on the test desktop or synced to cloud storage._`;\n} else {\n  comment += `No screenshots captured (CLI-only tests or capture failed).`;\n}\n\nreturn {\n  json: {\n    ...input,\n    issueId,\n    screenshotComment: comment,\n    screenshotCount: screenshotFiles.length,\n    screenshotFiles\n  }\n};"},"id":"comment-with-screenshots","name":"Comment Screenshots to Linear","type":"n8n-nodes-base.code","typeVersion":2,"position":[4304,304]},{"parameters":{"resource":"comment","issueId":"={{ $json.issueId }}","comment":"={{ $json.screenshotComment }}","additionalFields":{}},"id":"post-screenshot-comment","name":"Post Screenshot Comment","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[4512,304],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"command":"=ISSUE_ID=\"{{ $json.issueId || $json.issue.id }}\" && \\\nLOCAL_DIR=\"/tmp/linear_screenshots/$ISSUE_ID\" && \\\nmkdir -p $LOCAL_DIR && \\\nsshpass -p 'roboto' scp -o StrictHostKeyChecking=no freshprints@192.168.245.165:/tmp/screenshots/$ISSUE_ID/*.png $LOCAL_DIR/ 2>/dev/null && \\\necho \"SCREENSHOTS_FETCHED\" && \\\nfor f in $LOCAL_DIR/*.png; do [ -f \"$f\" ] && echo \"FILE:$f\"; done && \\\nls $LOCAL_DIR/*.png 2>/dev/null | wc -l || echo \"0\""},"id":"seq-fetch-screenshots","name":"Seq Fetch Screenshots","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[6144,240],"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst issueId = input.issueId || input.issue?.id;\nconst stdout = input.stdout || '';\nconst hasScreenshots = stdout.includes('SCREENSHOTS_FETCHED');\nconst screenshotFiles = (stdout.match(/FILE:([^\\n]+)/g) || []).map(f => f.replace('FILE:', ''));\n\nlet comment = `📸 **GUI Test Screenshots**\\n\\n`;\nif (screenshotFiles.length > 0) {\n  comment += `Captured ${screenshotFiles.length} screenshot(s):\\n`;\n  screenshotFiles.forEach((file, i) => {\n    comment += `${i + 1}. \\`${file.split('/').pop()}\\`\\n`;\n  });\n  comment += `\\n📁 Location: \\`/tmp/linear_screenshots/${issueId}/\\``;\n} else {\n  comment += `No screenshots captured.`;\n}\n\nreturn { json: { ...input, issueId, screenshotComment: comment, screenshotCount: screenshotFiles.length } };"},"id":"seq-screenshot-comment","name":"Seq Screenshot Comment","type":"n8n-nodes-base.code","typeVersion":2,"position":[6304,240]},{"parameters":{"resource":"comment","issueId":"={{ $json.issueId }}","comment":"={{ $json.screenshotComment }}","additionalFields":{}},"id":"seq-post-screenshots","name":"Seq Post Screenshots","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[6464,240],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"s1","name":"selectedNum","type":"number","value":"={{ parseInt($json.chatInput) }}"},{"id":"s2","name":"sessionId","type":"string","value":"={{ $json.sessionId }}"}]},"options":{}},"id":"select-project","name":"Select Project","type":"n8n-nodes-base.set","position":[512,160],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.chatInput.toLowerCase() }}","operator":{"type":"string","operation":"regex"},"rightValue":"^(new|create|make|start|build)\\b","id":"d8db65e1-d4f2-46ae-9f01-95132cd4292b"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.chatInput }}","operator":{"type":"string","operation":"regex"},"rightValue":"^[0-9]+$","id":"f338c167-71fa-47c8-b6ae-bfc1cee474e5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.chatInput.toLowerCase() }}","operator":{"type":"string","operation":"regex"},"rightValue":"^(skip|done|finish|name it|call it)\\b","id":"3b6ca31a-77ad-4720-9a77-7a58dd4582a5"}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"route-input","name":"Route Input","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-560,560],"disabled":true},{"parameters":{"public":true,"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-752,160],"id":"1e7f961d-6305-4344-8afc-aeda7cccbf32","name":"When chat message received","webhookId":"c0b8aad6-dbf8-4e2a-b2f4-eb0fff92cc4f"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query($projectId: String!, $after: String) { project(id: $projectId) { issues(first: 50, after: $after) { nodes { id title priority state { name } } pageInfo { hasNextPage endCursor } } } }\",\n  \"variables\": {\n    \"projectId\": \"{{ $json.projectId }}\"\n  }\n}","options":{"pagination":{}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1312,160],"id":"9c6abe55-a8f1-4a09-95f3-20660a1a7418","name":"Get Issues By Project","credentials":{"httpBasicAuth":{"id":"xyVFnhCsS1dqo5oZ","name":"Unnamed credential"},"httpHeaderAuth":{"id":"kHyNDlUxOc8zIBDO","name":"Header Auth account"}}}],"connections":{"Get Linear Projects":{"main":[[{"node":"Format Projects","type":"main","index":0}]]},"Get Projects for Selection":{"main":[[{"node":"Extract Selected Project","type":"main","index":0}]]},"Loop Issues":{"main":[[{"node":"Setup Issue Context","type":"main","index":0}]]},"Setup Issue Context":{"main":[[{"node":"Git Setup & Branch","type":"main","index":0}]]},"Run Tests":{"main":[[{"node":"Tests Passed?","type":"main","index":0}]]},"Tests Passed?":{"main":[[{"node":"Git Commit & Push","type":"main","index":0}],[{"node":"Increment Attempts","type":"main","index":0}]]},"Increment Attempts":{"main":[[{"node":"Max Attempts?","type":"main","index":0}]]},"Max Attempts?":{"main":[[{"node":"Escalate Max Attempts","type":"main","index":0},{"node":"AI Fix Agent","type":"main","index":0}]]},"Format Projects":{"main":[[{"node":"Show Projects","type":"main","index":0}]]},"Format Issues":{"main":[[{"node":"Show Issues","type":"main","index":0}]]},"Git Commit & Push":{"main":[[{"node":"Update Linear Success","type":"main","index":0}]]},"Update Linear Success":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Escalate to Human":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Escalate Max Attempts":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"PAID Gemini 3 Flash":{"ai_languageModel":[[{"node":"PAID Google","type":"ai_languageModel","index":0}]]},"PAID Claude Opus 4.5":{"ai_languageModel":[[{"node":"PAID Anthropic","type":"ai_languageModel","index":0}]]},"PAID ChatGPT 5.2 Latest":{"ai_languageModel":[[{"node":"PAID ChatGPT","type":"ai_languageModel","index":0},{"node":"Worker ChatGPT","type":"ai_languageModel","index":0}]]},"FREE Secondary LM Studio qwen3-vl-8b":{"ai_languageModel":[[{"node":"FREE Secondary LM Studio","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Orchestrator AI Agent","type":"ai_memory","index":0},{"node":"AI Fix Agent","type":"ai_memory","index":0}]]},"FREE Bedroom LMStudio":{"ai_languageModel":[[{"node":"Orchestrator AI Agent","type":"ai_languageModel","index":1},{"node":"AI Fix Agent","type":"ai_languageModel","index":0},{"node":"Worker Bedroom","type":"ai_languageModel","index":0}]]},"FREE BEAST LM Studio":{"ai_languageModel":[[{"node":"Orchestrator AI Agent","type":"ai_languageModel","index":0},{"node":"AI Fix Agent","type":"ai_languageModel","index":0},{"node":"Worker BEAST","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"FREE Secondary LM Studio","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"PAID ChatGPT","type":"ai_memory","index":0}]]},"PAID ChatGPT":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"PAID ChatGPT 5.1 Codex":{"ai_languageModel":[[{"node":"PAID ChatGPT","type":"ai_languageModel","index":1}]]},"PAID Google":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"PAID Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"PAID Google","type":"ai_languageModel","index":1},{"node":"Worker Google","type":"ai_languageModel","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"PAID Google","type":"ai_memory","index":0}]]},"PAID Claude Sonnet 2.5":{"ai_languageModel":[[{"node":"PAID Anthropic","type":"ai_languageModel","index":1},{"node":"Worker Anthropic","type":"ai_languageModel","index":0}]]},"Simple Memory4":{"ai_memory":[[{"node":"PAID Anthropic","type":"ai_memory","index":0}]]},"PAID Nano Banana":{"ai_tool":[[{"node":"PAID Google","type":"ai_tool","index":0}]]},"PAID Nano Banana2":{"ai_languageModel":[[{"node":"PAID Nano Banana","type":"ai_languageModel","index":0}]]},"Simple Memory5":{"ai_memory":[[{"node":"PAID Nano Banana","type":"ai_memory","index":0}]]},"FREE Primary LM Studio Server":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"FREE Secondary LM Studio":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"Simple Memory6":{"ai_memory":[[{"node":"FREE Primary LM Studio Server","type":"ai_memory","index":0}]]},"FREE Beast LM Studio Deepseek Coder V2 Lite":{"ai_languageModel":[[{"node":"FREE Primary LM Studio Server","type":"ai_languageModel","index":0}]]},"PAID Anthropic":{"ai_tool":[[{"node":"Orchestrator AI Agent","type":"ai_tool","index":0}]]},"Apply Code Changes":{"main":[[{"node":"Preserve Context","type":"main","index":0}]]},"Apply Fix Changes":{"main":[[{"node":"Preserve Fix Context","type":"main","index":0}]]},"Preserve Fix Context":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Extract Selected Project":{"main":[[{"node":"Build Issues Query","type":"main","index":0}]]},"Build Issues Query":{"main":[[{"node":"Get Issues By Project","type":"main","index":0}]]},"Git Setup & Branch":{"main":[[{"node":"Setup Agent Storage","type":"main","index":0}]]},"Redirect to New Project":{"main":[[{"node":"Show Redirect","type":"main","index":0}]]},"Setup Agent Storage":{"main":[[{"node":"Orchestrator AI Agent","type":"main","index":0}]]},"Orchestrator AI Agent":{"main":[[{"node":"Parse Orchestrator Output","type":"main","index":0}]]},"Parse Orchestrator Output":{"main":[[{"node":"Has Code to Apply?","type":"main","index":0}]]},"Has Code to Apply?":{"main":[[{"node":"Apply Code Changes","type":"main","index":0},{"node":"Escalate to Human","type":"main","index":0}]]},"AI Fix Agent":{"main":[[{"node":"Apply Fix Changes","type":"main","index":0}]]},"Filter Open Issues":{"main":[[]]},"Show Issues":{"main":[[{"node":"Choose Processing Mode","type":"main","index":0}]]},"Choose Processing Mode":{"main":[[{"node":"Classify Issues for Routing","type":"main","index":0}]]},"Classify Issues for Routing":{"main":[[{"node":"Split FREE Workers","type":"main","index":0},{"node":"Split SPENDY Workers","type":"main","index":0}]]},"Split FREE Workers":{"main":[[{"node":"Worker BEAST","type":"main","index":0},{"node":"Worker Bedroom","type":"main","index":0}]]},"Split SPENDY Workers":{"main":[[{"node":"Worker BEAST","type":"main","index":0},{"node":"Worker Bedroom","type":"main","index":0},{"node":"Worker Google","type":"main","index":0},{"node":"Worker Anthropic","type":"main","index":0},{"node":"Worker ChatGPT","type":"main","index":0}]]},"Worker BEAST":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Worker Bedroom":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Worker Google":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Worker Anthropic":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Worker ChatGPT":{"main":[[{"node":"Merge Parallel Results","type":"main","index":0}]]},"Merge Parallel Results":{"main":[[{"node":"Parse Parallel Output","type":"main","index":0}]]},"Parse Parallel Output":{"main":[[{"node":"Parallel Git Setup","type":"main","index":0}]]},"Parallel Git Setup":{"main":[[{"node":"Detect Repo Type","type":"main","index":0}]]},"Parallel Apply Code":{"main":[[{"node":"Needs Desktop Test","type":"main","index":0}]]},"Parallel Run Tests":{"main":[[{"node":"Parallel Commit","type":"main","index":0}]]},"Parallel Commit":{"main":[[{"node":"Parallel Linear Update","type":"main","index":0}]]},"Needs Desktop Test":{"main":[[{"node":"Sync Repo to Desktop","type":"main","index":0},{"node":"Parallel Run Tests","type":"main","index":0}]]},"Sync Repo to Desktop":{"main":[[{"node":"Run Tests on Desktop","type":"main","index":0}]]},"Detect Repo Type":{"main":[[{"node":"Parallel Apply Code","type":"main","index":0}]]},"Preserve Context":{"main":[[{"node":"Seq Detect Repo Type","type":"main","index":0}]]},"Seq Detect Repo Type":{"main":[[{"node":"Seq Needs Desktop","type":"main","index":0}]]},"Seq Needs Desktop":{"main":[[{"node":"Seq Sync to Desktop","type":"main","index":0},{"node":"Run Tests","type":"main","index":0}]]},"Seq Sync to Desktop":{"main":[[{"node":"Seq Run Desktop Tests","type":"main","index":0}]]},"Run Tests on Desktop":{"main":[[{"node":"Fetch Screenshots","type":"main","index":0}]]},"Fetch Screenshots":{"main":[[{"node":"Comment Screenshots to Linear","type":"main","index":0}]]},"Comment Screenshots to Linear":{"main":[[{"node":"Post Screenshot Comment","type":"main","index":0}]]},"Post Screenshot Comment":{"main":[[{"node":"Parallel Commit","type":"main","index":0}]]},"Seq Run Desktop Tests":{"main":[[{"node":"Seq Fetch Screenshots","type":"main","index":0}]]},"Seq Fetch Screenshots":{"main":[[{"node":"Seq Screenshot Comment","type":"main","index":0}]]},"Seq Screenshot Comment":{"main":[[{"node":"Seq Post Screenshots","type":"main","index":0}]]},"Seq Post Screenshots":{"main":[[{"node":"Tests Passed?","type":"main","index":0}]]},"Select Project":{"main":[[{"node":"Get Projects for Selection","type":"main","index":0}]]},"Route Input":{"main":[[{"node":"Redirect to New Project","type":"main","index":0}]]},"Show Projects":{"main":[[{"node":"Select Project","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Get Linear Projects","type":"main","index":0}]]},"Get Issues By Project":{"main":[[{"node":"Format Issues","type":"main","index":0}]]}},"authors":"Bill Griffith","name":"Version c7f43dd4","description":"","workflowPublishHistory":[{"createdAt":"2025-12-23T01:11:14.744Z","id":118,"workflowId":"PbSOq6RsFoCsLZUh","versionId":"c7f43dd4-8f8e-40f1-96ca-5d70a1d99221","event":"activated","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3"}]}}