public/workflows/orangepi/PXawd0xn6XxHlNEs.json
{"updatedAt":"2026-01-01T23:42:23.391Z","createdAt":"2025-12-21T04:58:07.283Z","id":"PXawd0xn6XxHlNEs","name":"LMStudio Agentic Dev Tools","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## 📋 INITIALIZATION & PROJECT SELECTION\n\nSelect Linear project → Fetch all issues → Prepare workspace\n• Linear GraphQL API for projects with \"n8n\" label\n• Git clone/pull repository to /mnt/n8n-nas/git_repos/\n• Create agent storage directories\n• Check for resume state from previous session","height":450,"width":3418,"color":4},"id":"d5ea1040-59f7-4942-bd41-15de890e7f28","name":"Sticky Note - Init","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9296,9072]},{"parameters":{"content":"## 🔍 ISSUE FILTERING & PRIORITIZATION\n\nFilter & sort issues for AI processing\n• Must have \"Issue For Ai\" label\n• Must not have \"Task For Bill\" label\n• Sort by Linear priority (Urgent → High → Medium → Low)\n• Then by creation date (older first)\n• Display summary to user","height":400,"width":2488,"color":3},"id":"d4981dcc-fc86-49ba-b4bf-316489473d9a","name":"Sticky Note - Filter","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9296,9536]},{"parameters":{"content":"## 🤖 AUTONOMOUS PROCESSING LOOP\n\nFor each issue: Branch → Analyze → Implement → Test → Commit → Merge → Update Linear\n\n**Retry Logic:** Local LM (×3) → Claude Code → Cloud APIs (golden φ) → Escalate to Bill\n**Quality Gates:** ✓ Linting  ✓ Tests  ✓ Self-review  ✓ Git operations","height":850,"width":5000,"color":5},"id":"1a86f06c-aed0-4d5b-8ab7-5b1a767fa27d","name":"Sticky Note - Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9296,9936]},{"parameters":{"public":true,"options":{"responseMode":"responseNodes"}},"id":"7f695327-bf6b-4fc5-8262-01e3591b0a4c","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-8784,9232],"webhookId":"5bf7ce82-aa42-4cf1-8818-50a91bf006af"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"  {\n    \"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name description state } } }\"\n  }","options":{}},"id":"34286534-e05d-41b4-ae30-c5ec30bb9043","name":"Get Linear Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8496,9248],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const data = $input.item.json.data.projects.nodes;\nconst list = data.map((p, i) => `**${i+1}.** ${p.name}`).join('\\n');\nreturn {json: {chatMessage: `**Available Projects:**\\n\\n${list}\\n\\n---\\n**Select a project by number:**`, projectData: data}};"},"id":"c484075d-7776-448f-83f1-ab8bcb892dfb","name":"Format Project List","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8192,9248]},{"parameters":{"message":"={{ $json.chatMessage }}","options":{}},"id":"42ba9954-faf3-486f-ba3e-38815b177d22","name":"Show Projects","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-7888,9248]},{"parameters":{"jsCode":"  const chatInput = $input.item.json.chatInput;\n  const projects = $('Get Linear Projects').item.json.data.projects.nodes;\n\n  const num = parseInt(chatInput);\n  let sel = !isNaN(num) && num > 0 && num <= projects.length ?\n      projects[num - 1] :\n      projects.find(p => p.name.toLowerCase().includes(chatInput.toLowerCase()));\n\n  if (!sel) throw new Error(`Project not found: \"${chatInput}\"`);\n\n  const rn = sel.name.toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9\\-]/g, '');\n  return {json: {projectId: sel.id, projectName: sel.name, repoName: rn, repoPath: `/mnt/n8n-nas/git_repos/${rn}`, gitlabUrl: `http://192.168.245.11/gtechsd/${rn}.git`, agentStoragePath: `/mnt/n8n-nas/agent_storage/${rn}`}};"},"id":"c2badec8-3cd6-4a2b-b003-eb45b912aba6","name":"Extract Project Selection","type":"n8n-nodes-base.code","typeVersion":2,"position":[-7584,9248]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"query($projectId: String!) { project(id: $projectId) { id name issues(filter: { state: { type: { nin: [\\\"completed\\\", \\\"canceled\\\"] } } } first: 100) { nodes { id identifier title description state { name type } priority assignee { name } labels { nodes { name } } createdAt updatedAt url } } } }\", \"variables\": {\"projectId\": \"{{ $json.projectId }}\"}}","options":{}},"id":"feeee096-ad24-48b7-a764-612502638dd6","name":"Get Project Issues","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7296,9248],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const fs = require('fs');\nconst path = require('path');\nconst projectName = $('Extract Project Selection').item.json.projectName || 'unknown';\nconst storagePath = `/mnt/n8n-nas/agent_storage/${projectName}`;\nconst dirs = [storagePath, `${storagePath}/issues`, `${storagePath}/context`, `${storagePath}/sessions`, `${storagePath}/temp`];\ndirs.forEach(dir => fs.mkdirSync(dir, {recursive: true}));\nreturn {json: {success: true, created: dirs, agentStoragePath: storagePath}};"},"id":"9d0c79b7-5c8a-405e-ae58-7f3b0beb6162","name":"Create Agent Storage","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6688,9248]},{"parameters":{"jsCode":"const fs = require('fs');\nconst path = require('path');\nconst stateFile = path.join($input.item.json.agentStoragePath, 'last_state.json');\nlet resumeData = {shouldResume: false, resumeState: null};\nif (fs.existsSync(stateFile)) {\n  const state = JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  const age = Date.now() - new Date(state.timestamp);\n  const hours = age / (1000 * 60 * 60);\n  if (hours < 24 && state.remainingIssues && state.remainingIssues.length > 0) {\n    console.log(`📋 Found incomplete session from ${hours.toFixed(1)} hours ago`);\n    console.log(`   Processed: ${state.processedIssues || 0} issues`);\n    console.log(`   Remaining: ${state.remainingIssues.length} issues`);\n    resumeData.shouldResume = true;\n    resumeData.resumeState = state;\n  }\n}\nreturn {...resumeData, ...$input.item.json};"},"id":"8ba64fa7-a8be-4dd2-a88e-4d4f663a1296","name":"Check Resume State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6384,9248]},{"parameters":{"jsCode":"const issues = $('Get Project Issues').item.json.data?.project?.issues?.nodes || [];\nreturn {json: {allIssues: issues, totalAI: issues.length}};"},"id":"0b0198b5-63da-4259-9b07-3629b7b7986f","name":"Filter AI Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8640,9696]},{"parameters":{"jsCode":"const issues = $input.item.json.allIssues || [];\nreturn {json: {...$input.item.json, sorted: issues}};"},"id":"509cafe2-b817-4d1a-8fa0-8e7cc973671c","name":"Sort by Priority","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8336,9696]},{"parameters":{"jsCode":"const allIssues = $input.item.json.allIssues || $input.item.json.sorted || [];\nreturn {json: {...$input.item.json, chatMessage: \"Ready to process issues\"}};allIssues.forEach((issue, i) => {\n    summary += `${i+1}. [${issue.identifier}] ${issue.title}\\n`;\n});\nsummary += '\\nType \"go\" to process or \"cancel\" to stop';\nreturn {json: {...$input.item.json, chatMessage: summary}};\n"},"id":"08ea7f7f-e43d-492d-9902-1f8785b43cfa","name":"Show Issue Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8032,9696]},{"parameters":{"message":"={{ $json.chatMessage }}","options":{}},"id":"ea8ed888-dfa0-4148-a4dc-975de73bffc0","name":"Display Summary & Get Command","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-7728,9696]},{"parameters":{"options":{}},"id":"2beb9bcb-8a9e-4a26-84e2-abc2f7f8e18b","name":"Loop Issues","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-7440,9696]},{"parameters":{"jsCode":"const issue = $input.item.json.aiIssues[$input.context.nodesExecutedThisRun];\nconst issueId = issue.identifier.toLowerCase();\nconst agentStoragePath = $input.item.json.agentStoragePath;\nconst repoPath = $input.item.json.repoPath;\nconst issueStoragePath = `${agentStoragePath}/issues/${issueId}`;\nconsole.log(`\\n🎯 Processing: ${issue.identifier} - ${issue.title}`);\nconsole.log(`   Priority: ${issue.priority} | State: ${issue.state.name}`);\nreturn {issue, issueId, issueIdentifier: issue.identifier, issueTitle: issue.title, issueDescription: issue.description || '', issueUrl: issue.url, issuePriority: issue.priority, issueLabels: issue.labels.nodes, issueState: issue.state, repoPath, agentStoragePath, issueStoragePath, attemptCount: 0, maxLocalAttempts: 3, branchName: `ai/${issueId}`, sessionStartTime: $input.item.json.sessionStartTime, currentIssueStartTime: new Date().toISOString()};"},"id":"197503f6-89d5-42ea-b0a8-054cf844d453","name":"Initialize Issue Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8960,10336]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\nconst issueStoragePath = $input.item.json.issueStoragePath;\ntry {\n  if (!fs.existsSync(issueStoragePath)) fs.mkdirSync(issueStoragePath, {recursive: true});\n  fs.mkdirSync(path.join(issueStoragePath, 'attempts'), {recursive: true});\n  fs.mkdirSync(path.join(issueStoragePath, 'temp'), {recursive: true});\n  execSync('git checkout main', {cwd: repoPath});\n  execSync('git pull origin main', {cwd: repoPath});\n  try {\n    execSync(`git checkout -b ${branchName}`, {cwd: repoPath});\n  } catch (err) {\n    if (err.message.includes('already exists')) {\n      execSync(`git checkout ${branchName}`, {cwd: repoPath});\n      execSync(`git reset --hard origin/main`, {cwd: repoPath});\n    } else throw err;\n  }\n  const state = {issueId: $input.item.json.issueId, identifier: $input.item.json.issueIdentifier, status: 'processing', phase: 'initialization', startTime: $input.item.json.currentIssueStartTime, branchName, attemptCount: 0};\n  fs.writeFileSync(path.join(issueStoragePath, 'state.json'), JSON.stringify(state, null, 2));\n  execSync('sync');\n  console.log(`✅ Branch created: ${branchName}`);\n  return {...$input.item.json, branchCreated: true};\n} catch (error) {\n  console.error(`❌ Branch creation failed: ${error.message}`);\n  throw new Error(`Failed to create git branch:\\n${error.message}`);\n}"},"id":"1a480780-f556-4c7b-a32d-f3d8453359e9","name":"Create Git Branch","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8704,10336]},{"parameters":{"url":"http://localhost:1234/v1/models","options":{"timeout":5000}},"id":"a34c25fb-9e41-4288-8cc1-07a748e817fd","name":"Check Primary LM Server","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8416,9968]},{"parameters":{"url":"http://192.168.27.182:1234/v1/models","options":{"timeout":5000}},"id":"cec84b9d-8a9e-4361-ae3c-1432c5b8f669","name":"Check Secondary LM Server","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8416,10176]},{"parameters":{"jsCode":"const primaryResp = $('Check Primary LM Server').item;\nconst secondaryResp = $('Check Secondary LM Server').item;\nconst primaryAvail = primaryResp && primaryResp.json && primaryResp.json.data;\nconst secondaryAvail = secondaryResp && secondaryResp.json && secondaryResp.json.data;\nconst issue = $input.item.json.issue;\nconst needsVision = (issue.description || '').toLowerCase().includes('ui') || (issue.description || '').toLowerCase().includes('visual') || issue.labels.nodes.some(l => l.name.toLowerCase().includes('ui'));\nlet selected = null;\nif (needsVision && secondaryAvail) {\n  selected = {server: 'http://192.168.27.182:1234/v1', name: 'Secondary (Vision)', model: 'qwen3-v1-8b', reason: 'Vision capability required'};\n} else if (primaryAvail) {\n  selected = {server: 'http://localhost:1234/v1', name: 'Primary (BEAST)', model: 'qwen2.5-coder-14b', reason: 'Primary coding server'};\n} else if (secondaryAvail) {\n  selected = {server: 'http://192.168.27.182:1234/v1', name: 'Secondary', model: 'qwen3-v1-8b', reason: 'Primary unavailable'};\n} else {\n  throw new Error('❌ No LM Studio servers available.\\n\\nStart LM Studio and load a model.');\n}\nconsole.log(`🖥️  Selected: ${selected.name} (${selected.reason})`);\nreturn {...$input.item.json, selectedServer: selected, lmServerUrl: selected.server, lmServerName: selected.name, lmModel: selected.model};"},"id":"6b116b45-801e-4488-b65b-8e0c6918f523","name":"Select Optimal Server","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8112,10080]},{"parameters":{"promptType":"define","text":"=Analyze this issue for implementation:\n\n**Issue:** {{ $json.issueIdentifier }} - {{ $json.issueTitle }}\n**Priority:** {{ $json.issuePriority }}\n**Description:**\n{{ $json.issueDescription }}\n\n**Repository:** {{ $json.repoPath }}\n**Branch:** {{ $json.branchName }}\n\nProvide detailed analysis with:\n1. Requirements breakdown\n2. Complexity assessment (Simple/Medium/Complex)\n3. Step-by-step implementation plan\n4. Files to modify\n5. Potential blockers\n6. Can you handle this autonomously? (YES/NO)\n\nIf NO, explain why human intervention is needed.","options":{}},"id":"3857ce16-f52c-487f-be19-8a752fdc8e5f","name":"AI Agent - Analyze & Plan","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-7808,10080],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node with LM Studio credentials"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.output }}","operation":"contains","value2":"Can I handle this autonomously? YES"}]},"options":{}},"id":"e3531304-b49f-4219-8719-b2c708300ea4","name":"Self-Triage Decision","type":"n8n-nodes-base.if","typeVersion":2,"position":[-7520,10080]},{"parameters":{"promptType":"define","text":"=Implement the solution for {{ $json.issueIdentifier }}: {{ $json.issueTitle }}\n\n**Plan from analysis:**\n{{ $('AI Agent - Analyze & Plan').item.json.output }}\n\n**Repository:** {{ $json.repoPath }}\n**Branch:** {{ $json.branchName }}\n\nWrite production-ready code following existing patterns. Ensure all tests will pass.","options":{}},"id":"fdc0c0aa-0aa6-45ef-afed-bb0ef72ffcf4","name":"AI Agent - Implement","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-7216,10080],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node with LM Studio credentials"},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\nconst repoPath = $input.item.json.repoPath;\nlet testCmd = '';\nif (fs.existsSync(path.join(repoPath, 'package.json'))) testCmd = 'npm test';\nelse if (fs.existsSync(path.join(repoPath, 'pytest.ini'))) testCmd = 'pytest';\nelse if (fs.existsSync(path.join(repoPath, 'pubspec.yaml'))) testCmd = 'flutter test';\nelse {\n  console.log('⚠️  No test framework detected - skipping tests');\n  return {...$input.item.json, testsRan: false, testsPassed: true, testOutput: 'No tests configured'};\n}\ntry {\n  console.log(`🧪 Running tests: ${testCmd}`);\n  const output = execSync(testCmd, {cwd: repoPath, encoding: 'utf8', timeout: 600000});\n  console.log('✅ All tests passed');\n  return {...$input.item.json, testsRan: true, testsPassed: true, testOutput: output};\n} catch (error) {\n  console.log('❌ Tests failed');\n  return {...$input.item.json, testsRan: true, testsPassed: false, testOutput: error.stdout || error.message, testError: error.stderr || error.message};\n}"},"id":"9665530d-2a61-4482-8e84-d0197eea7920","name":"Run Tests","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6912,10080]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.testsPassed }}","value2":true}]},"options":{}},"id":"db2caed6-6ed4-430e-8be7-666eb711d1be","name":"Tests Passed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6608,10080]},{"parameters":{"jsCode":"const attemptCount = ($input.item.json.attemptCount || 0) + 1;\nconsole.log(`🔄 Retry attempt ${attemptCount} of ${$input.item.json.maxLocalAttempts}`);\nconst fs = require('fs');\nconst path = require('path');\nconst attemptLog = path.join($input.item.json.issueStoragePath, 'attempts', `attempt-${attemptCount}.log`);\nfs.writeFileSync(attemptLog, `Attempt ${attemptCount}\\n\\nTest Output:\\n${$input.item.json.testOutput}\\n\\nError:\\n${$input.item.json.testError || 'N/A'}`, 'utf8');\nreturn {...$input.item.json, attemptCount};"},"id":"e1b50aae-4f53-4449-a3c9-f663bb47411c","name":"Increment Attempt Counter","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6608,10368]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.attemptCount }}","operation":"smaller","value2":"={{ $json.maxLocalAttempts }}"}]},"options":{}},"id":"c428f96b-e251-4e36-a328-cb9a57a4f742","name":"Max Attempts Reached?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6912,10368]},{"parameters":{"promptType":"define","text":"=Tests failed for {{ $json.issueIdentifier }}. Fix the implementation.\n\n**Attempt:** {{ $json.attemptCount }} of {{ $json.maxLocalAttempts }}\n\n**Test Output:**\n{{ $json.testOutput }}\n\n**Error:**\n{{ $json.testError }}\n\nAnalyze the failures and provide corrected code.","options":{}},"id":"be28d19d-4e87-4629-a6e8-0bc6d797b6f3","name":"AI Agent - Fix Tests","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-7232,10336],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation($issueId: String!, $comment: String!) { commentCreate(input: { issueId: $issueId, body: $comment }) { success } }\", \"variables\": {\"issueId\": \"{{ $json.issue.id }}\", \"comment\": \"⚠️ **AI Agent Escalation**\\n\\nCannot handle autonomously.\\n\\nReason: {{ $json.escalationReason || 'All attempts exhausted' }}\\n\\nAttempts: {{ $json.attemptCount }}\\n\\nLogs: {{ $json.issueStoragePath }}\"}}","options":{}},"id":"9f1b9110-a3da-49b0-86ad-5f419bc62371","name":"Escalate to Human","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8720,10672],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\nconst issueId = $input.item.json.issueIdentifier;\nconst title = $input.item.json.issueTitle;\ntry {\n  execSync('git add .', {cwd: repoPath});\n  const commitMsg = `fix(${issueId}): ${title}\\n\\n🤖 Generated with LMStudio Agentic Dev Tools\\nCo-Authored-By: AI Agent <ai@n8n.local>`;\n  execSync(`git commit -m \"${commitMsg.replace(/\"/g, '\\\\\"')}\"`, {cwd: repoPath});\n  execSync(`git push -u origin ${branchName}`, {cwd: repoPath});\n  const sha = execSync('git rev-parse HEAD', {cwd: repoPath, encoding: 'utf8'}).trim();\n  console.log(`✅ Committed & pushed: ${sha.substring(0,8)}`);\n  return {...$input.item.json, commitSha: sha, commitMessage: commitMsg};\n} catch (error) {\n  throw new Error(`Git commit failed: ${error.message}`);\n}"},"id":"19a8f74d-2e1e-49cf-8bb3-c30e8bb43e8e","name":"Git Commit & Push","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6096,10064]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\ntry {\n  execSync('git checkout main', {cwd: repoPath});\n  execSync('git pull origin main', {cwd: repoPath});\n  execSync(`git merge ${branchName} --no-edit`, {cwd: repoPath});\n  execSync('git push origin main', {cwd: repoPath});\n  execSync(`git branch -d ${branchName}`, {cwd: repoPath});\n  execSync(`git push origin --delete ${branchName}`, {cwd: repoPath});\n  console.log(`✅ Merged to main and cleaned up branch`);\n  return {...$input.item.json, merged: true};\n} catch (error) {\n  console.log(`⚠️  Merge failed: ${error.message}`);\n  return {...$input.item.json, merged: false, mergeError: error.message};\n}"},"id":"51cf11ff-11e2-4bc2-ad30-1bd1d498b2e3","name":"Merge to Main","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5744,10064]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation($issueId: String!, $comment: String!) { commentCreate(input: { issueId: $issueId, body: $comment }) { success } }\", \"variables\": {\"issueId\": \"{{ $json.issue.id }}\", \"comment\": \"✅ **Issue Resolved by AI Agent**\\n\\n**Server:** {{ $json.lmServerName }}\\n**Commit:** {{ $json.commitSha.substring(0,8) }}\\n**Tests:** All passing ✓\\n\\nMerged to main.\"}}","options":{}},"id":"fb7535e4-45ba-4858-97a1-fb1db7d66a98","name":"Update Linear - Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6176,10496],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const processed = $input.context.nodesExecutedThisRun + 1;\nconst total = $input.item.json.aiIssueCount;\nconst summary = `🎉 **Session Complete**\\n\\nProcessed ${processed} of ${total} issues\\n\\nAll done!`;\nconsole.log(summary);\nreturn {summary, processed, total};"},"id":"f24943df-c086-45cb-9928-dbe545ae38c5","name":"Session Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6032,10320]},{"parameters":{"message":"={{ $json.summary }}","options":{}},"id":"540c43df-a5fc-4ec7-a240-f0b70665e1c7","name":"Show Results","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-5744,10320]},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7808,10224],"id":"16662873-b730-430b-af73-40ec1e40e803","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list","cachedResultName":"qwen/qwen3-vl-8b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7232,10464],"id":"721f70ed-9bcd-4afa-b298-8ea10599f0aa","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7216,10192],"id":"ab43dfbb-ffa8-4f11-9ab0-3a5b4587bba4","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"command":"=cd /mnt/n8n-nas/git_repos && mkdir -p {{  $json.repoName }} && cd {{  $json.repoName }} && git pull origin main || git clone ssh://git@localhost/gtechsd/{{  $json.repoName }}.git . && git rev-parse HEAD }} }} }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-7088,9248],"id":"a67e7df8-e6bc-4c6a-9589-96bfdde58914","name":"Execute a command","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}}],"connections":{"When chat message received":{"main":[[{"node":"Get Linear Projects","type":"main","index":0}]]},"Get Linear Projects":{"main":[[{"node":"Format Project List","type":"main","index":0}]]},"Format Project List":{"main":[[{"node":"Show Projects","type":"main","index":0}]]},"Show Projects":{"main":[[{"node":"Extract Project Selection","type":"main","index":0}]]},"Extract Project Selection":{"main":[[{"node":"Get Project Issues","type":"main","index":0}]]},"Get Project Issues":{"main":[[{"node":"Execute a command","type":"main","index":0}]]},"Create Agent Storage":{"main":[[{"node":"Check Resume State","type":"main","index":0}]]},"Check Resume State":{"main":[[{"node":"Filter AI Issues","type":"main","index":0}]]},"Filter AI Issues":{"main":[[{"node":"Sort by Priority","type":"main","index":0}]]},"Sort by Priority":{"main":[[{"node":"Show Issue Summary","type":"main","index":0}]]},"Show Issue Summary":{"main":[[{"node":"Display Summary & Get Command","type":"main","index":0}]]},"Display Summary & Get Command":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Loop Issues":{"main":[[{"node":"Initialize Issue Context","type":"main","index":0}]]},"Initialize Issue Context":{"main":[[{"node":"Create Git Branch","type":"main","index":0}]]},"Create Git Branch":{"main":[[{"node":"Check Primary LM Server","type":"main","index":0},{"node":"Check Secondary LM Server","type":"main","index":0}]]},"Check Primary LM Server":{"main":[[{"node":"Select Optimal Server","type":"main","index":0}]]},"Select Optimal Server":{"main":[[{"node":"AI Agent - Analyze & Plan","type":"main","index":0}]]},"AI Agent - Analyze & Plan":{"main":[[{"node":"Self-Triage Decision","type":"main","index":0}]]},"Self-Triage Decision":{"main":[[{"node":"AI Agent - Implement","type":"main","index":0}],[{"node":"Escalate to Human","type":"main","index":0}]]},"AI Agent - Implement":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Run Tests":{"main":[[{"node":"Tests Passed?","type":"main","index":0}]]},"Tests Passed?":{"main":[[{"node":"Git Commit & Push","type":"main","index":0}],[{"node":"Increment Attempt Counter","type":"main","index":0}]]},"Increment Attempt Counter":{"main":[[{"node":"Max Attempts Reached?","type":"main","index":0}]]},"Max Attempts Reached?":{"main":[[{"node":"AI Agent - Fix Tests","type":"main","index":0}],[{"node":"Escalate to Human","type":"main","index":0}]]},"AI Agent - Fix Tests":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Git Commit & Push":{"main":[[{"node":"Merge to Main","type":"main","index":0}]]},"Merge to Main":{"main":[[{"node":"Update Linear - Success","type":"main","index":0}]]},"Update Linear - Success":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Escalate to Human":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Analyze & Plan","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent - Fix Tests","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent - Implement","type":"ai_languageModel","index":0}]]},"Execute a command":{"main":[[{"node":"Create Agent Storage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"03f54a26-6048-41a2-98eb-0e91bd12075c","activeVersionId":"03f54a26-6048-41a2-98eb-0e91bd12075c","versionCounter":52,"triggerCount":1,"shared":[{"updatedAt":"2025-12-21T04:58:07.291Z","createdAt":"2025-12-21T04:58:07.291Z","role":"workflow:owner","workflowId":"PXawd0xn6XxHlNEs","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-01T23:41:10.347Z","createdAt":"2026-01-01T23:41:10.347Z","id":"59v2I1DDZaqntzwf","name":"AI GENERATED"},{"updatedAt":"2026-01-01T23:42:17.144Z","createdAt":"2026-01-01T23:42:17.144Z","id":"e2I03ErUAQw8hDjy","name":"OLD VERSION"}],"activeVersion":{"updatedAt":"2025-12-21T08:14:49.000Z","createdAt":"2025-12-21T08:14:47.157Z","versionId":"03f54a26-6048-41a2-98eb-0e91bd12075c","workflowId":"PXawd0xn6XxHlNEs","nodes":[{"parameters":{"content":"## 📋 INITIALIZATION & PROJECT SELECTION\n\nSelect Linear project → Fetch all issues → Prepare workspace\n• Linear GraphQL API for projects with \"n8n\" label\n• Git clone/pull repository to /mnt/n8n-nas/git_repos/\n• Create agent storage directories\n• Check for resume state from previous session","height":450,"width":3418,"color":4},"id":"d5ea1040-59f7-4942-bd41-15de890e7f28","name":"Sticky Note - Init","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9296,9072]},{"parameters":{"content":"## 🔍 ISSUE FILTERING & PRIORITIZATION\n\nFilter & sort issues for AI processing\n• Must have \"Issue For Ai\" label\n• Must not have \"Task For Bill\" label\n• Sort by Linear priority (Urgent → High → Medium → Low)\n• Then by creation date (older first)\n• Display summary to user","height":400,"width":2488,"color":3},"id":"d4981dcc-fc86-49ba-b4bf-316489473d9a","name":"Sticky Note - Filter","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9296,9536]},{"parameters":{"content":"## 🤖 AUTONOMOUS PROCESSING LOOP\n\nFor each issue: Branch → Analyze → Implement → Test → Commit → Merge → Update Linear\n\n**Retry Logic:** Local LM (×3) → Claude Code → Cloud APIs (golden φ) → Escalate to Bill\n**Quality Gates:** ✓ Linting  ✓ Tests  ✓ Self-review  ✓ Git operations","height":850,"width":5000,"color":5},"id":"1a86f06c-aed0-4d5b-8ab7-5b1a767fa27d","name":"Sticky Note - Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9296,9936]},{"parameters":{"public":true,"options":{"responseMode":"responseNodes"}},"id":"7f695327-bf6b-4fc5-8262-01e3591b0a4c","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-8784,9232],"webhookId":"5bf7ce82-aa42-4cf1-8818-50a91bf006af"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"  {\n    \"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name description state } } }\"\n  }","options":{}},"id":"34286534-e05d-41b4-ae30-c5ec30bb9043","name":"Get Linear Projects","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8496,9248],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const data = $input.item.json.data.projects.nodes;\nconst list = data.map((p, i) => `**${i+1}.** ${p.name}`).join('\\n');\nreturn {json: {chatMessage: `**Available Projects:**\\n\\n${list}\\n\\n---\\n**Select a project by number:**`, projectData: data}};"},"id":"c484075d-7776-448f-83f1-ab8bcb892dfb","name":"Format Project List","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8192,9248]},{"parameters":{"message":"={{ $json.chatMessage }}","options":{}},"id":"42ba9954-faf3-486f-ba3e-38815b177d22","name":"Show Projects","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-7888,9248]},{"parameters":{"jsCode":"  const chatInput = $input.item.json.chatInput;\n  const projects = $('Get Linear Projects').item.json.data.projects.nodes;\n\n  const num = parseInt(chatInput);\n  let sel = !isNaN(num) && num > 0 && num <= projects.length ?\n      projects[num - 1] :\n      projects.find(p => p.name.toLowerCase().includes(chatInput.toLowerCase()));\n\n  if (!sel) throw new Error(`Project not found: \"${chatInput}\"`);\n\n  const rn = sel.name.toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9\\-]/g, '');\n  return {json: {projectId: sel.id, projectName: sel.name, repoName: rn, repoPath: `/mnt/n8n-nas/git_repos/${rn}`, gitlabUrl: `http://192.168.245.11/gtechsd/${rn}.git`, agentStoragePath: `/mnt/n8n-nas/agent_storage/${rn}`}};"},"id":"c2badec8-3cd6-4a2b-b003-eb45b912aba6","name":"Extract Project Selection","type":"n8n-nodes-base.code","typeVersion":2,"position":[-7584,9248]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"query($projectId: String!) { project(id: $projectId) { id name issues(filter: { state: { type: { nin: [\\\"completed\\\", \\\"canceled\\\"] } } } first: 100) { nodes { id identifier title description state { name type } priority assignee { name } labels { nodes { name } } createdAt updatedAt url } } } }\", \"variables\": {\"projectId\": \"{{ $json.projectId }}\"}}","options":{}},"id":"feeee096-ad24-48b7-a764-612502638dd6","name":"Get Project Issues","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7296,9248],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const fs = require('fs');\nconst path = require('path');\nconst projectName = $('Extract Project Selection').item.json.projectName || 'unknown';\nconst storagePath = `/mnt/n8n-nas/agent_storage/${projectName}`;\nconst dirs = [storagePath, `${storagePath}/issues`, `${storagePath}/context`, `${storagePath}/sessions`, `${storagePath}/temp`];\ndirs.forEach(dir => fs.mkdirSync(dir, {recursive: true}));\nreturn {json: {success: true, created: dirs, agentStoragePath: storagePath}};"},"id":"9d0c79b7-5c8a-405e-ae58-7f3b0beb6162","name":"Create Agent Storage","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6688,9248]},{"parameters":{"jsCode":"const fs = require('fs');\nconst path = require('path');\nconst stateFile = path.join($input.item.json.agentStoragePath, 'last_state.json');\nlet resumeData = {shouldResume: false, resumeState: null};\nif (fs.existsSync(stateFile)) {\n  const state = JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  const age = Date.now() - new Date(state.timestamp);\n  const hours = age / (1000 * 60 * 60);\n  if (hours < 24 && state.remainingIssues && state.remainingIssues.length > 0) {\n    console.log(`📋 Found incomplete session from ${hours.toFixed(1)} hours ago`);\n    console.log(`   Processed: ${state.processedIssues || 0} issues`);\n    console.log(`   Remaining: ${state.remainingIssues.length} issues`);\n    resumeData.shouldResume = true;\n    resumeData.resumeState = state;\n  }\n}\nreturn {...resumeData, ...$input.item.json};"},"id":"8ba64fa7-a8be-4dd2-a88e-4d4f663a1296","name":"Check Resume State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6384,9248]},{"parameters":{"jsCode":"const issues = $('Get Project Issues').item.json.data?.project?.issues?.nodes || [];\nreturn {json: {allIssues: issues, totalAI: issues.length}};"},"id":"0b0198b5-63da-4259-9b07-3629b7b7986f","name":"Filter AI Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8640,9696]},{"parameters":{"jsCode":"const issues = $input.item.json.allIssues || [];\nreturn {json: {...$input.item.json, sorted: issues}};"},"id":"509cafe2-b817-4d1a-8fa0-8e7cc973671c","name":"Sort by Priority","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8336,9696]},{"parameters":{"jsCode":"const allIssues = $input.item.json.allIssues || $input.item.json.sorted || [];\nreturn {json: {...$input.item.json, chatMessage: \"Ready to process issues\"}};allIssues.forEach((issue, i) => {\n    summary += `${i+1}. [${issue.identifier}] ${issue.title}\\n`;\n});\nsummary += '\\nType \"go\" to process or \"cancel\" to stop';\nreturn {json: {...$input.item.json, chatMessage: summary}};\n"},"id":"08ea7f7f-e43d-492d-9902-1f8785b43cfa","name":"Show Issue Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8032,9696]},{"parameters":{"message":"={{ $json.chatMessage }}","options":{}},"id":"ea8ed888-dfa0-4148-a4dc-975de73bffc0","name":"Display Summary & Get Command","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-7728,9696]},{"parameters":{"options":{}},"id":"2beb9bcb-8a9e-4a26-84e2-abc2f7f8e18b","name":"Loop Issues","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-7440,9696]},{"parameters":{"jsCode":"const issue = $input.item.json.aiIssues[$input.context.nodesExecutedThisRun];\nconst issueId = issue.identifier.toLowerCase();\nconst agentStoragePath = $input.item.json.agentStoragePath;\nconst repoPath = $input.item.json.repoPath;\nconst issueStoragePath = `${agentStoragePath}/issues/${issueId}`;\nconsole.log(`\\n🎯 Processing: ${issue.identifier} - ${issue.title}`);\nconsole.log(`   Priority: ${issue.priority} | State: ${issue.state.name}`);\nreturn {issue, issueId, issueIdentifier: issue.identifier, issueTitle: issue.title, issueDescription: issue.description || '', issueUrl: issue.url, issuePriority: issue.priority, issueLabels: issue.labels.nodes, issueState: issue.state, repoPath, agentStoragePath, issueStoragePath, attemptCount: 0, maxLocalAttempts: 3, branchName: `ai/${issueId}`, sessionStartTime: $input.item.json.sessionStartTime, currentIssueStartTime: new Date().toISOString()};"},"id":"197503f6-89d5-42ea-b0a8-054cf844d453","name":"Initialize Issue Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8960,10336]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\nconst issueStoragePath = $input.item.json.issueStoragePath;\ntry {\n  if (!fs.existsSync(issueStoragePath)) fs.mkdirSync(issueStoragePath, {recursive: true});\n  fs.mkdirSync(path.join(issueStoragePath, 'attempts'), {recursive: true});\n  fs.mkdirSync(path.join(issueStoragePath, 'temp'), {recursive: true});\n  execSync('git checkout main', {cwd: repoPath});\n  execSync('git pull origin main', {cwd: repoPath});\n  try {\n    execSync(`git checkout -b ${branchName}`, {cwd: repoPath});\n  } catch (err) {\n    if (err.message.includes('already exists')) {\n      execSync(`git checkout ${branchName}`, {cwd: repoPath});\n      execSync(`git reset --hard origin/main`, {cwd: repoPath});\n    } else throw err;\n  }\n  const state = {issueId: $input.item.json.issueId, identifier: $input.item.json.issueIdentifier, status: 'processing', phase: 'initialization', startTime: $input.item.json.currentIssueStartTime, branchName, attemptCount: 0};\n  fs.writeFileSync(path.join(issueStoragePath, 'state.json'), JSON.stringify(state, null, 2));\n  execSync('sync');\n  console.log(`✅ Branch created: ${branchName}`);\n  return {...$input.item.json, branchCreated: true};\n} catch (error) {\n  console.error(`❌ Branch creation failed: ${error.message}`);\n  throw new Error(`Failed to create git branch:\\n${error.message}`);\n}"},"id":"1a480780-f556-4c7b-a32d-f3d8453359e9","name":"Create Git Branch","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8704,10336]},{"parameters":{"url":"http://localhost:1234/v1/models","options":{"timeout":5000}},"id":"a34c25fb-9e41-4288-8cc1-07a748e817fd","name":"Check Primary LM Server","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8416,9968]},{"parameters":{"url":"http://192.168.27.182:1234/v1/models","options":{"timeout":5000}},"id":"cec84b9d-8a9e-4361-ae3c-1432c5b8f669","name":"Check Secondary LM Server","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8416,10176]},{"parameters":{"jsCode":"const primaryResp = $('Check Primary LM Server').item;\nconst secondaryResp = $('Check Secondary LM Server').item;\nconst primaryAvail = primaryResp && primaryResp.json && primaryResp.json.data;\nconst secondaryAvail = secondaryResp && secondaryResp.json && secondaryResp.json.data;\nconst issue = $input.item.json.issue;\nconst needsVision = (issue.description || '').toLowerCase().includes('ui') || (issue.description || '').toLowerCase().includes('visual') || issue.labels.nodes.some(l => l.name.toLowerCase().includes('ui'));\nlet selected = null;\nif (needsVision && secondaryAvail) {\n  selected = {server: 'http://192.168.27.182:1234/v1', name: 'Secondary (Vision)', model: 'qwen3-v1-8b', reason: 'Vision capability required'};\n} else if (primaryAvail) {\n  selected = {server: 'http://localhost:1234/v1', name: 'Primary (BEAST)', model: 'qwen2.5-coder-14b', reason: 'Primary coding server'};\n} else if (secondaryAvail) {\n  selected = {server: 'http://192.168.27.182:1234/v1', name: 'Secondary', model: 'qwen3-v1-8b', reason: 'Primary unavailable'};\n} else {\n  throw new Error('❌ No LM Studio servers available.\\n\\nStart LM Studio and load a model.');\n}\nconsole.log(`🖥️  Selected: ${selected.name} (${selected.reason})`);\nreturn {...$input.item.json, selectedServer: selected, lmServerUrl: selected.server, lmServerName: selected.name, lmModel: selected.model};"},"id":"6b116b45-801e-4488-b65b-8e0c6918f523","name":"Select Optimal Server","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8112,10080]},{"parameters":{"promptType":"define","text":"=Analyze this issue for implementation:\n\n**Issue:** {{ $json.issueIdentifier }} - {{ $json.issueTitle }}\n**Priority:** {{ $json.issuePriority }}\n**Description:**\n{{ $json.issueDescription }}\n\n**Repository:** {{ $json.repoPath }}\n**Branch:** {{ $json.branchName }}\n\nProvide detailed analysis with:\n1. Requirements breakdown\n2. Complexity assessment (Simple/Medium/Complex)\n3. Step-by-step implementation plan\n4. Files to modify\n5. Potential blockers\n6. Can you handle this autonomously? (YES/NO)\n\nIf NO, explain why human intervention is needed.","options":{}},"id":"3857ce16-f52c-487f-be19-8a752fdc8e5f","name":"AI Agent - Analyze & Plan","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-7808,10080],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node with LM Studio credentials"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.output }}","operation":"contains","value2":"Can I handle this autonomously? YES"}]},"options":{}},"id":"e3531304-b49f-4219-8719-b2c708300ea4","name":"Self-Triage Decision","type":"n8n-nodes-base.if","typeVersion":2,"position":[-7520,10080]},{"parameters":{"promptType":"define","text":"=Implement the solution for {{ $json.issueIdentifier }}: {{ $json.issueTitle }}\n\n**Plan from analysis:**\n{{ $('AI Agent - Analyze & Plan').item.json.output }}\n\n**Repository:** {{ $json.repoPath }}\n**Branch:** {{ $json.branchName }}\n\nWrite production-ready code following existing patterns. Ensure all tests will pass.","options":{}},"id":"fdc0c0aa-0aa6-45ef-afed-bb0ef72ffcf4","name":"AI Agent - Implement","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-7216,10080],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node with LM Studio credentials"},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\nconst repoPath = $input.item.json.repoPath;\nlet testCmd = '';\nif (fs.existsSync(path.join(repoPath, 'package.json'))) testCmd = 'npm test';\nelse if (fs.existsSync(path.join(repoPath, 'pytest.ini'))) testCmd = 'pytest';\nelse if (fs.existsSync(path.join(repoPath, 'pubspec.yaml'))) testCmd = 'flutter test';\nelse {\n  console.log('⚠️  No test framework detected - skipping tests');\n  return {...$input.item.json, testsRan: false, testsPassed: true, testOutput: 'No tests configured'};\n}\ntry {\n  console.log(`🧪 Running tests: ${testCmd}`);\n  const output = execSync(testCmd, {cwd: repoPath, encoding: 'utf8', timeout: 600000});\n  console.log('✅ All tests passed');\n  return {...$input.item.json, testsRan: true, testsPassed: true, testOutput: output};\n} catch (error) {\n  console.log('❌ Tests failed');\n  return {...$input.item.json, testsRan: true, testsPassed: false, testOutput: error.stdout || error.message, testError: error.stderr || error.message};\n}"},"id":"9665530d-2a61-4482-8e84-d0197eea7920","name":"Run Tests","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6912,10080]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.testsPassed }}","value2":true}]},"options":{}},"id":"db2caed6-6ed4-430e-8be7-666eb711d1be","name":"Tests Passed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6608,10080]},{"parameters":{"jsCode":"const attemptCount = ($input.item.json.attemptCount || 0) + 1;\nconsole.log(`🔄 Retry attempt ${attemptCount} of ${$input.item.json.maxLocalAttempts}`);\nconst fs = require('fs');\nconst path = require('path');\nconst attemptLog = path.join($input.item.json.issueStoragePath, 'attempts', `attempt-${attemptCount}.log`);\nfs.writeFileSync(attemptLog, `Attempt ${attemptCount}\\n\\nTest Output:\\n${$input.item.json.testOutput}\\n\\nError:\\n${$input.item.json.testError || 'N/A'}`, 'utf8');\nreturn {...$input.item.json, attemptCount};"},"id":"e1b50aae-4f53-4449-a3c9-f663bb47411c","name":"Increment Attempt Counter","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6608,10368]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.attemptCount }}","operation":"smaller","value2":"={{ $json.maxLocalAttempts }}"}]},"options":{}},"id":"c428f96b-e251-4e36-a328-cb9a57a4f742","name":"Max Attempts Reached?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6912,10368]},{"parameters":{"promptType":"define","text":"=Tests failed for {{ $json.issueIdentifier }}. Fix the implementation.\n\n**Attempt:** {{ $json.attemptCount }} of {{ $json.maxLocalAttempts }}\n\n**Test Output:**\n{{ $json.testOutput }}\n\n**Error:**\n{{ $json.testError }}\n\nAnalyze the failures and provide corrected code.","options":{}},"id":"be28d19d-4e87-4629-a6e8-0bc6d797b6f3","name":"AI Agent - Fix Tests","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-7232,10336],"notes":"MANUAL SETUP REQUIRED: Connect OpenAI Chat Model node"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation($issueId: String!, $comment: String!) { commentCreate(input: { issueId: $issueId, body: $comment }) { success } }\", \"variables\": {\"issueId\": \"{{ $json.issue.id }}\", \"comment\": \"⚠️ **AI Agent Escalation**\\n\\nCannot handle autonomously.\\n\\nReason: {{ $json.escalationReason || 'All attempts exhausted' }}\\n\\nAttempts: {{ $json.attemptCount }}\\n\\nLogs: {{ $json.issueStoragePath }}\"}}","options":{}},"id":"9f1b9110-a3da-49b0-86ad-5f419bc62371","name":"Escalate to Human","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8720,10672],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\nconst issueId = $input.item.json.issueIdentifier;\nconst title = $input.item.json.issueTitle;\ntry {\n  execSync('git add .', {cwd: repoPath});\n  const commitMsg = `fix(${issueId}): ${title}\\n\\n🤖 Generated with LMStudio Agentic Dev Tools\\nCo-Authored-By: AI Agent <ai@n8n.local>`;\n  execSync(`git commit -m \"${commitMsg.replace(/\"/g, '\\\\\"')}\"`, {cwd: repoPath});\n  execSync(`git push -u origin ${branchName}`, {cwd: repoPath});\n  const sha = execSync('git rev-parse HEAD', {cwd: repoPath, encoding: 'utf8'}).trim();\n  console.log(`✅ Committed & pushed: ${sha.substring(0,8)}`);\n  return {...$input.item.json, commitSha: sha, commitMessage: commitMsg};\n} catch (error) {\n  throw new Error(`Git commit failed: ${error.message}`);\n}"},"id":"19a8f74d-2e1e-49cf-8bb3-c30e8bb43e8e","name":"Git Commit & Push","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6096,10064]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst repoPath = $input.item.json.repoPath;\nconst branchName = $input.item.json.branchName;\ntry {\n  execSync('git checkout main', {cwd: repoPath});\n  execSync('git pull origin main', {cwd: repoPath});\n  execSync(`git merge ${branchName} --no-edit`, {cwd: repoPath});\n  execSync('git push origin main', {cwd: repoPath});\n  execSync(`git branch -d ${branchName}`, {cwd: repoPath});\n  execSync(`git push origin --delete ${branchName}`, {cwd: repoPath});\n  console.log(`✅ Merged to main and cleaned up branch`);\n  return {...$input.item.json, merged: true};\n} catch (error) {\n  console.log(`⚠️  Merge failed: ${error.message}`);\n  return {...$input.item.json, merged: false, mergeError: error.message};\n}"},"id":"51cf11ff-11e2-4bc2-ad30-1bd1d498b2e3","name":"Merge to Main","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5744,10064]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"query\": \"mutation($issueId: String!, $comment: String!) { commentCreate(input: { issueId: $issueId, body: $comment }) { success } }\", \"variables\": {\"issueId\": \"{{ $json.issue.id }}\", \"comment\": \"✅ **Issue Resolved by AI Agent**\\n\\n**Server:** {{ $json.lmServerName }}\\n**Commit:** {{ $json.commitSha.substring(0,8) }}\\n**Tests:** All passing ✓\\n\\nMerged to main.\"}}","options":{}},"id":"fb7535e4-45ba-4858-97a1-fb1db7d66a98","name":"Update Linear - Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6176,10496],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"jsCode":"const processed = $input.context.nodesExecutedThisRun + 1;\nconst total = $input.item.json.aiIssueCount;\nconst summary = `🎉 **Session Complete**\\n\\nProcessed ${processed} of ${total} issues\\n\\nAll done!`;\nconsole.log(summary);\nreturn {summary, processed, total};"},"id":"f24943df-c086-45cb-9928-dbe545ae38c5","name":"Session Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-6032,10320]},{"parameters":{"message":"={{ $json.summary }}","options":{}},"id":"540c43df-a5fc-4ec7-a240-f0b70665e1c7","name":"Show Results","type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[-5744,10320]},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7808,10224],"id":"16662873-b730-430b-af73-40ec1e40e803","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list","cachedResultName":"qwen/qwen3-vl-8b"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7232,10464],"id":"721f70ed-9bcd-4afa-b298-8ea10599f0aa","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"deepseek-coder-v2-lite-instruct","mode":"list","cachedResultName":"deepseek-coder-v2-lite-instruct"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-7216,10192],"id":"ab43dfbb-ffa8-4f11-9ab0-3a5b4587bba4","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"command":"=cd /mnt/n8n-nas/git_repos && mkdir -p {{  $json.repoName }} && cd {{  $json.repoName }} && git pull origin main || git clone ssh://git@localhost/gtechsd/{{  $json.repoName }}.git . && git rev-parse HEAD }} }} }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-7088,9248],"id":"a67e7df8-e6bc-4c6a-9589-96bfdde58914","name":"Execute a command","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}}],"connections":{"When chat message received":{"main":[[{"node":"Get Linear Projects","type":"main","index":0}]]},"Get Linear Projects":{"main":[[{"node":"Format Project List","type":"main","index":0}]]},"Format Project List":{"main":[[{"node":"Show Projects","type":"main","index":0}]]},"Show Projects":{"main":[[{"node":"Extract Project Selection","type":"main","index":0}]]},"Extract Project Selection":{"main":[[{"node":"Get Project Issues","type":"main","index":0}]]},"Get Project Issues":{"main":[[{"node":"Execute a command","type":"main","index":0}]]},"Create Agent Storage":{"main":[[{"node":"Check Resume State","type":"main","index":0}]]},"Check Resume State":{"main":[[{"node":"Filter AI Issues","type":"main","index":0}]]},"Filter AI Issues":{"main":[[{"node":"Sort by Priority","type":"main","index":0}]]},"Sort by Priority":{"main":[[{"node":"Show Issue Summary","type":"main","index":0}]]},"Show Issue Summary":{"main":[[{"node":"Display Summary & Get Command","type":"main","index":0}]]},"Display Summary & Get Command":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Loop Issues":{"main":[[{"node":"Initialize Issue Context","type":"main","index":0}]]},"Initialize Issue Context":{"main":[[{"node":"Create Git Branch","type":"main","index":0}]]},"Create Git Branch":{"main":[[{"node":"Check Primary LM Server","type":"main","index":0},{"node":"Check Secondary LM Server","type":"main","index":0}]]},"Check Primary LM Server":{"main":[[{"node":"Select Optimal Server","type":"main","index":0}]]},"Select Optimal Server":{"main":[[{"node":"AI Agent - Analyze & Plan","type":"main","index":0}]]},"AI Agent - Analyze & Plan":{"main":[[{"node":"Self-Triage Decision","type":"main","index":0}]]},"Self-Triage Decision":{"main":[[{"node":"AI Agent - Implement","type":"main","index":0}],[{"node":"Escalate to Human","type":"main","index":0}]]},"AI Agent - Implement":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Run Tests":{"main":[[{"node":"Tests Passed?","type":"main","index":0}]]},"Tests Passed?":{"main":[[{"node":"Git Commit & Push","type":"main","index":0}],[{"node":"Increment Attempt Counter","type":"main","index":0}]]},"Increment Attempt Counter":{"main":[[{"node":"Max Attempts Reached?","type":"main","index":0}]]},"Max Attempts Reached?":{"main":[[{"node":"AI Agent - Fix Tests","type":"main","index":0}],[{"node":"Escalate to Human","type":"main","index":0}]]},"AI Agent - Fix Tests":{"main":[[{"node":"Run Tests","type":"main","index":0}]]},"Git Commit & Push":{"main":[[{"node":"Merge to Main","type":"main","index":0}]]},"Merge to Main":{"main":[[{"node":"Update Linear - Success","type":"main","index":0}]]},"Update Linear - Success":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"Escalate to Human":{"main":[[{"node":"Loop Issues","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Analyze & Plan","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent - Fix Tests","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent - Implement","type":"ai_languageModel","index":0}]]},"Execute a command":{"main":[[{"node":"Create Agent Storage","type":"main","index":0}]]}},"authors":"Bill Griffith","name":"Version 03f54a26","description":"","workflowPublishHistory":[{"createdAt":"2025-12-21T08:14:49.401Z","id":16,"workflowId":"PXawd0xn6XxHlNEs","versionId":"03f54a26-6048-41a2-98eb-0e91bd12075c","event":"activated","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3"}]}}