public/workflows/orangepi/qQljMT1sBztxYQVM.json
{"updatedAt":"2026-01-02T17:24:18.222Z","createdAt":"2026-01-02T16:50:06.309Z","id":"qQljMT1sBztxYQVM","name":"Autonomous App Builder (Full Integration)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,400],"id":"manual-trigger","name":"Manual Trigger"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,208],"id":"schedule-trigger","name":"Hourly Check","disabled":true},{"parameters":{"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,608],"id":"chat-trigger","name":"Chat Interface","webhookId":"app-builder-v3"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"linear_work_queue","mode":"id"},"filters":{"conditions":[{"keyName":"status","keyValue":"pending"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[208,400],"id":"fetch-task","name":"Fetch Next Task from Linear Queue"},{"parameters":{"jsCode":"// Check if we have a task to process\nconst items = $input.all();\n\nif (!items || items.length === 0 || !items[0].json.id) {\n  return [{\n    json: {\n      hasTask: false,\n      message: 'No pending tasks in queue'\n    }\n  }];\n}\n\nconst task = items[0].json;\n\nreturn [{\n  json: {\n    hasTask: true,\n    taskId: task.id,\n    projectName: task.project_name || 'NewProject',\n    description: task.description || '',\n    requirements: task.requirements ? JSON.parse(task.requirements) : [],\n    acceptanceCriteria: task.acceptance_criteria ? JSON.parse(task.acceptance_criteria) : [],\n    linearIssueId: task.linear_issue_id,\n    priority: task.priority || 'medium',\n    iteration: 0,\n    maxIterations: 5,\n    qualityThreshold: 85\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,400],"id":"parse-task","name":"Parse Task"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasTask }}","value2":true}]},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[608,400],"id":"has-task","name":"Has Task?"},{"parameters":{"jsCode":"// Detect libraries for Context7 query\nconst task = $json;\nconst text = (task.description + ' ' + JSON.stringify(task.requirements)).toLowerCase();\n\nconst libraryPatterns = [\n  { name: 'react', pattern: /\\breact\\b/i, context7Id: '/facebook/react' },\n  { name: 'fastapi', pattern: /\\bfastapi\\b/i, context7Id: '/tiangolo/fastapi' },\n  { name: 'vite', pattern: /\\bvite\\b/i, context7Id: '/vitejs/vite' },\n  { name: 'material-ui', pattern: /\\bmaterial[-\\s]?ui|\\bmui\\b/i, context7Id: '/mui/material-ui' },\n  { name: 'three.js', pattern: /\\bthree\\.?js|3d|stl\\b/i, context7Id: '/mrdoob/three.js' },\n  { name: 'typescript', pattern: /\\btypescript\\b/i, context7Id: '/microsoft/TypeScript' },\n  { name: 'tailwind', pattern: /\\btailwind/i, context7Id: '/tailwindlabs/tailwindcss' },\n  { name: 'axios', pattern: /\\baxios\\b/i, context7Id: '/axios/axios' },\n  { name: 'express', pattern: /\\bexpress\\b/i, context7Id: '/expressjs/express' },\n  { name: 'next.js', pattern: /\\bnext\\.?js\\b/i, context7Id: '/vercel/next.js' },\n  { name: 'prisma', pattern: /\\bprisma\\b/i, context7Id: '/prisma/prisma' },\n  { name: 'stripe', pattern: /\\bstripe\\b/i, context7Id: '/stripe/stripe-node' }\n];\n\nconst detectedLibraries = libraryPatterns.filter(lib => lib.pattern.test(text));\n\nreturn [{\n  json: {\n    ...task,\n    detectedLibraries: detectedLibraries.map(l => l.name),\n    libraryIds: detectedLibraries.map(l => l.context7Id)\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,304],"id":"detect-libs","name":"Detect Libraries for Context7"},{"parameters":{"method":"POST","url":"http://localhost:3000/mcp/context7","sendBody":true,"bodyParameters":{"parameters":[{"name":"action","value":"query-docs"},{"name":"libraryId","value":"={{ $json.libraryIds[0] || '' }}"},{"name":"query","value":"={{ 'How to ' + $json.description.substring(0, 100) }}"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,304],"id":"context7-http","name":"Query Context7 (HTTP)","notes":"Alternative to MCP - calls Context7 via HTTP bridge"},{"parameters":{"jsCode":"// Merge Context7 docs with task data\nconst task = $('Detect Libraries for Context7').first().json;\nlet docs = '';\n\ntry {\n  const context7Response = $('Query Context7 (HTTP)').first().json;\n  if (context7Response && context7Response.content) {\n    docs = context7Response.content;\n  }\n} catch (e) {\n  // Context7 not available, continue without docs\n  docs = '';\n}\n\nreturn [{\n  json: {\n    ...task,\n    context7Docs: docs,\n    hasDocumentation: docs.length > 0\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,304],"id":"merge-docs","name":"Merge Documentation"},{"parameters":{"jsCode":"// Prepare comprehensive build prompt\nconst task = $json;\n\nconst buildPrompt = `\n=== PROJECT BUILD REQUEST ===\n\nPROJECT: ${task.projectName}\nITERATION: ${task.iteration + 1} of ${task.maxIterations}\n\n=== DESCRIPTION ===\n${task.description}\n\n=== REQUIREMENTS ===\n${task.requirements.map((r, i) => `${i+1}. ${r}`).join('\\n')}\n\n=== ACCEPTANCE CRITERIA ===\n${task.acceptanceCriteria.map((c, i) => `${i+1}. ${c}`).join('\\n')}\n\n${task.previousFeedback ? `\n=== FEEDBACK FROM PREVIOUS ITERATION ===\n${task.previousFeedback}\n` : ''}\n\n${task.context7Docs ? `\n=== OFFICIAL DOCUMENTATION (Context7) ===\n${task.context7Docs.substring(0, 4000)}\n` : ''}\n\n=== OUTPUT FORMAT ===\n\nReturn ONLY valid JSON with this structure:\n{\n  \"status\": \"completed\",\n  \"filesCreated\": [\n    {\n      \"path\": \"src/components/Example.tsx\",\n      \"content\": \"// COMPLETE file content here\",\n      \"purpose\": \"Main component\"\n    }\n  ],\n  \"setupCommands\": [\"npm install\", \"npm run dev\"],\n  \"qualityChecklist\": {\n    \"responsive\": true,\n    \"errorHandling\": true,\n    \"loadingStates\": true,\n    \"formValidation\": true,\n    \"accessibleUI\": true\n  },\n  \"testInstructions\": \"Steps to verify the implementation\"\n}\n\nDELIVER PRODUCTION-QUALITY CODE. ALL features must be FULLY IMPLEMENTED.\n`;\n\nreturn [{\n  json: {\n    ...task,\n    buildPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,304],"id":"prepare-prompt","name":"Prepare Build Prompt"},{"parameters":{"promptType":"define","text":"={{ $json.buildPrompt }}","options":{"systemMessage":"You are a PRODUCTION-QUALITY full-stack developer. Your code must be:\n\n1. COMPLETE - No TODOs, no stubs, no placeholders\n2. POLISHED - Professional UI, proper styling, responsive\n3. FUNCTIONAL - All features work, error handling included\n4. TESTED - Add data-testid attributes for Playwright testing\n5. TYPED - Full TypeScript types for all interfaces\n\nCRITICAL RULES:\n- File uploads MUST actually work (use FormData, proper handlers)\n- Forms MUST validate and show errors\n- Loading states MUST be shown during API calls\n- Mobile responsive is MANDATORY\n- Return ONLY valid JSON - no markdown, no explanations outside JSON\n\nYour output will be tested with Playwright. Failed tests mean iteration.","maxIterations":20}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1536,-16],"id":"builder-agent","name":"Production Builder"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list"},"builtInTools":{},"options":{"maxTokens":16000,"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1600,528],"id":"beast-llm","name":"BEAST (GPT-OSS-20b)","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-vl-8b","mode":"list"},"builtInTools":{},"options":{"maxTokens":16000,"timeout":600000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1600,704],"id":"bedroom-llm","name":"BEDROOM (Qwen3-VL-8b)","credentials":{"openAiApi":{"id":"FYFVsKzjVFK0h0V2","name":"Bedroom LMStudio"}},"disabled":true},{"parameters":{"jsCode":"// Parse and validate builder output\nconst task = $('Prepare Build Prompt').first().json;\nconst rawOutput = $json.output || $json.text || '';\n\nlet parsed;\ntry {\n  // Extract JSON from response\n  const jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/m);\n  if (!jsonMatch) {\n    throw new Error('No JSON found in response');\n  }\n  \n  parsed = JSON.parse(jsonMatch[0]);\n  \n  // Validate structure\n  if (!parsed.filesCreated || !Array.isArray(parsed.filesCreated)) {\n    throw new Error('Missing filesCreated array');\n  }\n  \n  if (parsed.filesCreated.length === 0) {\n    throw new Error('No files generated');\n  }\n  \n  // Validate each file has content\n  for (const file of parsed.filesCreated) {\n    if (!file.path || !file.content) {\n      throw new Error(`Invalid file entry: ${JSON.stringify(file).substring(0, 100)}`);\n    }\n    if (file.content.includes('TODO') || file.content.includes('// implement')) {\n      parsed._hasStubs = true;\n    }\n  }\n  \n} catch (e) {\n  parsed = {\n    status: 'error',\n    error: e.message,\n    rawOutput: rawOutput.substring(0, 1000),\n    filesCreated: []\n  };\n}\n\nreturn [{\n  json: {\n    ...task,\n    builderOutput: parsed,\n    filesToWrite: parsed.filesCreated || [],\n    hasError: parsed.status === 'error',\n    iteration: task.iteration + 1\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,304],"id":"parse-output","name":"Parse & Validate Output"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasError }}","value2":false}]},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,304],"id":"output-valid","name":"Output Valid?"},{"parameters":{"jsCode":"// Write files to project directory\nconst fs = require('fs');\nconst path = require('path');\n\nconst task = $json;\nconst projectPath = `/mnt/n8n-nas/generated_apps/${task.projectName}`;\nconst files = task.filesToWrite || [];\n\n// Clean and create project directory\nfs.rmSync(projectPath, { recursive: true, force: true });\nfs.mkdirSync(projectPath, { recursive: true });\n\nconst results = { written: [], errors: [] };\n\nfor (const file of files) {\n  try {\n    const fullPath = path.join(projectPath, file.path);\n    fs.mkdirSync(path.dirname(fullPath), { recursive: true });\n    fs.writeFileSync(fullPath, file.content, 'utf8');\n    results.written.push(file.path);\n  } catch (e) {\n    results.errors.push({ path: file.path, error: e.message });\n  }\n}\n\n// Create package.json if not exists\nconst pkgPath = path.join(projectPath, 'package.json');\nif (!fs.existsSync(pkgPath)) {\n  const pkg = {\n    name: task.projectName.toLowerCase().replace(/[^a-z0-9-]/g, '-'),\n    version: '1.0.0',\n    type: 'module',\n    scripts: {\n      dev: 'vite',\n      build: 'vite build',\n      preview: 'vite preview'\n    },\n    dependencies: {\n      'react': '^18.2.0',\n      'react-dom': '^18.2.0'\n    },\n    devDependencies: {\n      '@vitejs/plugin-react': '^4.0.0',\n      'vite': '^5.0.0',\n      'typescript': '^5.0.0'\n    }\n  };\n  fs.writeFileSync(pkgPath, JSON.stringify(pkg, null, 2));\n  results.written.push('package.json');\n}\n\nreturn [{\n  json: {\n    ...task,\n    projectPath,\n    filesWritten: results.written,\n    writeErrors: results.errors,\n    readyForBuild: results.errors.length === 0\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,208],"id":"write-files","name":"Write Project Files"},{"parameters":{"command":"=cd {{ $json.projectPath }} && npm install --legacy-peer-deps 2>&1","cwd":"={{ $json.projectPath }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2400,208],"id":"npm-install","name":"npm install","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.projectPath }} && (npm run build 2>&1 || echo 'BUILD_ERROR')","cwd":"={{ $json.projectPath }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2608,208],"id":"npm-build","name":"npm build","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"jsCode":"// Evaluate build result and run Playwright tests\nconst task = $('Write Project Files').first().json;\nconst buildOutput = $json.stdout || '';\n\nconst buildFailed = buildOutput.includes('BUILD_ERROR') || \n                    buildOutput.includes('error TS') ||\n                    buildOutput.includes('SyntaxError');\n\nlet qualityScore = 0;\nconst checks = [];\n\n// Check 1: Build succeeds\nif (!buildFailed) {\n  qualityScore += 30;\n  checks.push('Build succeeds');\n} else {\n  checks.push('BUILD FAILED: ' + buildOutput.substring(0, 200));\n}\n\n// Check 2: Files were written\nif (task.filesWritten.length >= 3) {\n  qualityScore += 20;\n  checks.push(`${task.filesWritten.length} files written`);\n}\n\n// Check 3: Has main entry point\nconst hasEntry = task.filesWritten.some(f => \n  f.includes('main.') || f.includes('index.') || f.includes('App.')\n);\nif (hasEntry) {\n  qualityScore += 20;\n  checks.push('Has entry point');\n}\n\n// Check 4: Has components\nconst hasComponents = task.filesWritten.some(f => f.includes('/components/'));\nif (hasComponents) {\n  qualityScore += 15;\n  checks.push('Has component structure');\n}\n\n// Check 5: Has styling\nconst hasStyling = task.filesWritten.some(f => \n  f.includes('.css') || f.includes('styled') || f.includes('theme')\n);\nif (hasStyling) {\n  qualityScore += 15;\n  checks.push('Has styling');\n}\n\nconst passesThreshold = qualityScore >= task.qualityThreshold;\nconst canIterate = task.iteration < task.maxIterations;\n\nreturn [{\n  json: {\n    ...task,\n    buildOutput: buildOutput.substring(0, 2000),\n    buildFailed,\n    qualityScore,\n    qualityChecks: checks,\n    passesThreshold,\n    canIterate,\n    needsIteration: !passesThreshold && canIterate\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,208],"id":"evaluate-quality","name":"Evaluate Quality"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.needsIteration }}","value2":true}]},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[3008,208],"id":"check-iteration","name":"Needs Iteration?"},{"parameters":{"jsCode":"// Prepare feedback for next iteration\nconst task = $json;\n\nreturn [{\n  json: {\n    taskId: task.taskId,\n    projectName: task.projectName,\n    description: task.description,\n    requirements: task.requirements,\n    acceptanceCriteria: task.acceptanceCriteria,\n    context7Docs: task.context7Docs,\n    detectedLibraries: task.detectedLibraries,\n    iteration: task.iteration,\n    maxIterations: task.maxIterations,\n    qualityThreshold: task.qualityThreshold,\n    previousFeedback: `\n=== ITERATION ${task.iteration} FEEDBACK ===\n\nQuality Score: ${task.qualityScore}% (need ${task.qualityThreshold}%)\n\nCHECKS:\n${task.qualityChecks.map(c => '- ' + c).join('\\n')}\n\n${task.buildFailed ? `\nBUILD ERRORS:\n${task.buildOutput}\n\nFIX THESE ERRORS AND RETRY.\n` : 'Build succeeded but quality score too low.'}\n\nIMPROVEMENTS NEEDED:\n- Ensure all imports are correct\n- Add proper TypeScript types\n- Include all required dependencies\n- Make sure the app actually runs\n`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3200,112],"id":"prepare-feedback","name":"Prepare Iteration Feedback"},{"parameters":{"jsCode":"// Success! Update task status and prepare for commit\nconst task = $json;\n\nreturn [{\n  json: {\n    status: 'completed',\n    taskId: task.taskId,\n    projectName: task.projectName,\n    projectPath: task.projectPath,\n    iterations: task.iteration,\n    qualityScore: task.qualityScore,\n    qualityChecks: task.qualityChecks,\n    filesWritten: task.filesWritten,\n    commitMessage: `feat(${task.projectName}): Initial build - Quality ${task.qualityScore}%`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3200,304],"id":"success-prepare","name":"Prepare Success"},{"parameters":{"command":"=cd {{ $json.projectPath }} && git init && git add -A && git commit -m \"{{ $json.commitMessage }}\" 2>&1","cwd":"={{ $json.projectPath }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3408,304],"id":"git-commit","name":"Git Commit","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.projectPath }} && git remote add origin git@192.168.245.11:apps/{{ $json.projectName }}.git 2>&1 || true && git push -u origin main --force 2>&1 || true","cwd":"={{ $json.projectPath }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3600,304],"id":"git-push","name":"Git Push to GitLab","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"linear_work_queue","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"status":"completed","completed_at":"={{ new Date().toISOString() }}","quality_score":"={{ $json.qualityScore }}","iterations":"={{ $json.iterations }}"}},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[3808,304],"id":"update-queue","name":"Update Queue Status"},{"parameters":{"jsCode":"// Log completion to work log\nconst fs = require('fs');\nconst task = $json;\n\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  taskId: task.taskId,\n  projectName: task.projectName,\n  projectPath: task.projectPath,\n  status: 'completed',\n  qualityScore: task.qualityScore,\n  iterations: task.iterations,\n  filesWritten: task.filesWritten.length,\n  qualityChecks: task.qualityChecks\n};\n\n// Append to log file\nconst logPath = '/mnt/n8n-nas/app_builder_log.json';\nlet log = [];\ntry {\n  if (fs.existsSync(logPath)) {\n    log = JSON.parse(fs.readFileSync(logPath, 'utf8'));\n  }\n} catch (e) { log = []; }\n\nlog.push(logEntry);\nif (log.length > 500) log = log.slice(-500);\n\nfs.writeFileSync(logPath, JSON.stringify(log, null, 2));\n\nreturn [{ json: { ...task, logged: true } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,304],"id":"log-completion","name":"Log Completion"},{"parameters":{"message":"=Build Complete!\n\nProject: {{ $json.projectName }}\nPath: {{ $json.projectPath }}\nQuality: {{ $json.qualityScore }}%\nIterations: {{ $json.iterations }}\n\nFiles: {{ $json.filesWritten.length }}\n\nPushed to GitLab.","waitUserReply":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[4208,304],"id":"respond-success","name":"Respond: Success"},{"parameters":{"message":"No tasks in queue.","waitUserReply":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[608,608],"id":"respond-no-task","name":"Respond: No Task"},{"parameters":{"jsCode":"// Handle parse/validation errors - retry with different approach\nconst task = $('Parse & Validate Output').first().json;\n\nreturn [{\n  json: {\n    ...task,\n    previousFeedback: `\nERROR IN PREVIOUS OUTPUT:\n${task.builderOutput.error}\n\nYour response could not be parsed. Please return ONLY valid JSON.\n\nDO NOT include any text before or after the JSON.\nDO NOT use markdown code blocks.\nJust return the raw JSON object.\n`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,400],"id":"handle-error","name":"Handle Parse Error"}],"connections":{"Manual Trigger":{"main":[[{"node":"Fetch Next Task from Linear Queue","type":"main","index":0}]]},"Hourly Check":{"main":[[{"node":"Fetch Next Task from Linear Queue","type":"main","index":0}]]},"Chat Interface":{"main":[[{"node":"Fetch Next Task from Linear Queue","type":"main","index":0}]]},"Fetch Next Task from Linear Queue":{"main":[[{"node":"Parse Task","type":"main","index":0}]]},"Parse Task":{"main":[[{"node":"Has Task?","type":"main","index":0}]]},"Has Task?":{"main":[[{"node":"Detect Libraries for Context7","type":"main","index":0}],[{"node":"Respond: No Task","type":"main","index":0}]]},"Detect Libraries for Context7":{"main":[[{"node":"Query Context7 (HTTP)","type":"main","index":0}]]},"Query Context7 (HTTP)":{"main":[[{"node":"Merge Documentation","type":"main","index":0}]]},"Merge Documentation":{"main":[[{"node":"Prepare Build Prompt","type":"main","index":0}]]},"Prepare Build Prompt":{"main":[[{"node":"Production Builder","type":"main","index":0}]]},"BEAST (GPT-OSS-20b)":{"ai_languageModel":[[{"node":"Production Builder","type":"ai_languageModel","index":0}]]},"Production Builder":{"main":[[{"node":"Parse & Validate Output","type":"main","index":0}]]},"Parse & Validate Output":{"main":[[{"node":"Output Valid?","type":"main","index":0}]]},"Output Valid?":{"main":[[{"node":"Write Project Files","type":"main","index":0}],[{"node":"Handle Parse Error","type":"main","index":0}]]},"Handle Parse Error":{"main":[[{"node":"Prepare Build Prompt","type":"main","index":0}]]},"Write Project Files":{"main":[[{"node":"npm install","type":"main","index":0}]]},"npm install":{"main":[[{"node":"npm build","type":"main","index":0}]]},"npm build":{"main":[[{"node":"Evaluate Quality","type":"main","index":0}]]},"Evaluate Quality":{"main":[[{"node":"Needs Iteration?","type":"main","index":0}]]},"Needs Iteration?":{"main":[[{"node":"Prepare Iteration Feedback","type":"main","index":0}],[{"node":"Prepare Success","type":"main","index":0}]]},"Prepare Iteration Feedback":{"main":[[{"node":"Prepare Build Prompt","type":"main","index":0}]]},"Prepare Success":{"main":[[{"node":"Git Commit","type":"main","index":0}]]},"Git Commit":{"main":[[{"node":"Git Push to GitLab","type":"main","index":0}]]},"Git Push to GitLab":{"main":[[{"node":"Update Queue Status","type":"main","index":0}]]},"Update Queue Status":{"main":[[{"node":"Log Completion","type":"main","index":0}]]},"Log Completion":{"main":[[{"node":"Respond: Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"5d62c13a-46b3-4d49-852b-9a79f778be86","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-02T16:50:06.318Z","createdAt":"2026-01-02T16:50:06.318Z","role":"workflow:owner","workflowId":"qQljMT1sBztxYQVM","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-01T23:41:10.347Z","createdAt":"2026-01-01T23:41:10.347Z","id":"59v2I1DDZaqntzwf","name":"AI GENERATED"},{"updatedAt":"2026-01-01T23:41:25.266Z","createdAt":"2026-01-01T23:41:25.266Z","id":"EzHxVrQZLMqCu8MI","name":"NOT TESTED"},{"updatedAt":"2026-01-01T23:47:23.414Z","createdAt":"2026-01-01T23:47:23.414Z","id":"e9wyuzgPFWT6vuEp","name":"HAS ISSUES"},{"updatedAt":"2026-01-01T23:44:48.788Z","createdAt":"2026-01-01T23:44:48.788Z","id":"l6FVWknceeDeKEoz","name":"SANDBOX"}],"activeVersion":null}