public/workflows/orangepi/quality-first-app-builder.json
{"updatedAt":"2026-01-08T03:53:36.191Z","createdAt":"2026-01-08T03:53:36.191Z","id":"suVV95oRC745LDrZ","name":"Autonomous App Builder (Quality-First)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,400],"id":"manual-trigger","name":"Manual Trigger"},{"parameters":{"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,600],"id":"chat-trigger","name":"When chat message received","webhookId":"quality-app-builder"},{"parameters":{"jsCode":"// Parse build request\nconst input = $json.chatInput || $json.input || 'FreshPrintsWeb';\n\n// Check for existing task in linear_work_queue or use direct input\nconst projectSpec = {\n  projectName: input.match(/build\\s+([\\w-]+)/i)?.[1] || input,\n  timestamp: new Date().toISOString(),\n  qualityTarget: 'production',\n  maxIterations: 5\n};\n\nreturn [{ json: projectSpec }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,500],"id":"parse-request","name":"Parse Build Request"},{"parameters":{"jsCode":"// Fetch project spec from Linear work queue or database\nconst projectName = $json.projectName;\n\n// This would query the linear_work_queue table\n// For now, we'll create a comprehensive spec structure\n\nreturn [{\n  json: {\n    projectName: projectName,\n    spec: {\n      title: projectName,\n      description: 'Full-stack web application',\n      requirements: [],\n      acceptanceCriteria: []\n    },\n    iteration: 0,\n    maxIterations: 5,\n    qualityThreshold: 85,\n    status: 'starting'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,500],"id":"load-spec","name":"Load Project Spec"},{"parameters":{"promptType":"define","text":"={{ $json.buildPrompt }}","options":{"systemMessage":"You are an ELITE FULL-STACK DEVELOPER building PRODUCTION-QUALITY applications.\n\n=== QUALITY REQUIREMENTS (MANDATORY) ===\n\nYou MUST deliver code that is:\n\n1. VISUALLY POLISHED\n   - Professional UI with consistent spacing, typography, colors\n   - Responsive design that works on mobile, tablet, desktop\n   - Loading states, empty states, error states for ALL interactions\n   - Smooth animations and transitions\n   - Proper form validation with inline error messages\n   - Accessible (ARIA labels, keyboard navigation)\n\n2. FULLY FUNCTIONAL\n   - ALL features must work completely, not just stub implementations\n   - File uploads MUST actually upload and process files\n   - API calls MUST handle success, loading, and error states\n   - Forms MUST validate input and show clear feedback\n   - Navigation MUST work correctly without broken links\n\n3. PRODUCTION-READY\n   - Proper error handling throughout\n   - No console.log statements in production code\n   - Environment variables for configuration\n   - Clean, maintainable code structure\n   - TypeScript types for all interfaces\n\n4. TESTED\n   - Your code WILL be tested with Playwright\n   - Ensure all interactive elements have data-testid attributes\n   - Ensure forms can be filled and submitted\n   - Ensure file upload inputs work correctly\n   - Ensure navigation between pages works\n\n=== OUTPUT FORMAT ===\n\nReturn a JSON object with:\n{\n  \"status\": \"completed\" | \"needs_iteration\",\n  \"filesCreated\": [\n    {\n      \"path\": \"relative/path/to/file.tsx\",\n      \"content\": \"... COMPLETE file content ...\",\n      \"purpose\": \"Brief description\"\n    }\n  ],\n  \"filesModified\": [...],\n  \"qualityChecklist\": {\n    \"responsive\": true/false,\n    \"errorHandling\": true/false,\n    \"loadingStates\": true/false,\n    \"formValidation\": true/false,\n    \"fileUploadWorks\": true/false,\n    \"navigationWorks\": true/false\n  },\n  \"testInstructions\": \"Steps to verify the implementation\",\n  \"knownIssues\": [\"Any issues that need follow-up\"]\n}\n\n=== CRITICAL RULES ===\n\n1. NEVER return stub code like 'TODO: implement'\n2. NEVER skip error handling\n3. NEVER hardcode values that should be configurable\n4. ALWAYS include complete CSS/styling\n5. ALWAYS implement full file upload functionality\n6. ALWAYS test your logic mentally before outputting\n\nIf you cannot complete a feature, explain WHY and what's needed.\n\n=== START BUILDING ===\n\nBuild the following project to PRODUCTION QUALITY:","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1100,500],"id":"builder-agent","name":"Production Builder Agent"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list"},"options":{"baseURL":"http://192.168.245.155:1234/v1","timeout":300000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1100,720],"id":"beast-model","name":"BEAST LLM (GPT-OSS-20b)","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"jsCode":"// Prepare comprehensive build prompt with Context7 docs\nconst spec = $json;\n\nlet context7Docs = '';\nconst docs = $('Query Context7 Docs')?.first()?.json;\nif (docs && docs.documentation) {\n  context7Docs = `\n\n=== OFFICIAL DOCUMENTATION ===\n${docs.documentation}\n=== END DOCUMENTATION ===\n`;\n}\n\nconst buildPrompt = `\nPROJECT: ${spec.projectName}\nITERATION: ${spec.iteration + 1} of ${spec.maxIterations}\n${spec.previousFeedback ? `\nPREVIOUS FEEDBACK TO ADDRESS:\n${spec.previousFeedback}\n` : ''}\n\nSPECIFICATION:\n${JSON.stringify(spec.spec, null, 2)}\n${context7Docs}\n\nDELIVER COMPLETE, PRODUCTION-QUALITY CODE.\n`;\n\nreturn [{\n  json: {\n    ...spec,\n    buildPrompt,\n    context7Docs\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[900,500],"id":"prepare-prompt","name":"Prepare Build Prompt"},{"parameters":{"jsCode":"// Parse builder output and extract files\nconst builderOutput = $json.output || $json.text || '{}';\nlet parsed;\n\ntry {\n  // Try to extract JSON from the response\n  const jsonMatch = builderOutput.match(/\\{[\\s\\S]*\\}/m);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    parsed = { status: 'error', error: 'No JSON found in response' };\n  }\n} catch (e) {\n  parsed = { status: 'error', error: e.message, raw: builderOutput.substring(0, 500) };\n}\n\nconst spec = $('Prepare Build Prompt').first().json;\n\nreturn [{\n  json: {\n    ...spec,\n    builderOutput: parsed,\n    filesToWrite: parsed.filesCreated || [],\n    qualityChecklist: parsed.qualityChecklist || {},\n    iteration: spec.iteration + 1\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,500],"id":"parse-output","name":"Parse Builder Output"},{"parameters":{"jsCode":"// Write generated files to disk\nconst fs = require('fs');\nconst path = require('path');\n\nconst spec = $json;\nconst projectPath = `/tmp/${spec.projectName}`;\nconst files = spec.filesToWrite || [];\n\n// Ensure project directory exists\nfs.mkdirSync(projectPath, { recursive: true });\n\nlet filesWritten = [];\nlet errors = [];\n\nfor (const file of files) {\n  try {\n    const fullPath = path.join(projectPath, file.path);\n    const dir = path.dirname(fullPath);\n    \n    // Create directory if needed\n    fs.mkdirSync(dir, { recursive: true });\n    \n    // Write file\n    fs.writeFileSync(fullPath, file.content, 'utf8');\n    filesWritten.push(file.path);\n  } catch (e) {\n    errors.push({ path: file.path, error: e.message });\n  }\n}\n\nreturn [{\n  json: {\n    ...spec,\n    projectPath,\n    filesWritten,\n    writeErrors: errors,\n    readyForTesting: errors.length === 0 && filesWritten.length > 0\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,500],"id":"write-files","name":"Write Files to Disk"},{"parameters":{"command":"=cd {{ $json.projectPath }} && npm install 2>&1 || true","cwd":"={{ $json.projectPath }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1700,500],"id":"install-deps","name":"Install Dependencies","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"command":"=cd {{ $json.projectPath }} && npm run build 2>&1 || npm run dev -- --host &","cwd":"={{ $json.projectPath }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1900,500],"id":"start-dev-server","name":"Start Dev Server","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"jsCode":"// Generate Playwright test script based on the project\nconst spec = $json;\nconst projectName = spec.projectName;\nconst projectPath = spec.projectPath;\n\nconst testScript = `\nconst { chromium } = require('playwright');\n\nasync function runTests() {\n  const browser = await chromium.launch({ headless: true });\n  const page = await browser.newPage();\n  const results = { passed: [], failed: [], screenshots: [] };\n  \n  try {\n    // Test 1: Page loads successfully\n    await page.goto('http://localhost:5173', { waitUntil: 'networkidle', timeout: 30000 });\n    results.passed.push('Page loads');\n    \n    // Take screenshot\n    await page.screenshot({ path: '${projectPath}/test-screenshot-home.png' });\n    results.screenshots.push('test-screenshot-home.png');\n    \n    // Test 2: Check for main content\n    const title = await page.title();\n    if (title) {\n      results.passed.push('Title present: ' + title);\n    } else {\n      results.failed.push('No page title');\n    }\n    \n    // Test 3: Check for navigation\n    const navLinks = await page.locator('nav a, [role=\"navigation\"] a, header a').count();\n    if (navLinks > 0) {\n      results.passed.push('Navigation links found: ' + navLinks);\n    } else {\n      results.failed.push('No navigation links found');\n    }\n    \n    // Test 4: Check for forms\n    const forms = await page.locator('form').count();\n    if (forms > 0) {\n      results.passed.push('Forms found: ' + forms);\n      \n      // Test form interaction\n      const firstInput = page.locator('input').first();\n      if (await firstInput.isVisible()) {\n        await firstInput.fill('test@example.com');\n        results.passed.push('Form input works');\n      }\n    }\n    \n    // Test 5: Check for file upload\n    const fileInputs = await page.locator('input[type=\"file\"]').count();\n    if (fileInputs > 0) {\n      results.passed.push('File upload inputs found: ' + fileInputs);\n    }\n    \n    // Test 6: Check for buttons\n    const buttons = await page.locator('button, input[type=\"submit\"]').count();\n    if (buttons > 0) {\n      results.passed.push('Buttons found: ' + buttons);\n    } else {\n      results.failed.push('No interactive buttons found');\n    }\n    \n    // Test 7: Check for responsive elements\n    await page.setViewportSize({ width: 375, height: 667 });\n    await page.screenshot({ path: '${projectPath}/test-screenshot-mobile.png' });\n    results.screenshots.push('test-screenshot-mobile.png');\n    results.passed.push('Mobile viewport renders');\n    \n    // Test 8: Check for error states (no console errors)\n    const consoleErrors = [];\n    page.on('console', msg => {\n      if (msg.type() === 'error') consoleErrors.push(msg.text());\n    });\n    \n    // Navigate around if there are links\n    const links = page.locator('a[href^=\"/\"]');\n    const linkCount = await links.count();\n    for (let i = 0; i < Math.min(linkCount, 3); i++) {\n      try {\n        await links.nth(i).click();\n        await page.waitForLoadState('networkidle', { timeout: 5000 });\n        results.passed.push('Navigation to internal page works');\n      } catch (e) {\n        // Ignore navigation errors\n      }\n    }\n    \n  } catch (error) {\n    results.failed.push('Test error: ' + error.message);\n  } finally {\n    await browser.close();\n  }\n  \n  // Calculate quality score\n  const total = results.passed.length + results.failed.length;\n  const score = total > 0 ? Math.round((results.passed.length / total) * 100) : 0;\n  results.qualityScore = score;\n  results.passesThreshold = score >= 85;\n  \n  console.log(JSON.stringify(results, null, 2));\n  return results;\n}\n\nrunTests().then(r => process.exit(r.passesThreshold ? 0 : 1));\n`;\n\nreturn [{\n  json: {\n    ...spec,\n    testScript,\n    testScriptPath: `${projectPath}/playwright-test.js`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,500],"id":"generate-test","name":"Generate Playwright Test"},{"parameters":{"command":"=echo '{{ $json.testScript.replace(/'/g, \"'\\\\''\") }}' > {{ $json.testScriptPath }} && cd {{ $json.projectPath }} && node playwright-test.js 2>&1","cwd":"={{ $json.projectPath }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[2300,500],"id":"run-playwright","name":"Run Playwright Tests","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"jsCode":"// Parse Playwright test results\nconst spec = $json;\nconst testOutput = $('Run Playwright Tests').first().json.stdout || '{}';\n\nlet testResults;\ntry {\n  testResults = JSON.parse(testOutput);\n} catch (e) {\n  testResults = {\n    passed: [],\n    failed: ['Could not parse test results: ' + e.message],\n    qualityScore: 0,\n    passesThreshold: false\n  };\n}\n\nconst passesQuality = testResults.qualityScore >= spec.qualityThreshold;\nconst canIterate = spec.iteration < spec.maxIterations;\n\nreturn [{\n  json: {\n    ...spec,\n    testResults,\n    passesQuality,\n    canIterate,\n    needsIteration: !passesQuality && canIterate,\n    feedback: passesQuality \n      ? 'Quality threshold met!' \n      : `Quality score: ${testResults.qualityScore}%. Issues: ${testResults.failed.join(', ')}`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,500],"id":"evaluate-quality","name":"Evaluate Quality"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.needsIteration }}","value2":true}]}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[2700,500],"id":"needs-iteration","name":"Needs Iteration?"},{"parameters":{"jsCode":"// Prepare feedback for next iteration\nconst spec = $json;\n\nreturn [{\n  json: {\n    projectName: spec.projectName,\n    spec: spec.spec,\n    iteration: spec.iteration,\n    maxIterations: spec.maxIterations,\n    qualityThreshold: spec.qualityThreshold,\n    previousFeedback: `\nPLAYWRIGHT TEST RESULTS (Iteration ${spec.iteration}):\n\nPASSED (${spec.testResults.passed.length}):\n${spec.testResults.passed.map(p => '- ' + p).join('\\n')}\n\nFAILED (${spec.testResults.failed.length}):\n${spec.testResults.failed.map(f => '- ' + f).join('\\n')}\n\nQUALITY SCORE: ${spec.testResults.qualityScore}% (need ${spec.qualityThreshold}%)\n\nFIX THESE ISSUES IN THE NEXT ITERATION.\n`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,400],"id":"prepare-feedback","name":"Prepare Iteration Feedback"},{"parameters":{"jsCode":"// Final success - commit to GitLab\nconst spec = $json;\n\nreturn [{\n  json: {\n    status: 'success',\n    projectName: spec.projectName,\n    projectPath: spec.projectPath,\n    iterations: spec.iteration,\n    qualityScore: spec.testResults.qualityScore,\n    testsPassed: spec.testResults.passed,\n    message: `Project ${spec.projectName} built successfully after ${spec.iteration} iteration(s). Quality score: ${spec.testResults.qualityScore}%`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,600],"id":"success-output","name":"Success: Commit to GitLab"},{"parameters":{"command":"=cd {{ $json.projectPath }} && git init && git add . && git commit -m \"feat: Initial project build - Quality score {{ $json.qualityScore }}%\" && git remote add origin git@192.168.245.11:freshprints/{{ $json.projectName }}.git && git push -u origin main 2>&1 || true","cwd":"={{ $json.projectPath }}"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3100,600],"id":"git-commit","name":"Git Commit & Push","credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}}},{"parameters":{"message":"=Build Complete!\n\nProject: {{ $json.projectName }}\nQuality Score: {{ $json.qualityScore }}%\nIterations: {{ $json.iterations }}\n\nTests Passed:\n{{ $json.testsPassed.join('\\n') }}\n\nProject pushed to GitLab.","waitUserReply":false},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[3300,600],"id":"final-response","name":"Send Success Response"},{"parameters":{"jsCode":"// Query Context7 MCP for relevant documentation\nconst spec = $json;\n\n// Detect libraries from spec\nconst text = JSON.stringify(spec.spec).toLowerCase();\nconst libraries = [];\n\nif (text.includes('react')) libraries.push('react');\nif (text.includes('fastapi')) libraries.push('fastapi');\nif (text.includes('vite')) libraries.push('vite');\nif (text.includes('material') || text.includes('mui')) libraries.push('@mui/material');\nif (text.includes('three') || text.includes('stl')) libraries.push('three.js');\nif (text.includes('typescript')) libraries.push('typescript');\n\nreturn [{\n  json: {\n    ...spec,\n    detectedLibraries: libraries,\n    needsDocs: libraries.length > 0\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,500],"id":"detect-libs","name":"Detect Libraries"},{"parameters":{"jsCode":"// This would call the Context7 MCP tool\n// For now, return placeholder - actual integration uses MCP\nconst spec = $json;\n\n// Placeholder for Context7 MCP integration\n// In production, this would call:\n// mcp__context7__resolve-library-id and mcp__context7__query-docs\n\nreturn [{\n  json: {\n    ...spec,\n    documentation: spec.detectedLibraries.length > 0 \n      ? 'Context7 documentation would be retrieved here for: ' + spec.detectedLibraries.join(', ')\n      : null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,700],"id":"context7-query","name":"Query Context7 Docs"}],"connections":{"Manual Trigger":{"main":[[{"node":"Parse Build Request","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Parse Build Request","type":"main","index":0}]]},"Parse Build Request":{"main":[[{"node":"Load Project Spec","type":"main","index":0}]]},"Load Project Spec":{"main":[[{"node":"Detect Libraries","type":"main","index":0}]]},"Detect Libraries":{"main":[[{"node":"Query Context7 Docs","type":"main","index":0}],[{"node":"Prepare Build Prompt","type":"main","index":0}]]},"Query Context7 Docs":{"main":[[{"node":"Prepare Build Prompt","type":"main","index":0}]]},"Prepare Build Prompt":{"main":[[{"node":"Production Builder Agent","type":"main","index":0}]]},"BEAST LLM (GPT-OSS-20b)":{"ai_languageModel":[[{"node":"Production Builder Agent","type":"ai_languageModel","index":0}]]},"Production Builder Agent":{"main":[[{"node":"Parse Builder Output","type":"main","index":0}]]},"Parse Builder Output":{"main":[[{"node":"Write Files to Disk","type":"main","index":0}]]},"Write Files to Disk":{"main":[[{"node":"Install Dependencies","type":"main","index":0}]]},"Install Dependencies":{"main":[[{"node":"Start Dev Server","type":"main","index":0}]]},"Start Dev Server":{"main":[[{"node":"Generate Playwright Test","type":"main","index":0}]]},"Generate Playwright Test":{"main":[[{"node":"Run Playwright Tests","type":"main","index":0}]]},"Run Playwright Tests":{"main":[[{"node":"Evaluate Quality","type":"main","index":0}]]},"Evaluate Quality":{"main":[[{"node":"Needs Iteration?","type":"main","index":0}]]},"Needs Iteration?":{"main":[[{"node":"Prepare Iteration Feedback","type":"main","index":0}],[{"node":"Success: Commit to GitLab","type":"main","index":0}]]},"Prepare Iteration Feedback":{"main":[[{"node":"Prepare Build Prompt","type":"main","index":0}]]},"Success: Commit to GitLab":{"main":[[{"node":"Git Commit & Push","type":"main","index":0}]]},"Git Commit & Push":{"main":[[{"node":"Send Success Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"description":"Quality-first autonomous app builder with Playwright testing and iteration loop"},"pinData":null,"versionId":"45d714ae-efce-4e48-aba3-cc9b38790493","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-08T03:53:36.192Z","createdAt":"2026-01-08T03:53:36.192Z","role":"workflow:owner","workflowId":"suVV95oRC745LDrZ","projectId":"CUaRGVU8MRvL0tdd","project":{"updatedAt":"2026-01-08T03:51:38.610Z","createdAt":"2026-01-08T03:45:43.415Z","id":"CUaRGVU8MRvL0tdd","name":"Bill Admin <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"creatorId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectRelations":[{"updatedAt":"2026-01-08T03:45:43.415Z","createdAt":"2026-01-08T03:45:43.415Z","userId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectId":"CUaRGVU8MRvL0tdd","user":{"updatedAt":"2026-01-09T00:02:08.000Z","createdAt":"2026-01-08T03:45:43.034Z","id":"e443d61e-c22a-49d2-8855-c41dbca9834a","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Admin","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-08T06:16:56.079Z","personalization_survey_n8n_version":"2.2.4"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-09","isPending":false}}]}}],"tags":[],"activeVersion":null}