public/workflows/orangepi/task-queue-processor.json
{"updatedAt":"2026-01-08T03:53:35.381Z","createdAt":"2026-01-08T03:53:35.381Z","id":"JonKvdeuIffF7yvu","name":"Task Queue Processor - Improvement & Iteration","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"schedule-trigger","name":"Schedule Every 2 Hours","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[240,300]},{"parameters":{"operation":"getAllRows","dataSource":"table","table":"task_queue","where":{"conditions":[{"column":"status","operator":"=","value":"queued"}]},"sort":{"fields":[{"column":"priority","direction":"DESC"}]},"limit":10},"id":"get-queued-tasks","name":"Get Queued Tasks (Priority Order)","type":"n8n-nodes-base.n8n-data-table","typeVersion":1,"position":[460,300],"notes":"Fetch top 10 queued tasks, prioritized"},{"parameters":{"conditions":{"number":[{"value1":"={{ $input.all().length }}","operation":"larger","value2":0}]}},"id":"check-if-tasks-exist","name":"Check if Tasks Exist","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300]},{"parameters":{"batchSize":1,"options":{}},"id":"loop-tasks","name":"Loop Over Tasks","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[900,300]},{"parameters":{"jsCode":"// Parse task context and prepare for execution\nconst item = $input.first().json;\nconst context = typeof item.context === 'string' ? JSON.parse(item.context) : item.context;\n\n// Read original implementation file\nconst fs = require('fs');\nconst path = require('path');\n\nconst outputPath = process.env.NAS_OUTPUT_PATH || '/mnt/n8n-nas/packet_outputs';\nconst originalFile = path.join(outputPath, context.original_implementation);\n\nlet originalContent = '';\ntry {\n  originalContent = fs.readFileSync(originalFile, 'utf8');\n} catch (e) {\n  originalContent = '[Original file not found]';\n}\n\nreturn {\n  json: {\n    task_id: item.id,\n    task_type: item.task_type,\n    priority: item.priority,\n    description: item.description,\n    context: context,\n    original_implementation: originalContent,\n    validation_results: context.validation_results\n  }\n};"},"id":"parse-task-context","name":"Parse Task & Load Original","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"rules":{"values":[{"conditions":{"string":[{"value1":"={{ $json.task_type }}","operation":"equals","value2":"comprehensive_testing"}]},"output":0},{"conditions":{"string":[{"value1":"={{ $json.task_type }}","operation":"equals","value2":"documentation"}]},"output":1},{"conditions":{"string":[{"value1":"={{ $json.task_type }}","operation":"equals","value2":"security_hardening"}]},"output":2},{"conditions":{"string":[{"value1":"={{ $json.task_type }}","operation":"equals","value2":"focused_improvement"}]},"output":3}]},"options":{"fallbackOutput":3}},"id":"route-by-task-type","name":"Route by Task Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1340,300]},{"parameters":{"jsCode":"// Build prompt for comprehensive testing\nconst item = $input.first().json;\n\nconst prompt = `You are a senior QA engineer tasked with adding comprehensive tests to an existing implementation.\n\n## Original Implementation\n\\`\\`\\`markdown\n${item.original_implementation}\n\\`\\`\\`\n\n## Validation Feedback\nThe implementation was accepted but needs better testing:\n${item.validation_results.action_items.filter(a => a.category === 'testing').map(a => `- ${a.task}`).join('\\n')}\n\n## Your Task\nAdd comprehensive test coverage:\n1. **Unit Tests**: Test each function/class in isolation\n2. **Integration Tests**: Test component interactions\n3. **Edge Cases**: Boundary conditions, empty inputs, large datasets\n4. **Error Conditions**: Invalid inputs, exceptions, error handling\n5. **Property-Based Tests**: Use hypothesis or similar if applicable\n6. **Fixtures & Mocks**: Proper test setup and teardown\n\n## Requirements\n- Use pytest framework\n- Achieve >90% code coverage\n- Include both positive and negative test cases\n- Add docstrings to test functions\n- Use parametrize for multiple test cases\n- Mock external dependencies\n\n## Output Format\nProvide:\n1. Complete test file(s) with all tests\n2. conftest.py if needed for fixtures\n3. Updated requirements.txt with test dependencies\n4. Instructions to run tests\n5. Expected coverage report\n\nDo NOT modify the original implementation unless fixing actual bugs.`;\n\nreturn {\n  json: {\n    ...item,\n    execution_prompt: prompt\n  }\n};"},"id":"build-testing-prompt","name":"Build Testing Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,100]},{"parameters":{"jsCode":"// Build prompt for documentation\nconst item = $input.first().json;\n\nconst prompt = `You are a technical writer improving documentation for a software project.\n\n## Original Implementation\n\\`\\`\\`markdown\n${item.original_implementation}\n\\`\\`\\`\n\n## Documentation Gaps Identified\n${item.validation_results.weaknesses.filter(w => w.includes('documentation') || w.includes('comment')).join('\\n')}\n\n## Your Task\nCreate comprehensive documentation:\n1. **README.md**: Overview, installation, quick start, examples\n2. **API Documentation**: All public functions/classes with docstrings\n3. **Architecture Overview**: High-level design decisions\n4. **Usage Examples**: Real-world use cases with code\n5. **Troubleshooting Guide**: Common issues and solutions\n6. **Contributing Guide** (if applicable)\n\n## Standards\n- Use Google-style docstrings for Python\n- Include type hints in examples\n- Provide both simple and advanced examples\n- Document assumptions and limitations\n- Add diagrams for complex flows (ASCII or Mermaid)\n\n## Output Format\nProvide:\n1. Updated README.md\n2. Updated docstrings in code\n3. docs/ folder structure (if needed)\n4. API reference (auto-generated or manual)\n\nMaintain accuracy - don't document features that don't exist.`;\n\nreturn {\n  json: {\n    ...item,\n    execution_prompt: prompt\n  }\n};"},"id":"build-docs-prompt","name":"Build Documentation Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,200]},{"parameters":{"jsCode":"// Build prompt for security hardening\nconst item = $input.first().json;\n\nconst prompt = `You are a security engineer reviewing code for vulnerabilities.\n\n## Original Implementation\n\\`\\`\\`markdown\n${item.original_implementation}\n\\`\\`\\`\n\n## Security Concerns Raised\n${item.validation_results.critical_issues.filter(i => i.category === 'security').map(i => `- [${i.severity}] ${i.description}`).join('\\n')}\n${item.validation_results.action_items.filter(a => a.category === 'security').map(a => `- ${a.task}`).join('\\n')}\n\n## Your Task\nHarden the implementation against security threats:\n1. **Input Validation**: Sanitize all user inputs\n2. **Authentication**: Review auth mechanisms\n3. **Authorization**: Check permission boundaries\n4. **Crypto**: Use secure algorithms, proper key management\n5. **Injection Prevention**: SQL, command, XSS, etc.\n6. **Secrets Management**: No hardcoded credentials\n7. **Dependencies**: Check for known vulnerabilities\n8. **Error Handling**: Don't leak sensitive info in errors\n\n## OWASP Top 10 Checklist\n- [ ] Broken Access Control\n- [ ] Cryptographic Failures\n- [ ] Injection\n- [ ] Insecure Design\n- [ ] Security Misconfiguration\n- [ ] Vulnerable Components\n- [ ] Authentication Failures\n- [ ] Data Integrity Failures\n- [ ] Logging Failures\n- [ ] SSRF\n\n## Output Format\nProvide:\n1. Hardened implementation code\n2. Security test cases\n3. List of changes made and why\n4. Remaining risks (if any)\n5. Security configuration guide\n\nDo NOT introduce breaking changes unless security-critical.`;\n\nreturn {\n  json: {\n    ...item,\n    execution_prompt: prompt\n  }\n};"},"id":"build-security-prompt","name":"Build Security Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,300]},{"parameters":{"jsCode":"// Build prompt for focused improvement\nconst item = $input.first().json;\n\nconst actionItem = item.context.task;\nconst criticalIssues = item.context.critical_issues || [];\n\nconst prompt = `You are fixing specific issues in an implementation that was accepted with reservations.\n\n## Original Implementation\n\\`\\`\\`markdown\n${item.original_implementation}\n\\`\\`\\`\n\n## Critical Issues to Address\n${criticalIssues.map(issue => `### ${issue.severity.toUpperCase()}: ${issue.category}\\n${issue.description}\\nLocation: ${issue.location}`).join('\\n\\n')}\n\n## Specific Improvement Required\n**Priority**: ${actionItem.priority}\\n**Task**: ${actionItem.task}\\n**Rationale**: ${actionItem.rationale}\n\n## Your Task\n1. Address the specific issue listed above\n2. Verify the fix doesn't break existing functionality\n3. Add tests for the fixed issue\n4. Document what was changed and why\n\n## Requirements\n- Make minimal, targeted changes\n- Don't refactor unrelated code\n- Ensure backward compatibility unless specified\n- Add regression tests\n\n## Output Format\nProvide:\n1. Fixed implementation\n2. Explanation of changes\n3. Test cases for the fix\n4. Verification that issue is resolved\n\nBe surgical - change only what's necessary.`;\n\nreturn {\n  json: {\n    ...item,\n    execution_prompt: prompt\n  }\n};"},"id":"build-improvement-prompt","name":"Build Focused Improvement Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,400]},{"parameters":{},"id":"merge-prompts","name":"Merge Prompts","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1780,300]},{"parameters":{"method":"POST","url":"={{ $env.LLM_API_ENDPOINT }}/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-4-turbo-2024-04-09"},{"name":"messages","value":"={{ [{role: 'system', content: 'You are an expert software engineer.'}, {role: 'user', content: $json.execution_prompt}] }}"},{"name":"temperature","value":"0.2"},{"name":"max_tokens","value":"6000"}]},"options":{"timeout":240000}},"id":"execute-task","name":"Execute Task (GPT-4 Turbo)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,300],"notes":"Use GPT-4 Turbo for high-quality improvements"},{"parameters":{"jsCode":"// Format task output\nconst item = $input.first();\nconst response = item.json.choices[0].message.content;\nconst metadata = $node[\"Merge Prompts\"].json;\n\nconst timestamp = new Date().toISOString();\nconst outputFilename = `${metadata.context.parent_packet_id}-${metadata.task_type}-task-${metadata.task_id}.md`;\n\nreturn {\n  json: {\n    ...metadata,\n    task_output: {\n      raw_output: response,\n      timestamp: timestamp,\n      filename: outputFilename,\n      model: 'gpt-4-turbo'\n    }\n  }\n};"},"id":"format-task-output","name":"Format Task Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,300]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.task_output.filename }}","mimeType":"text/markdown"}},"id":"convert-to-binary","name":"Convert to Binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2440,300]},{"parameters":{"path":"/mnt/n8n-nas/packet_outputs","fileName":"={{ $json.task_output.filename }}","options":{}},"id":"save-task-output","name":"Save Task Output to NAS","type":"n8n-nodes-base.writeFile","typeVersion":1,"position":[2660,300]},{"parameters":{"operation":"update","dataSource":"table","table":"task_queue","where":{"conditions":[{"column":"id","operator":"=","value":"={{ $json.task_id }}"}]},"columns":{"mappings":[{"column":"status","value":"completed"},{"column":"output_file","value":"={{ $json.task_output.filename }}"},{"column":"completed_at","value":"={{ $json.task_output.timestamp }}"}]}},"id":"update-task-status","name":"Update Task Status to Completed","type":"n8n-nodes-base.n8n-data-table","typeVersion":1,"position":[2880,300]},{"parameters":{"conditions":{"number":[{"value1":"={{ $node[\"Loop Over Tasks\"].context[\"noItemsLeft\"] }}","operation":"equal","value2":0}]}},"id":"check-more-tasks","name":"Check More Tasks","type":"n8n-nodes-base.if","typeVersion":2,"position":[3100,300]},{"parameters":{"jsCode":"// Generate summary of completed tasks\nconst allItems = $input.all();\n\nconst summary = {\n  total_completed: allItems.length,\n  by_type: {},\n  outputs: allItems.map(i => ({\n    task_id: i.json.task_id,\n    task_type: i.json.task_type,\n    priority: i.json.priority,\n    output_file: i.json.task_output.filename\n  })),\n  timestamp: new Date().toISOString()\n};\n\n// Count by type\nallItems.forEach(item => {\n  const type = item.json.task_type;\n  summary.by_type[type] = (summary.by_type[type] || 0) + 1;\n});\n\nreturn { json: summary };"},"id":"generate-task-summary","name":"Generate Task Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,300]},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.stringify($json, null, 2) }}","options":{}},"id":"output-summary","name":"Output Summary","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3540,300]}],"connections":{"Schedule Every 2 Hours":{"main":[[{"node":"Get Queued Tasks (Priority Order)","type":"main","index":0}]]},"Get Queued Tasks (Priority Order)":{"main":[[{"node":"Check if Tasks Exist","type":"main","index":0}]]},"Check if Tasks Exist":{"main":[[{"node":"Loop Over Tasks","type":"main","index":0}],[]]},"Loop Over Tasks":{"main":[[{"node":"Parse Task & Load Original","type":"main","index":0}]]},"Parse Task & Load Original":{"main":[[{"node":"Route by Task Type","type":"main","index":0}]]},"Route by Task Type":{"main":[[{"node":"Build Testing Prompt","type":"main","index":0}],[{"node":"Build Documentation Prompt","type":"main","index":0}],[{"node":"Build Security Prompt","type":"main","index":0}],[{"node":"Build Focused Improvement Prompt","type":"main","index":0}]]},"Build Testing Prompt":{"main":[[{"node":"Merge Prompts","type":"main","index":0}]]},"Build Documentation Prompt":{"main":[[{"node":"Merge Prompts","type":"main","index":1}]]},"Build Security Prompt":{"main":[[{"node":"Merge Prompts","type":"main","index":2}]]},"Build Focused Improvement Prompt":{"main":[[{"node":"Merge Prompts","type":"main","index":3}]]},"Merge Prompts":{"main":[[{"node":"Execute Task (GPT-4 Turbo)","type":"main","index":0}]]},"Execute Task (GPT-4 Turbo)":{"main":[[{"node":"Format Task Output","type":"main","index":0}]]},"Format Task Output":{"main":[[{"node":"Convert to Binary","type":"main","index":0}]]},"Convert to Binary":{"main":[[{"node":"Save Task Output to NAS","type":"main","index":0}]]},"Save Task Output to NAS":{"main":[[{"node":"Update Task Status to Completed","type":"main","index":0}]]},"Update Task Status to Completed":{"main":[[{"node":"Check More Tasks","type":"main","index":0}]]},"Check More Tasks":{"main":[[{"node":"Generate Task Summary","type":"main","index":0}],[{"node":"Loop Over Tasks","type":"main","index":0}]]},"Generate Task Summary":{"main":[[{"node":"Output Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"037befcc-86a7-4678-ab45-c114b302d1b1","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-08T03:53:35.382Z","createdAt":"2026-01-08T03:53:35.382Z","role":"workflow:owner","workflowId":"JonKvdeuIffF7yvu","projectId":"CUaRGVU8MRvL0tdd","project":{"updatedAt":"2026-01-08T03:51:38.610Z","createdAt":"2026-01-08T03:45:43.415Z","id":"CUaRGVU8MRvL0tdd","name":"Bill Admin <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"creatorId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectRelations":[{"updatedAt":"2026-01-08T03:45:43.415Z","createdAt":"2026-01-08T03:45:43.415Z","userId":"e443d61e-c22a-49d2-8855-c41dbca9834a","projectId":"CUaRGVU8MRvL0tdd","user":{"updatedAt":"2026-01-09T00:02:08.000Z","createdAt":"2026-01-08T03:45:43.034Z","id":"e443d61e-c22a-49d2-8855-c41dbca9834a","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Admin","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-08T06:16:56.079Z","personalization_survey_n8n_version":"2.2.4"},"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-09","isPending":false}}]}}],"tags":[],"activeVersion":null}