public/workflows/orangepi/V3jKwR9t38ncqYpP.json
{"updatedAt":"2026-01-08T04:31:41.217Z","createdAt":"2026-01-08T04:31:41.217Z","id":"V3jKwR9t38ncqYpP","name":"Autonomous Dev Agent - Multi-Stage Quality Pipeline","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"start-trigger","name":"Manual Trigger / Schedule","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"operation":"getAllRows","dataSource":"table","table":"linear_work_queue"},"id":"get-work-queue","name":"Get Work Queue from Data Table","type":"n8n-nodes-base.n8n-data-table","typeVersion":1,"position":[460,300],"notes":"Fetch pending issues from cached Linear queue"},{"parameters":{"jsCode":"// Filter for unprocessed or failed items\n// Group by priority and complexity\nconst items = $input.all();\n\nconst workItems = items\n  .filter(item => \n    item.json.status === 'pending' || \n    item.json.status === 'failed' ||\n    (item.json.status === 'in_progress' && item.json.retry_count < 3)\n  )\n  .map(item => ({\n    json: {\n      issue_id: item.json.id,\n      title: item.json.title,\n      description: item.json.description || 'No description',\n      labels: item.json.labels || [],\n      priority: item.json.priority || 'medium',\n      project_context: item.json.project_context || '',\n      retry_count: item.json.retry_count || 0,\n      previous_attempts: item.json.previous_attempts || [],\n      phase: 'initial_implementation',\n      packet_id: `PKT-${item.json.id}-${Date.now()}`\n    }\n  }));\n\nreturn workItems;"},"id":"packetize-work","name":"Packetize Work Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"notes":"Prepare work packets with metadata for processing"},{"parameters":{"batchSize":1,"options":{}},"id":"loop-over-packets","name":"Loop Over Packets","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[900,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.phase }}","operation":"equals","value2":"initial_implementation"}]}},"id":"route-by-phase","name":"Route by Phase","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,300],"notes":"Determine which processing phase this packet is in"},{"parameters":{"jsCode":"// Build comprehensive prompt for initial implementation\nconst item = $input.first().json;\n\nconst systemPrompt = `You are an expert software engineer working on a healthcare automation platform.\n\nProject Context:\n${item.project_context}\n\nYour task is to implement the following feature completely and correctly.\n\nIMPORTANT REQUIREMENTS:\n1. Write production-ready code with proper error handling\n2. Include comprehensive type hints and documentation\n3. Write pytest tests that actually validate correctness\n4. Use modern Python best practices (3.11+)\n5. Include edge case handling\n6. No placeholder or TODO comments\n7. All dependencies must be clearly specified\n8. Code must be self-contained and runnable\n\nDO NOT:\n- Use deprecated APIs\n- Make unverified claims about \"production-ready\" code\n- Include logic errors or untested edge cases\n- Use in-memory stores without documenting limitations\n- Skip error handling\n\nIf you're unsure about an implementation detail, state your assumptions clearly.`;\n\nconst userPrompt = `# Issue: ${item.title}\n\n## Description\n${item.description}\n\n## Requirements\n- Provide complete file structure\n- Include all necessary imports\n- Write comprehensive tests\n- Document assumptions and limitations\n- Specify exact dependency versions\n\n## Labels/Context\n${item.labels.join(', ')}\n\nDeliver:\n1. Complete implementation with file structure\n2. Test suite with coverage\n3. README with setup instructions\n4. requirements.txt or pyproject.toml\n5. Metadata section with assumptions and next steps`;\n\nreturn {\n  json: {\n    ...item,\n    prompts: {\n      system: systemPrompt,\n      user: userPrompt\n    },\n    model_config: {\n      model: 'gpt-oss-20b',\n      temperature: 0.3,\n      max_tokens: 8000\n    }\n  }\n};"},"id":"build-initial-prompt","name":"Build Initial Implementation Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,200],"notes":"Create detailed prompt with context and requirements"},{"parameters":{"method":"POST","url":"={{ $env.LLM_API_ENDPOINT }}/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"={{ $json.model_config.model }}"},{"name":"messages","value":"={{ [{role: 'system', content: $json.prompts.system}, {role: 'user', content: $json.prompts.user}] }}"},{"name":"temperature","value":"={{ $json.model_config.temperature }}"},{"name":"max_tokens","value":"={{ $json.model_config.max_tokens }}"}]},"options":{"timeout":300000}},"id":"execute-initial-implementation","name":"Execute Initial Implementation (GPT-OSS-20b)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,200],"notes":"Generate initial implementation"},{"parameters":{"jsCode":"// Extract and format the implementation output\nconst item = $input.first();\nconst response = item.json.choices[0].message.content;\nconst metadata = $node[\"Build Initial Implementation Prompt\"].json;\n\nconst timestamp = new Date().toISOString();\nconst outputFilename = `${metadata.packet_id}-initial-implementation.md`;\n\nreturn {\n  json: {\n    ...metadata,\n    implementation: {\n      raw_output: response,\n      timestamp: timestamp,\n      filename: outputFilename,\n      model: metadata.model_config.model,\n      phase: 'validation'\n    }\n  }\n};"},"id":"format-initial-output","name":"Format Initial Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,200]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.implementation.filename }}","mimeType":"text/markdown"}},"id":"save-initial-output","name":"Save Initial Output to NAS","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2000,200]},{"parameters":{"path":"/mnt/n8n-nas/packet_outputs","fileName":"={{ $json.implementation.filename }}","options":{}},"id":"write-to-nas","name":"Write to NAS","type":"n8n-nodes-base.writeFile","typeVersion":1,"position":[2220,200]},{"parameters":{"jsCode":"// Build validation prompt for Claude Opus (better at code review)\nconst item = $input.first().json;\nconst implementation = item.implementation.raw_output;\n\nconst validationPrompt = `You are a senior software architect conducting a thorough code review.\n\nEvaluate this implementation against these criteria:\n\n## Code Quality Checklist\n1. **Correctness**: Logic errors, off-by-one errors, incorrect algorithms\n2. **Security**: Vulnerabilities, injection risks, insecure crypto\n3. **Testing**: Test coverage, edge cases, assertion quality\n4. **Dependencies**: Version specificity, deprecated APIs, compatibility\n5. **Error Handling**: Missing try/catch, unhandled edge cases\n6. **Documentation**: Accuracy of claims, missing assumptions\n7. **Best Practices**: Code smells, anti-patterns, maintainability\n8. **Completeness**: Missing files, incomplete implementations\n\n## Implementation to Review\n\n\\`\\`\\`markdown\n${implementation}\n\\`\\`\\`\n\n## Required Output Format\n\nProvide your evaluation as JSON:\n\n\\`\\`\\`json\n{\n  \"overall_quality_score\": <0-100>,\n  \"recommendation\": \"ACCEPT\" | \"ITERATE\" | \"REJECT\",\n  \"critical_issues\": [\n    {\"severity\": \"critical|major|minor\", \"category\": \"correctness|security|testing|etc\", \"description\": \"...\", \"location\": \"file:line or general\"}\n  ],\n  \"strengths\": [\"...\"],\n  \"weaknesses\": [\"...\"],\n  \"action_items\": [\n    {\"priority\": \"high|medium|low\", \"task\": \"...\", \"rationale\": \"...\"}\n  ],\n  \"direction_assessment\": \"Does this align with project goals? Explain.\",\n  \"suggested_next_steps\": [\"...\"]\n}\n\\`\\`\\`\n\nBe thorough and honest. Production systems depend on this evaluation.`;\n\nreturn {\n  json: {\n    ...item,\n    validation_prompt: validationPrompt\n  }\n};"},"id":"build-validation-prompt","name":"Build Validation Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,200],"notes":"Prepare comprehensive code review prompt"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"claude-opus-4"},{"name":"max_tokens","value":"4096"},{"name":"messages","value":"={{ [{role: 'user', content: $json.validation_prompt}] }}"}]},"options":{"timeout":180000}},"id":"execute-validation","name":"Execute Validation (Claude Opus)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,200],"notes":"Use Claude Opus for high-quality code review"},{"parameters":{"jsCode":"// Parse validation results\nconst item = $input.first();\nconst validationText = item.json.content[0].text;\n\n// Extract JSON from markdown code block\nconst jsonMatch = validationText.match(/```json\\n([\\s\\S]*?)\\n```/);\nlet validation;\n\nif (jsonMatch) {\n  validation = JSON.parse(jsonMatch[1]);\n} else {\n  // Fallback: try to parse entire response\n  try {\n    validation = JSON.parse(validationText);\n  } catch (e) {\n    // If parsing fails, create error structure\n    validation = {\n      overall_quality_score: 0,\n      recommendation: 'REJECT',\n      critical_issues: [{\n        severity: 'critical',\n        category: 'validation_error',\n        description: 'Failed to parse validation response',\n        location: 'validation'\n      }],\n      error: e.message\n    };\n  }\n}\n\nconst metadata = $node[\"Build Validation Prompt\"].json;\n\nreturn {\n  json: {\n    ...metadata,\n    validation: validation,\n    next_phase: validation.recommendation === 'ACCEPT' ? 'iteration' : \n                validation.recommendation === 'ITERATE' ? 'iteration' : 'correction'\n  }\n};"},"id":"parse-validation","name":"Parse Validation Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,200]},{"parameters":{"rules":{"values":[{"conditions":{"string":[{"value1":"={{ $json.validation.recommendation }}","operation":"equals","value2":"ACCEPT"}]},"output":0},{"conditions":{"string":[{"value1":"={{ $json.validation.recommendation }}","operation":"equals","value2":"ITERATE"}]},"output":1},{"conditions":{"string":[{"value1":"={{ $json.validation.recommendation }}","operation":"equals","value2":"REJECT"}]},"output":2}]}},"id":"decision-router","name":"Decision Router","type":"n8n-nodes-base.switch","typeVersion":3,"position":[3100,300],"notes":"Route to: Accept/Iterate/Reject path"},{"parameters":{"jsCode":"// ACCEPT PATH: Generate improvement and testing tasks\nconst item = $input.first().json;\nconst validation = item.validation;\n\nconst improvementTasks = [\n  {\n    type: 'comprehensive_testing',\n    priority: 'high',\n    description: 'Add integration tests and edge case coverage',\n    prompt_context: `Original implementation accepted. Validation noted: ${validation.weaknesses.join('; ')}. Focus on: ${validation.action_items.filter(a => a.priority === 'high').map(a => a.task).join('; ')}`\n  },\n  {\n    type: 'documentation',\n    priority: 'medium',\n    description: 'Complete API documentation and usage examples',\n    prompt_context: 'Add comprehensive docstrings, README examples, and architecture docs'\n  },\n  {\n    type: 'security_hardening',\n    priority: 'high',\n    description: 'Review and harden security aspects',\n    prompt_context: `Address security considerations: ${validation.action_items.filter(a => a.category === 'security').map(a => a.task).join('; ')}`\n  },\n  {\n    type: 'performance_optimization',\n    priority: 'low',\n    description: 'Profile and optimize critical paths',\n    prompt_context: 'Add benchmarks and optimize bottlenecks'\n  }\n];\n\nreturn improvementTasks.map(task => ({\n  json: {\n    parent_packet_id: item.packet_id,\n    issue_id: item.issue_id,\n    phase: 'improvement',\n    task: task,\n    original_implementation: item.implementation.filename,\n    validation_results: validation\n  }\n}));"},"id":"generate-improvement-tasks","name":"Generate Improvement Tasks","type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,100],"notes":"ACCEPT: Create iteration packets for improvements"},{"parameters":{"jsCode":"// ITERATE PATH: Generate focused improvement tasks\nconst item = $input.first().json;\nconst validation = item.validation;\n\nconst iterationTasks = validation.action_items\n  .filter(action => action.priority === 'high' || action.priority === 'medium')\n  .map(action => ({\n    json: {\n      parent_packet_id: item.packet_id,\n      issue_id: item.issue_id,\n      phase: 'iteration',\n      task: {\n        type: 'focused_improvement',\n        priority: action.priority,\n        description: action.task,\n        rationale: action.rationale,\n        category: action.category || 'general'\n      },\n      original_implementation: item.implementation.filename,\n      validation_results: validation,\n      critical_issues: validation.critical_issues\n    }\n  }));\n\nreturn iterationTasks;"},"id":"generate-iteration-tasks","name":"Generate Iteration Tasks","type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,300],"notes":"ITERATE: Create targeted fix packets"},{"parameters":{"jsCode":"// REJECT PATH: Analyze failure and create corrective action\nconst item = $input.first().json;\nconst validation = item.validation;\n\n// Build detailed failure analysis\nconst failureAnalysis = {\n  original_prompt: item.prompts.user,\n  critical_issues: validation.critical_issues,\n  quality_score: validation.overall_quality_score,\n  direction_issues: validation.direction_assessment,\n  retry_count: item.retry_count + 1\n};\n\n// Create improved prompt with lessons learned\nconst improvedSystemPrompt = `You are an expert software engineer. A previous implementation attempt FAILED validation.\n\n## Why the Previous Attempt Failed\n${validation.critical_issues.map(issue => `- [${issue.severity}] ${issue.category}: ${issue.description}`).join('\\n')}\n\n## Direction Concerns\n${validation.direction_assessment}\n\n## What You Must Do Differently\n1. ${validation.action_items.slice(0, 5).map(a => a.task).join('\\n2. ')}\n\n## Critical Requirements\n- Address EVERY critical issue listed above\n- Test your logic before claiming it works\n- Use concrete, tested implementations\n- No placeholders or TODOs\n- Verify all imports and dependencies\n- Check for deprecated APIs\n\nThis is attempt #${failureAnalysis.retry_count}. Make it count.`;\n\nreturn {\n  json: {\n    parent_packet_id: item.packet_id,\n    issue_id: item.issue_id,\n    phase: 'correction',\n    retry_count: failureAnalysis.retry_count,\n    failure_analysis: failureAnalysis,\n    improved_prompts: {\n      system: improvedSystemPrompt,\n      user: item.prompts.user // Keep original user prompt\n    },\n    previous_attempts: [...(item.previous_attempts || []), {\n      attempt: item.retry_count,\n      timestamp: item.implementation.timestamp,\n      quality_score: validation.overall_quality_score,\n      issues: validation.critical_issues\n    }]\n  }\n};"},"id":"generate-correction-task","name":"Generate Correction Task","type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,500],"notes":"REJECT: Create corrective action with improved prompts"},{"parameters":{},"id":"merge-task-paths","name":"Merge Task Paths","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3540,300],"notes":"Combine outputs from all decision paths"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.phase }}","operation":"equals","value2":"correction"}]}},"id":"check-if-correction","name":"Check if Correction Needed","type":"n8n-nodes-base.if","typeVersion":2,"position":[3760,300]},{"parameters":{"jsCode":"// Execute correction - similar to initial implementation but with improved prompts\nconst item = $input.first().json;\n\nreturn {\n  json: {\n    ...item,\n    model_config: {\n      model: 'gpt-oss-20b',\n      temperature: 0.2, // Lower temperature for more focused correction\n      max_tokens: 8000\n    },\n    prompts: item.improved_prompts\n  }\n};"},"id":"prepare-correction","name":"Prepare Correction","type":"n8n-nodes-base.code","typeVersion":2,"position":[3980,200],"notes":"Setup for re-execution with improved prompts"},{"parameters":{"method":"POST","url":"={{ $env.LLM_API_ENDPOINT }}/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"={{ $json.model_config.model }}"},{"name":"messages","value":"={{ [{role: 'system', content: $json.prompts.system}, {role: 'user', content: $json.prompts.user}] }}"},{"name":"temperature","value":"={{ $json.model_config.temperature }}"},{"name":"max_tokens","value":"={{ $json.model_config.max_tokens }}"}]}},"id":"execute-correction","name":"Execute Correction","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4200,200],"notes":"Re-run with improved prompts"},{"parameters":{"jsCode":"// Format correction output and loop back to validation\nconst item = $input.first();\nconst response = item.json.choices[0].message.content;\nconst metadata = $node[\"Prepare Correction\"].json;\n\nconst timestamp = new Date().toISOString();\nconst outputFilename = `${metadata.parent_packet_id}-correction-attempt-${metadata.retry_count}.md`;\n\nreturn {\n  json: {\n    ...metadata,\n    implementation: {\n      raw_output: response,\n      timestamp: timestamp,\n      filename: outputFilename,\n      model: metadata.model_config.model,\n      phase: 'validation',\n      is_correction: true\n    }\n  }\n};"},"id":"format-correction-output","name":"Format Correction Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[4420,200],"notes":"Prepare to loop back through validation"},{"parameters":{"operation":"create","dataSource":"table","table":"task_queue","columns":{"mappings":[{"column":"packet_id","value":"={{ $json.parent_packet_id }}"},{"column":"task_type","value":"={{ $json.task.type }}"},{"column":"priority","value":"={{ $json.task.priority }}"},{"column":"description","value":"={{ $json.task.description }}"},{"column":"context","value":"={{ JSON.stringify($json) }}"},{"column":"status","value":"queued"}]}},"id":"queue-improvement-tasks","name":"Queue Improvement Tasks","type":"n8n-nodes-base.n8n-data-table","typeVersion":1,"position":[3980,400],"notes":"Add improvement/iteration tasks to queue"},{"parameters":{"operation":"update","dataSource":"table","table":"linear_work_queue","where":{"conditions":[{"column":"id","operator":"=","value":"={{ $json.issue_id }}"}]},"columns":{"mappings":[{"column":"status","value":"={{ $json.validation.recommendation === 'ACCEPT' ? 'completed' : 'in_progress' }}"},{"column":"quality_score","value":"={{ $json.validation.overall_quality_score }}"},{"column":"last_validation","value":"={{ JSON.stringify($json.validation) }}"},{"column":"output_file","value":"={{ $json.implementation.filename }}"},{"column":"updated_at","value":"={{ new Date().toISOString() }}"}]}},"id":"update-work-queue-status","name":"Update Work Queue Status","type":"n8n-nodes-base.n8n-data-table","typeVersion":1,"position":[4200,400],"notes":"Update original issue status"},{"parameters":{"jsCode":"// Generate summary report\nconst allItems = $input.all();\n\nconst summary = {\n  total_processed: allItems.length,\n  accepted: allItems.filter(i => i.json.validation?.recommendation === 'ACCEPT').length,\n  needs_iteration: allItems.filter(i => i.json.validation?.recommendation === 'ITERATE').length,\n  rejected: allItems.filter(i => i.json.validation?.recommendation === 'REJECT').length,\n  avg_quality_score: allItems.reduce((sum, i) => sum + (i.json.validation?.overall_quality_score || 0), 0) / allItems.length,\n  critical_issues_total: allItems.reduce((sum, i) => sum + (i.json.validation?.critical_issues?.length || 0), 0),\n  outputs: allItems.map(i => ({\n    issue_id: i.json.issue_id,\n    title: i.json.title,\n    recommendation: i.json.validation?.recommendation,\n    quality_score: i.json.validation?.overall_quality_score,\n    output_file: i.json.implementation?.filename,\n    critical_issues: i.json.validation?.critical_issues?.length || 0\n  })),\n  timestamp: new Date().toISOString()\n};\n\nreturn { json: summary };"},"id":"generate-summary","name":"Generate Summary Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[4420,400],"notes":"Create execution summary"},{"parameters":{"conditions":{"number":[{"value1":"={{ $node[\"Loop Over Packets\"].context[\"noItemsLeft\"] }}","operation":"equal","value2":0}]}},"id":"check-loop-complete","name":"Check Loop Complete","type":"n8n-nodes-base.if","typeVersion":2,"position":[4640,300]},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.stringify($json, null, 2) }}","options":{}},"id":"output-final-summary","name":"Output Final Summary","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4860,300],"notes":"Final output of the workflow"}],"connections":{"Manual Trigger / Schedule":{"main":[[{"node":"Get Work Queue from Data Table","type":"main","index":0}]]},"Get Work Queue from Data Table":{"main":[[{"node":"Packetize Work Items","type":"main","index":0}]]},"Packetize Work Items":{"main":[[{"node":"Loop Over Packets","type":"main","index":0}]]},"Loop Over Packets":{"main":[[{"node":"Route by Phase","type":"main","index":0}]]},"Route by Phase":{"main":[[{"node":"Build Initial Implementation Prompt","type":"main","index":0}]]},"Build Initial Implementation Prompt":{"main":[[{"node":"Execute Initial Implementation (GPT-OSS-20b)","type":"main","index":0}]]},"Execute Initial Implementation (GPT-OSS-20b)":{"main":[[{"node":"Format Initial Output","type":"main","index":0}]]},"Format Initial Output":{"main":[[{"node":"Save Initial Output to NAS","type":"main","index":0}]]},"Save Initial Output to NAS":{"main":[[{"node":"Write to NAS","type":"main","index":0}]]},"Write to NAS":{"main":[[{"node":"Build Validation Prompt","type":"main","index":0}]]},"Build Validation Prompt":{"main":[[{"node":"Execute Validation (Claude Opus)","type":"main","index":0}]]},"Execute Validation (Claude Opus)":{"main":[[{"node":"Parse Validation Results","type":"main","index":0}]]},"Parse Validation Results":{"main":[[{"node":"Decision Router","type":"main","index":0}]]},"Decision Router":{"main":[[{"node":"Generate Improvement Tasks","type":"main","index":0}],[{"node":"Generate Iteration Tasks","type":"main","index":0}],[{"node":"Generate Correction Task","type":"main","index":0}]]},"Generate Improvement Tasks":{"main":[[{"node":"Merge Task Paths","type":"main","index":0}]]},"Generate Iteration Tasks":{"main":[[{"node":"Merge Task Paths","type":"main","index":1}]]},"Generate Correction Task":{"main":[[{"node":"Merge Task Paths","type":"main","index":2}]]},"Merge Task Paths":{"main":[[{"node":"Check if Correction Needed","type":"main","index":0}]]},"Check if Correction Needed":{"main":[[{"node":"Prepare Correction","type":"main","index":0}],[{"node":"Queue Improvement Tasks","type":"main","index":0}]]},"Prepare Correction":{"main":[[{"node":"Execute Correction","type":"main","index":0}]]},"Execute Correction":{"main":[[{"node":"Format Correction Output","type":"main","index":0}]]},"Format Correction Output":{"main":[[{"node":"Build Validation Prompt","type":"main","index":0}]]},"Queue Improvement Tasks":{"main":[[{"node":"Update Work Queue Status","type":"main","index":0}]]},"Update Work Queue Status":{"main":[[{"node":"Generate Summary Report","type":"main","index":0}]]},"Generate Summary Report":{"main":[[{"node":"Check Loop Complete","type":"main","index":0}]]},"Check Loop Complete":{"main":[[{"node":"Output Final Summary","type":"main","index":0}],[{"node":"Loop Over Packets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a9c46888-d9bd-453d-b835-016db994196f","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-08T04:31:41.221Z","createdAt":"2026-01-08T04:31:41.221Z","role":"workflow:owner","workflowId":"V3jKwR9t38ncqYpP","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[],"activeVersion":null}