public/workflows/orangepi/WPuxiZXV1cvR34Vk.json
{"updatedAt":"2026-01-01T23:49:19.236Z","createdAt":"2025-12-22T07:18:37.380Z","id":"WPuxiZXV1cvR34Vk","name":"New Project Interview","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{"responseMode":"responseNode"}},"id":"chat-trigger","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[0,304],"typeVersion":1.1,"webhookId":"0155ff62-1ba3-4c57-8baa-2c833c0c360b"},{"parameters":{"options":{}},"id":"interview-agent","name":"Project Discovery Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[304,304],"typeVersion":3},{"parameters":{"model":"deepseek-coder-v2-lite-instruct","options":{"temperature":0.7}},"id":"interview-lm","name":"FREE BEAST LM","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[208,512],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"contextWindowLength":40},"id":"interview-memory","name":"Interview Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[400,512],"typeVersion":1.3},{"parameters":{"jsCode":"const output = $input.first().json.output || '';\n\n// Look for JSON block in output\nlet jsonStr = null;\nconst codeBlockMatch = output.match(/```json\\s*([\\s\\S]*?)```/);\nif (codeBlockMatch) {\n  jsonStr = codeBlockMatch[1];\n} else {\n  const braceMatch = output.match(/\\{[\\s\\S]*\\}/);\n  if (braceMatch) jsonStr = braceMatch[0];\n}\n\nif (!jsonStr) {\n  return [{json: {status: 'interviewing', output: output}}];\n}\n\ntry {\n  const project = JSON.parse(jsonStr);\n  if (!project.projectName || !project.repoName) {\n    return [{json: {status: 'interviewing', output: output}}];\n  }\n  return [{json: {status: 'complete', project: project}}];\n} catch(e) {\n  return [{json: {status: 'interviewing', output: output, error: e.message}}];\n}"},"id":"parse-json","name":"Parse Project JSON","type":"n8n-nodes-base.code","position":[560,304],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"complete"}]},"options":{}},"id":"check-complete","name":"Interview Complete?","type":"n8n-nodes-base.if","position":[752,304],"typeVersion":2.2},{"parameters":{"command":"=REPO=\"{{ $('Parse Project JSON').item.json.project.repoName }}\"\nPATH=\"/mnt/n8n-nas/git_repos/$REPO\"\nmkdir -p \"$PATH\" && cd \"$PATH\" && git init\nmkdir -p src tests docs\necho \"# {{ $('Parse Project JSON').item.json.project.projectName }}\" > README.md\necho \"REPO_CREATED: $PATH\""},"id":"create-repo","name":"Create GitLab Repo","type":"n8n-nodes-base.ssh","position":[1408,208],"typeVersion":1,"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e1","name":"epics","type":"array","value":"={{ $('Parse Project JSON').item.json.project.epics }}"},{"id":"e2","name":"projectId","type":"string","value":"={{ $('Create Linear Project').item.json.data.projectCreate.project.id }}"},{"id":"e3","name":"repoName","type":"string","value":"={{ $('Parse Project JSON').item.json.project.repoName }}"},{"id":"e4","name":"projectName","type":"string","value":"={{ $('Parse Project JSON').item.json.project.projectName }}"}]},"options":{}},"id":"setup-epics","name":"Setup Epics Array","type":"n8n-nodes-base.set","position":[1600,208],"typeVersion":3.4},{"parameters":{"options":{}},"id":"loop-epics","name":"Loop Epics","type":"n8n-nodes-base.splitInBatches","position":[1808,208],"typeVersion":3},{"parameters":{"command":"=cd /mnt/n8n-nas/git_repos/{{ $('Setup Epics Array').item.json.repoName }}\ngit add -A\ngit commit -m \"Initial commit\"\ngit remote add origin http://192.168.245.11/gtechsd/{{ $('Setup Epics Array').item.json.repoName }}.git 2>/dev/null || true\ngit push -u origin main 2>&1 || echo \"PUSH_PENDING\"\necho \"COMPLETE\""},"id":"git-push","name":"Git Commit & Push","type":"n8n-nodes-base.ssh","position":[2208,208],"typeVersion":1,"credentials":{"sshPassword":{"id":"vfSQyATAxwqPYHUv","name":"OrangePi SSH Access"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"m1","name":"output","type":"string","value":"=🎉 **{{ $('Setup Epics Array').item.json.projectName }}** created!\\n\\n📁 Repo: `/mnt/n8n-nas/git_repos/{{ $('Setup Epics Array').item.json.repoName }}`\\n📋 Linear: Project + {{ $('Parse Project JSON').item.json.project.epics.length }} epics\\n\\n---\\nReply **yes** to start dev workflow, or **no** to finish."}]},"options":{}},"id":"success-msg","name":"Success Message","type":"n8n-nodes-base.set","position":[2400,208],"typeVersion":3.4},{"parameters":{"options":{}},"id":"show-success","name":"Show Success","type":"@n8n/n8n-nodes-langchain.chat","position":[2608,208],"typeVersion":1},{"parameters":{"teamId":{"__rl":true,"mode":"id","value":"0dba8752-8337-4077-acea-f20a47598bcb"},"title":"={{ $json.title }}","additionalFields":{"description":"={{ $json.description }}"}},"id":"create-issue-native","name":"Create Epic Issue","type":"n8n-nodes-base.linear","typeVersion":1.1,"position":[2000,208],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"l1","name":"projectName","type":"string","value":"={{ $json.project.projectName }}"},{"id":"l2","name":"repoName","type":"string","value":"={{ $json.project.repoName }}"},{"id":"l3","name":"summary","type":"string","value":"={{ $json.project.summary }}"},{"id":"l4","name":"project","type":"object","value":"={{ $json.project }}"}]},"options":{}},"id":"build-linear-req","name":"Build Linear Request","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,208]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"query\":\"mutation { projectCreate(input: { name: \\\"{{ $json.projectName }}\\\", description: \\\"{{ $json.summary }}\\\", teamIds: [\\\"0dba8752-8337-4077-acea-f20a47598bcb\\\"] }) { success project { id name } } }\"}","options":{}},"id":"create-proj-http","name":"Create Linear Project","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,208],"credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}},"onError":"continueRegularOutput"}],"connections":{"Chat Trigger":{"main":[[{"node":"Project Discovery Agent","type":"main","index":0}]]},"FREE BEAST LM":{"ai_languageModel":[[{"node":"Project Discovery Agent","type":"ai_languageModel","index":0}]]},"Interview Memory":{"ai_memory":[[{"node":"Project Discovery Agent","type":"ai_memory","index":0}]]},"Project Discovery Agent":{"main":[[{"node":"Parse Project JSON","type":"main","index":0}]]},"Parse Project JSON":{"main":[[{"node":"Interview Complete?","type":"main","index":0}]]},"Create GitLab Repo":{"main":[[{"node":"Setup Epics Array","type":"main","index":0}]]},"Setup Epics Array":{"main":[[{"node":"Loop Epics","type":"main","index":0}]]},"Loop Epics":{"main":[[{"node":"Git Commit & Push","type":"main","index":0},{"node":"Create Epic Issue","type":"main","index":0}]]},"Git Commit & Push":{"main":[[{"node":"Success Message","type":"main","index":0}]]},"Success Message":{"main":[[{"node":"Show Success","type":"main","index":0}]]},"Create Epic Issue":{"main":[[{"node":"Loop Epics","type":"main","index":0}]]},"Interview Complete?":{"main":[[{"node":"Build Linear Request","type":"main","index":0}]]},"Build Linear Request":{"main":[[{"node":"Create Linear Project","type":"main","index":0}]]},"Create Linear Project":{"main":[[{"node":"Create GitLab Repo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"bdee8a8e-2bdb-495e-bf08-4b24ecc30f91","activeVersionId":null,"versionCounter":10,"triggerCount":0,"shared":[{"updatedAt":"2025-12-22T07:18:37.385Z","createdAt":"2025-12-22T07:18:37.385Z","role":"workflow:owner","workflowId":"WPuxiZXV1cvR34Vk","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-01T23:41:10.347Z","createdAt":"2026-01-01T23:41:10.347Z","id":"59v2I1DDZaqntzwf","name":"AI GENERATED"},{"updatedAt":"2026-01-01T23:45:39.732Z","createdAt":"2026-01-01T23:45:39.732Z","id":"BJgg5iAvU9lgAlqp","name":"BROKEN"},{"updatedAt":"2026-01-01T23:41:25.266Z","createdAt":"2026-01-01T23:41:25.266Z","id":"EzHxVrQZLMqCu8MI","name":"NOT TESTED"},{"updatedAt":"2026-01-01T23:49:18.116Z","createdAt":"2026-01-01T23:49:18.116Z","id":"FhyWmYFIv4VR0Ccp","name":"VALUABLE"},{"updatedAt":"2026-01-01T23:41:18.988Z","createdAt":"2026-01-01T23:41:18.988Z","id":"bdnN5FhQNv0uGThH","name":"NOT REVIEWED"},{"updatedAt":"2026-01-01T23:47:23.414Z","createdAt":"2026-01-01T23:47:23.414Z","id":"e9wyuzgPFWT6vuEp","name":"HAS ISSUES"},{"updatedAt":"2026-01-01T23:44:48.788Z","createdAt":"2026-01-01T23:44:48.788Z","id":"l6FVWknceeDeKEoz","name":"SANDBOX"}],"activeVersion":null}