public/workflows/orangepi/yNkPX6701TffSJof.json
{"updatedAt":"2026-01-02T07:28:31.796Z","createdAt":"2025-12-28T23:04:57.905Z","id":"yNkPX6701TffSJof","name":"Project Issues Loader - FIXED v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"message":"={{ $json.promptText }}","options":{"memoryConnection":true}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[5328,1600],"id":"413382f5-0ff2-4069-84f3-cb203b10a51e","name":"Respond to Chat"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state description } } }\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4928,1600],"id":"503ca4ad-a16b-4237-8949-58442170088d","name":"Linear Projects","credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9e1cc823-168e-40cf-96a5-9025d765cf70","name":"Active Project","value":"={{ $json.projectId }}","type":"string"},{"id":"3d76df74-8ab2-41af-9bdd-d8718f93d057","name":"projectName","value":"={{ $json.projectName }}","type":"string"},{"id":"auto-1766985255.563281","name":"projectDescription","value":"={{ $json.projectDescription }}","type":"string"},{"id":"auto2-1766985255.563405","name":"projectState","value":"={{ $json.projectState }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5808,1600],"id":"89cdd5b1-dd2a-4193-950c-aa7e518d8d52","name":"Set Active Project"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"xFm91lQWMMBRlnho","mode":"list","cachedResultName":"ClaudiaCode Issues","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/xFm91lQWMMBRlnho"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $('Set Active Project').item.json[\"Active Project\"] }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[4784,1968],"id":"c3acc434-06f8-49c7-9276-bd286f71a68f","name":"Get row(s) in Data table2"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"role":"=system","content":"=Return STRICT JSON ONLY. No markdown. No code fences. No XML/tags. No tool-call syntax.\nOutput exactly one JSON object and nothing else.\nAll keys double-quoted. All string values JSON-escaped. No trailing commas.\nAll timestamps MUST be strings (quoted ISO8601).\n\nRequired top-level schema:\n{\n  \"projectID\": string,\n  \"projectName\": string,\n  \"planRunID\": string,\n  \"generatedAt\": string,\n  \"openIssueCount\": number,\n  \"openIssueIDs\": string[],\n  \"executiveSummary\": string,\n  \"planStatus\": \"proposed\"|\"approved\"|\"stopped\"|\"needs_changes\",\n  \"planJSON\": object\n}\n"},{"content":"=Active Project: {{ $('Set Active Project').item.json[\"Active Project\"] }}\nUse the get rows data table tool to fetch issues"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4640,1808],"id":"b9544c70-69e4-4814-bfec-f375af4d450b","name":"Project Manager","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"message":"={{ $json.output?.[0]?.content?.[0]?.text ?? $json.output ?? $json.message ?? '' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[6496,1808],"id":"3bcaede2-4ec6-4dd2-bf95-5fbc7326df2e","name":"Respond to Chat1"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"Efxpd5kCkGHvuLFi","mode":"list","cachedResultName":"ClaudiaCodeProjectPlans","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/Efxpd5kCkGHvuLFi"},"filters":{"conditions":[{"keyName":"projectID","keyValue":"={{ $('Set Active Project').item.json['Active Project'] }}"}]},"columns":{"mappingMode":"defineBelow","value":{"p0Count":0,"p1Count":0,"p2Count":0,"workstreamCount":0,"projectID":"={{ $json.projectID }}","planRunID":"={{ $json.planRunID }}","generatedAt":"={{ $json.generatedAt }}","openIssueIDs":"={{ JSON.stringify($json.openIssueIDs ?? []) }}","executiveSummary":"={{ $json.executiveSummary }}","planJSON":"={{ JSON.stringify($json.planJSON ?? {}) }}","issueSnapshotHash":"={{ $json.issueSnapshotHash }}","planStatus":"={{ $json.planStatus }}","parentPlanID":"={{ $json.parentPlanID }}","source":"Project Manager","model":"GPT-OSS-20B"},"matchingColumns":[],"schema":[{"id":"projectID","displayName":"projectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planRunID","displayName":"planRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"generatedAt","displayName":"generatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"openIssueCount","displayName":"openIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"openIssueIDs","displayName":"openIssueIDs","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"executiveSummary","displayName":"executiveSummary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planJSON","displayName":"planJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"issueSnapshotHash","displayName":"issueSnapshotHash","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planStatus","displayName":"planStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"parentPlanID","displayName":"parentPlanID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"p0Count","displayName":"p0Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"p1Count","displayName":"p1Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"p2Count","displayName":"p2Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"workstreamCount","displayName":"workstreamCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"iteration1Theme","displayName":"iteration1Theme","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration1IssueOrder","displayName":"iteration1IssueOrder","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration2Theme","displayName":"iteration2Theme","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration2IssueOrder","displayName":"iteration2IssueOrder","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"crossCuttingRisks","displayName":"crossCuttingRisks","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"openQuestions","displayName":"openQuestions","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"nextActions","displayName":"nextActions","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"promptVersion","displayName":"promptVersion","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"dispatchStatus","displayName":"dispatchStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"orchestratorMessageID","displayName":"orchestratorMessageID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"acceptedAt","displayName":"acceptedAt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[5152,1808],"id":"c9cbfe37-24ae-4418-9c59-ee97f4896498","name":"Upsert row(s)1"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"role":"=system","content":"Write a concise human-readable message for the end user summarizing the packetization results. Use plain text. Include: Project ID, Packet count, Open issue count, then a bullet list of packets with packetID, title (from packetJSON.title), and issueIDs. End with: Reply 'approve' to execute, 'modify <notes>' to revise, or 'stop'."},{"role":"=user","content":"Summarize this packet plan JSON:\n{{ JSON.stringify($json) }}"}]},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[6192,1808],"id":"64959c5d-14b6-4b59-b17b-aade89198a95","name":"Format Response","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"contextWindowLength":200},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[5424,1936],"id":"fb263df9-2cef-458e-84bb-ee8faf028d84","name":"Simple Memory"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"xFm91lQWMMBRlnho","mode":"list","cachedResultName":"ClaudiaCode Issues","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/xFm91lQWMMBRlnho"},"filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $('Set Active Project').item.json[\"Active Project\"] }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[5488,2000],"id":"f8cf0a24-c43a-4d51-9bb3-747b0a27fa41","name":"get_rows_issues1"},{"parameters":{"promptType":"define","text":"=You are the Project Issues Loader (Preflight Packetizer).\n\nMISSION\nGiven the active Linear project, load ALL COMPLETE issue data from the ClaudiaCode Issues table using `get_rows_issues1` tool.\nThen create small, coherent work packets (1–4 issues each) with FULL ISSUE DATA for execution by Dev Agent and Worker Bees.\n\n🚨 CRITICAL: Include COMPLETE issue objects in packets, NOT just IDs!\n\nSTEP 1: FETCH FULL ISSUE DATA\n- Call `get_rows_issues1` tool to fetch ALL issues for this project\n- The tool returns rows with these fields:\n  - LinearIssueID\n  - IssueTitle\n  - IssueDescription  \n  - IssueState\n  - IssuePriority\n  - IssueLabels\n  - AcceptanceCriteria\n  - EstimatedEffort\n  - ParentIssueID\n  - RelatedIssues\n  - Attachments\n  - AnnotatedScreenshots\n  - CreatedAt\n  - UpdatedAt\n  - AssigneeID\n- Store ALL this data for each issue\n\nSTEP 2: FILTER OPEN ISSUES\n- Only include issues where IssueState is \"open\", \"in_progress\", \"started\", or \"backlog\"\n- Skip \"done\", \"canceled\", \"archived\" states\n\nSTEP 3: CREATE PACKETS WITH FULL DATA\n- Group 1-4 related issues per packet\n- For EACH issue in the packet, you MUST include a COMPLETE issue object with ALL fields\n- Transform database fields to clean JSON:\n  - id: LinearIssueID\n  - title: IssueTitle\n  - description: IssueDescription\n  - acceptanceCriteria: AcceptanceCriteria\n  - state: IssueState\n  - priority: IssuePriority\n  - labels: parse IssueLabels (if JSON string, parse it; otherwise split by comma)\n  - estimate: EstimatedEffort\n  - attachments: parse Attachments\n  - parentIssueId: ParentIssueID\n  - relatedIssues: parse RelatedIssues\n  - assigneeId: AssigneeID\n  - createdAt: CreatedAt\n  - updatedAt: UpdatedAt\n\nEXAMPLE of CORRECT packet structure:\n{\n  \"packetID\": \"run-123-P001\",\n  \"issueIDs\": [\"GTE-310\", \"GTE-309\"],\n  \"assignedWorker\": \"worker_bee_gptoss\",\n  \"status\": \"queued\",\n  \"packetJSON\": {\n    \"title\": \"Roadmap and milestones\",\n    \"summary\": \"Strategic planning issues\",\n    \"issues\": [\n      {\n        \"id\": \"GTE-310\",\n        \"title\": \"Define Q1 2025 roadmap\",\n        \"description\": \"Create comprehensive roadmap for Q1 including all major milestones...\",\n        \"acceptanceCriteria\": \"1. Roadmap doc created\\n2. Stakeholder approval\\n3. Published to team\",\n        \"state\": \"open\",\n        \"priority\": 1,\n        \"labels\": [\"planning\", \"p0\"],\n        \"estimate\": 3,\n        \"attachments\": [],\n        \"parentIssueId\": null,\n        \"relatedIssues\": [\"GTE-309\"],\n        \"assigneeId\": null,\n        \"createdAt\": \"2025-01-01T00:00:00Z\",\n        \"updatedAt\": \"2025-01-01T12:00:00Z\"\n      },\n      {\n        \"id\": \"GTE-309\",\n        \"title\": \"Define success metrics\",\n        \"description\": \"Establish KPIs and success criteria...\",\n        \"acceptanceCriteria\": \"Metrics defined and documented\",\n        \"state\": \"open\",\n        \"priority\": 1,\n        \"labels\": [\"planning\"],\n        \"estimate\": 2,\n        \"attachments\": [],\n        \"parentIssueId\": null,\n        \"relatedIssues\": [\"GTE-310\"],\n        \"assigneeId\": null,\n        \"createdAt\": \"2025-01-01T00:00:00Z\",\n        \"updatedAt\": \"2025-01-01T12:00:00Z\"\n      }\n    ],\n    \"visionSummaryNeeded\": false,\n    \"visionSummary\": \"\"\n  }\n}\n\nPACKETIZATION RULES\n- Packet size: 1–4 issues\n- Prefer 1 issue per packet when scope is large/unclear\n- Group only when issues are tightly related (same component/screen/workstream)\n- Choose `assignedWorker`:\n  - \"worker_bee_opus\" for UX/polish, ambiguous requirements, copy, interaction design\n  - \"worker_bee_gptoss\" for implementation-heavy, infra/tooling, deterministic engineering\n\nVISION HANDLING\n- If any issue has attachments/screenshots, set `visionSummaryNeeded: true`\n- Optionally call `download_image` ONCE per packet for screenshot context\n- Include brief `visionSummary` in the packet\n\nOUTPUT (STRICT JSON)\nReturn EXACTLY ONE JSON object (no markdown, no code fences, no extra text):\n\n{\n  \"projectID\": \"...\",\n  \"projectName\": \"...\",\n  \"planRunID\": \"<use planRunID from input; otherwise generate UUID>\",\n  \"packetCount\": <int>,\n  \"packets\": [\n    {\n      \"packetID\": \"<planRunID>-P001\",\n      \"issueIDs\": [\"GTE-123\", \"GTE-124\"],\n      \"assignedWorker\": \"worker_bee_opus|worker_bee_gptoss\",\n      \"status\": \"queued\",\n      \"packetJSON\": {\n        \"title\": \"Packet title\",\n        \"summary\": \"What this accomplishes\",\n        \"issues\": [\n          <FULL ISSUE OBJECTS WITH ALL FIELDS AS SHOWN IN EXAMPLE ABOVE>\n        ],\n        \"visionSummaryNeeded\": false,\n        \"visionSummary\": \"\"\n      }\n    }\n  ],\n  \"routingSummary\": {\n    \"worker_bee_opus\": <int>,\n    \"worker_bee_gptoss\": <int>\n  },\n  \"approvalRequest\": {\n    \"prompt\": \"Approve packet execution? Reply: approve | modify <notes> | stop\",\n    \"default\": \"stop\"\n  },\n  \"notes\": \"\"\n}\n\nVALIDATION CHECKLIST (verify before returning):\n✅ Called get_rows_issues1 and got issue data\n✅ Each issue in packetJSON.issues has: id, title, description, acceptanceCriteria\n✅ Each issue has: state, priority, labels, estimate\n✅ Each issue has: attachments, parentIssueId, relatedIssues, assigneeId\n✅ Each issue has: createdAt, updatedAt\n✅ NO issues with just {\"id\": \"GTE-123\"} - all must be complete objects\n\nIMPORTANT:\n- If >50 open issues, packetize first 50 (highest priority) and note truncation\n- NO PERSISTENCE - Do NOT call upsert_issue_packet1\n- Do NOT call Project Operations (except download_image for vision)\n- Do NOT call worker bees\n- This node ONLY builds packet plan; persistence handled downstream\n\nINPUTS\n- projectID: {{ $('Set Active Project').item.json[\"Active Project\"] }}\n\n- projectName: {{ $('Set Active Project').item.json.projectName }}\n\n- plan context JSON: {{ $('Project Manager').item.json.output[0].content[0].text }}\n\n- executive summary: {{ $json.executiveSummary }}\n\n- openIssueIDs: {{ $json.openIssueIDs }}\n\n- planStatus: {{ $json.planStatus }}\n\n- planRunID: {{ $json.planRunID }}\n\n- generatedAt: {{ $json.generatedAt }}\n\n- source: {{ $json.source }}","options":{"systemMessage":"You are Project Issues Loader. You fetch and normalize open issues for the active Linear project and produce a packet plan JSON. Do NOT call any tools to persist packets; persistence is handled by downstream nodes. Do not implement code changes.","maxIterations":500}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[5344,1808],"id":"b4978105-3f52-4224-89c4-40e14de45a23","name":"Project Issues Loader1"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{"timeout":320000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[5344,2000],"id":"218f9143-3110-496c-8517-1d234f5f41d3","name":"GPT-OSS-20B","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"jsCode":"/**\n * Deterministic row builder.\n * Uses ONLY the incoming $json from \"Set Active Project\".\n * No cross-node lookups, no Linear Projects enrichment.\n */\n\nconst linearProjectID = $json[\"Active Project\"] ?? null;\nconst projectName = $json.projectName ?? null;\n\nif (!linearProjectID) {\n  throw new Error(`Build Project Row: missing \"Active Project\" in input: ${JSON.stringify($json)}`);\n}\n\nreturn [\n  {\n    json: {\n      LinearProjectID: String(linearProjectID),\n      ProjectName: projectName ? String(projectName) : null,\n      // Only include these if they are real table columns; otherwise remove them.\n      ProjectStatus: $json.projectState ?? null,\n      ProjectDescription: $json.projectDescription ?? null,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5984,1600],"id":"6f1d40d3-8e96-437c-be64-54856e165826","name":"Build Project Row"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"uheU5SSGQpNjVko5","mode":"list","cachedResultName":"ClaudiaCodeProjects","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uheU5SSGQpNjVko5"},"filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $json.LinearProjectID }}"}]},"columns":{"mappingMode":"defineBelow","value":{"LinearProjectID":"={{ $json.LinearProjectID }}","ProjectName":"={{ $json.ProjectName }}","ProjectDescription":"={{ $json.ProjectDescription }}","ProjectStatus":"={{ $json.ProjectStatus }}","OpenIssueCount":0,"BacklogIssueCount":0,"StartedIssueCount":0,"DoneIssueCount":0,"LastPacketCount":0},"matchingColumns":["LinearProjectID"],"schema":[{"id":"ProjectName","displayName":"ProjectName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearProjectID","displayName":"LinearProjectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ProjectDescription","displayName":"ProjectDescription","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ProjectStatus","displayName":"ProjectStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearTeamID","displayName":"LinearTeamID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearTeamName","displayName":"LinearTeamName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LeadUserID","displayName":"LeadUserID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SuccessCriteria","displayName":"SuccessCriteria","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ScopeNotes","displayName":"ScopeNotes","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Constraints","displayName":"Constraints","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Risks","displayName":"Risks","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Dependencies","displayName":"Dependencies","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"NonGoals","displayName":"NonGoals","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"StartDate","displayName":"StartDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"TargetDate","displayName":"TargetDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastLinearSyncAt","displayName":"LastLinearSyncAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastPlannedAt","displayName":"LastPlannedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastPacketizedAt","displayName":"LastPacketizedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"OpenIssueCount","displayName":"OpenIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"BacklogIssueCount","displayName":"BacklogIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"StartedIssueCount","displayName":"StartedIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"DoneIssueCount","displayName":"DoneIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"IssueSnapshotHash","displayName":"IssueSnapshotHash","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ActivePlanRunID","displayName":"ActivePlanRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LastPacketizerRunID","displayName":"LastPacketizerRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LastPacketCount","displayName":"LastPacketCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[6160,1600],"id":"3aa1f3cb-fe29-44da-9248-6bd517168775","name":"Upsert Project"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"uY29FyKg9JFPZa9a","mode":"list","cachedResultName":"ClaudiaCodeIssuePackets","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uY29FyKg9JFPZa9a"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"planRunID","keyValue":"={{ $('Upsert row(s)1').item.json.planRunID }}"},{"keyName":"packetID","keyValue":"={{ $json.packetID }}"}]},"columns":{"mappingMode":"defineBelow","value":{"planRunID":"={{ $('Upsert row(s)1').item.json.planRunID }}","projectID":"={{ $('Upsert row(s)1').item.json.projectID }}","packetID":"={{ $json.packetID }}","issueIDs":"={{ JSON.stringify($json.issueIDs ?? []) }}","assignedWorker":"={{ $json.assignedWorker }}","packetJSON":"={{ JSON.stringify($json.packetJSON) }}","status":"={{ $json.status }}","workerOutputJSON":"={{ $json.workerOutputJSON ?? '' }}"},"matchingColumns":[],"schema":[{"id":"planRunID","displayName":"planRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"projectID","displayName":"projectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"packetID","displayName":"packetID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"issueIDs","displayName":"issueIDs","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"assignedWorker","displayName":"assignedWorker","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"packetJSON","displayName":"packetJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"workerOutputJSON","displayName":"workerOutputJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[5936,2048],"id":"6b5b2da1-a833-4136-b0d6-63b3e0dab1a6","name":"Upsert Issue Packets"},{"parameters":{"jsCode":"// Resolve the user's selection (number or name) into a Linear project.\n//\n// IMPORTANT: The \"Respond to Chat\" node does NOT reliably pass through upstream fields.\n// So we pull the authoritative project list from the \"Format Project List\" node output.\n//\n// Expects:\n// - user reply: $json.chatInput (string) from \"Respond to Chat\" (Wait for User Reply)\n// - projects list: $items(\"Format Project List\")[0].json.projects (array)\n//\n// Outputs:\n// { projectId, projectName, projectState, projectDescription }\n\nconst inputRaw = ($json.chatInput ?? \"\").toString().trim();\nif (!inputRaw) throw new Error(\"Resolve Project Selection: missing chatInput (user reply).\");\n\n// Pull projects from Format Project List (do not depend on passthrough)\nconst fplItems = $items(\"Format Project List\");\nconst projects = (fplItems?.[0]?.json?.projects ?? []);\nif (!Array.isArray(projects) || projects.length === 0) {\n  throw new Error(\"Resolve Project Selection: missing projects list from 'Format Project List'.\");\n}\n\nconst normalize = (s) => (s ?? \"\").toString().trim().toLowerCase().replace(/\\s+/g, \" \");\n\nlet chosen = null;\n\n// Numeric selection (1-based)\nif (/^\\d+$/.test(inputRaw)) {\n  const idx = Number(inputRaw);\n  if (Number.isFinite(idx) && idx >= 1 && idx <= projects.length) {\n    chosen = projects[idx - 1];\n  } else {\n    throw new Error(`Resolve Project Selection: number out of range (1-${projects.length}).`);\n  }\n} else {\n  // Name match (exact normalized, then contains)\n  const want = normalize(inputRaw);\n\n  chosen = projects.find(p => normalize(p?.name) === want) ??\n           projects.find(p => normalize(p?.name).includes(want)) ??\n           null;\n\n  if (!chosen) {\n    // Small fuzzy fallback: best Jaccard over tokens (cheap, deterministic)\n    const tokens = new Set(want.split(\" \").filter(Boolean));\n    const score = (name) => {\n      const nt = new Set(normalize(name).split(\" \").filter(Boolean));\n      const inter = [...tokens].filter(t => nt.has(t)).length;\n      const union = new Set([...tokens, ...nt]).size || 1;\n      return inter / union;\n    };\n    let best = null;\n    let bestScore = 0;\n    for (const p of projects) {\n      const sc = score(p?.name);\n      if (sc > bestScore) { bestScore = sc; best = p; }\n    }\n    if (best && bestScore >= 0.34) chosen = best;\n  }\n\n  if (!chosen) {\n    throw new Error(\"Resolve Project Selection: could not match selection to a project.\");\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    projectId: chosen.id,\n    projectName: chosen.name,\n    projectState: chosen.state ?? null,\n    projectDescription: chosen.description ?? null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5632,1600],"id":"43470ac2-2b89-46d3-b661-fddb79a41332","name":"Resolve Project Selection"},{"parameters":{"jsCode":"// Build a stable, user-friendly project list + pass through all fields.\n// Expects Linear GraphQL payload at: $json.data.projects.nodes\nconst nodes = $json?.data?.projects?.nodes ?? [];\nconst projects = nodes.map(p => ({\n  id: p.id ?? null,\n  name: p.name ?? null,\n  state: p.state ?? null,\n  description: p.description ?? null,\n}));\n\nfunction clean(s){ return (s ?? \"\").toString().replace(/\\s+/g,' ').trim(); }\n\nconst lines = projects.map((p, i) => {\n  const idx = i + 1;\n  const name = clean(p.name) || \"(unnamed)\";\n  const state = clean(p.state) || \"unknown\";\n  return `${idx}. ${name} — ${state}`;\n}).join(\"\\n\");\n\nconst promptText =\n`Which project would you like to work on? (Reply with the project name or its number.)\\n\\n${lines}`;\n\nreturn [{ json: { ...$json, promptText, projects } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5120,1600],"id":"90b9e29f-a99d-4ab8-aa56-110e0039d086","name":"Format Project List"},{"parameters":{"batchSize":25,"options":{}},"id":"6b75540d-aace-4666-ba10-97a3273a79b3","name":"Split Packets","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5696,2048]},{"parameters":{"jsCode":"const t = $json.output?.[0]?.content?.[0]?.text ?? $json.output ?? $json.message ?? '';\nconst s = typeof t === 'string' ? t : JSON.stringify(t);\nconst m = s.match(/\\{[\\s\\S]*\\}/);\nif (!m) throw new Error('Normalize Plan Output: no JSON found in Project Manager output');\nconst obj = JSON.parse(m[0]);\nreturn [{ json: obj }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4944,1808],"id":"b653fae5-c15a-43ef-bbf9-1e640afe47c9","name":"Normalize Plan Output"},{"parameters":{"jsCode":"const raw = $json.output ?? $json;\nconst s = (typeof raw === 'string') ? raw : JSON.stringify(raw);\nconst trimmed = s.trim().replace(/^```json\\s*/i,'').replace(/```$/,'').trim();\nlet obj;\ntry { obj = JSON.parse(trimmed); }\ncatch (e) {\n  const m = trimmed.match(/\\{[\\s\\S]*\\}/);\n  obj = m ? JSON.parse(m[0]) : {};\n}\nconst packets = Array.isArray(obj.packets) ? obj.packets : [];\nreturn packets.map(p => ({ json: p }));"},"id":"0f0f847c-1faf-4d57-be33-d83665c88c49","name":"Split Packets Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,1808]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"uY29FyKg9JFPZa9a","mode":"list","cachedResultName":"ClaudiaCodeIssuePackets","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uY29FyKg9JFPZa9a"},"filters":{"conditions":[{"keyName":"planRunID","keyValue":"={{ $json.planRunID }}"}]},"returnAll":true},"id":"bd0510dc-b81b-414c-8a87-e7dfc70de24a","name":"Get Packets For Summary","type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[6336,2000]},{"parameters":{"jsCode":"// Run once (Get Packets For Summary returns multiple items, this node runs per item, but we'll use $input.all() to aggregate)\nconst rows = $input.all().map(i => i.json);\nconst first = rows[0] || {};\nconst packets = rows.map(r => ({\n  planRunID: r.planRunID,\n  projectID: r.projectID,\n  packetID: r.packetID,\n  issueIDs: r.issueIDs,\n  assignedWorker: r.assignedWorker,\n  packetJSON: r.packetJSON,\n  status: r.status,\n}));\n// gather unique issue ids\nconst issueSet = new Set();\nfor (const p of packets) {\n  if (Array.isArray(p.issueIDs)) for (const id of p.issueIDs) issueSet.add(id);\n}\nreturn [{\n  json: {\n    planRunID: first.planRunID,\n    projectID: first.projectID,\n    packetCount: packets.length,\n    openIssueCount: issueSet.size,\n    openIssueIDs: Array.from(issueSet),\n    packets,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5936,1808],"id":"77e7fe0d-4e0c-4023-91aa-f5a6cd83a74c","name":"Aggregate Packets For Summary"},{"parameters":{"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[4704,1600],"id":"721bc549-ead5-4e55-939d-2b9bb369e25f","name":"When chat message received","webhookId":"b0527bda-9223-4aa5-98a0-1a3ca693ed2a"}],"connections":{"Linear Projects":{"main":[[{"node":"Format Project List","type":"main","index":0}]]},"Set Active Project":{"main":[[{"node":"Build Project Row","type":"main","index":0}]]},"Get row(s) in Data table2":{"ai_tool":[[{"node":"Project Manager","type":"ai_tool","index":0}]]},"Upsert row(s)1":{"main":[[{"node":"Project Issues Loader1","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Chat1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Project Issues Loader1","type":"ai_memory","index":0}]]},"get_rows_issues1":{"ai_tool":[[{"node":"Project Issues Loader1","type":"ai_tool","index":0}]]},"Project Issues Loader1":{"main":[[{"node":"Split Packets Items","type":"main","index":0}]]},"GPT-OSS-20B":{"ai_languageModel":[[{"node":"Project Issues Loader1","type":"ai_languageModel","index":0}]]},"Build Project Row":{"main":[[{"node":"Upsert Project","type":"main","index":0}]]},"Upsert Project":{"main":[[{"node":"Project Manager","type":"main","index":0}]]},"Format Project List":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]},"Respond to Chat":{"main":[[{"node":"Resolve Project Selection","type":"main","index":0}]]},"Resolve Project Selection":{"main":[[{"node":"Set Active Project","type":"main","index":0}]]},"Split Packets":{"main":[[{"node":"Aggregate Packets For Summary","type":"main","index":0}],[{"node":"Upsert Issue Packets","type":"main","index":0}]]},"Upsert Issue Packets":{"main":[[{"node":"Split Packets","type":"main","index":0}]]},"Project Manager":{"main":[[{"node":"Normalize Plan Output","type":"main","index":0}]]},"Normalize Plan Output":{"main":[[{"node":"Upsert row(s)1","type":"main","index":0}]]},"Split Packets Items":{"main":[[{"node":"Split Packets","type":"main","index":0}]]},"Aggregate Packets For Summary":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Get Packets For Summary":{"ai_tool":[[{"node":"Format Response","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Linear Projects","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"32537feb-e04a-4242-951c-3d080a4710d4","activeVersionId":"ab79a171-b918-4d3f-ac49-884df6ac1ff6","versionCounter":101,"triggerCount":1,"shared":[{"updatedAt":"2025-12-28T23:04:57.908Z","createdAt":"2025-12-28T23:04:57.908Z","role":"workflow:owner","workflowId":"yNkPX6701TffSJof","projectId":"CDNyPtsGxHdhfdhy","project":{"updatedAt":"2025-12-18T17:16:03.660Z","createdAt":"2025-12-18T17:12:50.624Z","id":"CDNyPtsGxHdhfdhy","name":"Bill Griffith <bill@gtechsd.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-18T17:12:50.625Z","createdAt":"2025-12-18T17:12:50.625Z","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3","projectId":"CDNyPtsGxHdhfdhy","user":{"updatedAt":"2026-01-09T00:29:59.000Z","createdAt":"2025-12-18T17:12:49.746Z","id":"82ee42c3-23a4-46d2-8969-bfa414e739d3","email":"bill@gtechsd.com","firstName":"Bill","lastName":"Griffith","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-18T17:16:08.098Z","personalization_survey_n8n_version":"2.0.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ud7XYHk6QWFvgDxf","userActivatedAt":1766585292861,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1766866231466}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-08","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-01T23:43:52.148Z","createdAt":"2026-01-01T23:43:52.148Z","id":"MYeI4rvwznCZuMBg","name":"WORKING"},{"updatedAt":"2026-01-01T23:42:17.144Z","createdAt":"2026-01-01T23:42:17.144Z","id":"e2I03ErUAQw8hDjy","name":"OLD VERSION"},{"updatedAt":"2026-01-01T23:44:48.788Z","createdAt":"2026-01-01T23:44:48.788Z","id":"l6FVWknceeDeKEoz","name":"SANDBOX"}],"activeVersion":{"updatedAt":"2026-01-01T05:58:15.000Z","createdAt":"2026-01-01T05:53:32.977Z","versionId":"ab79a171-b918-4d3f-ac49-884df6ac1ff6","workflowId":"yNkPX6701TffSJof","nodes":[{"parameters":{"message":"={{ $json.promptText }}","options":{"memoryConnection":true}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[5328,1600],"id":"413382f5-0ff2-4069-84f3-cb203b10a51e","name":"Respond to Chat"},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"predefinedCredentialType","nodeCredentialType":"linearApi","sendBody":true,"specifyBody":"json","jsonBody":"{\"query\": \"query { projects(filter: { labels: { name: { eq: \\\"n8n\\\" } } }) { nodes { id name state description } } }\"}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4928,1600],"id":"503ca4ad-a16b-4237-8949-58442170088d","name":"Linear Projects","credentials":{"linearApi":{"id":"j3L9Kies9EY4eLz9","name":"Linear account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9e1cc823-168e-40cf-96a5-9025d765cf70","name":"Active Project","value":"={{ $json.projectId }}","type":"string"},{"id":"3d76df74-8ab2-41af-9bdd-d8718f93d057","name":"projectName","value":"={{ $json.projectName }}","type":"string"},{"id":"auto-1766985255.563281","name":"projectDescription","value":"={{ $json.projectDescription }}","type":"string"},{"id":"auto2-1766985255.563405","name":"projectState","value":"={{ $json.projectState }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5808,1600],"id":"89cdd5b1-dd2a-4193-950c-aa7e518d8d52","name":"Set Active Project"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"xFm91lQWMMBRlnho","mode":"list","cachedResultName":"ClaudiaCode Issues","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/xFm91lQWMMBRlnho"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $('Set Active Project').item.json[\"Active Project\"] }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[4784,1968],"id":"c3acc434-06f8-49c7-9276-bd286f71a68f","name":"Get row(s) in Data table2"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"role":"=system","content":"=Return STRICT JSON ONLY. No markdown. No code fences. No XML/tags. No tool-call syntax.\nOutput exactly one JSON object and nothing else.\nAll keys double-quoted. All string values JSON-escaped. No trailing commas.\nAll timestamps MUST be strings (quoted ISO8601).\n\nRequired top-level schema:\n{\n  \"projectID\": string,\n  \"projectName\": string,\n  \"planRunID\": string,\n  \"generatedAt\": string,\n  \"openIssueCount\": number,\n  \"openIssueIDs\": string[],\n  \"executiveSummary\": string,\n  \"planStatus\": \"proposed\"|\"approved\"|\"stopped\"|\"needs_changes\",\n  \"planJSON\": object\n}\n"},{"content":"=Active Project: {{ $('Set Active Project').item.json[\"Active Project\"] }}\nUse the get rows data table tool to fetch issues"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4640,1808],"id":"b9544c70-69e4-4814-bfec-f375af4d450b","name":"Project Manager","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"message":"={{ $json.output?.[0]?.content?.[0]?.text ?? $json.output ?? $json.message ?? '' }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[6496,1808],"id":"3bcaede2-4ec6-4dd2-bf95-5fbc7326df2e","name":"Respond to Chat1"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"Efxpd5kCkGHvuLFi","mode":"list","cachedResultName":"ClaudiaCodeProjectPlans","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/Efxpd5kCkGHvuLFi"},"filters":{"conditions":[{"keyName":"projectID","keyValue":"={{ $('Set Active Project').item.json['Active Project'] }}"}]},"columns":{"mappingMode":"defineBelow","value":{"p0Count":0,"p1Count":0,"p2Count":0,"workstreamCount":0,"projectID":"={{ $json.projectID }}","planRunID":"={{ $json.planRunID }}","generatedAt":"={{ $json.generatedAt }}","openIssueIDs":"={{ JSON.stringify($json.openIssueIDs ?? []) }}","executiveSummary":"={{ $json.executiveSummary }}","planJSON":"={{ JSON.stringify($json.planJSON ?? {}) }}","issueSnapshotHash":"={{ $json.issueSnapshotHash }}","planStatus":"={{ $json.planStatus }}","parentPlanID":"={{ $json.parentPlanID }}","source":"Project Manager","model":"GPT-OSS-20B"},"matchingColumns":[],"schema":[{"id":"projectID","displayName":"projectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planRunID","displayName":"planRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"generatedAt","displayName":"generatedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"openIssueCount","displayName":"openIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"openIssueIDs","displayName":"openIssueIDs","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"executiveSummary","displayName":"executiveSummary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planJSON","displayName":"planJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"issueSnapshotHash","displayName":"issueSnapshotHash","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"planStatus","displayName":"planStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"parentPlanID","displayName":"parentPlanID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"p0Count","displayName":"p0Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"p1Count","displayName":"p1Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"p2Count","displayName":"p2Count","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"workstreamCount","displayName":"workstreamCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"iteration1Theme","displayName":"iteration1Theme","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration1IssueOrder","displayName":"iteration1IssueOrder","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration2Theme","displayName":"iteration2Theme","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"iteration2IssueOrder","displayName":"iteration2IssueOrder","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"crossCuttingRisks","displayName":"crossCuttingRisks","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"openQuestions","displayName":"openQuestions","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"nextActions","displayName":"nextActions","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"model","displayName":"model","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"promptVersion","displayName":"promptVersion","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"dispatchStatus","displayName":"dispatchStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"orchestratorMessageID","displayName":"orchestratorMessageID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"acceptedAt","displayName":"acceptedAt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[5152,1808],"id":"c9cbfe37-24ae-4418-9c59-ee97f4896498","name":"Upsert row(s)1"},{"parameters":{"modelId":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"OPENAI/GPT-OSS-20B"},"responses":{"values":[{"role":"=system","content":"Write a concise human-readable message for the end user summarizing the packetization results. Use plain text. Include: Project ID, Packet count, Open issue count, then a bullet list of packets with packetID, title (from packetJSON.title), and issueIDs. End with: Reply 'approve' to execute, 'modify <notes>' to revise, or 'stop'."},{"role":"=user","content":"Summarize this packet plan JSON:\n{{ JSON.stringify($json) }}"}]},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[6192,1808],"id":"64959c5d-14b6-4b59-b17b-aade89198a95","name":"Format Response","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"contextWindowLength":200},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[5424,1936],"id":"fb263df9-2cef-458e-84bb-ee8faf028d84","name":"Simple Memory"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"xFm91lQWMMBRlnho","mode":"list","cachedResultName":"ClaudiaCode Issues","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/xFm91lQWMMBRlnho"},"filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $('Set Active Project').item.json[\"Active Project\"] }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[5488,2000],"id":"f8cf0a24-c43a-4d51-9bb3-747b0a27fa41","name":"get_rows_issues1"},{"parameters":{"promptType":"define","text":"=You are the Project Issues Loader (Preflight Packetizer).\n\nMISSION\nGiven the active Linear project, load ALL COMPLETE issue data from the ClaudiaCode Issues table using `get_rows_issues1` tool.\nThen create small, coherent work packets (1–4 issues each) with FULL ISSUE DATA for execution by Dev Agent and Worker Bees.\n\n🚨 CRITICAL: Include COMPLETE issue objects in packets, NOT just IDs!\n\nINPUTS\n- projectID: {{ $('Set Active Project').item.json[\"Active Project\"] }}\n- projectName: {{ $('Set Active Project').item.json.projectName }}\n- plan context JSON: {{ $json.planJSON }}\n\nSTEP 1: FETCH FULL ISSUE DATA\n- Call `get_rows_issues1` tool to fetch ALL issues for this project\n- The tool returns rows with these fields:\n  - LinearIssueID\n  - IssueTitle\n  - IssueDescription  \n  - IssueState\n  - IssuePriority\n  - IssueLabels\n  - AcceptanceCriteria\n  - EstimatedEffort\n  - ParentIssueID\n  - RelatedIssues\n  - Attachments\n  - AnnotatedScreenshots\n  - CreatedAt\n  - UpdatedAt\n  - AssigneeID\n- Store ALL this data for each issue\n\nSTEP 2: FILTER OPEN ISSUES\n- Only include issues where IssueState is \"open\", \"in_progress\", \"started\", or \"backlog\"\n- Skip \"done\", \"canceled\", \"archived\" states\n\nSTEP 3: CREATE PACKETS WITH FULL DATA\n- Group 1-4 related issues per packet\n- For EACH issue in the packet, you MUST include a COMPLETE issue object with ALL fields\n- Transform database fields to clean JSON:\n  - id: LinearIssueID\n  - title: IssueTitle\n  - description: IssueDescription\n  - acceptanceCriteria: AcceptanceCriteria\n  - state: IssueState\n  - priority: IssuePriority\n  - labels: parse IssueLabels (if JSON string, parse it; otherwise split by comma)\n  - estimate: EstimatedEffort\n  - attachments: parse Attachments\n  - parentIssueId: ParentIssueID\n  - relatedIssues: parse RelatedIssues\n  - assigneeId: AssigneeID\n  - createdAt: CreatedAt\n  - updatedAt: UpdatedAt\n\nEXAMPLE of CORRECT packet structure:\n{\n  \"packetID\": \"run-123-P001\",\n  \"issueIDs\": [\"GTE-310\", \"GTE-309\"],\n  \"assignedWorker\": \"worker_bee_gptoss\",\n  \"status\": \"queued\",\n  \"packetJSON\": {\n    \"title\": \"Roadmap and milestones\",\n    \"summary\": \"Strategic planning issues\",\n    \"issues\": [\n      {\n        \"id\": \"GTE-310\",\n        \"title\": \"Define Q1 2025 roadmap\",\n        \"description\": \"Create comprehensive roadmap for Q1 including all major milestones...\",\n        \"acceptanceCriteria\": \"1. Roadmap doc created\\n2. Stakeholder approval\\n3. Published to team\",\n        \"state\": \"open\",\n        \"priority\": 1,\n        \"labels\": [\"planning\", \"p0\"],\n        \"estimate\": 3,\n        \"attachments\": [],\n        \"parentIssueId\": null,\n        \"relatedIssues\": [\"GTE-309\"],\n        \"assigneeId\": null,\n        \"createdAt\": \"2025-01-01T00:00:00Z\",\n        \"updatedAt\": \"2025-01-01T12:00:00Z\"\n      },\n      {\n        \"id\": \"GTE-309\",\n        \"title\": \"Define success metrics\",\n        \"description\": \"Establish KPIs and success criteria...\",\n        \"acceptanceCriteria\": \"Metrics defined and documented\",\n        \"state\": \"open\",\n        \"priority\": 1,\n        \"labels\": [\"planning\"],\n        \"estimate\": 2,\n        \"attachments\": [],\n        \"parentIssueId\": null,\n        \"relatedIssues\": [\"GTE-310\"],\n        \"assigneeId\": null,\n        \"createdAt\": \"2025-01-01T00:00:00Z\",\n        \"updatedAt\": \"2025-01-01T12:00:00Z\"\n      }\n    ],\n    \"visionSummaryNeeded\": false,\n    \"visionSummary\": \"\"\n  }\n}\n\nPACKETIZATION RULES\n- Packet size: 1–4 issues\n- Prefer 1 issue per packet when scope is large/unclear\n- Group only when issues are tightly related (same component/screen/workstream)\n- Choose `assignedWorker`:\n  - \"worker_bee_opus\" for UX/polish, ambiguous requirements, copy, interaction design\n  - \"worker_bee_gptoss\" for implementation-heavy, infra/tooling, deterministic engineering\n\nVISION HANDLING\n- If any issue has attachments/screenshots, set `visionSummaryNeeded: true`\n- Optionally call `download_image` ONCE per packet for screenshot context\n- Include brief `visionSummary` in the packet\n\nOUTPUT (STRICT JSON)\nReturn EXACTLY ONE JSON object (no markdown, no code fences, no extra text):\n\n{\n  \"projectID\": \"...\",\n  \"projectName\": \"...\",\n  \"planRunID\": \"<use planRunID from input; otherwise generate UUID>\",\n  \"packetCount\": <int>,\n  \"packets\": [\n    {\n      \"packetID\": \"<planRunID>-P001\",\n      \"issueIDs\": [\"GTE-123\", \"GTE-124\"],\n      \"assignedWorker\": \"worker_bee_opus|worker_bee_gptoss\",\n      \"status\": \"queued\",\n      \"packetJSON\": {\n        \"title\": \"Packet title\",\n        \"summary\": \"What this accomplishes\",\n        \"issues\": [\n          <FULL ISSUE OBJECTS WITH ALL FIELDS AS SHOWN IN EXAMPLE ABOVE>\n        ],\n        \"visionSummaryNeeded\": false,\n        \"visionSummary\": \"\"\n      }\n    }\n  ],\n  \"routingSummary\": {\n    \"worker_bee_opus\": <int>,\n    \"worker_bee_gptoss\": <int>\n  },\n  \"approvalRequest\": {\n    \"prompt\": \"Approve packet execution? Reply: approve | modify <notes> | stop\",\n    \"default\": \"stop\"\n  },\n  \"notes\": \"\"\n}\n\nVALIDATION CHECKLIST (verify before returning):\n✅ Called get_rows_issues1 and got issue data\n✅ Each issue in packetJSON.issues has: id, title, description, acceptanceCriteria\n✅ Each issue has: state, priority, labels, estimate\n✅ Each issue has: attachments, parentIssueId, relatedIssues, assigneeId\n✅ Each issue has: createdAt, updatedAt\n✅ NO issues with just {\"id\": \"GTE-123\"} - all must be complete objects\n\nIMPORTANT:\n- If >50 open issues, packetize first 50 (highest priority) and note truncation\n- NO PERSISTENCE - Do NOT call upsert_issue_packet1\n- Do NOT call Project Operations (except download_image for vision)\n- Do NOT call worker bees\n- This node ONLY builds packet plan; persistence handled downstream","options":{"systemMessage":"You are Project Issues Loader. You fetch and normalize open issues for the active Linear project and produce a packet plan JSON. Do NOT call any tools to persist packets; persistence is handled by downstream nodes. Do not implement code changes.","maxIterations":500}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[5344,1808],"id":"b4978105-3f52-4224-89c4-40e14de45a23","name":"Project Issues Loader1"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-oss-20b","mode":"list","cachedResultName":"openai/gpt-oss-20b"},"responsesApiEnabled":false,"options":{"timeout":320000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[5344,2000],"id":"218f9143-3110-496c-8517-1d234f5f41d3","name":"GPT-OSS-20B","credentials":{"openAiApi":{"id":"HE8StVq6t0epqs8Q","name":"BEAST LMStudio"}}},{"parameters":{"jsCode":"/**\n * Deterministic row builder.\n * Uses ONLY the incoming $json from \"Set Active Project\".\n * No cross-node lookups, no Linear Projects enrichment.\n */\n\nconst linearProjectID = $json[\"Active Project\"] ?? null;\nconst projectName = $json.projectName ?? null;\n\nif (!linearProjectID) {\n  throw new Error(`Build Project Row: missing \"Active Project\" in input: ${JSON.stringify($json)}`);\n}\n\nreturn [\n  {\n    json: {\n      LinearProjectID: String(linearProjectID),\n      ProjectName: projectName ? String(projectName) : null,\n      // Only include these if they are real table columns; otherwise remove them.\n      ProjectStatus: $json.projectState ?? null,\n      ProjectDescription: $json.projectDescription ?? null,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5984,1600],"id":"6f1d40d3-8e96-437c-be64-54856e165826","name":"Build Project Row"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"uheU5SSGQpNjVko5","mode":"list","cachedResultName":"ClaudiaCodeProjects","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uheU5SSGQpNjVko5"},"filters":{"conditions":[{"keyName":"LinearProjectID","keyValue":"={{ $json.LinearProjectID }}"}]},"columns":{"mappingMode":"defineBelow","value":{"LinearProjectID":"={{ $json.LinearProjectID }}","ProjectName":"={{ $json.ProjectName }}","ProjectDescription":"={{ $json.ProjectDescription }}","ProjectStatus":"={{ $json.ProjectStatus }}","OpenIssueCount":0,"BacklogIssueCount":0,"StartedIssueCount":0,"DoneIssueCount":0,"LastPacketCount":0},"matchingColumns":["LinearProjectID"],"schema":[{"id":"ProjectName","displayName":"ProjectName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearProjectID","displayName":"LinearProjectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ProjectDescription","displayName":"ProjectDescription","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ProjectStatus","displayName":"ProjectStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearTeamID","displayName":"LinearTeamID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LinearTeamName","displayName":"LinearTeamName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LeadUserID","displayName":"LeadUserID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Goal","displayName":"Goal","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SuccessCriteria","displayName":"SuccessCriteria","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ScopeNotes","displayName":"ScopeNotes","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Constraints","displayName":"Constraints","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Risks","displayName":"Risks","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Dependencies","displayName":"Dependencies","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"NonGoals","displayName":"NonGoals","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"StartDate","displayName":"StartDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"TargetDate","displayName":"TargetDate","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastLinearSyncAt","displayName":"LastLinearSyncAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastPlannedAt","displayName":"LastPlannedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"LastPacketizedAt","displayName":"LastPacketizedAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"OpenIssueCount","displayName":"OpenIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"BacklogIssueCount","displayName":"BacklogIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"StartedIssueCount","displayName":"StartedIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"DoneIssueCount","displayName":"DoneIssueCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"IssueSnapshotHash","displayName":"IssueSnapshotHash","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ActivePlanRunID","displayName":"ActivePlanRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LastPacketizerRunID","displayName":"LastPacketizerRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LastPacketCount","displayName":"LastPacketCount","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[6160,1600],"id":"3aa1f3cb-fe29-44da-9248-6bd517168775","name":"Upsert Project"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"uY29FyKg9JFPZa9a","mode":"list","cachedResultName":"ClaudiaCodeIssuePackets","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uY29FyKg9JFPZa9a"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"planRunID","keyValue":"={{ $('Upsert row(s)1').item.json.planRunID }}"},{"keyName":"packetID","keyValue":"={{ $json.packetID }}"}]},"columns":{"mappingMode":"defineBelow","value":{"planRunID":"={{ $('Upsert row(s)1').item.json.planRunID }}","projectID":"={{ $('Upsert row(s)1').item.json.projectID }}","packetID":"={{ $json.packetID }}","issueIDs":"={{ JSON.stringify($json.issueIDs ?? []) }}","assignedWorker":"={{ $json.assignedWorker }}","packetJSON":"={{ JSON.stringify($json.packetJSON) }}","status":"={{ $json.status }}","workerOutputJSON":"={{ $json.workerOutputJSON ?? '' }}"},"matchingColumns":[],"schema":[{"id":"planRunID","displayName":"planRunID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"projectID","displayName":"projectID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"packetID","displayName":"packetID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"issueIDs","displayName":"issueIDs","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"assignedWorker","displayName":"assignedWorker","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"packetJSON","displayName":"packetJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"workerOutputJSON","displayName":"workerOutputJSON","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[5936,2048],"id":"6b5b2da1-a833-4136-b0d6-63b3e0dab1a6","name":"Upsert Issue Packets"},{"parameters":{"jsCode":"// Resolve the user's selection (number or name) into a Linear project.\n//\n// IMPORTANT: The \"Respond to Chat\" node does NOT reliably pass through upstream fields.\n// So we pull the authoritative project list from the \"Format Project List\" node output.\n//\n// Expects:\n// - user reply: $json.chatInput (string) from \"Respond to Chat\" (Wait for User Reply)\n// - projects list: $items(\"Format Project List\")[0].json.projects (array)\n//\n// Outputs:\n// { projectId, projectName, projectState, projectDescription }\n\nconst inputRaw = ($json.chatInput ?? \"\").toString().trim();\nif (!inputRaw) throw new Error(\"Resolve Project Selection: missing chatInput (user reply).\");\n\n// Pull projects from Format Project List (do not depend on passthrough)\nconst fplItems = $items(\"Format Project List\");\nconst projects = (fplItems?.[0]?.json?.projects ?? []);\nif (!Array.isArray(projects) || projects.length === 0) {\n  throw new Error(\"Resolve Project Selection: missing projects list from 'Format Project List'.\");\n}\n\nconst normalize = (s) => (s ?? \"\").toString().trim().toLowerCase().replace(/\\s+/g, \" \");\n\nlet chosen = null;\n\n// Numeric selection (1-based)\nif (/^\\d+$/.test(inputRaw)) {\n  const idx = Number(inputRaw);\n  if (Number.isFinite(idx) && idx >= 1 && idx <= projects.length) {\n    chosen = projects[idx - 1];\n  } else {\n    throw new Error(`Resolve Project Selection: number out of range (1-${projects.length}).`);\n  }\n} else {\n  // Name match (exact normalized, then contains)\n  const want = normalize(inputRaw);\n\n  chosen = projects.find(p => normalize(p?.name) === want) ??\n           projects.find(p => normalize(p?.name).includes(want)) ??\n           null;\n\n  if (!chosen) {\n    // Small fuzzy fallback: best Jaccard over tokens (cheap, deterministic)\n    const tokens = new Set(want.split(\" \").filter(Boolean));\n    const score = (name) => {\n      const nt = new Set(normalize(name).split(\" \").filter(Boolean));\n      const inter = [...tokens].filter(t => nt.has(t)).length;\n      const union = new Set([...tokens, ...nt]).size || 1;\n      return inter / union;\n    };\n    let best = null;\n    let bestScore = 0;\n    for (const p of projects) {\n      const sc = score(p?.name);\n      if (sc > bestScore) { bestScore = sc; best = p; }\n    }\n    if (best && bestScore >= 0.34) chosen = best;\n  }\n\n  if (!chosen) {\n    throw new Error(\"Resolve Project Selection: could not match selection to a project.\");\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    projectId: chosen.id,\n    projectName: chosen.name,\n    projectState: chosen.state ?? null,\n    projectDescription: chosen.description ?? null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5632,1600],"id":"43470ac2-2b89-46d3-b661-fddb79a41332","name":"Resolve Project Selection"},{"parameters":{"jsCode":"// Build a stable, user-friendly project list + pass through all fields.\n// Expects Linear GraphQL payload at: $json.data.projects.nodes\nconst nodes = $json?.data?.projects?.nodes ?? [];\nconst projects = nodes.map(p => ({\n  id: p.id ?? null,\n  name: p.name ?? null,\n  state: p.state ?? null,\n  description: p.description ?? null,\n}));\n\nfunction clean(s){ return (s ?? \"\").toString().replace(/\\s+/g,' ').trim(); }\n\nconst lines = projects.map((p, i) => {\n  const idx = i + 1;\n  const name = clean(p.name) || \"(unnamed)\";\n  const state = clean(p.state) || \"unknown\";\n  return `${idx}. ${name} — ${state}`;\n}).join(\"\\n\");\n\nconst promptText =\n`Which project would you like to work on? (Reply with the project name or its number.)\\n\\n${lines}`;\n\nreturn [{ json: { ...$json, promptText, projects } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5120,1600],"id":"90b9e29f-a99d-4ab8-aa56-110e0039d086","name":"Format Project List"},{"parameters":{"batchSize":25,"options":{}},"id":"6b75540d-aace-4666-ba10-97a3273a79b3","name":"Split Packets","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5696,2048]},{"parameters":{"jsCode":"const t = $json.output?.[0]?.content?.[0]?.text ?? $json.output ?? $json.message ?? '';\nconst s = typeof t === 'string' ? t : JSON.stringify(t);\nconst m = s.match(/\\{[\\s\\S]*\\}/);\nif (!m) throw new Error('Normalize Plan Output: no JSON found in Project Manager output');\nconst obj = JSON.parse(m[0]);\nreturn [{ json: obj }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4944,1808],"id":"b653fae5-c15a-43ef-bbf9-1e640afe47c9","name":"Normalize Plan Output"},{"parameters":{"jsCode":"const raw = $json.output ?? $json;\nconst s = (typeof raw === 'string') ? raw : JSON.stringify(raw);\nconst trimmed = s.trim().replace(/^```json\\s*/i,'').replace(/```$/,'').trim();\nlet obj;\ntry { obj = JSON.parse(trimmed); }\ncatch (e) {\n  const m = trimmed.match(/\\{[\\s\\S]*\\}/);\n  obj = m ? JSON.parse(m[0]) : {};\n}\nconst packets = Array.isArray(obj.packets) ? obj.packets : [];\nreturn packets.map(p => ({ json: p }));"},"id":"0f0f847c-1faf-4d57-be33-d83665c88c49","name":"Split Packets Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[5696,1808]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"uY29FyKg9JFPZa9a","mode":"list","cachedResultName":"ClaudiaCodeIssuePackets","cachedResultUrl":"/projects/CDNyPtsGxHdhfdhy/datatables/uY29FyKg9JFPZa9a"},"filters":{"conditions":[{"keyName":"planRunID","keyValue":"={{ $json.planRunID }}"}]},"returnAll":true},"id":"bd0510dc-b81b-414c-8a87-e7dfc70de24a","name":"Get Packets For Summary","type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[6336,2000]},{"parameters":{"jsCode":"// Run once (Get Packets For Summary returns multiple items, this node runs per item, but we'll use $input.all() to aggregate)\nconst rows = $input.all().map(i => i.json);\nconst first = rows[0] || {};\nconst packets = rows.map(r => ({\n  planRunID: r.planRunID,\n  projectID: r.projectID,\n  packetID: r.packetID,\n  issueIDs: r.issueIDs,\n  assignedWorker: r.assignedWorker,\n  packetJSON: r.packetJSON,\n  status: r.status,\n}));\n// gather unique issue ids\nconst issueSet = new Set();\nfor (const p of packets) {\n  if (Array.isArray(p.issueIDs)) for (const id of p.issueIDs) issueSet.add(id);\n}\nreturn [{\n  json: {\n    planRunID: first.planRunID,\n    projectID: first.projectID,\n    packetCount: packets.length,\n    openIssueCount: issueSet.size,\n    openIssueIDs: Array.from(issueSet),\n    packets,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5936,1808],"id":"77e7fe0d-4e0c-4023-91aa-f5a6cd83a74c","name":"Aggregate Packets For Summary"},{"parameters":{"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[4704,1600],"id":"721bc549-ead5-4e55-939d-2b9bb369e25f","name":"When chat message received","webhookId":"b0527bda-9223-4aa5-98a0-1a3ca693ed2a"}],"connections":{"Linear Projects":{"main":[[{"node":"Format Project List","type":"main","index":0}]]},"Set Active Project":{"main":[[{"node":"Build Project Row","type":"main","index":0}]]},"Get row(s) in Data table2":{"ai_tool":[[{"node":"Project Manager","type":"ai_tool","index":0}]]},"Upsert row(s)1":{"main":[[{"node":"Project Issues Loader1","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Chat1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Project Issues Loader1","type":"ai_memory","index":0}]]},"get_rows_issues1":{"ai_tool":[[{"node":"Project Issues Loader1","type":"ai_tool","index":0}]]},"Project Issues Loader1":{"main":[[{"node":"Split Packets Items","type":"main","index":0}]]},"GPT-OSS-20B":{"ai_languageModel":[[{"node":"Project Issues Loader1","type":"ai_languageModel","index":0}]]},"Build Project Row":{"main":[[{"node":"Upsert Project","type":"main","index":0}]]},"Upsert Project":{"main":[[{"node":"Project Manager","type":"main","index":0}]]},"Format Project List":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]},"Respond to Chat":{"main":[[{"node":"Resolve Project Selection","type":"main","index":0}]]},"Resolve Project Selection":{"main":[[{"node":"Set Active Project","type":"main","index":0}]]},"Split Packets":{"main":[[{"node":"Aggregate Packets For Summary","type":"main","index":0}],[{"node":"Upsert Issue Packets","type":"main","index":0}]]},"Upsert Issue Packets":{"main":[[{"node":"Split Packets","type":"main","index":0}]]},"Project Manager":{"main":[[{"node":"Normalize Plan Output","type":"main","index":0}]]},"Normalize Plan Output":{"main":[[{"node":"Upsert row(s)1","type":"main","index":0}]]},"Split Packets Items":{"main":[[{"node":"Split Packets","type":"main","index":0}]]},"Aggregate Packets For Summary":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Get Packets For Summary":{"ai_tool":[[{"node":"Format Response","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Linear Projects","type":"main","index":0}]]}},"authors":"Bill Griffith","name":"Version ab79a171","description":"","workflowPublishHistory":[{"createdAt":"2026-01-01T05:58:15.386Z","id":229,"workflowId":"yNkPX6701TffSJof","versionId":"ab79a171-b918-4d3f-ac49-884df6ac1ff6","event":"activated","userId":"82ee42c3-23a4-46d2-8969-bfa414e739d3"}]}}